/*
There are three responsive design ranges for the header (ht_header.html):
a) 240px - 599px (phones);
b) 600px - 999px (phablets);
c) 1000px - ... (tablets, desktops);
*/

/* Common Elements */

#footer {
	background-color: white;
	border-top: 1px solid #e6e6e6;
	width: 100%;
	z-index: 10;
}

.footerMenu ul {list-style-type: none;}

.footerMenu ul li {
	color: #808080;
	display: inline;
}

.footerMenu ul li a:hover, .footerMenu ul li a:active {color: #1488CC;}




/* Phones, phablets (240px - 599px) */
@media only screen and (min-width: 240px) and (max-width: 599px) {

	#footer {height: 130px;}

	.footerContentWrapper {
		margin: auto;
		padding-top: 15px;
		width: 90%;
	}
	
	.footerMenu {text-align: center;}

	.footerCopyright {
		color: rgba(0,0,0, 0.5);
		font-size: 0.875em;
		padding-top: 10px;
		text-align: center;
	}

}


/* Tablets (600px - 999px) */
@media only screen and (min-width: 600px) and (max-width: 999px) {

	#footer {height: 80px;}

	.footerContentWrapper {
		display: block;
		margin: 15px auto 0;
		position: relative;
		width: 94%;
	}

	.footerMenu {
		display: block;
		float: left;
		font-size: 0.875em;
		line-height: 1em;
		margin-top: 16px;
	}

	.footerCopyright {
		color: rgba(0,0,0, 0.5);
		display: block;
		float: right;		
		font-size: 0.875em;
		line-height: 1em;
		margin-top: 16px;
	}

}

/* Desktops (999px and bigger) */
@media only screen and (min-width: 1000px) {

	#footer {
		height: 80px;
		position: static;}

	.footerContentWrapper {
		display: block;
		margin: 15px auto 0;
		position: relative;
		width: 980px;
	}

	/*.footerLogo {
		background: url("../img/logo.svg") no-repeat;
		height: 20px;
		left: 0;
		position: absolute;
		top: 0;
		width: 111px;
	}*/

	.footerMenu {
		display: block;
		float: left;
		font-size: 0.875em;
		line-height: 1em;
		margin-top: 16px;
	}

	.footerCopyright {
		color: rgba(0,0,0, 0.5);
		display: block;
		float: right;		
		font-size: 0.875em;
		line-height: 1em;
		margin-top: 16px;
	}

}