*.pyc
*.pyd
*.pyo
*.sw[oprstuv]

.DS_Store

#for heroku
#requirements.txt
#Procfile

# SCSS files.
server/static/css/authorize.css
server/static/css/about-sc.css
server/static/css/landpage.css
server/static/css/legaltos.css
server/static/css/navigate.css
server/static/css/products.css
server/static/css/projects.css
server/static/css/recovery.css
server/static/css/referral.css
server/static/css/settings.css
server/static/css/pro_dashboard.css
server/static/css/errors.css

# scrapter data
server/tools/data
server/tools/framework/data

users.db
run.py

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.elasticbeanstalk/
server/static/.webassets-cache/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
