commands:
  print_stage:
      command: echo "Setup Apache/HTTPD ssl configuration, 2"


#################################################################################
## EB / ELB Configuration #######################################################
#################################################################################
# EB  - Open (HTTP) :80 :443  (SSH) :23 [where is this happening] health-ping on :80
# ELB - Open (HTTP) :80 :443; init
# ELB - Open (SSH)  :23; init
#################################################################################
## Notes ########################################################################
#################################################################################
# Find SSL ARN: 'aws iam get-server-certificate --server-certificate-name <NAME>
#################################################################################

Resources:
  AWSEBSecurityGroup:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      GroupDescription: "My Own SecurityGroup for ElasticBeanstalk environment."
      SecurityGroupIngress:
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: "80",  ToPort: "80"  }
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: "443", ToPort: "443" }

  AWSEBLoadBalancer:
    Type: "AWS::ElasticLoadBalancing::LoadBalancer"
    Properties:
      Listeners:
        - {LoadBalancerPort: 80,  InstancePort:  80, Protocol: "HTTP"  }
        - {LoadBalancerPort: 443, InstancePort: 443, Protocol: "HTTPS", SSLCertificateId: "arn:aws:iam::982314424487:server-certificate/sc"}
      AppCookieStickinessPolicy:
        - {PolicyName: "lb-session", CookieName: "lb-session"}
      HealthCheck:
        HealthyThreshold: "3"
        Interval: "90"
        Target: "HTTPS:443/status"
        Timeout: "5"
        UnhealthyThreshold: "3"

    
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443 https
      SSLSessionCache         shmcb:/run/httpd/sslcache(64000)
      SSLSessionCacheTimeout  300

      <VirtualHost *:443>
        ServerName  soulcrafting.co

        <Proxy *>
            Order deny,allow
            Allow from all
        </Proxy>

        ErrorLog    logs/ssl_error_log
        TransferLog logs/ssl_access_log

        SSLEngine on
        SSLCertificateFile "/etc/httpd/conf/ssl/soulcrafting.co.crt"
        SSLCertificateKeyFile "/etc/httpd/conf/ssl/soulcrafting.co.pem.key"
        
        Alias /static /opt/python/current/app/server/static
        <Directory /opt/python/current/app/server/static>
          Require all granted
        </Directory>
        
        WSGIScriptAlias / /opt/python/current/app/application.py
        
        <Directory /opt/python/current/app/>
          Require all granted
        </Directory>
        
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app:/opt/python/run/venv/lib/python2.7/site-packages user=wsgi group=wsgi \
          home=/opt/python/current/app
        WSGIProcessGroup wsgi-ssl
      </VirtualHost>
      


  /etc/httpd/conf/ssl/soulcrafting.co.crt:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFUjCCBDqgAwIBAgIRAMLa/wn+e0FJTz5BAmpIa70wDQYJKoZIhvcNAQELBQAw
      gZAxCzAJBgNVBAYTAkdCMRswGQYDVQQIExJHcmVhdGVyIE1hbmNoZXN0ZXIxEDAO
      BgNVBAcTB1NhbGZvcmQxGjAYBgNVBAoTEUNPTU9ETyBDQSBMaW1pdGVkMTYwNAYD
      VQQDEy1DT01PRE8gUlNBIERvbWFpbiBWYWxpZGF0aW9uIFNlY3VyZSBTZXJ2ZXIg
      Q0EwHhcNMTUwMzIwMDAwMDAwWhcNMTYwMzE5MjM1OTU5WjBTMSEwHwYDVQQLExhE
      b21haW4gQ29udHJvbCBWYWxpZGF0ZWQxFDASBgNVBAsTC1Bvc2l0aXZlU1NMMRgw
      FgYDVQQDEw9zb3VsY3JhZnRpbmcuY28wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAw
      ggEKAoIBAQDlw7CTDzgE8urhyy6OLpJNIDW0XuX7AIzj03INMjgakWgVK6DUE2Lf
      ws0VkySFIFqV8yIE64RZG2MBRoQhfiYaFYXuRjUR8N8G8LZWxVvrVsNdBh88s6+U
      2Maqw9r38uNcMYPrwCP+MaBA4eqdI6hxcjBqyFJoxtW01S5UWTfjHY/NwRuIACxC
      JYf4tq5Cg+YYdxcdfQh1dNzqMFFnYxtoTn+cuNtw/010AzQWF6uJgn8Eysm/wyHu
      nkzcDJvzc+O7CSNd7oDU6W/NKfiwXIcKnZvJ4pWq29OcWP+N508MIPlUHMTGj+Rd
      Cn2F4OAMaX6sYL9DNInY8/N3lAAP2n6XAgMBAAGjggHhMIIB3TAfBgNVHSMEGDAW
      gBSQr2o6lFoL2JDqElZz30O0Oija5zAdBgNVHQ4EFgQUg7oqTj9LgDI+WlW+sEqj
      dW63EKAwDgYDVR0PAQH/BAQDAgWgMAwGA1UdEwEB/wQCMAAwHQYDVR0lBBYwFAYI
      KwYBBQUHAwEGCCsGAQUFBwMCME8GA1UdIARIMEYwOgYLKwYBBAGyMQECAgcwKzAp
      BggrBgEFBQcCARYdaHR0cHM6Ly9zZWN1cmUuY29tb2RvLmNvbS9DUFMwCAYGZ4EM
      AQIBMFQGA1UdHwRNMEswSaBHoEWGQ2h0dHA6Ly9jcmwuY29tb2RvY2EuY29tL0NP
      TU9ET1JTQURvbWFpblZhbGlkYXRpb25TZWN1cmVTZXJ2ZXJDQS5jcmwwgYUGCCsG
      AQUFBwEBBHkwdzBPBggrBgEFBQcwAoZDaHR0cDovL2NydC5jb21vZG9jYS5jb20v
      Q09NT0RPUlNBRG9tYWluVmFsaWRhdGlvblNlY3VyZVNlcnZlckNBLmNydDAkBggr
      BgEFBQcwAYYYaHR0cDovL29jc3AuY29tb2RvY2EuY29tMC8GA1UdEQQoMCaCD3Nv
      dWxjcmFmdGluZy5jb4ITd3d3LnNvdWxjcmFmdGluZy5jbzANBgkqhkiG9w0BAQsF
      AAOCAQEAgrEVyXgjHk80EqEXvl9vBGOkl6sPMkQ9ANWqrVjbnlzZN/C6s6Z4IHBZ
      ceYet+1G01YY3k1jgxWOADC1P6C/P6disYQbhBhc1U1zRzp/TzZ3T9Wv7NAJQCug
      QEMbckl7LjVWNVBavd/99GmEFEzLQ/T5k+RGhTkVDWA5YvEJWXdZp0WERcUOeqy+
      u3IR6pQxxBTb5rMRSDjMri8zmwLaiaoXViyKf2ZZAcOLjch8xFjNBDly5CJr9Uw1
      g4rExAQ3M5YFEjUK1I2RglI5xu23FIi9fd1jWK5rgfjXfdQdyLfUEMC35am0KEOi
      CFEPcf+sk5ofZdtVn1ueOHl/Sz7hVg==
      -----END CERTIFICATE-----
       


  /etc/httpd/conf/ssl/soulcrafting.co.pem.key:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEA5cOwkw84BPLq4csuji6STSA1tF7l+wCM49NyDTI4GpFoFSug
      1BNi38LNFZMkhSBalfMiBOuEWRtjAUaEIX4mGhWF7kY1EfDfBvC2VsVb61bDXQYf
      PLOvlNjGqsPa9/LjXDGD68Aj/jGgQOHqnSOocXIwashSaMbVtNUuVFk34x2PzcEb
      iAAsQiWH+LauQoPmGHcXHX0IdXTc6jBRZ2MbaE5/nLjbcP9NdAM0FheriYJ/BMrJ
      v8Mh7p5M3Ayb83PjuwkjXe6A1OlvzSn4sFyHCp2byeKVqtvTnFj/jedPDCD5VBzE
      xo/kXQp9heDgDGl+rGC/QzSJ2PPzd5QAD9p+lwIDAQABAoIBAGjo5WMAe++miyD2
      CRfao+qbXmoxOolVQv9zuIvV9lALPJ8OAK1U/Lx20fWb7fzrPPFixpHAh/m3y4j1
      jbdNRlB6q2CUpf6/INamaltMWiAmyaVb+j9ZPD6WjH/EVeMJAE9EPJwUa1rRhf6a
      KOn/MhY6sWjQdvBoeYPMIw9YfXAxXdEjmW6grsEoax5V6lWgkgqdzsLpi2jxtxOQ
      YDJMnbtnZ5qnntkPIy3NdqUYAYK3dwUxFj+7hs72drIDo+vmMbneacT6v2l3rRgx
      Zc2cwJcU+cSPGXEkkePcP7N303Odu9jhkuhxmuB9+m++MypzYLhxVx09Avmb8zqD
      ZoZtXyECgYEA82ggC0uSHmC4GTV1p+wCmG76G0jl69tUeI+QKhRtwR7tKJ/8oIj5
      05MmWEGqv3OKqjSXEzhR+b3OCxme+zGzu9qmyOGZAIvcPMdZbptyWio+zWvMKzvL
      8pmdsC/YswAmHN42tDYGbp7eppphcOCBmYNiM3YVWau/MgcFS72Ae7sCgYEA8abf
      51L2ekYcH59ZLakfIQMLFnKMG3OVzPzm0ewWCFRa6jfoiDzevKr18Cs4EHA7b2nq
      3QUDqlekcOkccQYap2E4rTNfWmbmM2Z3ALJfmX4CMxBd0NowDdXRE+U67wj+Hd3q
      WBEzKbAiO51eN0jeUhWBaEJBglECaSpH/zaz5NUCgYBbwGRT3ai2yr6awgwXwF86
      Fpswrcn9ni+5QmSVeB3nLkE3jxcrbHa/yjgqDJbQlD0w66IHHLPJ8EI67O2Awrt9
      lG5KSr/h9NaQEpUjnHT+h+4kgP31ThUS3dUTFPYag3PabekxBSxnhntnUcppQjeY
      Jm5d96UUqCjqMrtMUaKdAQKBgQC7iLHCp9O4WKiCsftXQCR0ThRQu1yYAT+D8dB/
      oSQIGs7jbbf74qFI8bQjSqcbur2lXSFznOyXSaTIK2BzJjWRKBX/9BpP4gNMaHx6
      AfPG/s9eKZlk967LTeAP/Jmb3/K14v52kgKOm641bY8sgFRoh2ACNUj5hTzFuJZf
      LWi2cQKBgBc2HU7GEWM8X7bhkVPWDVISO1YZiB6HOF2UeVansRkRKKsyXxK9x225
      /jQa902vRzI0E0RujE97GudgLZEUoxlD3hyvwTmckZbT9kxz+tbogQ2DbXJ/aikF
      GAFXlGq+yOGUMriW9NrDAB4QnJF6QM6xPtmD6DF7rP45QvzGoWII
      -----END RSA PRIVATE KEY-----

