commands:
  print_stage:
      command: echo "Setup Apache/HTTPD ssl configuration, 2"

Resources:
  mySecurityGroup: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupName: {Ref : AWSEBSecurityGroup}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
  
    
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
            Order deny,allow
            Allow from all
        </Proxy>
        SSLEngine on
        SSLCertificateFile "/tmp/herotime.crt"
        SSLCertificateKeyFile "/tmp/herotime-pk.pem"
        
        Alias /static /opt/python/current/app/server/static
        <Directory /opt/python/current/app/server/static>
        Order allow,deny
        Allow from all
        </Directory>
        
        WSGIScriptAlias / /opt/python/current/app/application.py
        
        <Directory /opt/python/current/app/>
        Order allow,deny
        Allow from all
        </Directory>
        
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app:/opt/python/run/venv/lib/python2.7/site-packages user=wsgi group=wsgi \
          home=/opt/python/current/app
        WSGIProcessGroup wsgi-ssl
      </VirtualHost>
      
  /tmp/herotime.crt:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDhjCCAm4CCQDQAIuNF+oQIDANBgkqhkiG9w0BAQUFADCBhDELMAkGA1UEBhMC
      VVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCEJlcmtlbGV5MRUwEwYD
      VQQKEwxIZXJvVGltZSBMTEMxFDASBgNVBAMTC2hlcm90aW1lLmNvMSAwHgYJKoZI
      hvcNAQkBFhFhZG1pbkBoZXJvdGltZS5jbzAeFw0xNDAxMjUwMTMzMzNaFw0xNTAx
      MjUwMTMzMzNaMIGEMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTER
      MA8GA1UEBxMIQmVya2VsZXkxFTATBgNVBAoTDEhlcm9UaW1lIExMQzEUMBIGA1UE
      AxMLaGVyb3RpbWUuY28xIDAeBgkqhkiG9w0BCQEWEWFkbWluQGhlcm90aW1lLmNv
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxgB5Xarv74VvibfjQtf3
      JOPeJsmXvWJyRznqiXZQloO876MFjMVsGhCoIHYCtCgx3hR5a9wJSarSxTQgEcyC
      ppTtyLbnxWLpg5Cw7G/bPCxj9sy65XFBGz2q0QqDB6M+ZXVvh+eKyNPqSFRejNEP
      SYo2YMJCFh8rtXdGBQofrZ4t2nx8hT3K/1M9POxxZC+lY4PgXn9ZlYcek2VV/11x
      0Ck1JAp05q5DKunq4XelRqNosuZEApVE3V10arVGHgaSey6+2c0TvpDga7e3AI2N
      J/iCpaGepgIZWdUXmbs/ZpkDjB3FsUVO0yZYtgRtlSHkxFiFG9k5ao9XlRUAvJ5A
      9wIDAQABMA0GCSqGSIb3DQEBBQUAA4IBAQCmwRb30uRHYjC+TkhhMWrznbqhSkZP
      uXGG8s7dmSkL+i2GOdM6nLoYlpfQhVYFcbyeCDuGPn0q0r73ty5bGbg2LlowutWW
      MpBvthxOmDOVFVC703jrdwDTM0z8bZn44/YFOF1ZfJNOBtN3egaa8UdMai+73FS/
      SiYSflhPRFD+GT6H/cpT6SUUvAzpNCKoMkfSTO0m75RgM26HROVIfXlV0JzQNmvB
      jjPGWHkWsfQLZEbfCRf4CzeLyzFN6BMVn24iYJg0CICmV7Va01dx5sRUeQRSTMKk
      9Ft/xThFQ+7/sFvHI1QFsSYL6zRFmwRZNdt6HkSwv6r4FEgAvdVGt9ne
      -----END CERTIFICATE-----
       


  /etc/httpd/conf/ssl/herotime-pk.pem:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      -----BEGIN RSA&amp;nbsp;PRIVATE KEY-----
      MIIEpAIBAAKCAQEAxgB5Xarv74VvibfjQtf3JOPeJsmXvWJyRznqiXZQloO876MF
      jMVsGhCoIHYCtCgx3hR5a9wJSarSxTQgEcyCppTtyLbnxWLpg5Cw7G/bPCxj9sy6
      5XFBGz2q0QqDB6M+ZXVvh+eKyNPqSFRejNEPSYo2YMJCFh8rtXdGBQofrZ4t2nx8
      hT3K/1M9POxxZC+lY4PgXn9ZlYcek2VV/11x0Ck1JAp05q5DKunq4XelRqNosuZE
      ApVE3V10arVGHgaSey6+2c0TvpDga7e3AI2NJ/iCpaGepgIZWdUXmbs/ZpkDjB3F
      sUVO0yZYtgRtlSHkxFiFG9k5ao9XlRUAvJ5A9wIDAQABAoIBAHAcjJvQ0hKZR1J/
      YJrUlge5Tmw/8T82ouZZkMdMysyuwygc8mOG1XLcw5W9vEIuEC5jAW1lJY0kwDsR
      DKeHWOLhqNHhXtKQ8w+fuc3meAhWSjPQMHMB8Y9vF21Numt0rzvbhs8494hHFXzm
      6LJrHXDSZX/b/ndwJtuVMXxhAxbWXsHovpNi2yJBUfIwMj1FJD859cuBX2yq2+PQ
      AsW8CmVSGSHBZPnoCSPg3HYHimPLvojTJk6s1F9lR5qpyDdHv+WOb2hdeGbDdgkb
      3ogxCs9hBnMOuswNdGmYY2xLhWDsQBDyi6A6FLsugWd7abEC27sR682Wbj4glgL5
      ImvYSeECgYEA4g5+wKIAA6oFrvxhs9Meofx5q6j7tYbEUe9YuZ6q2zz1RjVEEsqX
      b5O5f6qMCsTiejLCpSuWxjxJ23oZ/AYQa30A731ALCmleyGRW49heXjPTAhsLBef
      O/08rxzCn7rN36k7ds6uCUJlVNJei6aEyHQG4AVyQn7nrYUA1cp/Eo0CgYEA4Dqm
      qv+geBKFBT7mKQMQ8pgy/AS+3gxtXGusUEkx2yO3E3g8htf6N4ptJ0Fg/YXSr9P9
      NsspaWEgkvO+LWo5DG/3FQwo5QOFkGq5/l0AyXpfZcYKm2fHY/ovgxXM37dfSqYv
      LyjA5/tN1D8Qo9cSPy5BUPsfcGsDuH+DiDXngpMCgYB4LjChBP9w80FWSINA8SrF
      /85Hvu0jEuTokpDfDkXTjNLxYnwwaVidTzI9d1RAnW+ye64T1dqwxXiWoJGT9T1h
      h/GpYTNuxy1dCvmWbeHqjJnY2Fl6D4zufbF3f5jRBqVRFU2x2iuYbJ4mvDjbkcni
      MB0/mGWoiINvMtjA0IlCOQKBgQCaCfDBfEbi9eYICoPXHNIhtkkgNKpipKrkWNvR
      c9caMljsuSbrg6fTS/dchl95CtwIClvjroHOcPkNuwCk9lomnyxgezAE0/yHj6oi
      ggWuY7Dxm7FhvVOO7SqCpRFPhwuhnrS/cwHC3DNFYeWuiGtyl/YrCbk5Y2r07jSP
      +GgInQKBgQCpR1+2zxvAd797oUJaxLZYFxbrOOoZTEi0Btcq/zi8zOq9ixw6xygu
      T37DQ8WFgngOtx0qoR601+450spMEYPxGOXDe+yzAUittuZxzPIx+wm6S+PdQWcV
      G8YcOiyWtag9jO9bsmkfbWNy0ZlyVlh9vP6SoBTuyVXfpGwFna1MSQ==
      -----END RSA&amp;nbsp;PRIVATE KEY-----

  /tmp/herotime-pk.pem:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      -----BEGIN RSA&amp;nbsp;PRIVATE KEY-----
      MIIEpAIBAAKCAQEAxgB5Xarv74VvibfjQtf3JOPeJsmXvWJyRznqiXZQloO876MF
      jMVsGhCoIHYCtCgx3hR5a9wJSarSxTQgEcyCppTtyLbnxWLpg5Cw7G/bPCxj9sy6
      5XFBGz2q0QqDB6M+ZXVvh+eKyNPqSFRejNEPSYo2YMJCFh8rtXdGBQofrZ4t2nx8
      hT3K/1M9POxxZC+lY4PgXn9ZlYcek2VV/11x0Ck1JAp05q5DKunq4XelRqNosuZE
      ApVE3V10arVGHgaSey6+2c0TvpDga7e3AI2NJ/iCpaGepgIZWdUXmbs/ZpkDjB3F
      sUVO0yZYtgRtlSHkxFiFG9k5ao9XlRUAvJ5A9wIDAQABAoIBAHAcjJvQ0hKZR1J/
      YJrUlge5Tmw/8T82ouZZkMdMysyuwygc8mOG1XLcw5W9vEIuEC5jAW1lJY0kwDsR
      DKeHWOLhqNHhXtKQ8w+fuc3meAhWSjPQMHMB8Y9vF21Numt0rzvbhs8494hHFXzm
      6LJrHXDSZX/b/ndwJtuVMXxhAxbWXsHovpNi2yJBUfIwMj1FJD859cuBX2yq2+PQ
      AsW8CmVSGSHBZPnoCSPg3HYHimPLvojTJk6s1F9lR5qpyDdHv+WOb2hdeGbDdgkb
      3ogxCs9hBnMOuswNdGmYY2xLhWDsQBDyi6A6FLsugWd7abEC27sR682Wbj4glgL5
      ImvYSeECgYEA4g5+wKIAA6oFrvxhs9Meofx5q6j7tYbEUe9YuZ6q2zz1RjVEEsqX
      b5O5f6qMCsTiejLCpSuWxjxJ23oZ/AYQa30A731ALCmleyGRW49heXjPTAhsLBef
      O/08rxzCn7rN36k7ds6uCUJlVNJei6aEyHQG4AVyQn7nrYUA1cp/Eo0CgYEA4Dqm
      qv+geBKFBT7mKQMQ8pgy/AS+3gxtXGusUEkx2yO3E3g8htf6N4ptJ0Fg/YXSr9P9
      NsspaWEgkvO+LWo5DG/3FQwo5QOFkGq5/l0AyXpfZcYKm2fHY/ovgxXM37dfSqYv
      LyjA5/tN1D8Qo9cSPy5BUPsfcGsDuH+DiDXngpMCgYB4LjChBP9w80FWSINA8SrF
      /85Hvu0jEuTokpDfDkXTjNLxYnwwaVidTzI9d1RAnW+ye64T1dqwxXiWoJGT9T1h
      h/GpYTNuxy1dCvmWbeHqjJnY2Fl6D4zufbF3f5jRBqVRFU2x2iuYbJ4mvDjbkcni
      MB0/mGWoiINvMtjA0IlCOQKBgQCaCfDBfEbi9eYICoPXHNIhtkkgNKpipKrkWNvR
      c9caMljsuSbrg6fTS/dchl95CtwIClvjroHOcPkNuwCk9lomnyxgezAE0/yHj6oi
      ggWuY7Dxm7FhvVOO7SqCpRFPhwuhnrS/cwHC3DNFYeWuiGtyl/YrCbk5Y2r07jSP
      +GgInQKBgQCpR1+2zxvAd797oUJaxLZYFxbrOOoZTEi0Btcq/zi8zOq9ixw6xygu
      T37DQ8WFgngOtx0qoR601+450spMEYPxGOXDe+yzAUittuZxzPIx+wm6S+PdQWcV
      G8YcOiyWtag9jO9bsmkfbWNy0ZlyVlh9vP6SoBTuyVXfpGwFna1MSQ==
      -----END RSA&amp;nbsp;PRIVATE KEY-----
