commands:
  print_stage:
      command: echo "Setup ports config configuration, 3"


#################################################################################
## EB / ELB Configuration #######################################################
#################################################################################
# ELB - Open (HTTP) :80 :443; init
# EB  - Open (HTTP) :80 :443  health-ping on :80
#################################################################################
## Notes ########################################################################
#################################################################################
# Find SSL ARN: 'aws iam get-server-certificate --server-certificate-name <NAME>
#################################################################################

Resources:
  SC_LoadBalancer:
    Type: "AWS::ElasticLoadBalancing::LoadBalancer"
    Properties:
      Listeners:
        - {LoadBalancerPort:  80, InstancePort:  80, Protocol: "HTTP"   InstanceProtocol: "HTTP"  }
        - {LoadBalancerPort: 443, InstancePort: 443, Protocol: "HTTPS", InstanceProtocol: "HTTPS", SSLCertificateId: "arn:aws:iam::982314424487:server-certificate/sc"}
      AppCookieStickinessPolicy:
        - {PolicyName: "lb-session", CookieName: "lb-session"}
      HealthCheck:
        HealthyThreshold: "3"
        Interval: "90"
        Target: "HTTPS:443/status"
        Timeout: "5"
        UnhealthyThreshold: "3"

  SC_ServerSecurity:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      GroupDescription: "My Own SecurityGroup for ElasticBeanstalk environment."
      SecurityGroupIngress:
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: "80",  ToPort: "80"  }
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: "443", ToPort: "443" }

