commands:
  print_stage:
      command: echo "Setup EC2/ELB ports configuration, 3"


#################################################################################
## EB / ELB Configuration #######################################################
#################################################################################
# EB  - Open (HTTP) :80 :443  (SSH) :23 [where is this happening] health-ping on :80
# ELB - Open (HTTP) :80 :443; init
# ELB - Open (SSH)  :23; init
#################################################################################
## Notes ########################################################################
#################################################################################
# Find SSL ARN: 'aws iam get-server-certificate --server-certificate-name <NAME>
#################################################################################

Resources:
  AWSEBSecurityGroup:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      GroupDescription: "My Own SecurityGroup for ElasticBeanstalk environment."
      SecurityGroupIngress:
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: "80",  ToPort: "80"  }
        - {CidrIp: "0.0.0.0/0", IpProtocol: "tcp", FromPort: "443", ToPort: "443" }

  AWSEBLoadBalancer:
    Type: "AWS::ElasticLoadBalancing::LoadBalancer"
    Properties:
      Listeners:
        - {LoadBalancerPort: 80,  InstancePort:  80, Protocol: "HTTP"  }
        - {LoadBalancerPort: 443, InstancePort: 443, Protocol: "HTTPS", SSLCertificateId: "arn:aws:iam::982314424487:server-certificate/sc"}
      AppCookieStickinessPolicy:
        - {PolicyName: "lb-session", CookieName: "lb-session"}
