commands:
  print_stage:
      command: echo 'Start RabbitMQ service, 21' && sleep 10
      ignoreErrors: true

  install_rabbitmq_plugins:
      command: rabbitmq-plugins enable rabbitmq_management
      ignoreErrors: true

  start_rabbitmq_server:
      command: service rabbitmq-server start
      ignoreErrors: true

  enable_rabbitmq_always:
      command: chkconfig rabbitmq-server on
      ignoreErrors: true

