commands:
  print_stage:
      command: echo 'Preparing HeroTime Environment, 30'
      ignoreErrors: true

  create_ht_upload_dir:
      command: mkdir /tmp/ht_upload 
      ignoreErrors: true

  start_celery_service:
      command: cd /opt/python/current/app && source /opt/python/run/venv/bin/activate &&  celery -A event_manager worker -Q dflt
      ignoreErrors: true

