commands:
  print_stage:
      command: echo 'Preparing HeroTime Environment, 30'
      ignoreErrors: true

  create_ht_upload_dir:
      command: mkdir /tmp/ht_upload 
      ignoreErrors: true

  create_ssh_dir:
      command: mkdir /home/ec2-user/.ssh
      ignoreErrors: true

  chmod_ssh_dir:
      command: chmod 700 /home/ec2-user/.ssh
      ignoreErrors: true

  create_ssh_key:
      command: echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCuW4MC4c1Gj0ctWXz67IrRATIaETd7VvCuwBnBW3UDQ5kh1eX/aHzN5/FS0wbLwQj7ugWPkli24acMBOmuPyJc8nacMvzOjhFxFHyaPDj6n3QDoBo+I/D5tHyA51iYHIwiQXEmCQ5PPRroEzqAvYHGpYUKueD1sFUaOG5LucvPpoSOAXA+4Vs7X//xQmi9qhIMr1dq+x5RMLAAhr+GHpDDmE6RZ1+mi7K9UXeVH023CLAiO3SUMyqU/Kw32lcWQchKXq+fra/H6UuD58WAdi+yf+/8FUxZhkzFZprq+G7DJpRMlTO9rE58CZKY+B1q7yhr3yw0SYoW9bNKYOTUPsBz MacAir_CAH" >> /home/ec2-user/.ssh/authorized_keys
      ignoreErrors: true

  start_celery_service:
      # this may be hanging.... may need to be put in the back-ground
      command: cd /opt/python/current/app && source /opt/python/run/venv/bin/activate &&  celery -A event_manager worker -Q dflt
      ignoreErrors: true

