{% extends 'sc-header.html' %}
{% set meta_title	= 'Oops. Server Error' %}
{% set meta_desc	= 'Server Error' %}

{% block header_css %}
	{{ super() }}
	{%- assets 'master', 'scss_errors' %}<link rel='stylesheet' href='{{ASSET_URL}}'>{%- endassets %}
{% endblock %}


{% block content %}
<div id='masthead'>
	<div id='masthead-text'>
		<span id='masthead-title'>Well, this is embarrassing.</span>
		<p>We made a huge mistake. We're on it.</p>
	</div>
</div>

<section>
	<div>
		<h3>In the meanwhile, let's get you back on track</h3>
		<ul id='error-list'>
			<li><a href='/'>Home</a></li>
			<li><a href='/about'>About</a></li>
			<li><a href='/referral'>Create Referral</a></li>
			<li><a href='/products/furniture'>Custom Furniture</a></li>
		</ul>
	</div>
</section>
{% endblock %}
