{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/about.css">
{% endblock %}

{% block content %}

<div class="headlineContainer">
	<div class="headlineIntroduction">Connecting Amazing People</div>
	<div class="headlineDeck serif">Join us make a home for the interesting, talented people in your community.</div>
</div>

<div class="howWeWorkContainer">
	<div class="howWeWorkHeader">How Insprite works</div>

	<div class="learnerContainer serif">
		<div class="learnerHeader"> <img src="/static/img/about-page-learner-header.png"></div>
		<div class="learnerText">
			Stuck? Trying to push yourelf?  Build your skills by finding mentors in your community to teach you skills you want to learn!
		</div>
	</div>

	<div class="mentorContainer serif">
		<div class="mentorHeader"><img src="/static/img/about-page-mentor-header.png"></div>
		<div class="mentorText">
			Have a skill you want to share with the world? Share your passion, mentor people nearby, and make a living doing what you love most.
		</div>
	</div>
</div> 

<div class="aboutTeamContainer">
	<div class="teamHeader">Meet the Team</div>
	<div class="teamMember">
		<a href="https://www.linkedin.com/in/coreyhyllested" class="blend" target="_blank"><img class="teamPortrait" src="/static/img/team-corey.png" alt="Corey"></a>
		<div class="teamCaption serif"><a href="https://www.linkedin.com/in/coreyhyllested" class="blend" style="color:#808080" target="_blank">Corey Hyllested</a> </div>
	</div>
</div

{% endblock %}
