{% extends 'sc-header.html' %}
{% set meta_title	= 'About Soulcrafting' %}
{% set meta_desc	= 'About Soulcrafting' %}

{% block header_css %}
	{# super() #}
	<link rel='stylesheet' href='/static/css/bootstrap.css'>
	{%- assets "master", "scss_about_sc" %}<link rel='stylesheet' href='{{ASSET_URL}}'>{%- endassets %}
{% endblock %}


{% block parallax %}
	<div id='masthead'><div id='masthead-text'>About Soulcrafting</div></div>
{% endblock %}


{% block content %}
<div id='masthead-gap'></div>

<section id='soulcrafting-who'>
	<div class='text-content'>
		<h2>The smartest, most trusted way to improve your home.</h2>
		<p>
			We're on a mission to redesign the way homeowners interact with contractors and home improvement professionals.
			We build trust and tools to help people manage the complexity of residential remodeling projects while creating spaces they'll love.
			We've reimagined everything so that you can experience the joy of creating the home you want without the usual uncertainty, frustration, and risk.
			Start your next home improvement project here.
		</p>
	</div>
</section>

<section id='soulcrafting-what'>
	<div>
		<div class='inline-50 text-content'>
			<h2>Transform your home</h2>
			<ul class='bullets'>
				<li>Find the best contractor for your project from our trusted network of independent craftspeople.</li>
				<li>Get unbiased information and support from your Soulcrafting project specialist at every step of the process.</li>
				<li>Manage your project quickly and easily with smart features to sign agreements, track progress, and make secure payments online.</li>
			</ul>
		</div>
		<div class='inline-50'>
			<div>
				<img src='/static/img/ex-beachbed.jpg' alt='Bedroom'	class='img-responsive img-thumb'>
				<img src='/static/img/ex-bathroom.jpg' alt='Bathroom'	class='img-responsive img-thumb'>
			</div>
			<div>
				<img src='/static/img/ex-garden.jpg' alt='Garden Path'	class='img-responsive img-thumb'>
				<img src='/static/img/ex-family.jpg' alt='Family Room'	class='img-responsive img-thumb'>
			</div>
		</div>
	</div>
</section>

<section id='soulcrafting-why'>
	<div class='text-content'>
		<h2>Our Story</h2>
		<p>
			Soulcrafting got its start as a community connecting consumers with master craftspeople for innovative, hands-on learning experiences.
			The community <a href='https://vimeo.com/119711481' target='_blank'>took shape</a>, and people started building some 
			<a href='https://instagram.com/p/t5pcpKqdro/' target='_instagram'>really</a>
			<a href='https://instagram.com/p/sNUOazqdnn/' target='_instagram'>cool</a>
			<a href='https://instagram.com/p/yICMo0qdtP/' target='_instagram'>stuff.</a>
			Over time, our customers began asking, can you help us feel connected to bigger projects for the home? A custom table? A new kitchen? Converting my garage into a studio to rent on Airbnb? 
			The more we thought about it, the more we knew that we could.
		</p>
		<p>
			We've witnessed firsthand how messy and stressful remodeling projects can be.
			The system is broken so we decided to redesign it from the ground up, using technology and a new set of values, to put customers first.
			With world-class customer service and smart collaboration tools, Soulcrafting is the easiest and safest way for people to manage their home improvement projects.
		</p>
	</div>
</section>

<section id='soulcrafting-faq'>
		<h2>Common Questions</h2>
		<div id='faq' class='text-content'>
			<div class='col-md-4 col-sm-6 col-xs-12'>
				<h4 class='faq-question'>Where are you located?</h4>
				<p>
					Soulcrafting is based in Boulder, CO, and we're currently supporting projects throughout Boulder County.
					To learn when Soulcrafting is available in your area please connect with us on
					<a href='https://facebook.com/SoulcraftingHQ' target='_facebook'>Facebook</a>,
					<a href='https://twitter.com/soulcrafting' target='_twitter'>Twitter</a>, and
					<a href='https://instagram.com/soulcrafting' target='_instagram'>Instagram</a>.
				</p>
				<img src='/static/img/sq-kitchen.jpg' alt='Modern Kitchen' class='img-responsive img-circle img-small'></img><br>

				<h4 class='faq-question'>How does Soulcrafting make money?</h4>
				<p>Our business model is based on shared success: we make a 10% service fee when homeowner's project is complete and they're satisfied that the job's been done right.</p>
			</div>


			<div class='col-md-4 col-sm-6 col-xs-12'>
				<img src='/static/img/sq-stairs.jpg' alt='Beach Stairway' class='img-responsive img-circle img-small'></img><br>
				<br>
				<h4 class='faq-question'>I'm a contractor. How do I get involved with Soulcrafting?</h4>
				<p>
					The most talented local craftspeople join our community by invitation only.
					If you'd like us to get to know you and your business create a Soulcrafting <a href='/signup/professional'>professional account.</a>
				</p>

				<br>
				<h4 class='faq-question'> Can I still sign up for Soulcrafting workshops?</h4>
				<p>
					We no longer offer regular workshops but many of our partners still do.
					You can find a complete list of craftspeople who are still <a href='https://medium.com/p/3301b0be1044'>offering classes.</a>
				</p>
			</div>

			<div class='col-md-4 col-sm-12'>
				<h4 class='faq-question'>How do I get started?</h4>
				<p>
					The best way to get started with Soulcrafting is to create and account and tell us a bit more about the project you have in mind.
					A member of our team will follow up with you directly to learn more about your project goals before connecting you with trusted contractors from our network.
				</p>
				<br>
				<img src='/static/img/sq-space.jpg' alt='Spacious Living Area' class='img-responsive img-circle img-small'></img>
				<br>
				<h4 class='faq-question'>How do I contact Soulcrafting?</h4>
				<p>
					Please feel free to contact us by <a href='mailto:team@soulcrafting.co'>email</a> or by phone 779.456.6847.
					We'll do our best to respond to you right away.
				</p>
			</div>
		</div>
</section> 
{% endblock %}


{% block scripts %}
	{{ super() }}
	<script>$(document).ready(function () { $('#masthead-text').css('opacity', '1'); });</script>
{% endblock %}
