{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/tos.css">
	<link type="text/css" rel="stylesheet" href="/static/css/about.css">
{% endblock %}

{% block content %}

<div class="headlineContainer">
  <div class="headlineIntroduction">
    Connecting creative minds
  </div>
  <div class="headlineDeck serif">Insprite is a community marketplace enabling people to discover, meet and learn from nearby makers, crafters and DIY enthusiasts first-hand.</div>
</div>

<div class="howWeWorkContainer">
  <div class="howWeWorkHeader">
    Our Story
  </div>
 <div class="aboutStory">Ever start an artsy project and stop because it's not turning out the way you planned? It’s happened to us all too often.<br><br>

One Pinterest fail after another, we realized maker skills would come easier if someone&mdash;a creative mentor&mdash;could help nudge us in the right direction when we needed it most. (Like the one time Christine and Sophie couldn't figure out why their silkscreening ran afoul even though they replicated each and every step from an online tutorial.) We wanted a home for connecting, meeting and learning from the cool, creative people around us&mdash;a place where we could find help getting started on a crafty project or obtaining guidance for those pesky, hair-pulling moments. We wanted a way to empower the makers, craftspeople and DIY enthusiasts creating beautiful work in their studios, apartments, homes, you name it, to impart their know-how, whether they were professionals or hobbyists, and get paid for it. From there, Insprite was born.<br><br>

From hacking a mason jar lamp to mastering linocut printmaking and more, we bring you a DIT (do-it-together!) community marketplace connecting you to local maker artists who offer in-person, unique learning experiences you can't find elsewhere.

</div>
  <!-- <div class="learnerContainer serif">
    <div class="learnerHeader"> <img src="static/img/about-page-learner-header.png"></div>
    <div class="learnerText">
      Feeling creative? Enrich your skills (and life) by finding mentors in your community to teach you awesome creative skills that you’ve always wanted to learn!
    </div>
  </div>

  <div class="mentorContainer serif">
    <div class="mentorHeader"><img src="static/img/about-page-mentor-header.png"></div>
    <div class="mentorText">
      Have a creative skill you want to share with the world? Share your passion, mentor people nearby and make a living doing what you love most.
    </div>
  </div> -->

</div> 

<div class="aboutTeamContainer">
	<div class="teamHeader">Meet Our Team</div>
	<div class="teamMember">
		<a href="http://www.linkedin.com/in/christinepetrozzo/" target="_blank" class="blend"><img class="teamPortrait" src="/static/img/team-christine.png" alt="Christine"></a>
		<div class="teamCaption serif">
		<a href="http://www.linkedin.com/in/christinepetrozzo/" target="_blank" class="blend" style="color:#808080;">Christine Petrozzo</a>
		</div>
	</div>
	<div class="teamMember">
		<a href="http://www.linkedin.com/in/coreyhyllested" target="_blank" class="blend"><img class="teamPortrait" src="/static/img/team-corey.png" alt="Corey"></a>
		<div class="teamCaption serif">
		<a href="http://www.linkedin.com/in/coreyhyllested" target="_blank" class="blend" style="color:#808080">Corey Hyllested</a>
		</div>
	</div>
	<div class="teamMember">
		<a href="http://www.linkedin.com/in/ryanfbaker" target="_blank" class="blend"><img class="teamPortrait" src="/static/img/team-ryan.png" alt="Ryan"></a>
		<div class="teamCaption serif">
		<a href="http://www.linkedin.com/in/ryanfbaker" target="_blank" class="blend" style="color:#808080">Ryan Baker</a>
		</div>
	</div>
	<div class="teamMember">
		<a href="http://www.linkedin.com/in/sophiebarness" target="_blank"class="blend"><img class="teamPortrait" src="/static/img/team-sophie.png" alt="Sophie"></a>
		<div class="teamCaption serif">
		<a href="http://www.linkedin.com/in/sophiebarness" target="_blank" class="blend" style="color:#808080">Sophie Barness</a>
		</div>
	</div>
</div>


{% endblock %}
