{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/dropzone.css">
	<link type="text/css" rel="stylesheet" href="/static/css/dropzone_overrides.css">
	<link type="text/css" rel="stylesheet" href="/static/css/edit_portfolio.css">
	<link type="text/css" rel="stylesheet" href="/static/css/add_lesson.css">
	<link type="text/css" rel="stylesheet" href="/static/css/lightbox.css">


{% endblock %}

{% block content %}

<div class="addLessonContentWrapper">
<!-- 
	<div class="addLessonTitle">
		Share Your Passion!
	</div> -->

	<div class="addLessonHeader">
		<div class="addLessonHeaderLeft">
			<div class="addLessonTopLeftNavigation">
				<a title="Back" id="topLeftNavBack" class="navItem"><i class="fa fa-arrow-circle-left"></i> Back</a>
			</div>
		</div>
		<div class="addLessonHeaderRight">
			<div class="addLessonHeaderPageName">
			{% if activated == "true" %}
			All righty! Let's create your first lesson!
			{% else %}
			Create a Lesson
			{% endif %}
			</div>
<!-- 			<div class="addLessonHeaderPageSubtitle">
			<a href="/profile">No thanks, return to profile</a>
			</div> -->
		</div>			
	</div>
  
  	<div class="addLessonContentContainer">
		<div class="addLessonLeftColumn">
			<div class="addLessonNavContainer">
				<ul class="addLessonNavList">
					<div class="addLessonNavItem active" data-target-page="overview"><a class="addLessonNavLink">Overview</a></div>
					<div class="addLessonNavItem" data-target-page="where"><a class="addLessonNavLink">Where</a></div>
					<div class="addLessonNavItem" data-target-page="when"><a class="addLessonNavLink">When</a></div>
					<div class="addLessonNavItem" data-target-page="rate"><a class="addLessonNavLink">Rate</a></div>
					<div class="addLessonNavItem" data-target-page="add_photos"><a class="addLessonNavLink">Add Photos</a></div>
					<div class="addLessonNavItem" data-target-page="edit_photos"><a class="addLessonNavLink">Edit Photos</a></div>
					<div class="addLessonNavItem" data-target-page="review"><a class="addLessonNavLink">Review</a></div>
				</ul>
			</div>
		</div>

		<div class="addLessonRightColumn">
			<div class="addLessonFormPageContainer">
				<form id="addLessonForm" method="post" action="/lesson/create/{{form.lesson_id.data}}" data-lesson-id="{{form.lesson_id.data}}">
				<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">

				<div id="overview" class="addLessonFormPage">
					<div class="formTitle">Let's get started!</div>
					<div class="formElement">
						<div class="formInstruction">What lesson or instruction do you want to offer?</div>

						{{form.hidden_tag()}}
						{{form.lesson_id}}
						{{form.addLessonTitle(id="addLessonTitle", class='formField span12', placeholder='e.g. Advanced Ukulele Lessons')}}
						{{form.addLessonDescription(id="addLessonDescription", class="formField span12", placeholder="Please describe what the student should expect -- e.g. general lesson plan, what you'll cover, etc.")}}
					</div>
					<div class="formElement">
						<div class="formInstruction">Which industry best describes your lesson?</div>
						{{form.addLessonIndustry(class="formfield span3")}}
					</div>

					<div class="addLessonFormButtonContainer">
						<button class="blueButton addLessonFormButton" data-current-page="overview">Continue</button>
					</div>
				</div>

				<div id="where" class="addLessonFormPage">
					<div class="formElement">
						<div class="formInstruction">Where do you want to provide these lessons?</div>
						<div class="formField formChoice span12">
							<input type="radio" id="addLessonPlaceNegotiable" name="addLessonPlace" class="formField" value=0><label for="addLessonPlaceNegotiable">Flexible - I will arrange with student.</label>
						</div>
						<div class="formField formChoice span12">
							<input type="radio" id="addLessonPlaceStudent" name="addLessonPlace" class="formField" value=1><label for="addLessonPlaceStudent">Student's Place</label>
						</div>
						<div class="formField formChoice span12">
							<input type="radio" id="addLessonPlaceTeacher" name="addLessonPlace" class="formField" value=2><label for="addLessonPlaceTeacher">My Place:</label>
						</div>
						<br><br>
						<fieldset id="addressFields">
						{{form.addLessonAddress1(id="addLessonAddress1", class='formField span9', placeholder='Address Line 1')}}
						{{form.addLessonAddress2(id="addLessonAddress2", class='formField span9', placeholder='Address Line 2')}}
						{{form.addLessonCity(id="addLessonCity", class='formField span3', placeholder='City')}}
						<select name="addLessonState" id="addLessonState" class="formField span3">
							<option value="">State</option>
							<option value="AL">Alabama</option>
							<option value="AK">Alaska</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="DC">District of Columbia</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="HI">Hawaii</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="MT">Montana</option>
							<option value="NE">Nebraska</option>
							<option value="NV">Nevada</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NM">New Mexico</option>
							<option value="NY">New York</option>
							<option value="NC">North Carolina</option>
							<option value="ND">North Dakota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>
							<option value="OR">Oregon</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="SD">South Dakota</option>
							<option value="TN">Tennessee</option>
							<option value="TX">Texas</option>
							<option value="UT">Utah</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WA">Washington</option>
							<option value="WV">West Virginia</option>
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
						</select>
						{{form.addLessonZip(id="addLessonZip", class='formField span3', placeholder='Zip Code')}}
						{{form.addLessonAddressDetails(id="addLessonAddressDetails", class='formField span9', placeholder='Additional Details (e.g. Studio is in garage, not house')}}
						</fieldset>
					</div>
					<div class="addLessonFormButtonContainer">
						<button class="blueButton addLessonFormButton" data-current-page="where">Continue</button>
						<div class="addLessonFormPreviousContainer">
							<a class="addLessonFormPrevious">Previous</a>
						</div>
					</div>
				</div>



				<div id="when" class="addLessonFormPage">
					<div class="formElement">
						<div class="formInstruction">When are you available for these lessons?</div>
						<div class="formField formChoice span12">
							<input type="radio" id="addLessonAvailDefault" name="addLessonAvail" class="formField" value=0><label for="addLessonAvailDefault">Same as availability set in my profile</label>
						</div>
						<div class="formField formChoice span12">
							<input type="radio" id="addLessonAvailSpecific" name="addLessonAvail" class="formField" value=1><label for="addLessonAvailSpecific">Specific times (not available yet)</label>
						</div>
					</div>
					<div class="formElement">
						<div class="formInstruction">How long will each lesson last?</div>
						{{form.addLessonDuration(class="formField span3")}}
					</div>
					<div class="addLessonFormButtonContainer">
						<button class="blueButton addLessonFormButton" data-current-page="when">Continue</button>
						<div class="addLessonFormPreviousContainer">
							<a class="addLessonFormPrevious">Previous</a>
						</div>
					</div>					
				</div>

				<div id="rate" class="addLessonFormPage">
					<div class="formElement">
						<div class="formInstruction">How much will you charge?</div>
						<div class="formDescription">You may enter an hourly rate, or a per-lesson rate.</div>

						{{form.addLessonRate(id="addLessonRate", class='formField span3', placeholder='Amount')}}
						<select name="addLessonRateUnit" id="addLessonRateUnit" class="formField span3">
							<option value="perHour">Per Hour</option> 
							<option value="perLesson">Per Lesson</option> 
						</select>
						<span class="rateUnitCaption span3"></span>

						<div class="addLessonFormButtonContainer">
							<button class="blueButton addLessonFormButton" data-current-page="rate">Continue</button>
							<div class="addLessonFormPreviousContainer">
								<a class="addLessonFormPrevious">Previous</a>
							</div>
						</div>
					</div>		

				</div>

				</form>

				<div id="add_photos" class="addLessonFormPage">
					<div class="formElement">
						<div class="formInstruction">Please upload some photos for your lesson portfolio</div>

						<div class="formDescription">Students are more likely to enlist your services if they can see high-quality photos of you doing your work, or photos of the stuff you or other students have made. Please make sure they are well-lit, tasteful, and would make someone want to hire you!</div>

						
						<div class="dropzone-wrapper">
							<form action="/upload" method="post" class="dropzone dz-clickable square" id="upload-form">
								<input name="lesson_id" type="hidden" value="{{ lesson_id }}">
								<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
								<div class="fallback">
							    	<input name="file" type="file" multiple />
							  	</div>
							  	<div class="dz-message dropzoneMessage">Drag files or click here to upload</div>
							</form>
						</div>
						<div class="dropzone-status italic"></div>

						<div class="addLessonFormButtonContainer">
							<button id="multipleUploadButton" type="button" class="blueButton multipleUploadButton span6" data-current-page="add_photos">
								Upload
							</button>
							<button type="button" id="multipleUploadContinueButton" class="blueButton addLessonFormButton" data-current-page="add_photos">Continue</button>						
							<div class="addLessonFormPreviousContainer">
								<a class="addLessonFormPrevious">Previous</a>
							</div>
						</div>
					</div>
					
				</div>

				<div id="edit_photos" class="addLessonFormPage">
					<div class="formElement">
						<div class="formInstruction">Add some descriptions, re-order, and remove photos</div>

						<div class="formDescription">Give the folks an idea what's going on in your photos, or put them in the order you want (just drag and drop). You may need to scroll to see all the photos in your portfolio. Note that the photos displayed are just thumbnails - we have stored your photos at original size and dimensions.</div>

						
						<div class="addLessonEditPhotosContainer">
						</div>
						<div class="addLessonEditPhotosStatus italic"></div>

						<div class="addLessonFormButtonContainer">
							<input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">

							<button type="button" id="editPortfolioDoneButton" class="blueButton editPortfolioDoneButton span6" data-current-page="edit_photos">
								Save Changes
							</button>
							<button type="button" id="editPortfolioDoneContinueButton" class="blueButton addLessonFormButton" data-current-page="edit_photos">Continue</button>
							<div class="addLessonFormPreviousContainer">
								<a class="addLessonFormPrevious">Previous</a>
							</div>
						</div>
					</div>
				</div>

				<div id="review" class="addLessonFormPage">
					<div class="formInstruction">OK... time to double check everything!</div>

					<div class="formDescription">If anything's wrong, click the links on the left to go back and make fixes.</div>

					<div class="addLessonReviewContainer">

						<div class="addLessonReviewField">
							<div class="addLessonReviewFieldName">Title</div>
							<div class="addLessonReviewData addLessonReviewTitle"></div>
						</div>

						<div class="addLessonReviewField">
							<div class="addLessonReviewFieldName">Description</div>
							<div class="addLessonReviewData addLessonReviewDescription"></div>
						</div>

						<div class="addLessonReviewField">
							<div class="addLessonReviewFieldName">Industry</div>
							<div class="addLessonReviewData addLessonReviewIndustry"></div>
						</div>
						
						<div class="addLessonReviewField">
							<div class="addLessonReviewFieldName">Location</div>
							<div class="addLessonReviewData addLessonReviewLocation">

							</div>
							<div class="addLessonReviewDataDetails addLessonReviewAddress">
							</div>
						</div>						
						<div class="addLessonReviewField">
							<div class="addLessonReviewFieldName">Schedule</div>
							<div class="addLessonReviewData addLessonReviewAvail">
							</div>
						</div>							
						<div class="addLessonReviewField">
							<div class="addLessonReviewFieldName">Duration</div>
							<div class="addLessonReviewData addLessonReviewDuration">
							</div>
						</div>					
						<div class="addLessonReviewField">
							<div class="addLessonReviewFieldName">Rate</div>
							<div class="addLessonReviewData addLessonReviewRate"></div>
						</div>						

						<div class="addLessonReviewField">
							<div class="addLessonReviewFieldName">Portfolio Images</div>
							<div class="addLessonReviewData addLessonReviewPortfolio">
							</div>
						</div>
					</div>

					<div class="addLessonFormButtonContainer">
						<div class="addLessonFormButtonContainer">
							<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
							<input name="lesson_id" type="hidden" value="{{ lesson_id }}">
							<button class="blueButton addLessonFormButtonSubmit" data-current-page="review">Submit Lesson</button>
							<div class="addLessonFormButtonOptions"><input type="checkbox" name="addLessonMakeLive" id="addLessonMakeLive" value="True" checked><label for="addLessonMakeLive">Make this lesson live and public!</label></div>
						</div>
						<div class="addLessonFormPreviousContainer">
							<a class="addLessonFormPrevious">Previous</a>
						</div>
					</div>
					
				</div>

			</div>

			
		</div><!--right column-->
	</div><!--empty, container-->

</div>

<!-- Scripts -->
<script src="/static/js/dropzone.js"></script>
<script src="/static/js/lightbox.min.js"></script>	
<script type="text/javascript" src="/static/js/add_lesson.js"></script>
<script type="text/javascript" src="/static/js/upload_lesson_portfolio.js"></script>
<script type="text/javascript" src="/static/js/edit_portfolio.js"></script>
<script type="text/javascript">

$(document).ready(function() {

});

</script>

{% endblock %}
"
