<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>You Changed Your Email or Password </title>
    </head>
    <body>

    <!-- <table style="border: 2px solid #e6e6e6" cellspacing="0" cellpadding="0" width="100%" bgcolor="#ffffff"> -->
    <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ffffff">
    <tbody>
    <tr>
    <td>

    <table cellspacing="0" cellpadding="10" width="100%">
    <tbody>
    <tr>
    <td style="background-color: #ffffff; border-top: 0px solid #e6e6e6; padding-bottom: 10px; padding-top:35px" align="center" valign="middle">
    <a href="http://www.insprite.co"><img src="http://ryanfbaker.com/insprite/inspriteLogoB.png" border="0" alt="Insprite" align="center" width="200px" height="55px" /></a>
    </td>
    </tr>
    </tbody>
    </table>

    <table cellspacing="0" cellpadding="0" width="100%">
    <tr>
    <td style="background-color: #ffffff; border-top: 0px solid #333333; border-bottom: 10px solid #FFFFFF;" align="center" valign="middle">
    <img src="http://ryanfbaker.com/insprite/spacer-1.png">
    </td>
    </tr>
    </table>

    <table cellspacing="0" cellpadding="85" width="100%">
    <tr>
    <td style="background-color: #ffffff; border-top: 0px solid #333333; border-bottom: 10px solid #FFFFFF;padding-top:50px;" align="left" valign="top">
    <font style="font-family:Helvetica Neue;color:#555555;font-size:14px;">Thanks for signing up for Insprite! We are excited that you're interested in what we are doing over here. We are creating Insprite to be a vibrant, friendly community where you can both learn from creative people in your area, and teach your passions to others. We sincerely hope that you will be a part of it!
    <br><br>We're currently in the process of finishing up Insprite... and we're nearly there. We're just adding some bells and whistles on it so it'll be the best possible experience for you.<br><br>
    We will be in touch when we're getting ready to launch&mdash;tentatively in late 2014. We can't wait to show you what we've been working on. You're going to love it.<br><br>
    In the meantime, feel free to drop us a line, or follow us on our <a href="#" style="color:#29abe1">Blog</a>, where we will post lots of cool bloggy things (no, really, we're gonna try and keep it interesting). Foobar<br><br>
    <br>Spritely yours,<br>
    The Insprite Gang
   </font>
    </td>
    </tr>
    </table>

    <table cellspacing="0" cellpadding="0" width="100%">
    <tr>
    <td style="background-color: #ffffff; border-top: 0px solid #333333; border-bottom: 5px solid #FFFFFF;" align="center" valign="middle">
    <img style="padding-right: 6px" src="http://ryanfbaker.com/insprite/facebookIcon.png">
    <img style="padding-right: 6px" src="http://ryanfbaker.com/insprite/twitterIcon.png">
    <img src="http://ryanfbaker.com/insprite/instagramIcon.png">
    </td>
    </tr>
    </table>

    <table cellspacing="0" cellpadding="0" width="100%">
    <tr>
    <td style="background-color: #ffffff; border-top: 0px solid #333333; border-bottom: 5px solid #FFFFFF;" align="center" valign="middle">
    <img src="http://ryanfbaker.com/insprite/spacer-2.png">
    </td>
    </tr>
    </table>

    <table cellspacing="0" cellpadding="0" width="100%">
    <tr>
    <td style="background-color: #ffffff; border-top: 0px solid #333333; border-bottom: 10px solid #FFFFFF;" align="center" valign="middle">
    <font style="font-family:Helvetica Neue;color:#555555;font-size:10px;"> <a href="mailto@thegang@insprite.co" style="color:#29abe1">Contact Us</a> | Sent by <a href="http://www/insprite.co" style="color:#29abe1">Insprite.co</a>, California, USA. | <a href="#" style="color:#29abe1">Unsubscribe</a></font>
    </td>
    </tr>
    </table>

    <table cellspacing="0" cellpadding="0" width="100%">
    <tr>
    <td align="center" valign="middle" style="background-image: url('http://ryanfbaker.com/insprite/footerImage.png'); background-repeat: repeat-x; height: 80px;">
    </td>
    </tr>
    </table>

    </td>
    </tr>
    </tbody>
    </table>

 </body>
 </html>