<!DOCTYPE html>
<html>
    <body style="margin:0px;">

    <table cellspacing="0" cellpadding="20" width="100%" bgcolor="#f0f0f0">
    <tbody>
    <tr>
    <td>

    <table cellspacing="0" cellpadding="0" width="60%" align="center" bgcolor="#fff">
    <tbody>
    <tr>
    <td>

    <table cellspacing="0" cellpadding="10" width="100%">
    <tbody>
    <tr>
    <td style="padding-bottom:10px;padding-top:35px" align="center" valign="middle">
    <a href="http://www.insprite.co"><img src="http://insprite.co/static/img/email/insprite_maroon.png" border="0" alt="Insprite" align="center" width="300px" height="41px" /></a>
    </td>
    </tr>
    </tbody>
    </table>

    <table cellspacing="0" width="80%" align="center">
    <tr>
    <td style="padding-top:50px;padding-bottom:10px;" align="left" valign="top">
    <font style="font-family:Helvetica Neue, Arial, sans-serif;color:#555555;font-size:14px;line-height:14px;">
    You cancelled your lesson with <a href="#" style="color:#29abe1">{user's name}</a>.<br><br>
    We know life can be busy, but we also value accountability and adhere to a 24-hour cancellation policy. You will be charged <a href="#" style="color:#29abe1">{$ insert fee}</a> for the lesson.<br><br>
    Questions? <a href="mailto@thegang@insprite.co" style="color:#29abe1">Drop us a line</a> or read up on our <a href="#" style="color:#29abe1">Terms of Service</a> and <a href="#" style="color:#29abe1">cancellation policies</a>.
    </font>
    </td>
    </tr>
    </table>

    <table cellspacing="0" cellpadding="0" width="100%" style="padding-top:80px;">
    <tr>
    <td style="padding-bottom: 5px;" align="center" valign="middle">
    <a href="http://www.facebook.com/insprite"><img style="padding-right: 12px" src="http://insprite.co/static/img/email/facebookIcon.png"></a>
    <a href="http://www.twitter.com/inspriting"><img style="padding-right: 12px" src="http://insprite.co/static/img/email/twitterIcon.png"></a>
    <a href="http://www.instagram.com/inspriting"><img style="padding-right: 12px" src="http://insprite.co/static/img/email/instagramIcon.png"></a>
    <a href="http://www.pinterest.com/insprite"><img src="http://insprite.co/static/img/email/pinterestIcon.png"></a>
    </td>
    </tr>
    </table>

    <table cellspacing="0" cellpadding="0" width="100%">
    <tr>
    <td style="background-color: #ffffff; border-top: 0px solid #333333; border-bottom: 5px solid #FFFFFF;" align="center" valign="middle">
    <img src="http://insprite.co/static/img/email/spacer-2.png">
    </td>
    </tr>
    </table>

    <table cellspacing="0" cellpadding="0" width="100%">
    <tr>
    <td style="background-color: #ffffff; border-top: 0px solid #333333; border-bottom: 10px solid #FFFFFF;" align="center" valign="middle">
    <font style="font-family:Helvetica Neue, Arial, sans-serif;color:#555555;font-size:10px;"> <a href="mailto:thegang@insprite.co" style="color:#1488CC">Contact Us</a> | Sent by <a href="http://www.insprite.co" style="color:#1488CC">Insprite.co</a>, Berkeley, California, USA.</font>
    </td>
    </tr>
    </table>

    <table cellspacing="0" cellpadding="0" width="100%" background="http://insprite.co/static/img/email/footerImage.png" bgcolor="#e75f63">
    <tr>
    <td align="center" valign="middle" style="height: 80px;">
    </td>
    </tr>
    </table>

    </td>
    </tr>
    </tbody>
    </table>

    </td>
    </tr>
    </tbody>
    </table>

 </body>
 </html>