{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/compose.css">
{% endblock %}


{% block content %}

<div class="composeWrapper">

	<div class="composeHeader">
		<h1>Compose Message</h1>
		<div class="navigation">
			<a href="/inbox" title="Back to Inbox" class="navItem"><i class="fa fa-arrow-circle-left"></i> Back to Inbox</a>

		</div>
	</div>

	<div class="composeMessageContainer">
		<div class="composeRecipientContainer">
			<div class="composeFieldCaption">To</div>
			<div class="composeRecipient">{{hp.prof_name}}</div>
			<!-- <input type="text" id="composeRecipient" name="composeRecipient" class="composeField" value="{{hp.prof_name}}"> -->
			
		</div>
		<div class="composeSubjectContainer">
			<div class="composeFieldCaption">Subject</div>
			<input type="text" id="composeSubject" name="composeSubject" class="composeField" placeholder="Message Subject">
		</div>
		<div class="composeBodyContainer">
			<div class="composeFieldCaption">Message</div>
			<textarea id="composeBody" name="composeBody" class="composeField"></textarea>
		</div>
	</div>
	<div class="composeMessageStatus">
	</div>
	<div class="composeMessageSend">
		<input type="hidden" name="composeRecipientID" id="composeRecipientID" value="{{hp.prof_id}}">
		<input type="hidden" name="composeRecipientName" id="composeRecipientName" value="{{hp.prof_name}}">
		<input type="hidden" name="next" id="next" value="{{next}}">
		<input type="hidden" name="csrf" id="csrf" value="{{csrf_token()}}">
		<button id="sendMessage" class="blueButton composeMessageSendButton">Send</button>
	</div>
	<div class="composeMessageCancel">
		<a href="/inbox">Cancel - Return to Inbox</a>
	</div>

</div>

<script src="/static/js/sendmsg.js"></script>


{% endblock %}	
