{% extends 'sc-header.html' %}
{% set meta_title	= 'Soulcrafting - Professional Dashboard' %}
{% set meta_desc	= 'Soulcrafting - Professional Dashboard' %}

{% block header_css %}
	{{ super() }}
	{% assets 'master', 'scss_dashboard' %}<link rel='stylesheet' href='{{ASSET_URL}}'>{% endassets %}
{% endblock %}

{% block content %}
<section id='prodashboard' class='container-fluid'>
	<div id='request-references' class='ltc'>
		<h3 class='h4'>Request References</h3>

		<form id='review-request' method='POST' action='/review/request'>
			{{form.hidden_tag()}}

			<div class='form-group email'>
				{{form.invite_emails(type='email', class='form-control', autocomplete='off', placeholder="Add your client's email")}}
				<input id='send-requests' type='submit' class='blueButton' value='Send'>
			</div>
		</form>

		<h4 id='outstanding-title'>Outstanding Requests</h1>
		<div id='requests'>

			{% for brr in br_requests | sort(attribute='updated') %}
			<div class='request' data-id='{{brr.br_uuid}}' data-email='{{brr.br_req_mail}}'>
				<div class='details'>
					<div class='request-mail'> {{brr.br_req_mail}} </div>
					<div class='request-sent'> {{brr.updated.strftime('%A, %b %d %Y')}}  </div>
				</div>
				<div class='resend'> <div class='btn blueButton'>RESEND</div> </div>
			</div>
			{% endfor %}

		</div>
	</div>
</section>
{% endblock %}


{% block scripts %}
	{{ super() }}
	{%- assets 'js_dashboard' %}<script src='{{ASSET_URL}}'></script>{%- endassets %}
{% endblock %}
