{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/dashboard.css">
	<!-- CAH: I have no idea what's in dashboard.js - I just moved all scripts from the file there. -->
	<script type="text/javascript" src="/static/js/dashboard.js"></script>
	<!-- CAH: Please see which of these we can delete or move to dashboard.js -->
	<script src="/static/js/maps.js"></script>
	<script src="/static/js/format.js"></script>
	<script src="/static/js/slot_expand.js"></script>
	<script src="/static/js/calendar.js"></script>
	<script src="/static/js/calendar1.js"></script>
	<script src="/static/js/tab_switch.js"></script>
	<script src="/static/js/moment.min.js"></script>
{% endblock %}

{% block content %}

<div class="dashboardContentWrapper">

	<div class="dashboardLeftColumn">

		<div class="dashboardOffers">
			<h1>Pending Offers (2)</h1>
			
			<div class="dashboardOffer">
				<div class="dashboardOfferLeftColumn">
					<img src="/static/img/skater.jpg">
				</div>
				<div class="dashboardOfferCenterColumn">
					<h3>John Doe</h3>
					<h4>Skateboarding Specialist</h4>
					<div class="dashboardOfferIntro">“Hi Jenn! I’d like to meet up with you and get an introducory lesson in latte art. Do you think an hour will suffice?”</div>
				</div>
				<div class="dashboardOfferRightColumn">
					<div class="dashboardOfferRightColumnInfo">
						You were offered $25.
					</div>
					<div class="dashboardOfferRightColumnInfo">
						April 27, 2014<br>
						5:00 PM - 6:00 PM
					</div>
					<div class="dashboardOfferRightColumnInfo">
						102 S Hall Rd, Berkeley, CA 94720<a href="#"> (see map)</a>
					</div>
					<input type="button" class="redButton" value="Reject">
					<input type="button" class="blueButton" value="Accept">

				</div>
				<div class="clear"></div>
			</div>

			<div class="dashboardOffer">
				<div class="dashboardOfferLeftColumn">
					<img src="/static/img/farmer.jpg">
				</div>
				<div class="dashboardOfferCenterColumn">
					<h3>John Zacharakis</h3>
					<h4>Urban Farmer</h4>
					<div class="dashboardOfferIntro">“Here's some Borat Ipsum for CAH: America national sport is called baseballs. It very similar to our sport, shurik, where we take dogs, shoot them in a field, and then have a party.”</div>
				</div>
				<div class="dashboardOfferRightColumn">
					<div class="dashboardOfferRightColumnInfo">
						You offered $25.
					</div>
					<div class="dashboardOfferRightColumnInfo">
						April 27, 2014<br>
						5:00 PM - 6:00 PM
					</div>
					<div class="dashboardOfferRightColumnInfo">
						Bulevar oslobođenja 3, 11000 Belgrade, Serbia<a href="#"> (see map)</a>
					</div>
					<input type="button" class="redButton" value="Reject">
					<input type="button" class="blueButton" value="Accept">

				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="dashboardAppointments">
			<h2>Scheduled Appointments</h2>
			<div class="dashboardOffer">
				<div class="dashboardOfferLeftColumn">
					<img src="/static/img/skater.jpg">
				</div>
				<div class="dashboardOfferCenterColumn">
					<h3>John Doe</h3>
					<h4>Skateboarding Specialist</h4>
					<div class="dashboardOfferIntro">“Hi Jenn! I’d like to meet up with you and get an introducory lesson in latte art. Do you think an hour will suffice?”</div>
				</div>
				<div class="dashboardOfferRightColumn">
					<div class="dashboardOfferRightColumnInfo">
						You will pay $45.
					</div>
					<div class="dashboardOfferRightColumnInfo">
						April 27, 2014<br>
						5:00 PM - 6:00 PM
					</div>
					<div class="dashboardOfferRightColumnInfo">
						102 S Hall Rd, Berkeley, CA 94720<a href="#"> (see map)</a>
					</div>
					<input type="button" class="redButton" value="Cancel Appointment">
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>

	<div class="dashboardRightColumn">
		<a href="/profile">
			<img src="{{profile_img}}">
			<h3>{{bp.prof_name}}</h3>
		</a>
		<h4>{{bp.headline}}</h4>
		<div class="dashboardBasicInfo">
			<div class="dashboardInfoBox">{{bp.location}}</div>
			<div class="dashboardInfoBox">{{bp.industry}}</div>
			<div class="dashboardInfoBox">
				{% if bp.reviews == 0 %}
					No Reviews
				{% else %}
					{{ '%0.1f' | format(bp.rating|float) }} out of 5 stars <a href="#">({{bp.reviews}} Reviews)</a>
				{% endif %}
			</div>
		</div>
		<form method="link" action="/edit">
			<input type="submit" class="whiteButton" value="Edit Profile">
		</form>
	</div>



</div>

{% endblock %}
