{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/dashboard.css">
	{% assets "sass_foo" %}
		<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}"></script>
	{% endassets %}
	<script src="/static/js/format.js"></script>
	<script src="/static/js/moment.min.js"></script>
{% endblock %}


{% block content %}

{% if errmsg != none %}
<script>openAlertWindow('{{errmsg}}');</script>
{% endif %}

<div class="dashboardContentWrapper">
	<div class="dashboardLeftColumn">
		<div class="dashboardEmpty">
			<h1>Welcome to Insprite!</h1>
			<h2>This is your personal dashboard.</h2>
			<p>Once you start making bookings, your offers and lessons will be displayed on this page.</p>

			<p>Aenean tincidunt augue vitae eleifend pretium. Aliquam suscipit quis ipsum quis cursus. Vivamus tempus odio ac turpis ultrices porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam et malesuada libero, vel blandit mi. Duis vulputate, urna eget venenatis feugiat, massa ipsum sodales purus, vitae dictum diam odio id libero. In scelerisque iaculis tellus. Duis sed eros nec enim molestie fermentum.</p>
		</div>

		{% if bp.availability > 0 %}
			<div class="dashboardLessons">
				<h1>My Lessons</h1>
				{% for lesson in lessons %}
					{% if lesson.lesson_flags > 0 %}
					<div class="dashboardLesson" id="{{lesson.lesson_id}}">
						<div class="dashboardLessonLeftColumn">
						{% if lesson.lesson_flags == 1 %}
							Saved
						{% elif lesson.lesson_flags == 2 %}
							Private
						{% elif lesson.lesson_flags == 3 %}	
							Live
						{% else %}
							None
						{% endif %}
						</div>
						<div class="dashboardLessonCenterColumn">
							<h3><a href="/lesson/{{lesson.lesson_id}}">{{lesson.lesson_title}}</a></h3>
						</div>
						<div class="dashboardLessonRightColumn">
							<a href="/lesson/edit/{{lesson.lesson_id}}">EDIT</a>
						</div>
						<div class="clear"></div>	
					</div>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
		
		<div class="dashboardOffers">
			<h1>Pending Offers ({{proposals|length}})</h1>

			{% for proposal in proposals|sort(attribute='Proposal.prop_ts')  %}
			<div class="dashboardOffer" id="{{proposal.Proposal.prop_uuid}}">
				<div class="dashboardOfferLeftColumn">
					<a href="/profile?hero={{proposal.display.prof_id}}">
						<img src="https://s3-us-west-1.amazonaws.com/htfileupload/htfileupload/{{proposal.display.prof_img}}">
					</a>
				</div>
				<div class="dashboardOfferCenterColumn">
					<a href="/profile?hero={{proposal.display.prof_id}}">
						<h3>{{proposal.display.prof_name}}</h3>
					</a>
					<h4>{{proposal.display.headline}}</h4>
					<div class="dashboardOfferIntro italic">{{proposal.Proposal.prop_desc}}</div>
				</div>

				<div class="dashboardOfferRightColumn">
					<div class="dashboardOfferRightColumnInfo">
						{% if proposal.buyer == True %}
						You offered ${{proposal.Proposal.prop_cost}}.
						{% else %}
						You were offered ${{proposal.Proposal.prop_cost}}.
						{% endif %}
					</div>
					<div class="dashboardOfferRightColumnInfo">
					{% if proposal.timeout is defined %}Expires in {{proposal.timeout }}{% endif %}
					</div>

					<div class="dashboardOfferRightColumnInfo">
						{{proposal.Proposal.get_prop_ts().strftime('%A, %b %d')}}<br>
						{{proposal.Proposal.get_prop_ts().strftime('%H:%M %p')}} - {{proposal.Proposal.get_prop_tf().strftime('%H:%M %p')}}
					</div>

					<div class="dashboardOfferRightColumnInfo">
						{{proposal.Proposal.prop_place}}
						<div class="scheduleMap" id="map-canvas" data-uuid="{{proposal.Proposal.prop_uuid}}" data-location="{{proposal.Proposal.prop_place}}"></div>
					</div>
					{% if proposal.seller == true %}
					<input type="button" class="dashboardActionButton offerAccept" id="{{proposal.Proposal.prop_uuid}}" ch="{{proposal.Proposal.prop_cost}}" value="Accept Proposal">
					{% endif %}
					<input type="button" class="dashboardActionButton offerReject" data-id="{{proposal.Proposal.prop_uuid}}" ch="{{proposal.Proposal.prop_cost}}" value="Reject Proposal">
				</div>
				<div class="clear"></div>
			</div>
			{% endfor %}
		</div>

		<div class="dashboardAppts">
			<h1>Scheduled Lessons ({{appointments|length}})</h1>
			{% for appointment in appointments|sort(attribute='Proposal.prop_ts')  %}
			<div class="dashboardAppt" id="appt-{{appointment.Proposal.prop_uuid}}">
				<div class="dashboardApptLeftColumn">
					<a href="/profile?hero={{appointment.display.prof_id}}">
						<div class="appointmentSenderImage"><img src="https://s3-us-west-1.amazonaws.com/htfileupload/htfileupload/{{appointment.display.prof_img}}"></div>
					</a>
				</div>
				<div class="dashboardApptCenterColumn">
					<a href="/profile?hero={{appointment.display.prof_id}}">
						<h3>{{appointment.display.prof_name}}</h3>
					</a>
					<div class="appointmentIntro italic">{{appointment.Proposal.prop_desc}}</div>
				</div>
				<div class="dashboardApptRightColumn">
					<div class="dashboardApptRightColumnElement apptDate"> {{appointment.Proposal.prop_ts.strftime('%A, %b %d')}} </div>
					<div class="dashboardApptRightColumnElement apptTime"> {{appointment.Proposal.prop_ts.strftime('%H:%M %p')}} - {{appointment.Proposal.prop_tf.strftime('%H:%M %p')}} </div>

					<div class="dashboardApptRightColumnElement apptCost">
						{% if appointment.buyer == True %}
						You will pay ${{appointment.Proposal.prop_cost}}.
						{% else %}
						You will earn ${{appointment.Proposal.prop_cost}}.
						{% endif %}
					</div>

					<div class="dashboardApptRightColumnElement apptLocation">
						{{appointment.Proposal.prop_place}}
						<div class="scheduleMap" id="map-canvas" data-uuid="{{appointment.Proposal.prop_uuid}}" data-location="{{appointment.Proposal.prop_place}}" ></div>
					</div>

					<input type="button" class="dashboardActionButton redButton lessonCancel offerCancel" id="{{appointment.Proposal.prop_uuid}}" ch="{{appointment.Proposal.prop_cost}}" value="Cancel Lesson">
				</div>
				<div class="clear"></div>
			</div>
			{% endfor %}
		</div>

		<div class="dashboardAppts">
			<h1>Reviews ({{reviews|length}})</h1>
			{% for review in reviews|sort(attribute='Review.review_id')|reverse  %}
			<div class="dashboardAppt" id="review-{{review.Review.review_id}}">
				<p><a href='{{review.Review.get_review_url()}}'>Review Appointment</a></p>
				<div class="dashboardApptLeftColumn">
					<a href="/profile?hero={{review.display.prof_id}}">
						<div class="appointmentSenderImage"><img src="https://s3-us-west-1.amazonaws.com/htfileupload/htfileupload/{{review.display.prof_img}}"></div>
					</a>
				</div>
				<div class="dashboardApptCenterColumn">
					<a href="/profile?hero={{review.display.prof_id}}">
						<h3>{{review.display.prof_name}}</h3>
					</a>
					<div class="appointmentIntro italic">{{review.appt.prop_desc}}</div>
				</div>
				<div class="dashboardApptRightColumn">
					<div class="dashboardApptRightColumnElement apptDate">
						{{review.appt.prop_ts.strftime('%A, %b %d')}}
					</div>

					<div class="dashboardApptRightColumnElement apptTime">
						{{review.appt.prop_ts.strftime('%H:%M %p')}} - {{review.appt.prop_tf.strftime('%H:%M %p')}}
					</div>

					<div class="dashboardApptRightColumnElement apptCost"> </div>
				</div>
			</div>
			<div class="clear"></div>
			{% endfor %}

			<div class="clear"></div>
		</div>

		<div class="dashboardMessages">
			<h1>Messages ({{messages|length}})</h1>
			{% for msg in messages|sort(attribute='UserMessage.msg_created')|reverse  %}
			<div class="dashboardMessage" id="msg-{{msg.UserMessage.msg_id}}">
				<p></p>
				<div class="dashboardMessageLeftColumn">
					<a href="/profile?hero={{msg.display.prof_id}}">
						<div class="messageSenderImage"><img src="https://s3-us-west-1.amazonaws.com/htfileupload/htfileupload/{{msg.display.prof_img}}"></div>
						<div class="messageSenderName">{{msg.display.prof_name}}</div>
					</a>
				</div>
				<div class="dashboardMessageCenterColumn">
					<div class="messageSubjectLine">{{msg.UserMessage.msg_subject}}</div>
					<div class="messageIntro italic">{{msg.UserMessage.msg_content}}</div>
				</div>
				<div class="dashboardMessageRightColumn">
					<div class="messageDatetime">{{msg.UserMessage.msg_created.strftime('%b %d at %I:%M %p')}}</div>
					<div class="messageView"><a href="/inbox#thread?id={{msg.UserMessage.msg_thread}}"><button id="messageViewButton" class="whiteButton messageViewButton">View/Reply</button></a></div>
				</div>
				<div class="clear"></div>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="dashboardRightColumn">
		<a href="/profile"><img src="https://s3-us-west-1.amazonaws.com/htfileupload/htfileupload/{{bp.prof_img}}"></a>
		<a href="/profile"><h3>{{bp.prof_name}}</h3></a>
		<h4>{{bp.headline}}</h4>
		<div class="dashboardBasicInfo">
			<div class="dashboardInfoBox">{{bp.location}}</div>
			<div class="dashboardInfoBox">{{bp.industry}}</div>
			<div class="dashboardInfoBox">
				{% if bp.reviews == 0 %}
					No Reviews
				{% elif bp.reviews == 1 %}
					{{ '%0.1f' | format(bp.rating|float) }} out of 5 stars <a href="/profile?{{bp.prof_id}}#reviews">({{bp.reviews}} Review)</a>
				{% else %}
					{{ '%0.1f' | format(bp.rating|float) }} out of 5 stars <a href="/profile?{{bp.prof_id}}#reviews">({{bp.reviews}} Reviews)</a>
				{% endif %}
			</div>
		</div>
		<form method="link" action="/edit">
			<input type="submit" class="whiteButton" value="Edit Profile">
		</form>
	</div>

</div>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyCK69MRpXo5CQA6HgoPk0tZxqkDD-SkXXk"></script>
<script src="/static/js/maps.js"></script>
<script src="/static/js/sendmsg.js"></script>
<script>
$(document).ready(function() {
	google.maps.event.addDomListener(window, 'load', initialize_all_dashboard_maps);

    $('.offerAccept').click(function () {
        var id = this.id;
        var ch = $(this).attr("ch");

        var fd = new FormData();
        fd.append('proposal_id', id);
        fd.append('proposal_challenge', ch);

        var xhr = new XMLHttpRequest();
        xhr.open('post', "/meeting/accept", true);
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token() }}');
		xhr.send(fd);
		console.log('sent');

        xhr.onreadystatechange = function(e) {
            if (4 == this.readyState) {
                if (this.status == 200) {
                    console.log(['xhr post complete ', e]);
                    console.log(xhr.responseText);
                    openAlertWindow('Success.');
					window.location.href="/dashboard";
                } else if (this.status == 400) {
                    msg = JSON.parse(xhr.responseText);
                    console.log(['xhr post complete, err=400', e]);
                    openAlertWindow('Failure: ' + msg['usrmsg']);
                } else if (this.status == 500) {
                    msg = JSON.parse(xhr.responseText);
                    console.log(['xhr post complete, err=500', e]);
                    openAlertWindow('Failure: ' + msg['usrmsg']);
                } else {
                    msg = JSON.parse(xhr.responseText);
                    console.log(['xhr post complete, err=?? ', this.status,  e]);
                    openAlertWindow('Failure: ' + msg['usrmsg']);
                }
            }
        };
        return false;
    });


   $('.offerCancel').click(function () {
        var id = this.id;
        var ch = $(this).attr("ch");
		var sid = "#appt-" + id;

        var fd = new FormData();
        fd.append('proposal_id', id);
        fd.append('proposal_challenge', ch);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', "/meeting/cancel", true);
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token() }}');
        xhr.send(fd);

        //catch response. make modificaitons.
        xhr.onreadystatechange = function(e) {
            if (4 == this.readyState) {
                if (this.status == 200) {
                    console.log(['xhr post complete ', e]);
                    console.log(xhr.responseText);
					$(sid).remove();

					msg = JSON.parse(xhr.responseText);
					openAlertWindow(msg['usrmsg']);
                } else if (this.status == 400) {
                    console.log(['xhr post complete, err=400', e]);
					msg = JSON.parse(xhr.responseText);
                    openAlertWindow('Failure:' + ' ' + msg['usrmsg']);
                } else if (this.status == 500) {
                    console.log(['xhr post complete, err=500', e]);
					msg = JSON.parse(xhr.responseText);
                    openAlertWindow('Failure:' + ' ' + msg['usrmsg']);
                } else {
                    console.log(['xhr post complete, err=?? ', this.status,  e]);
                    openAlertWindow('Failure: ' + msg['usrmsg']);
                }
            }
        };
        return false;
    });


   $('.offerReject').click(function () {
        var id = $(this).data('id');
        var ch = $(this).attr("ch");

        var fd = new FormData();
        fd.append('proposal_id', id);
        fd.append('proposal_challenge', ch);

        var xhr = new XMLHttpRequest();
        xhr.open('post', "/meeting/reject", true);
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token() }}');
        xhr.send(fd);

        // catch response.  make modificaitons
        xhr.onreadystatechange = function(e) {
            if (4 == this.readyState) {
                msg = JSON.parse(xhr.responseText);
                if (this.status == 200) {
                    console.log(['xhr post complete', e]);
                    console.log(xhr.responseText);
                    openAlertWindow(msg['usrmsg']);
                    $('#'+id).remove();
                } else if (this.status == 500) {
                    console.log(['xhr post complete, err=500', e]);
                    openAlertWindow('Failure:' + msg['usrmsg']);
                } else {
                    console.log(['xhr post complete, err=??', this.status,  e]);
                    openAlertWindow('Failure:' + msg['usrmsg']);
                }
            }
        };

        return false;
    });

	$('.falseMap').click(function () {
		openAlertWindow('Sorry! Not available yet');
		return false;
	});

});

</script>

{% endblock %}
