{% extends 'sc_header.html' %}
{% set title='Edit your Soulcrafting project' %}

{% block header_css %}
	{{ super() }}
	<link rel="stylesheet" href="/static/css/modern_proj.css"><!-- contains dropzone overrides -->
	<link rel="stylesheet" href="/static/css/modern-business.css">
	<link rel="stylesheet" href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.0/fullcalendar.min.css'>
	<link rel="stylesheet" href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.0/fullcalendar.print.css' media='print'>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block header_js %}
	{{ super() }}
	<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
{% endblock %}



{% block content %}
<div id="dialog-confirm" title="">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>


<div class="editProfContentWrapper">

	<div class="editProfHeader">
		<div class="editProfHeaderLeft"> <a title="Go to your dashboard" href="/dashboard">To Dashboard</a> </div>
		<div class="editProfHeaderRight"> Project Information </div>
	</div>
  
  	<div class="editProfContentContainer">
		<div class="editProfFormPageContainer">
			<form id="editProfForm" method="post" action="/profile/update" enctype="multipart/form-data">
				{{form.hidden_tag()}}
				<div id="general" class="editProfFormPage">
					{{form.proj_id(placeholder="id") }}
					<div class="formContainer span12">
						<div class="formFieldInfo first">Name your project.</div>
						<div class="formFieldError"></div>
						{{form.proj_name(placeholder="Name", maxlength="40", class="formField span6")}}

						<div class="formFieldInfo">Where is your home?</div>
						<div class="formFieldError"></div>
						{{form.proj_addr(placeholder="Address", class="formField span6")}}

						<div class="formFieldInfo">How much are you willing to invest?</div>
						<div class="formFieldError"></div>
						{{form.proj_min(placeholder="$1000", maxlength="7", class="formField span5")}} &dash;
						{{form.proj_max(placeholder="$2000", maxlength="7", class="formField span5")}}

						<div class="formFieldInfo">What is your timeline?</div>
						<div class="formFieldError"></div>
						{{form.proj_timeline(placeholder="I'd like this to be done in the next six months.", class="formField span12")}}	

						<div class="formFieldInfo">Where are you investing in your home?</div>
						<div class="formFieldError"></div>
						{{form.proj_desc(placeholder="I'm looking to find new furniture for my living room.", class="formField span12")}}	

						<div class="formFieldInfo">What phone number are you available at?  We keep <em>NEVER</em> sell your data (includes your phone number). </div>
						<div class="formFieldError"></div>
						{{form.proj_contact(placeholder="(555) 303-1234", class="formField span4")}}

						<br>
						<br>
						<div class="formFieldInfo first">Schedule when you are available to have us call you.  It should take about 30 minutes.  All times are in Mountain Standard Time (MST).  </div>
						<fieldset id="editProfAvailTimes">
							<div class="editProfAvailDay">
								{{form.avail_day(id="day", class="daySelector")}} <label for="sun">What Day?</label>
								{{form.avail_time(class="formField timeSelector span2")}}
							</div> 	
						</fieldset>
					</div>

					<div class="editProfFormPageFooter">
						<div class="editProfFormButtonContainer">
							<button class="whiteButton editProfSave" data-current-page="general">Save</button>
						</div>
					</div>
					
				<!-- ending general, class=editProfFormPage"-->
				</div>
			</form>
			<!-- ending editProfFormPageContainer-->
			<div id='calendar'></div>
		</div>	
	  	<!-- ending editProfContentContainer-->
	</div>
	<!--div class="editProfContentWrapper"-->
</div>

{% endblock %}


{% block scripts %}
	{{ super() }}
	<script src="/static/js/edit_project.js"></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.js' ></script>
	<script>
	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev, today',
				center: 'title',
				right: 'next'
			},


			defaultView: 'agendaWeek',
			allDaySlot: false,
			minTime: '6:00:00',
			maxTime: '21:00:00',

			//events.
			eventDurationEditable: false,
			forceEventDuration: true,
			eventRender: function(event, element) {
				phone = $('#proj_contact').val(); 
				$(element).tooltip({title: 'Soulcrafting will call you at ' + phone + ' (30 min)'});
			},
			selectable: true,
			selectHelper: true,
			defaultTimedEventDuration: '00:30',
			//eventClick: function(calEvent, jsEvent, view) { },
			select: function(start, end) {
				var phone = $('#proj_contact').val(); 
				var newMeeting = {
					title: 'Phonecall with Soulcrafting: '+phone,
					start: start,
				};
				
				$('#calendar').fullCalendar('removeEvents');
				$('#calendar').fullCalendar('renderEvent', newMeeting, true); // stick? = true
				$('#calendar').fullCalendar('unselect');
			},
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [ ]
		});
		
	});
	</script>
{% endblock %}
