{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/edit_portfolio.css">
	<link type="text/css" rel="stylesheet" href="/static/css/lightbox.css">
	<script src="/static/js/lightbox.min.js"></script>
{% endblock %}

{% block content %}

<div class="editPortfolioWrapper">
	<div class="windowClose"><a href="/profile">&#x2715;</a></div>
	<h1>Edit Portfolio Images</h1>
	<a href="/profile"><i class="fa fa-arrow-left"> Back</i></a> | <a href="/upload_portfolio"><i class="fa fa-upload"> Upload </i></a> | <a href="#" onclick="savePortfolio()"><i class="fa fa-save"> Save Changes</i></a>
	<div class="editPortfolioStatus"></div>
	<div class="editPortfolioListContainer">
		<ul class="editPortfolioList">
			{% for img in portfolio|sort(attribute='img_order') %}

				<li class="editPortfolioListItem" order="{{img.img_order}}" orig_caption="{{img.img_comment}}">
					<div class="editPortfolioImageContainer">
						<div class="editPortfolioImageWrapper">
							<div class="header">
								<div class="img-delete">×</div>
							</div>
							<a href="https://s3-us-west-1.amazonaws.com/htfileupload/htfileupload/{{img.img_id}}" style="background: url('https://s3-us-west-1.amazonaws.com/htfileupload/htfileupload/{{img.img_id}}') no-repeat center center; background-size:cover;" data-lightbox="portfolio" data-title="{{img.img_comment}}" data-id="{{img.img_id}}" class="editPortfolioImage" ></a>

							<div class="caption">
								<textarea rows="3" cols="20" class='editPortfolioImageCaption' name='caption' maxlength='100' placeholder='Enter a caption'>{{img.img_comment}}</textarea>
							</div>
							<div class="save-button">
								<button class="editPortfolioSave whiteButton">Save Caption</button>
							</div>
						</div>
					</div>
				</li>

			{% endfor %}
		</ul>
	</div>
<div class="editPortfolioDone">
	<input id="csrf_token" type="hidden" value="{{ csrf_token() }}">
	<button type="button" class="blueButton editPortfolioDoneButton">
		Save Changes
	</button>
</div>
</div>

<script src="/static/js/edit_portfolio.js"></script>
<script>
</script>


{% endblock %}

