{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/modern_proj.css"><!-- contains dropzone overrides -->
{% endblock %}



{% block content %}
<div class="editProfContentWrapper">

	<div class="editProfHeader">
		<div class="editProfHeaderLeft"> <div class="editProfTopLeftNavigation"> <a title="Go to your dashboard" href="/dashboard">To Dashboard</a> </div> </div>
		<div class="editProfHeaderRight"> Project Information </div>
	</div>
  
  	<div class="editProfContentContainer">
		<div class="">
			<div class="editProfFormPageContainer">
  				<form id="editProfForm" method="post" action="/profile/update" enctype="multipart/form-data">

  				{{form.hidden_tag()}}

				<div id="general" class="editProfFormPage">
					{{form.proj_id(placeholder="id") }}
					<div class="formContainer span12">
						<div class="formFieldInfo first">Name your project.</div>
						<div class="formFieldError"></div>
						{{form.proj_name(placeholder="Name", maxlength="40", class="formField span6")}}

						<div class="formFieldInfo">Where is your home?</div>
						<div class="formFieldError"></div>
						{{form.proj_addr(placeholder="Address", class="formField span6")}}

						<div class="formFieldInfo">How much are you willing to invest?</div>
						<div class="formFieldError"></div>
						{{form.proj_min(placeholder="$1000", maxlength="7", class="formField span5")}} &dash;
						{{form.proj_max(placeholder="$2000", maxlength="7", class="formField span5")}}

						<div class="formFieldInfo">What is your timeline?</div>
						<div class="formFieldError"></div>
						{{form.proj_timeline(placeholder="I'd like this to be done in the next six months.", class="formField span12")}}	

						<div class="formFieldInfo">Where are you investing in your home?</div>
						<div class="formFieldError"></div>
						{{form.proj_desc(placeholder="I'm looking to find new furniture for my living room.", class="formField span12")}}	

						<div class="formFieldInfo">What phone number are you available at?  We keep <em>NEVER</em> sell your data (includes your phone number). </div>
						<div class="formFieldError"></div>
						{{form.proj_contact(placeholder="(555) 303-1234", class="formField span4")}}

						<br>
						<br>
						<br>
						<br>
						<div class="formFieldInfo first">Schedule when you are available to have us call you.  It should take about 30 minutes.  All times are in Mountain Standard Time (MST).  </div>
						<fieldset id="editProfAvailTimes">
							<div class="editProfAvailDay">
								{{form.edit_avail_day_sun(id="sun", class="daySelector")}} <label for="sun">Sunday</label>
								{{form.edit_avail_time_sun_start(class="formField timeSelector span2")}}
							</div> 	
							<div class="editProfAvailDay">
								{{form.edit_avail_day_mon(id="mon", class="daySelector")}} <label for="mon">Monday</label>
								{{form.edit_avail_time_mon_start(class="formField timeSelector span2")}}
							</div> 	
							<div class="editProfAvailDay">
								{{form.edit_avail_day_tue(id="tue", class="daySelector")}} <label for="tue">Tuesday</label>
								{{form.edit_avail_time_tue_start(class="formField timeSelector span2")}}
							</div> 						
							<div class="editProfAvailDay">
								{{form.edit_avail_day_wed(id="wed", class="daySelector")}} <label for="wed">Wednesday</label>
								{{form.edit_avail_time_wed_start(class="formField timeSelector span2")}}
							</div> 	
							<div class="editProfAvailDay">
								{{form.edit_avail_day_thu(id="thu", class="daySelector")}} <label for="thu">Thursday</label>
								{{form.edit_avail_time_thu_start(class="formField timeSelector span2")}}
							</div> 	
							<div class="editProfAvailDay">
								{{form.edit_avail_day_fri(id="fri", class="daySelector")}} <label for="fri">Friday</label>
								{{form.edit_avail_time_fri_start(class="formField timeSelector span2")}}
							</div> 	
							<div class="editProfAvailDay">
								{{form.edit_avail_day_sat(id="sat", class="daySelector")}} <label for="sat">Saturday</label>
								{{form.edit_avail_time_sat_start(class="formField timeSelector span2")}}
							</div> 	
						</fieldset>
					</div>

					<div class="editProfFormPageFooter">
						<div class="editProfFormButtonContainer">
							<button class="whiteButton editProfSave" data-current-page="general">Save</button>
						</div>
					</div>
				</div>

				</form>
			</div>	

	</div><!--empty, container-->
</div>

<script src="/static/js/edit_project.js"></script>
{% endblock %}
