{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/edit.css">
	<script type="text/javascript" src="/static/js/edit.js"></script>
{% endblock %}

{% block content %}

<script src="static/js/format.js"></script>

<div class="editContentWrapper">

	<form method="post" action="/edit" id="editform" enctype="multipart/form-data">
	
		{{form.hidden_tag()}}

		<div class="editPhoto">
			<h2>Profile Picture</h2>
			<img id="profile_img" src={{photoURL}} />
			<p>For best results, please make sure the image is at least 950 pixels wide and 534 pixels high.</p>
			{{form.edit_photo(id="change-photo-button")}}
			<input type="button" class="whiteButton" id="editChooseImage" value="Choose Image...">
		</div>

		<div class="editBasicInfo">
			<h2>Basic Information</h2>
			{{form.edit_name(placeholder="Name", maxlength="40")}}
			{{form.edit_headline(placeholder="Profile Headline")}}
			{{form.edit_rate(maxlength="7", onkeypress="return isNumberKey(event)")}}
			{{form.edit_industry(placeholder="Industry")}}
			{{form.edit_location(placeholder="Location")}}
			{{form.edit_url(placeholder="Website")}}
			<div class="editRateDollars">$</div>
			<div class="editRatePerHour">per hour</div>
		</div>

		<div class="editAboutMe">
			<h2>Your Story</h2>
			{{form.edit_bio}}
		</div>


		<div id="edit-save-wrap">
			<input type="submit" id="edit-save" class="blueButton" value="Save changes">
		</div>

		<div class="editBackToProfile">
			<a href="#" onclick="document.getElementById('h').value='{{bp.prof_id}}'; document.p.submit();">Back to Profile</a>
		</div>
	</form>

</div>

<!-- Bottom bar -->

{% endblock %}
