{% extends "sc_header.html" %}
{% set title='Soulcrafting' %}

{% block header_css %}
	{{ super() }}
	<link rel="stylesheet" href="/static/css/sc-gift.css">
	<link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block content %}
<div id='lp-masthead'>
	<div class='darken'></div>
	<div class='container masthead-center'>
		<p>{{bp.prof_name}} gave you $150 to invest in your home.</p>
		<br>
		<p class='text-smaller'>{{bp.prof_name}} invited you to join Soulcrafting, the best way to make home improvements.</p>
		<p> <a id='lp-credit' class="btn jumbotron-btn lp-btn" href='/signup?credit=yes'>Sign up to claim credit</a> </p>
	</div>
</div>


<section id='project-ideas' class='container text-center'>
	<h1 class='lead'>Project Ideas</h1>

	<div id='idea-list'>
		<div class='idea'>
			<div class='dark'> <p>AirBnB Conversion</p> </div>
			<img class="img-responsive" src="/static/img/idea-conversion.jpg">
		</div>
		<div class='idea'>
			<div class='dark'> <p>Custom Furniture</p> </div>
			<img class="img-responsive" src="/static/img/idea-furniture.jpg">
		</div>
		<div class='idea'>
			<div class='dark'> <p>Update Deck</p> </div>
			<img class="img-responsive" src="/static/img/idea-deck.jpg">
		</div>
		<div class='idea'>
			<div class='dark'> <p>Kitchen Remodel</p> </div>
			<img class="img-responsive" src="/static/img/kitchen-red.jpg">
		</div>
	</div>
</section>


<section id='how-it-works' class="container text-center">
	<h1 class='lead'>How it Works</h1>
	<div class="col-xs-12 col-sm-4 text-center">
		<div class="panel-heading"><h1><i class="icon ion-hammer"></i></h1></div>
		<div class="container-fluid"> <p><b>Craftsmanship</b><br> We'll help you find the right experts from our community of master craftspeople.</p> </div>
	</div>

	<div class="col-xs-12 col-sm-4 text-center">
		<div class="panel-heading"> <h1><i class="fa fa-fw fa-heart"></i></h1></div>
		<div class="container-fluid"> <p><b>Peace of Mind</b><br> Your Soulcrafting concierge is a knowledgeable project manager committed to your success.</p> </div>
	</div>

	<div class="col-xs-12 col-sm-4 text-center">
		<div class="panel-heading"><h1><i class="fa fa-fw fa-dollar"></i></h1></div>
		<div class="container-fluid"><p><b>Savings</b><br>You'll save money by hiring craftspeople directly and managing parts of the project yourself.</p> </div>
	</div>
</section>

{% endblock %}




{% block scripts %}
	{{ super() }}
{% endblock %}
