<!DOCTYPE html>
<html>
<head>
	<title>HeroTime {{title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	

	<link rel="icon" type="image/ico" href="/static/img/favicon.png">

	{% block head %}

	<!-- Import Open Sans from Google Fonts (may be unnecessary if we drop the font -->
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

	<!-- CSS reset -->
	<link type="text/css" rel="stylesheet" href="/static/css/reset.css">

	<!-- Master sheets for responsive design -->
	<link type="text/css" rel="stylesheet" href="/static/css/master.css">
	<link type="text/css" rel="stylesheet" href="/static/css/header.css">
	<link type="text/css" rel="stylesheet" href="/static/css/footer.css">

	<!-- SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
	<!--script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCw0tT-P7_E_rfkEsdY-w7MMLCy84Jthtg&sensor=false&libraries=places"></script-->

	<script src="/static/js/modal_windows.js"></script>	

	{% endblock %}


	<!--<link type="text/css" rel="stylesheet" href="/static/css/dashboard.css">-->
	<link type="text/css" rel="stylesheet" href="/static/css/calendar.css">

	{% if jsfiles %}
	{% for file in jsfiles %}<script type="text/javascript" src="{{file}}"></script>{% endfor %}
	{% endif %}

	<script>

		// [All pages] Sticky footer (Mar 2014, replaces whatever else we had before)

		// Window load event used just in case window height is dependant upon images
		$(window).bind("load", function() { 
		       
		       var footerHeight = 0,
		           footerTop = 0,
		           $footer = $("#footer");
		           
		       positionFooter();
		       
		       function positionFooter() {
		       
		                footerHeight = $footer.height();
		                footerTop = ($(window).scrollTop()+$(window).height()-footerHeight)+"px";
		                
		                /* DEBUGGING STUFF
		                
		                console.log("Document height: ", $(document.body).height());
		                console.log("Window height: ", $(window).height());
		                console.log("Window scroll: ", $(window).scrollTop());
		                console.log("Footer height: ", footerHeight);
		                console.log("Footer top: ", footerTop);
		                console.log("-----------") */
		                
		               
		       
		               if ( ($(document.body).height()+footerHeight) < $(window).height()) {
		                   $footer.css({
		                        position: "absolute"
		                   }).stop().animate({
		                        top: footerTop
		                   })
		               } else {
		                   $footer.css({
		                        position: "static"
		                   })
		               }
		               
		       }

		       $(window)
		               .scroll(positionFooter)
		               .resize(positionFooter)
		               
		});

		
		$(document).ready(function() {

			// [All pages] Off-canvas navigation slider
			$('.headerGraphicalMenu').click(function() {
				$('.pageWrapper').toggleClass('pageWrapperSlide');
			});

			// [All pages] Allow clicking instead of :hover for dropdown menus
		    $('.headerDropdownMenuName').click( function(event){
		        event.stopPropagation();
		        $('.headerDropdownMenuActive').toggle();
		    });

		    $(document).click( function(){
		        $('.headerDropdownMenuActive').hide();
		    });

			// [Search] On mobile, toggle search options on/off
			$('.searchOptionsMenu').click(function() {
				$('.searchOptions').toggleClass('searchOptionsOn');
			});
		});
	</script>
</head>

<body>
	<form name='p' action=/profile method=POST><input type="hidden" id="h" name="hero"></form>

	<!-- MODAL WINDOWS -->
	<!-- When a model window is open, the user can click the transparent black overlay to close it. -->
			
	<div class="alertOverlay" onclick="closeAlertWindow();"></div>
			
	<div class="alertWindowWrap">
		<div class="alertWindow">
			<div class="alertMessage"></div>
			<div class="alertButtonWrap">
				<div class="alertButton" onclick="closeAlertWindow()">OK</div>
			</div>
		</div>
	</div>

	<div class="menu">
		<form name="srchForm" action="search" method="POST" onsubmit="return searchBar()">
			<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
			<input name="search" id="menuSearch" type="text" autocomplete="off">
		</form>
		<ul>

			{% if bp %}
			<li id="menuUserName">{{bp.prof_name}}</li>
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/settings">Settings</a></li>
			<li><a href="/logout">Log Out</a></li>

			{% else %}
			<li><a href="/signup">Signup</a></li>
			<li><a href="/login">Login</a></li>
			{% endif %}
		</ul>
	</div>

	<div class="pageWrapper"><!-- Page wrapper starts here -->

		<!-- HEADER -->
		<!-- Header starts here -->
		<div class="headerBackground">
			<!-- Content wrapper contains all header elements in necessary width -->
			<div class="headerContentWrapper">

				<!-- HEADER LOGO -->
				<!-- If the user is logged in, open Dashboard; otherwise, open home page -->
				{% if bp %}<a class="headerLogo" href="/dashboard">
				{% else %}<a class="headerLogo" href="/">
				{% endif %}
				</a>

				<form name="srchForm" action="search" method="POST" onsubmit="return searchBar()">
					<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
					<input name="search" id="headerSearch" type="text" autocomplete="off">
				</form>

				<!-- HEADER MENU -->
				{% if bp %}
				<div class="headerGraphicalMenu"></div>

				<ul class="headerDropdownMenu">
					<li class="headerDropdownMenuName">{{bp.prof_name}}
						<ul class="headerDropdownMenuActive">
							<a href="/dashboard"><li>Dashboard</li></a>
							<a href="/profile"><li>Profile</li></a>
							<a href="/settings"><li>Settings</li></a>
							<a href="/logout"><li>Log Out</li></a>
						</ul>
					</li>
				</ul>


				{% else %}
				<div class="headerGraphicalMenu"></div>
				<ul class="headerTextMenu">
					<li><a href="/signup">Signup</a></li>
					<li><a href="/login">Login</a></li>
				</ul>

				{% endif %}

			</div>
			<div id="top-flash">
				<span id="fmsg"></span>
			</div>
		</div>
		<!-- Header ends here -->

		
		{% block content %}
		{% endblock %}

	<div class="clear"></div>
	</div><!-- Page wrapper ends here -->

	<!-- Footer starts here -->
	<div id="footer">
		<div class="footerContentWrapper">
			<div class="footerMenu">
				<ul>
					<li><a href="/terms">Terms &amp; Privacy</a> |</li>
					<li><a href="mailto:team@herotime.co">Contact</a></li>
				</ul>
			</div>
				<!-- <ul>
					<li><a href="http://www.linkedin.com/company/herotime">LinkedIn</a> |</li>
					<li><a href="https://www.facebook.com/pages/HeroTime/545914632110849">Facebook</a> |</li>
					<li><a href="https://plus.google.com/u/0/117608740634064140119">Google+</a> |</li>
					<li><a href="https://twitter.com/HeroTimeCo">Twitter</a> |</li>
					<li><a href="http://www.youtube.com/channel/UCIgliSHZYHZNAdJqpjeUTVw/feed?view_as=public">YouTube</a></li>
				</ul> -->
			<div class="footerCopyright">
				Copyright © 2013-<script>document.write(new Date().getFullYear())</script> HeroTime
			</div>
		</div>
	</div><!-- Footer ends here -->

	<script>
	$(function () {
		function rp(id) {
			document.getElementById('h').value=id;
			document.p.submit();
		}
	});

	$(function () {
		function searchBar() {
			var x=document.forms["srchForm"]["search"].value;
			if (x==null || x=="") { return false; }
			return true;
		}
	});
	</script>

</body>
</html>
