
<!DOCTYPE html>
<html>
<head>
	<title>HeroTime </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	

	<link rel="icon" type="image/ico" href="/static/img/favicon.png">

	
	
	
	<!-- STYLESHEETS -->

	<!-- Import Open Sans from Google Fonts-->
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

	<!-- CSS reset -->
	<link type="text/css" rel="stylesheet" href="/static/css/reset.css">

	<!-- Master sheets for responsive design (eventually combine them into one?) -->
	<link type="text/css" rel="stylesheet" href="/static/css/master.css">
	<link type="text/css" rel="stylesheet" href="/static/css/header.css">
	<link type="text/css" rel="stylesheet" href="/static/css/footer.css">

	
	<link type="text/css" rel="stylesheet" href="/static/css/index.css">



	<!--<link type="text/css" rel="stylesheet" href="/static/css/dashboard.css">-->
	<link type="text/css" rel="stylesheet" href="/static/css/calendar.css">

	
	<!-- SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
	<script src="/static/js/modal_windows.js"></script>
	
	<!-- Not sure if we need this once we finish separate CSS for each page -->
	

	<script>

		// [All pages] Sticky footer (Mar 2014, replaces whatever else we had before)

		// Window load event used just in case window height is dependant upon images
		$(window).bind("load", function() { 
		       
		       var footerHeight = 0,
		           footerTop = 0,
		           $footer = $("#footer");
		           
		       positionFooter();
		       
		       function positionFooter() {
		       
		                footerHeight = $footer.height();
		                footerTop = ($(window).scrollTop()+$(window).height()-footerHeight)+"px";
		                
		                /* DEBUGGING STUFF
		                
		                console.log("Document height: ", $(document.body).height());
		                console.log("Window height: ", $(window).height());
		                console.log("Window scroll: ", $(window).scrollTop());
		                console.log("Footer height: ", footerHeight);
		                console.log("Footer top: ", footerTop);
		                console.log("-----------") */
		                
		               
		       
		               if ( ($(document.body).height()+footerHeight) < $(window).height()) {
		                   $footer.css({
		                        position: "absolute"
		                   }).stop().animate({
		                        top: footerTop
		                   })
		               } else {
		                   $footer.css({
		                        position: "static"
		                   })
		               }
		               
		       }

		       $(window)
		               .scroll(positionFooter)
		               .resize(positionFooter)
		               
		});

		
		$(document).ready(function() {

			// [All pages] Off-canvas navigation slider
			$('.headerGraphicalMenu').click(function() {
				$('.pageWrapper').toggleClass('pageWrapperSlide');
			});

			// [Login] On load, show full content on high resolutions
			if ($('.loginSwitch').css('display') == 'none') {
				$('.loginEmail').show();
				$('.loginSocial').show();
			}

			// [Login] On resize, show full content on high resolutions
			$(window).resize(function() {	
				if ($('.loginSwitch').css('display') == 'none') {
					$('.loginEmail').show();
					$('.loginSocial').show();
				}

				else if ($('.loginSwitch').css('display') !== 'none') {
					$('.loginEmail').show();
					$('.loginSocial').hide();
				}
			});


			// [Login] Switch to email login
			$('.loginSwitchEmail').click(function() {

				// If not highlighted, make it so
				if (!$(this).hasClass('loginSwitchActive')) {
					$(this).toggleClass('loginSwitchActive');
				}

				// Take away the highlight from the other tab
				if ($('.loginSwitchSocial').hasClass('loginSwitchActive')) {
					$('.loginSwitchSocial').toggleClass('loginSwitchActive');
				}

				// Hide the social login and show email login
				$('.loginSocial').hide();
				$('.loginEmail').show();	
			});


			// [Login] Switch to social login
			$('.loginSwitchSocial').click(function() {

				// If not highlighted, make it so
				if (!$(this).hasClass('loginSwitchActive')) {
					$(this).toggleClass('loginSwitchActive');
				}
				// Take away the highlight from the other tab
				if ($('.loginSwitchEmail').hasClass('loginSwitchActive')) {
					$('.loginSwitchEmail').toggleClass('loginSwitchActive');
				}

				// Hide the email login and show social login
				$('.loginEmail').hide();
				$('.loginSocial').show();

			});


			// [Signup] On load, show full content on high resolutions
			if ($(".signupSwitch").css("display") == "none") {
				$('.signupEmail').show();
				$('.signupSocial').show();
			}

			// [Signup] On resize, show full content on high resolutions
			$(window).resize(function() {	
				if ($(".signupSwitch").css("display") == "none") {
					$('.signupEmail').show();
					$('.signupSocial').show();
				}

				else if ($(".signupSwitch").css("display") !== "none") {
					$('.signupEmail').show();
					$('.signupSocial').hide();
				}
			});


			// [Signup] Switch to email signup
			$('.signupSwitchEmail').click(function() {

				// If not highlighted, make it so
				if (!$(this).hasClass('signupSwitchActive')) {
					$(this).toggleClass('signupSwitchActive');
				}

				// Take away the highlight from the other tab
				if ($('.signupSwitchSocial').hasClass('signupSwitchActive')) {
					$('.signupSwitchSocial').toggleClass('signupSwitchActive');
				}

				// Hide the social signup and show email signup
				$('.signupSocial').hide();
				$('.signupEmail').show();
						
			});


			// [Signup] Switch to social signup
			$('.signupSwitchSocial').click(function() {

				// If not highlighted, make it so
				if (!$(this).hasClass('signupwitchActive')) {
					$(this).toggleClass('signupSwitchActive');
				}
				// Take away the highlight from the other tab
				if ($('.signupSwitchEmail').hasClass('signupSwitchActive')) {
					$('.signupSwitchEmail').toggleClass('signupSwitchActive');
				}

				// Hide the email signup and show social signup
				$('.signupEmail').hide();
				$('.signupSocial').show();

			});
		});
	</script>
</head>

<body>
	<form name='p' action=/profile method=POST><input type="hidden" id="h" name="hero"></form>

	<!-- MODAL WINDOWS -->
	<!-- When a model window is open, the user can click the transparent black overlay to close it. -->
			
	<div class="alertOverlay" onclick="closeAlertWindow();"></div>
			
	<div class="alertWindowWrap">
		<div class="alertWindow">
			<div class="alertMessage"></div>
			<div class="alertButtonWrap">
				<div class="alertButton blueButton" onclick="closeAlertWindow()">OK</div>
			</div>
		</div>
	</div>

	<div class="menu">
		<form name="srchForm" action="search" method="POST" onsubmit="return searchBar()">
			<input name="csrf_token" type="hidden" value="1397006779.97##4301cfaf7ddcbe44d1ceed578cd9b839dd677edc">
			<input name="search" id="menuSearch" type="text" autocomplete="off">
		</form>
		<ul>

			
			<li><a href="/signup">Signup</a></li>
			<li><a href="/login">Login</a></li>
			
		</ul>
	</div>

	<div class="pageWrapper"><!-- Page wrapper starts here -->

		<!-- HEADER -->
		<!-- Header starts here -->
		<div class="headerBackground">
			<!-- Content wrapper contains all header elements in necessary width -->
			<div class="headerContentWrapper">

				<!-- HEADER LOGO -->
				<!-- If the user is logged in, open Dashboard; otherwise, open home page -->
				<a href="/">
					<div class="headerLogo"></div>
				</a>

				<form name="srchForm" action="search" method="POST" onsubmit="return searchBar()">
					<input name="csrf_token" type="hidden" value="1397006779.97##4301cfaf7ddcbe44d1ceed578cd9b839dd677edc">
					<input name="search" id="headerSearch" type="text" autocomplete="off">
				</form>

				<!-- HEADER MENU -->
				

				{% if bp %}
				<div class="headerGraphicalMenu"></div>

				<ul class="headerDropdownMenu">
					<li class="headerDropdownMenuName">{{bp.prof_name}}
						<ul>
							<a href="/dashboard"><li>Dashboard</li></a>
							<a href="/profile"><li>Profile</li></a>
							<a href="/settings"><li>Settings</li></a>
							<a href="/logout"><li>Log Out</li></a>
						</ul>
					</li>
				</ul>


				{% else %}
				<div class="headerGraphicalMenu"></div>
				<ul class="headerTextMenu">
					<li><a href="/signup">Signup</a></li>
					<li><a href="/login">Login</a></li>
				</ul>

				{% endif %}

				
				</div>
				<div id="top-flash">
					<span id="fmsg"></span>
				</div>
		</div>
		<!-- Header ends here -->

		
		

<div class="indexCover">

	<div class="indexCoverContentWrapper">

		<div class="indexCoverHeading">
			<h1>NEED A HAND?</h1>
			<h2>Learn from lifestyle experts in your local community.</h2>
		</div>

		<div class="indexCoverSearch">
			<form name="indexSearch" action="search" method="POST" onsubmit="return searchBar()">
				<input name="csrf_token" type="hidden" value="1397006779.97##4301cfaf7ddcbe44d1ceed578cd9b839dd677edc">
				<input name="search" type="text" autocomplete="off" placeholder="Search for the expertise you need">
				<input class="blueButton" type="submit" value="Search">
			</form>
		</div>
	</div>

</div>

<div class="indexMobileSearch">
	<form name="indexSearch" action="search" method="POST" onsubmit="return searchBar()">
		<input name="csrf_token" type="hidden" value="1397006779.97##4301cfaf7ddcbe44d1ceed578cd9b839dd677edc">
		<input name="search" type="text" autocomplete="off" placeholder="Search for the expertise you need">
		<input class="blueButton" type="submit" value="Search">
	</form>
</div>

<div class="indexContentWrapper">
	<div class="indexSharePassion">Are you passionate about your area of expertise? <a href="/signup">Share your interest with others!</a></div>

<!-- 	<div class="indexBlurbWrapper">

		<div class="indexBlurb">
			<h2>Where Do You Find an Autoharp Virtuoso Who Speaks Chinese When You Need One?</h2>
			<br>
			<p>Well, one actually happens to live down the street, in the green building three blocks away from you. He could be at your place for the first lesson in fifteen minutes. By the way, the guy is awesome at wet sanding and buffing, too. (His YouTube tutorial has five million views.) But you've already seen that on his profile here, haven't you?
			<br><br>
			<strong>We help you schedule in-person meetings with trusted local specialists whose expertise you need to enrich your busy life.</strong>

		</div>

		<div class="indexCategories">
			<a href="#">Arts/Design</a><br>
			<a href="#">Beauty/Style</a><br>
			<a href="#">Food</a><br>
			<a href="#">Music</a><br>
			<a href="#">Sports</a><br>
			<a href="#">Spirituality</a><br>
			<a href="#">Technology</a><br>
			<a href="#">Travel/Leisure</a><br>
			<a href="#">Wellness</a><br>
		</div>
	</div>
	
	<div class="clear"></div> -->

	<div class="indexFeatures">
		<!-- CAH: Each of the following should be linked to the search results page for that category -->
		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_arts.jpg">
				<h2>Arts &amp; Design</h2>
			</a>
			<p>Every artist in the world was first an amateur. Take your first steps.</p>
		</div>

		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_sports.jpg">
				<h2>Athletics &amp; Sports</h2>
			</a>
			<p>Stretch and reach your goals.</p>
		</div>

		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_style.jpg">
				<h2>Beauty &amp; Style</h2>
			</a>
			<p>Take a cue from Madonna, express yourself.</p>
		</div>

		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_food.jpg">
				<h2>Food</h2>
			</a>
			<p>Improve your skills and kitchen know-how.</p>
		</div>

<!-- 		<div class="indexFeature">
			<a href="#">
				<img class="indexFeaturePic" src="/static/img/category_wellness.jpg">
				<h2>Health &amp; Wellness</h2>
			</a>
			<p>Two-way reviews, social integration, and more for your peace of mind.</p>
		</div> -->

		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_music.jpg">
				<h2>Music</h2>
			</a>
			<p>Find your inner Beethoven.</p>
		</div>

		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_spirituality.jpg">
				<h2>Spirituality</h2>
			</a>
			<p>Search for your calm inner spirit.</p>
		</div>

		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_tech.jpg">
				<h2>Technology</h2>
			</a>
			<p>Software is eating the world. Join the feast.</p>
		</div>

		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_travel.jpg">
				<h2>Travel &amp; Leisure</h2>
			</a>
			<p>There is a big world out there. Learn how to explore it.</p>
		</div>
		
	</div>




	<div class="clear"></div>

</div>

<div class="clear"></div>



	
	</div><!-- Page wrapper ends here -->

	<!-- Footer starts here -->
	<div id="footer">
		<div class="footerContentWrapper">
			<div class="footerLogo"></div>
			<div class="footerMenu">
				<ul>
					<li><a href="/terms">Terms &amp; Privacy</a> |</li>
					<li><a href="/dmca">DMCA</a> |</li>
					<li><a href="mailto:team@herotime.co">Contact</a></li>
				</ul>
			</div>
				<!-- <ul>
					<li><a href="http://www.linkedin.com/company/herotime">LinkedIn</a> |</li>
					<li><a href="https://www.facebook.com/pages/HeroTime/545914632110849">Facebook</a> |</li>
					<li><a href="https://plus.google.com/u/0/117608740634064140119">Google+</a> |</li>
					<li><a href="https://twitter.com/HeroTimeCo">Twitter</a> |</li>
					<li><a href="http://www.youtube.com/channel/UCIgliSHZYHZNAdJqpjeUTVw/feed?view_as=public">YouTube</a></li>
				</ul> -->
			<div class="footerCopyright">
				Copyright © 2013-<script>document.write(new Date().getFullYear())</script> HeroTime Inc.
			</div>
		</div>
	</div><!-- Footer ends here -->

	<script>
	$(function () {
		function rp(id) {
			document.getElementById('h').value=id;
			document.p.submit();
		}
	});

	$(function () {
		function searchBar() {
			var x=document.forms["srchForm"]["search"].value;
			if (x==null || x=="") { return false; }
			return true;
		}
	});
	</script>

</body>
</html>
