{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/index.css">

{% endblock %}

{% block content %}

<div class="indexCover">

	<div class="indexCoverContentWrapper">

		<div class="indexCoverHeading">
			<h1>NEED A HAND?</h1>
			<h2>Learn from lifestyle experts in your local community.</h2>
		</div>

		<div class="indexCoverSearch">
			<form name="indexSearch" action="search" method="POST" onsubmit="return searchBar()">
				<input name="csrf_token" type="hidden" value="1397006779.97##4301cfaf7ddcbe44d1ceed578cd9b839dd677edc">
				<input name="search" type="text" autocomplete="off" placeholder="Search for the expertise you need">
				<input class="blueButton" type="submit" value="Search">
			</form>
		</div>
	</div>

</div>

<div class="indexMobileSearch">
	<form name="indexSearch" action="search" method="POST" onsubmit="return searchBar()">
		<input name="csrf_token" type="hidden" value="1397006779.97##4301cfaf7ddcbe44d1ceed578cd9b839dd677edc">
		<input name="search" type="text" autocomplete="off" placeholder="Search for the expertise you need">
		<input class="blueButton" type="submit" value="Search">
	</form>
</div>

<div class="indexContentWrapper">
	<div class="indexSharePassion">Are you passionate about your area of expertise? <a href="/signup">Share your interest with others!</a></div>

<!-- 	<div class="indexBlurbWrapper">

		<div class="indexBlurb">
			<h2>Where Do You Find an Autoharp Virtuoso Who Speaks Chinese When You Need One?</h2>
			<br>
			<p>Well, one actually happens to live down the street, in the green building three blocks away from you. He could be at your place for the first lesson in fifteen minutes. By the way, the guy is awesome at wet sanding and buffing, too. (His YouTube tutorial has five million views.) But you've already seen that on his profile here, haven't you?
			<br><br>
			<strong>We help you schedule in-person meetings with trusted local specialists whose expertise you need to enrich your busy life.</strong>

		</div>

		<div class="indexCategories">
			<a href="#">Arts/Design</a><br>
			<a href="#">Beauty/Style</a><br>
			<a href="#">Food</a><br>
			<a href="#">Music</a><br>
			<a href="#">Sports</a><br>
			<a href="#">Spirituality</a><br>
			<a href="#">Technology</a><br>
			<a href="#">Travel/Leisure</a><br>
			<a href="#">Wellness</a><br>
		</div>
	</div>
	
	<div class="clear"></div> -->

	<div class="indexFeatures">
		<!-- CAH: Each of the following should be linked to the search results page for that category -->
		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_arts.jpg">
				<h2>Arts &amp; Design</h2>
			</a>
			<p>Every artist in the world was first an amateur. Take your first steps.</p>
		</div>

		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_style.jpg">
				<h2>Beauty &amp; Style</h2>
			</a>
			<p>Take a cue from Madonna, express yourself.</p>
		</div>

		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_food.jpg">
				<h2>Food</h2>
			</a>
			<p>Improve your skills and kitchen know-how.</p>
		</div>

		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_home.jpg">
				<h2>Home &amp; Garden</h2>
			</a>
			<p>Improve your skills and kitchen know-how.</p>
		</div>

		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_music.jpg">
				<h2>Music</h2>
			</a>
			<p>Find your inner Beethoven.</p>
		</div>

		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_sports.jpg">
				<h2>Sports &amp; Fitness</h2>
			</a>
			<p>Stretch and reach your goals.</p>
		</div>

		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_tech.jpg">
				<h2>Technology</h2>
			</a>
			<p>Software is eating the world. Join the feast.</p>
		</div>

		<div class="indexFeature">
			<a href="/search">
				<img class="indexFeaturePic" src="/static/img/category_spirituality.jpg">
				<h2>Spirituality &amp; Wellness</h2>
			</a>
			<p>Search for your calm inner spirit.</p>
		</div>
		
	</div>

	<div class="clear"></div>

</div>

<script>

$(document).ready(function() {

	// [Login] On load, show full content on high resolutions
	if ($('.loginSwitch').css('display') == 'none') {
		$('.loginEmail').show();
		$('.loginSocial').show();
	}

	// [Login] On resize, show full content on high resolutions
	$(window).resize(function() {	
		if ($('.loginSwitch').css('display') == 'none') {
			$('.loginEmail').show();
			$('.loginSocial').show();
		}

		else if ($('.loginSwitch').css('display') !== 'none') {
			$('.loginEmail').show();
			$('.loginSocial').hide();
		}
	});


	// [Login] Switch to email login
	$('.loginSwitchEmail').click(function() {

		// If not highlighted, make it so
		if (!$(this).hasClass('loginSwitchActive')) {
			$(this).toggleClass('loginSwitchActive');
		}

		// Take away the highlight from the other tab
		if ($('.loginSwitchSocial').hasClass('loginSwitchActive')) {
			$('.loginSwitchSocial').toggleClass('loginSwitchActive');
		}

		// Hide the social login and show email login
		$('.loginSocial').hide();
		$('.loginEmail').show();	
	});


	// [Login] Switch to social login
	$('.loginSwitchSocial').click(function() {

		// If not highlighted, make it so
		if (!$(this).hasClass('loginSwitchActive')) {
			$(this).toggleClass('loginSwitchActive');
		}
		// Take away the highlight from the other tab
		if ($('.loginSwitchEmail').hasClass('loginSwitchActive')) {
			$('.loginSwitchEmail').toggleClass('loginSwitchActive');
		}

		// Hide the email login and show social login
		$('.loginEmail').hide();
		$('.loginSocial').show();

	});


	// [Signup] On load, show full content on high resolutions
	if ($(".signupSwitch").css("display") == "none") {
		$('.signupEmail').show();
		$('.signupSocial').show();
	}

	// [Signup] On resize, show full content on high resolutions
	$(window).resize(function() {	
		if ($(".signupSwitch").css("display") == "none") {
			$('.signupEmail').show();
			$('.signupSocial').show();
		}

		else if ($(".signupSwitch").css("display") !== "none") {
			$('.signupEmail').show();
			$('.signupSocial').hide();
		}
	});


	// [Signup] Switch to email signup
	$('.signupSwitchEmail').click(function() {

		// If not highlighted, make it so
		if (!$(this).hasClass('signupSwitchActive')) {
			$(this).toggleClass('signupSwitchActive');
		}

		// Take away the highlight from the other tab
		if ($('.signupSwitchSocial').hasClass('signupSwitchActive')) {
			$('.signupSwitchSocial').toggleClass('signupSwitchActive');
		}

		// Hide the social signup and show email signup
		$('.signupSocial').hide();
		$('.signupEmail').show();
				
	});


	// [Signup] Switch to social signup
	$('.signupSwitchSocial').click(function() {

		// If not highlighted, make it so
		if (!$(this).hasClass('signupwitchActive')) {
			$(this).toggleClass('signupSwitchActive');
		}
		// Take away the highlight from the other tab
		if ($('.signupSwitchEmail').hasClass('signupSwitchActive')) {
			$('.signupSwitchEmail').toggleClass('signupSwitchActive');
		}

		// Hide the email signup and show social signup
		$('.signupEmail').hide();
		$('.signupSocial').show();

	});

});

</script>

{% endblock %}