{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block content %}

<div id="cover" class="cover">
	<div class="coverContentWrapper">
		<div class="coverHeader">
			<header>Discover, meet and learn from makers, craftspeople and DIY enthusiasts in your community.</header>
		</div>

		<div class="coverSearch">
			<form name="indexSearch" id="indexSearch" action="/search" method="POST">
				<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
				<input name="keywords_field" class="keywordsField" id="indexSearchField" type="text" autocomplete="off" placeholder="What do you want to learn?">
			</form>
			<div class="coverSearchBarIcon"><i class="fa fa-search searchIcon"></i></div>
		</div>

		<div class="coverButtons">
			<a href="/signup"><button class="button red coverSignup">Sign Up</button></a>
			<a href="/login"><button class="button red coverLogin">Log In</button></a>
		</div>

		<div class="coverMentor">
			<a href="" class="white scrollLink" data-target="mentor">Want to be a <strong>Creative Mentor?</strong></a>
		</div>

		<div class="coverChevron">
			<i class="fa fa-fw fa-chevron-circle-down scrollLink" data-target="features"></i>
		</div>

	</div>
</div>

<div id="features" class="features">
	<div class="featuresHeader">Explore the unique creative-living lessons near you.</div>
	<div class="featuresContainer">
		<div class="feature">
			<a href="/search">
				<img class="featurePic" src="/static/img/ceramics-2.jpg">
				<h2>Ceramics</h2>
			</a>
			<!-- <p>Every artist in the world was first an amateur. Take your first steps.</p> -->
		</div>

		<div class="feature">
			<a href="/search">
				<img class="featurePic" src="/static/img/fiber-art.jpg">
				<h2>Fiber Art</h2>
			</a>
			<!-- <p>Take a cue from Madonna, express yourself.</p> -->
		</div>

		<div class="feature">
			<a href="/search">
				<img class="featurePic" src="/static/img/home-decorations.jpg">
				<h2>Home Decor</h2>
			</a>
			<!-- <p>Improve your skills and kitchen know-how.</p> -->
		</div>

		<div class="feature">
			<a href="/search">
				<img class="featurePic" src="/static/img/jewelry-design.jpg">
				<h2>Jewelry Design</h2>
			</a>
			<!-- <p>Improve your skills and kitchen know-how.</p> -->
		</div>

		<div class="feature">
			<a href="/search">
				<img class="featurePic" src="/static/img/needlecraft-2.jpg">
				<h2>Needlecraft</h2>
			</a>
			<!-- <p>Find your inner Beethoven.</p> -->
		</div>

		<div class="feature">
			<a href="/search">
				<img class="featurePic" src="/static/img/lino-cut.jpg">
				<h2>Printmaking</h2>
			</a>
			<!-- <p>Stretch and reach your goals.</p> -->
		</div>

		<div class="feature">
			<a href="/search">
				<img class="featurePic" src="/static/img/textiles.jpg">
				<h2>Textiles</h2>
			</a>
			<!-- <p>Software is eating the world. Join the feast.</p> -->
		</div>

		<div class="feature">
			<a href="/search">
				<img class="featurePic" src="/static/img/woodwork.jpg">
				<h2>Woodworking</h2>
			</a>
			<!-- <p>Search for your calm inner spirit.</p> -->
		</div>
		<div class="clear"></div>
	</div>
	<div class="featuresFooter"><a href="/search" class="blend fancy">And More...</a></div>
	<div class="clear"></div>
</div>

<div id="about" class="about">
	<div class="aboutItemContainer">
		<div class="aboutHeader">How it Works</div>
		<div class="aboutItem aboutDiscover">
			<div class="aboutItemIcon"><img src="/static/img/discover_mglass.png" alt="Discover"></div>
			<div class="aboutItemTitle">Discover</div>
			<div class="aboutItemCaption">1. Find unique arts and crafts opportunities taught by vetted local mentors. </div>
		</div>
		<div class="aboutItem aboutExperience">
			<div class="aboutItemIcon"><img src="/static/img/book.png" alt="Experience"></div>
			<div class="aboutItemTitle">Schedule</div>
			<div class="aboutItemCaption">2. Book a paid one-on-one or group lesson with a creative mentor at a time that is convenient for you.</div>
		</div>
		<div class="aboutItem aboutMeet">
			<div class="aboutItemIcon"><img src="/static/img/meet.png" alt="Meet"></div>
			<div class="aboutItemTitle">Experience</div>
			<div class="aboutItemCaption">3. Meet your creative mentor in person and start learning.</div>
		</div>
	</div>
</div>

<div id="mentor" class="mentor">
	<div class="mentorIntroduction header">
		Become a Creative Mentor
	</div>
	<div class="mentorDescription">
		Mentors are the creative engine of the Insprite community. They are painters, potters, crafters, knitters, woodworkers, and DIY enthusiasts&mdash;just about anything creative that you can think of&mdash;who are eager to spread their passions with others, while earning money on the side for their creative know-how.
	</div>
	<div class="mentorCloser">	
		Think you fit the bill? <a href="/signup">Sign up and create your profile!</a>
	</div>
</div>

<script src="/static/js/waypoints.min.js"></script>	
<script>

$(document).ready(function() {

	$(".searchIcon").click(function () {
		$("#indexSearch").submit();
	});


	$("#indexSearch").submit(function() {
		return submitSearch($(this));
	});

	$(".scrollLink").click(function(e){
		e.preventDefault();
		var target = $(this).data('target');
		
        $('html,body').animate({
			scrollTop: $("#"+target).offset().top
        }, 800, function() {
        	if (target == "lowerRegistration"){
        		$("#lowerRegistrationForm #input_reg_email").focus();
        		$('#input_reg_teacher, #input_reg_teacher_lower').attr('checked', true);
        	}
    	});

	});

	// Waypoint Animations

	$('.about').waypoint(function(direction) {
		if (direction == "down") {

			$('.aboutItem.aboutDiscover').fadeIn(1000);
			setTimeout(function() {
				$('.aboutItem.aboutExperience').fadeIn(1000);
			}, 300);				
			setTimeout(function() {
				$('.aboutItem.aboutMeet').fadeIn(1000);
			}, 600);			
		}
	}, { 
		offset: 300,
		triggerOnce: true
	});

});

</script>

{% endblock %}