<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>You Changed Your Email or Password </title>
    </head>
    <body>
    <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ebebeb">
      <tbody>
      <tr>
      <td align="center" valign="top"></td>
      </tr>
      </tbody>
    </table>
    <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ffffff">
    <tbody>
    <tr>
    <table style="border-left: 2px solid #e6e6e6; border-right: 2px solid #e6e6e6; border-top: 2px solid #e6e6e6" cellspacing="0" cellpadding="10" width="600">
    <tbody>
    <tr>
    <td style="background-color: #ffffff; border-top: 0px solid #e6e6e6; border-bottom: 10px solid #FFFFFF; padding-top:35px" align="center" valign="middle">
    <a href="http://www.insprite.co"><img src="http://ryanfbaker.com/insprite/inspriteLogoB.png" border="0" alt="Insprite" align="center" width="200px" height="55px" /></a>
    </td>
    </tr>
    </tbody>
    </table>
    <table style="border-left: 2px solid #e6e6e6; border-right: 2px solid #e6e6e6;" cellspacing="0" cellpadding="0" width="600">
    <tr>
    <td style="background-color: #ffffff; border-top: 0px solid #333333; border-bottom: 10px solid #FFFFFF;" align="center" valign="middle">
    <img src="http://ryanfbaker.com/insprite/spacer-1.png">
    </td>
    </tr>
    </table>
    <table style="border-left: 2px solid #e6e6e6; border-right: 2px solid #e6e6e6;" cellspacing="0" cellpadding="85" width="600" height="350">
    <tr>
    <td style="background-color: #ffffff; border-top: 0px solid #333333; border-bottom: 10px solid #FFFFFF;padding-top:50px;" align="left" valign="top">
    <font style="font-family:Helvetica Neue;color:#555555;font-size:14px;">We’re just sending you a reminder: You changed your email or password.<br><br> 
    We want to keep your information safe and secure, so if you didn’t change it yourself <a href="mailto@thegang@insprite.co" style="color:#29abe1">give us a holler ASAP</a> and we’ll get on it.
   </font>
    </td>
    </tr>
    </table>
    <table style="border-left: 2px solid #e6e6e6; border-right: 2px solid #e6e6e6;" cellspacing="0" cellpadding="0" width="600">
    <tr>
    <td style="background-color: #ffffff; border-top: 0px solid #333333; border-bottom: 5px solid #FFFFFF;" align="center" valign="middle">
    <img style="padding-right: 6px" src="http://ryanfbaker.com/insprite/facebookIcon.png">
    <img style="padding-right: 6px" src="http://ryanfbaker.com/insprite/twitterIcon.png">
    <img src="http://ryanfbaker.com/insprite/instagramIcon.png">
    </td>
    </tr>
    </table>
    <table style="border-left: 2px solid #e6e6e6; border-right: 2px solid #e6e6e6;" cellspacing="0" cellpadding="0" width="600">
    <tr>
    <td style="background-color: #ffffff; border-top: 0px solid #333333; border-bottom: 5px solid #FFFFFF;" align="center" valign="middle">
    <img src="http://ryanfbaker.com/insprite/spacer-2.png">
    </td>
    </tr>
    </table>
    <table style="border-left: 2px solid #e6e6e6; border-right: 2px solid #e6e6e6;" cellspacing="0" cellpadding="0" width="600">
    <tr>
    <td style="background-color: #ffffff; border-top: 0px solid #333333; border-bottom: 10px solid #FFFFFF;" align="center" valign="middle">
    <font style="font-family:Helvetica Neue;color:#555555;font-size:10px;"> <a href="mailto@thegang@insprite.co" style="color:#29abe1">Contact Us</a> | Sent by <a href="http://www/insprite.co" style="color:#29abe1">Insprite.co</a>, California, USA. | <a href="#" style="color:#29abe1">Unsubscribe</a></font>
    </td>
    </tr>
    </table>
    <table style="border-left: 2px solid #e6e6e6; border-right: 2px solid #e6e6e6;" cellspacing="0" cellpadding="0" width="600">
    <tr>
    <td style="background-color: #ffffff; border-top: 0px solid #333333; border-bottom: 0px solid #FFFFFF;" align="left" valign="middle">
    <img width="596px" src="http://ryanfbaker.com/insprite/footerImage.png">
    </td>
    </tr>
    </table>
 </body>
 </html>