{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<!-- <link type="text/css" rel="stylesheet" href="/static/css/lesson.css"> -->
	{% assets "sass_foo" %}
		<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}"></script>
	{% endassets %}
	<link type="text/css" rel="stylesheet" href="/static/css/lightbox.css">

{% endblock %}


{% block content %}

<div class="lessonCover">

</div>

<div class="lessonNavBarContainer">

<div class="lessonNavBar">

<ul>
<li class="navElement">Overview</li>
<li class="navElement">Availability</li>
<li class="navElement">Reviews</li>
</ul>

</div>


</div>

<div class="lessonContentWrapper">
	
	<div class="lessonLeftColumn">

		<div class="lessonTitleBox">
			<div class="lessonTitle">{{lesson.lesson_title}}</div>
			<div class="lessonState">
				{% if lesson.lesson_flags == 1 %}
					Status: Saved but Not Submitted
				{% elif lesson.lesson_flags == 2 %}
					Status: Submitted but Not Approved
				{% elif lesson.lesson_flags == 3 %}	
					Status: Approved and Public
				{% else %}
					Status: Unknown
				{% endif %}	
			</div>
			<div class="lessonRating">
				Average Rating: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
			</div>
		</div>

	</div>

	<div class="lessonRightColumn">
		<div class="lessonMentorBox">
			<div class="mentorPhotoContainer">
				<div class="mentorPhoto" style="background-image: url(https://s3-us-west-1.amazonaws.com/htfileupload/htfileupload/{{ mentor.prof_img }})">
				</div>
			</div>

			<div class="mentorInfo">
				<div class="mentorName">
					{{ mentor.prof_name }}
				</div>				
				<div class="mentorHeadline">
					{{ mentor.headline }}
				</div>				
				<div class="mentorLocation">
					{{ mentor.location }}
				</div>
			</div>
		</div>

	</div>

	<div class="clear"></div>
</div>

<script src="/static/js/lightbox.min.js"></script>
<script src="/static/js/sendmsg.js"></script>
<script>

$(document).ready(function() {

	// $(document.body).on("click", "#topLeftNavBack", function(e) {
	// 	e.preventDefault();

	// 	window.history.back();	
	// });

});

</script>

{% endblock %}
