{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/login.css">
	<script type="text/javascript" src="/static/js/login.js"></script>
{% endblock %}

{% block content %}

<div class="loginContentWrapper">
	<h2>Login to Insprite</h2>

	<div class="loginSwitch">
		<div class="loginSwitchEmail loginSwitchActive">Email Login</div>
		<div class="loginSwitchSocial">Social Login</div>
	</div>

	<div class="loginEmail">

		<form id="LoginWithEmail" onsubmit="return validateForm();" action="/login" method="POST">		
			{{form.hidden_tag()}}
			<input type="email" id="input_login_email" name="input_login_email" placeholder="Email">
			<input type="password" id="input_login_password" name="input_login_password" placeholder="Password">

			{% if errmsg != none %}
				<script>
					openAlertWindow('{{errmsg}}')
				</script>
			{% endif %}

			<div class="loginEmailSubmitWrapper">
				<input type="submit" value="Log in" class="blueButton">
			</div>
		</form>

	</div>

	<!--
	<h2>Or use these</h2> 
	<div class="loginSocial">
		<form method="link" action="/login/linkedin">
			<input type="submit" class="loginLinkedIn" name="loginLinkedIn" value="LinkedIn"> 
		</form>

		<form method="link" action="/login/facebook">
			<input type="submit" class="loginFacebook" name="loginFacebook" value="Facebook"> 
		</form>

		<div class="loginLinkedInNotice">			
			By clicking any of the buttons above, you confirm that you have read <a href="terms" target="_blank">Terms of Service</a>, that you understand them, and that you agree to be bound by them.
		</div>
	</div>
	-->
	
	<a class="loginLink" href="/signup">Join Insprite</a>
	<a class="loginLink" href="/password/recover">Forgot your password?</a>

</div>

<!-- Scripts -->

<script type="text/javascript">
	function validateForm() {
		// Fetch form elements
		var email = document.forms["LoginWithEmail"]["input_login_email"];
		var password = document.forms["LoginWithEmail"]["input_login_password"];

		// Check for empty fields; if found, highlight them
		var form_fields = [email, password];
		for (var i = 0; i < form_fields.length; i++) {
			var current_element = form_fields[i];
			var current_value = form_fields[i].value;
			if (current_value.match(/^\s*$/)) {
				$(current_element).focus();
				return false;
			}
		}		
   }
</script>

{% endblock %}
