{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/message.css">
{% endblock %}


{% block content %}

<div class="messageWrapper">

	<div class="messageHeader">
		<div class="leftNavigation">
			<a href="/inbox" title="Back to Inbox" class="navItem"><i class="fa fa-arrow-circle-left"></i> Back to Inbox</a>
		</div>
		<div class="messageHeaderTitle">
			Your Upcoming Dancing Lesson (2)
		</div>
	</div>

	<div class="messageLeftColumn">
		<div class="messageNavContainer">
			<ul class="messageNavList">
				<div class="messageNavItem" id="mainLink">INBOX<i class="fa fa-envelope-o"></i></div>
				<div class="messageNavItem" id="trashLink">ARCHIVE<i class="fa fa-archive"></i></div>
			</ul>
		</div>
	</div>

	<div class="messageRightColumn">
		<div class="messageContainer">

			
			<div class="messageThreadContainer">
				<div class="messageThread">
					<div class="messageThreadConvoTitle">
					Conversation with <a href="/profile?hero={{thread_partner.prof_id}}" class="partnerLink">{{thread_partner.prof_name}}</a> ({{num_thread_messages}} Message{% if num_thread_messages > 1 %}s{% endif %})
					</div>
					<div class="messageThreadSubject">{{subject}}</div>
					<div class="messageThreadItemContainer">
						{% for msg in msg_thread_messages | sort(attribute='UserMessage.msg_created')  %}

						<div class="messageThreadItem">
							
							<!-- <div class="messageThreadSubject">{{msg.UserMessage.msg_subject}}</div> -->

							<div class="messageItemLeftCol">
								<div class="itemSenderImage"><img src="https://s3-us-west-1.amazonaws.com/htfileupload/htfileupload/{{msg.msg_from.prof_img}}"></div>
							</div>

							<div class="messageItemRightCol">
								<div class="itemSenderName">
									<a href="/profile?hero={{msg.msg_from.prof_id}}">{{msg.msg_from.prof_name}}</a>
								</div>
								<div class="itemDatetime">{{msg.UserMessage.msg_created.strftime('%b %d at %H:%M %p')}}</div>
								<br>
								<div class="itemBody">{{msg.UserMessage.msg_content}}</div>
							</div>

						</div>
						{% endfor %}
						<div class="messageThreadItemLoading">
							<i class="fa fa-spinner fa-spin"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="messageReplyStatus"></div>
			<div class="messageReplyContainer">
				<textarea name="msg" id="composeBody" class="messageReplyBody" placeholder="Enter message to {{msg_thread_messages[0].display.prof_name}}"></textarea>
				<input type="hidden" id="msg_thread" value="{{msg_thread_messages[-1].UserMessage.msg_thread}}">
				<input type="hidden" id="msg_parent" value="{{msg_thread_messages[-1].UserMessage.msg_id}}">
				<input type="hidden" id="composeSubject" value="{{msg_thread_messages[0].UserMessage.msg_subject}}">
				<!-- TODO - do these next 2 vars work when message 0 is from the current user rather than the hero? -->
				<input type="hidden" id="composeRecipientID" value="{{msg_thread_messages[0].display.prof_id}}">
				<input type="hidden" id="composeRecipientName" value="{{msg_thread_messages[0].display.prof_name}}">
				<input type="hidden" id="next" value="thread">
				<input type="hidden" id="csrf"	value="{{csrf_token()}}">
				<button id="sendMessage" class="blueButton messageReplySendButton">Send Reply</button>
			</div>
		</div>
	</div>

</div>


{% endblock %}	
