{% extends "sc_header.html" %}

{% block header_css %}
	{{ super() }}
	<link rel="stylesheet" href="/static/css/modern-login.css">
	<link rel="stylesheet" href="/static/css/modern-recover.css">
	<link type="text/css" rel="stylesheet" href="/static/css/recovery.css">
{% endblock %}

{% block content %}
<section class="recovery-section">
	<div class='recovery-wrapper'></div>
		<h2>Set password</h2>
		<form method=POST>
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
			<!--div class="recoveryInstructions">Please enter your new password.</div-->
			{{ form.rec_input_newpass(placeholder="New Password")}}		

			<div class="recoverySubmitWrapper">
				<input type="submit" id="recover" class="blueButton" value="Save New Password">
			</div>
			<a href="/login" class="recoveryLink">Back to Login</a>
		</form>
</section>
{% endblock %}
