{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/recovery.css">
{% endblock %}

{% block content %}


<div class="recoveryContentWrapper">
	<h2>Create new password</h2>
	
	<form method=POST>		

		<div class="recoveryInstructions">Please enter your new password.</div>
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		
		{{ form.rec_input_newpass(placeholder="New Password")}}		
		
		<div class="recoverySubmitWrapper">
			<input type="submit" class="blueButton" value="Save New Password">
		</div>

	</form>
</div>

<!-- Bottom bar -->

{% endblock %}
