{% extends "ht_header.html" %}
{% block content %}

<div id="recovery-wrap">
	
	<div id="newpass-box">
		<h2>Create new password</h2>
		<form method=POST>		

			<label id="label-login-email" for="rec_input_newpass">Please enter your new password</label>
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
			{{ form.rec_input_newpass }}		
			<div id="recSubmitWrap">
				<input type="submit" class="blueButton recSubmit" value="Save password">
			</div>
			<!-- After the user submits his email, the button should turn into:
			<div class="login-light">Back to login</div>
			-->
		</form>
	</div>

</div>

<!-- OAuth withheld until next release
	<div id="signup-social">
		<h2>Log in with...</h2>
		
		<div id="linkedin-wrap">
			<a href="#"><div id="signup-linkedin">Log in with LinkedIn</div></a>
		</div>

		<div id="facebook-wrap">
			<a href="#"><div id="signup-facebook">Log in with Facebook</div></a>
		</div>

		<div id="twitter-wrap">
			<a href="#"><div id="signup-twitter">Log in with Twitter</div></a>
		</div>
	</div>
-->


<!-- Bottom bar -->

{% endblock %}
