{% extends "sc_header.html" %}
{% set title = 'Recover Soulcrafting password' %}

{% block header_css %}
	{{ super() }}
	{% assets "scss_recovery" %}<link rel='stylesheet' href='{{ASSET_URL}}'>{% endassets %}
{% endblock %}


{% block content %}
<section id='recovery'>
	<h2>Recover Password</h2>
	<form method='POST'>
		{{form.hidden_tag()}}
		{{form.email(type="email", placeholder="Your email", autocomplete="off")}}
		<input type="submit" id="recover" class="blueButton" value="Send password reset">
	</form>
	<form method='GET' action="/login">
		<button class='btn btn-block whiteButton'>Back to Login</button>
	</form>
</section>
{% endblock %}


{% block scripts %}
	{{ super() }}
	<script>{% if sc_alert %} openAlertWindow('{{sc_alert}}');{% endif %}</script>
{% endblock %}
