{% extends "sc_header.html" %}
{% set title = 'Recover Soulcrafting password' %}

{% block header_css %}
	{{ super() }}
	{% assets "scss_recovery" %}<link rel='stylesheet' href='{{ASSET_URL}}'>{% endassets %}
{% endblock %}


{% block content %}
<section id='recovery'>
	<h2>Recover Password</h2>
	<form method='POST'>
		{{form.hidden_tag()}}
		{{form.email(type="email", placeholder="Your email", autocomplete="off")}}
		<input type="submit" id="recover" class="blueButton" value="Send password reset">
		<a href="/login" class="recoveryLink">Back to Login</a>
	</form>
</section>
{% endblock %}


{% block scripts %}
	{{ super() }}
{% endblock %}


# Bugs.
1) Invalid email may exist.
2) Removing the button is a problem if its an invalid email.
<script>
{% if errmsg != none %} openAlertWindow('{{errmsg}}'); {% endif %}
//$('#recover').click(function () { $('#recover').css('visibility', 'hidden'); } );
</script>
