{% extends 'sc-header.html' %}
{% set meta_title	= 'Reset your password.' %}
{% set meta_desc	= 'Reset your password.' %}

{% block header_css %}
	{{ super() }}
	{% assets 'scss_recovery' %}<link rel='stylesheet' href='{{ASSET_URL}}'>{% endassets %}
{% endblock %}


{% block content %}
<section id='recovery'>
	<h2>Set password</h2>
	<form method='POST'>
		{{form.hidden_tag()}}
		{{form.rec_input_newpass(placeholder="New Password")}}
		<input type="submit" id="recover" class="blueButton" value="Save new password">
		<a href="/login" class="recoveryLink">Back to Login</a>
	</form>
</section>
{% endblock %}
