{% extends 'sc_header.html' %}
{% set title = 'Soulcrafting - Professional Dashboard' %}

{% block header_css %}
	{{ super() }}
	{% assets 'scss_dashboard' %}<link rel='stylesheet' href='{{ASSET_URL}}'>{% endassets %}
{% endblock %}

{% block content %}
<section id='prodashboard' class='container-fluid'>
	<div id='request-references' class='ltc'>
		<h3 class='h4'>Request References</h1>

		<form id='review-request' method='POST' action='/review/request'>
			{{form.hidden_tag()}}

			<div class='form-group email'>
				{{form.invite_emails(type='email', class='form-control', autocomplete='off', placeholder="Add your client's email")}}
				<input id='send-requests' type='submit' class='blueButton' value='Send'>
			</div>
		</form>

		<h4 id='outstanding-title'>Outstanding Requests</h1>
		<div id='requests'> </div>
	</div>

</section>
{% endblock %}


{% block scripts %}
	{{ super() }}
	<script src='//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js'></script>
	<script src='//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js'></script>
	<script src='/static/js/dashboard.js'></script>
{% endblock %}
