{% extends 'sc_header.html' %}
{% set title='Soulcrafting' %}

{% block header_css %}
	{{ super() }}
	{% assets 'scss_products' %} <link rel='stylesheet' href='{{ASSET_URL}}'> {% endassets %}
{% endblock %}


{% block content %}
<div id='masthead'>
	<div id='masthead-text'>Custom Furniture</div>
</div>

<section id='getstarted' class='row'>
	<p id='reasons' class='col-sm-9 col-xs-12'>
		Furniture makes a room function better. 
		Soulcrafted furniture made is custom made for you and your home.  
		It's crafted to last.  It's crafted to be functional and elegant. Flashy or austere it will match your personality and style.  
		And it will be created right here in Boulder by local craftspeople.<br>
	</p>

	<div id='actions' class='col-sm-3 col-xs-12'>
		<div id='subactions'>
			<a href='#signup' class='btn btn-block whiteButton'>Get Started</a>
			<p class='text-center'>Create a project and a specialist will contact you.</p>
			{#<a href='#sharesoulcrafting' class='btn btn-block'>Share Soulcrafting</a> #}
		</div>
	</div>
</section>


<section id='why' class='container-fluid'>
	<div id='ideas' class='text-center'>
		<h4 class=''>Single Pane</h4>
		<div class='img-container img-width-100'>
			<img src='/static/img/cliff-chair.jpg' class='img-responsive img-resp-maxh-650'></img>
		</div>

		<h4 class=''>Double Pane</h4>
		<div class=''>
			<div class='img-container img-width-40'> <img src='/static/img/dg-table.jpg'	class='img-responsive img-resp-maxh-650'></img> </div>
			<div class='img-container img-width-40'> <img src='/static/img/wwms-table.jpg'	class='img-responsive img-resp-maxh-650'></img> </div>
		</div>

		<h4 class=''>Triple Pane</h4>
		<div class=''>
			<div class='img-container img-width-28'> <img src='/static/img/cliff-chair.jpg' class='img-responsive img-resp-maxh-650'></img> </div>
			<div class='img-container img-width-28'> <img src='/static/img/cliff-chair.jpg' class='img-responsive img-resp-maxh-650'></img> </div>
			<div class='img-container img-width-28'> <img src='/static/img/cliff-chair.jpg' class='img-responsive img-resp-maxh-650'></img> </div>
		</div>
	</div>
</section>

<section id='craftsman' class=''>
	<div id='craftsman-id' class='text-center'>
		<img src='/static/img/dg-austin.jpg' class='img-craftsman' alt='Austin Aaron'>
		<div id='craftsman-name'> <h4 class='text-center'>Austin Aaron</h4> </div>
	</div>
	<div id='craftsman-about'>
		<div id='craftsman-quote'>
			<blockquote><p>&ldquo;What you'll find with us is inspired by nature&ndash;the flow of our process, in addition to our finished products. Look for our balance, unique spacial appropriateness of designs, resourceful use of materials, and honest, conscientious approach to successful completion of your projects.&rdquo;</p>
				<span class='name'>&mdash; Austin Aaron of Dancing Grains</span>
			</blockquote>
		</div>
	</div>
	<div id='craftsman-work'> </div>
</section>



<section id='start' class='text-center'>
	<h4 class='text-center'>Get Started </h4>
	<p>Create a project and a specialist will contact you.</p>
	<a href='#signup' class='btn btn-block whiteButton'>Get Started</a>
		{#<a href='#sharesoulcrafting' class='btn btn-block'>Share Soulcrafting</a> #}
</section>
{% endblock %}


{% block scripts %}
	{{ super() }}
{% endblock %}
