{% extends 'sc_header.html' %}
{% set title='Soulcrafting' %}

{% block header_css %}
	{{ super() }}
	{% assets 'scss_products' %} <link rel='stylesheet' href='{{ASSET_URL}}'> {% endassets %}
{% endblock %}


{% block content %}
<div id='masthead'> <div id='masthead-text'>Custom Furniture</div> </div>

<div id='about-furniture' class=''>
	<h3 class='text-center'>Soulcrafted Furniture</h3>
	<p id='reasons' class=''>
		Furniture makes a room function better. 
		Soulcrafted furniture made is custom made for you and your home.  
		It's crafted to last.  It's crafted to be functional and elegant. Flashy or austere it will match your personality and style.  
		And it will be created right here in Boulder by local craftspeople.
	</p>
</div>


<div id='ideas' class='text-center'>
	<h3 class=''>Featured Work</h3>
	<p class=''> Contact a specialist and we get started today.  </p>
	<br>
	<br>

	<h4>Sliding Barndoors</h4>
	<div class='img-container'> <img src='/static/img/ex-dining.jpg' class='img-responsive'></img> </div>

	<h4>Chic Home Office Desk & Rusting American Dining Table</h4>
	<div class='img-container'>
		<div class='img-container img-width-50'> <img src='/static/img/ex-livingroom.jpg' alt='Living Room' class='img-responsive'></img> </div>
		<div class='img-spacer'></div>
		<div class='img-container img-width-50'> <img src='/static/img/ex-bedroom.jpg' alt='Bedroom' class='img-responsive'></img> </div>
	</div>
</div>


<section id='craftsman' class=''>
	<h3 class='text-center'>Craftsperson Spotlight</h3>
	<div id='craftsman-id' class='text-center'>
		<img src='/static/img/professional-austin.jpg' class='img-craftsman' alt='Austin Aaron'>
		<div id='craftsman-name'> <h4 class='text-center'>Austin Aaron</h4> </div>
	</div>
	<div id='craftsman-about'>
		<div id='craftsman-quote'>
			<blockquote><p>&ldquo;What you'll find with us is inspired by nature&ndash;the flow of our process, in addition to our finished products. Look for our balance, unique spacial appropriateness of designs, resourceful use of materials, and honest, conscientious approach to successful completion of your projects.&rdquo;</p>
				<span class='name'>&mdash; Austin Aaron of Dancing Grains</span>
			</blockquote>
		</div>
	</div>
	<div id='craftsman-work'> </div>
</section>



<div id='get-started' class='text-center'>
	<p>Create a project and a specialist will contact you.</p>
	<a id='btn-get-started' href={% if bp %}'/project/edit/new'{% else %}'/signup'{% endif %} class='btn btn-block blueButton'>Get Started</a>
	{#<a href='#sharesoulcrafting' class='btn btn-block'>Share Soulcrafting</a> #}
</div>
{% endblock %}


{% block scripts %}
	{{ super() }}
{% endblock %}
