{% extends 'sc_header.html' %}
{% set title='Soulcrafting' %}

{% block header_css %}
	{{ super() }}
	{% assets 'scss_products' %} <link rel='stylesheet' href='{{ASSET_URL}}'> {% endassets %}
{% endblock %}



{% block parallax %}
	<div id='masthead'> <div id='masthead-text'>Custom Furniture</div> </div>
{% endblock %}


{% block content %}
<section id='about-furniture'>
	<h3>Soulcrafted Furniture</h3>
	<div>
		<p class='text-content'>
			We partner with extraordinary local woodworkers and furniture makers to help you create unique, timeless pieces for your home.
			Soulcrafters specialize in sustainable building practices, sourcing wood from locally-felled trees and salvaged materials whenever possible.
			Whatever your style, designing a piece of custom furniture ensures the perfect fit because it's made just for you.
		</p>
		<br>
		<a href='/project/edit/new' class='btn btn-block blueButton btn-get-started'>Get Started</a>
	</div>
</section>


<section id='ideas'>
	<h3>The Soulcrafting Advantage</h3><br>

	<div>
		<h4 class='text-content'>Furniture designed to complement your style and meet your specifications.</h4>
		<img src='/static/img/ex-dining.jpg' class='img-responsive'></img> <br>
	</div>

	<div>
		<h4 class='text-content'>Create stunning accent pieces for any room.</h4>
		<div class='img-width-50'> <img src='/static/img/ex-livingroom.jpg' alt='Living Room' class='img-responsive'></img> </div>
		<div class='img-spacer'></div>
		<div class='img-width-50'> <img src='/static/img/ex-bedroom.jpg' alt='Bedroom' class='img-responsive'></img> </div>
	</div>
</section>


<section id='craftsman'>
	<h3>Soulcrafter Spotlight</h3>
	<div>
		<div id='craftsman-id'>
			<img src='/static/img/professional-austin.jpg' class='img-craftsman' alt='Austin Aaron'>
			<div id='craftsman-name'> <h4>Austin Aaron</h4> </div>
		</div>
		<div id='craftsman-about'>
			<blockquote id='craftsman-quote'>
				<p>
					&ldquo;Soulcrafting is a way to get people involved with the things that they’re buying.
					They get to come in, learn how we work, perhaps do some of the work themselves, and take home something that they’ve been a part of crafting.
					It’s a good way for people to have a little more connection to what they’re buying and what they have in their homes.
					And it’s a lot of fun.&rdquo;
				</p>
				<div id='craftsman-name'>&mdash; Austin Aaron of <a href='http://www.dancinggrains.com/'>Dancing Grains Woodworks</a></div>
			</blockquote>
		</div>
	</div>
</section>

<div id='craftsman-work'> </div>

<section id='get-started'>
	<div>
		<p class='text-content'>
			The next step is easy.
			You'll start by sharing your goals and then one of our project specialists will be in touch to get more details in order to match you with the right Soulcrafter for your job.
		</p>
		<a href='/project/edit/new' class='btn btn-block blueButton btn-get-started'>Get Started</a>
	</div>

	{#<a href='#sharesoulcrafting' class='btn btn-block'>Share Soulcrafting</a> #}
</section>
{% endblock %}


{% block scripts %}
	{{ super() }}
{% endblock %}
