{% extends 'sc-header.html' %}
{% set meta_title	= 'Purchase Soulcrafting Giftcard' %}
{% set meta_desc	= 'Purchase Soulcrafting Giftcard' %}

{% block header_css %}
	{{ super() }}
	<link rel="stylesheet" href="/static/css/sc-purchase.css">
	{% assets "sass_schedule" %}
		<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
{% endblock %}

{% block content %}
<div id='p-masthead'>
	<!--div class='darken'></div-->
	<div class='container-fluid text-center'>
		<h1>Share Craftsmanship</h1>
		<!--h2>Buy $500 gift certificate.</h2-->
	</div>
</div>



<section id='gift-information' class='container-fluid'>
	<form method='POST' action='/purchase'>
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

	<div id='recipient-info' class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
		<h3>Soulcrafting Gifts</h3>
		<hr>
		<div id='gift-img' class='idea'>
			<!--div class='dark'> <p>$500 for comissioned furniture or remodling</p> </div-->
			<img class='img-responsive' src='/static/img/giftcard.png'>
		</div>
		<!-- ENDING recipient-info -->
	</div>

	<div id='purchaser' class='col-lg-offset-1 col-lg-6 col-md-offset-1 col-md-6 col-sm-12 col-xs-12'>
		<h3>Recipient Information</h3>
		<hr>
		<div id='gift-name' class="form-group-">
			<h4>Name</h4>
			{{form.gift_name(class='form-control', autocomplete='off', placeholder="Who is the lucky person?")}}
		</div>
		<!--div id='gift-addr'>
			<h4>Address</h4>
			{{form.gift_addr(class='form-control', placeholder="Address")}}
		</div-->
		<div id='gift-mail' class="form-group- email">
			<h4>Email</h4>
			{{form.gift_mail(class='form-control', type='email', placeholder="Email Address")}}
		</div>
		<div id='gift-cell' class="form-group- email">
			<h4>Phone</h4>
			{{form.gift_cell(class='form-control', placeholder="Phone Number")}}
		</div>

		<div id='gift-note'>
			<h4>Personal Message</h4>
			{{form.gift_note(class='form-control', placeholder="Add a personalized message")}}
		</div>
		<br>
		<br>

		<h3>Your Information</h3>
		<hr>
		<div id='gift-from'>
			<h4>Your Name</h4>
			{{form.gift_from(class='form-control', placeholder="The Best Realtor in Boulder")}}
		</div>

		<br>
		<br>
		<input id='checkout' type="submit" class="blueButton" value='Checkout...'>
	</div>

	</form>
</section>

{% endblock %}

<!--div class='col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 text-center'>
	http://soulcrafting.co/gift/{ {bp.account}}
</div-->


	
{% block scripts %}
	{{ super() }}
	<script src="https://checkout.stripe.com/checkout.js"></script>
	<script>
	$(document).ready(function() {
		var stripe_pk = "{{ STRIPE_PK }}";
		var csrf_token = "{{ csrf_token() }}";
			
		var stripe_chkout = StripeCheckout.configure({
			key: stripe_pk,
			allowRememberMe: true,
			token: function(token) {
				$.each(token, function(k, v) { console.log('token.' + k + ':' + v); });

				var fd = {};
				var r = {};
				var p = {};
				r.name = $('#gift_name').val();
				r.addr = $('#gift_addr').val();
				r.mail = $('#gift_mail').val();
				r.cell = $('#gift_cell').val();
				r.note = $('#gift_note').val();
				p.name = $('#gift_from').val();
				p.cost = Number(500);
				//$.each(r, function(k, v) { console.log('recipient.' + k + ':' + v); });

				fd.recipient	= r;
				fd.purchaser	= p;
				fd.csrf_token = csrf_token;
				fd.stripe_tokn = token.id;
				fd.stripe_card = (token.card.id);
				fd.stripe_name = (token.card.name);
				//fd.stripe_paid = (token.card.paid);
				fd.stripe_city = (token.card.address_city);
				fd.stripe_stat = (token.card.address_state);
				fd.stripe_cust = (token.card.customer);
				fd.stripe_fngr = (token.card.fingerprint);
				fd.stripe_mail = (token.email);

				$.ajax({ url	: "/purchase/create",
						type	: "POST",
						data	: fd,
						success : function(data) {
							console.log("StripeCheckout AJAX Success.");
							console.log(data);
							console.log(data.nexturl);
							console.log(data.usrmsg);
							window.location.href = data.nexturl;
						},
						error	: function(data) {
							console.log("StripeCheckout AJAX Error.");
							console.log(data.responseText);
							var msg = JSON.parse(data.responseText);
							//openAlertWindow(msg['usrmsg']);
						}
				});
			}
		});


		$('#checkout').click(function(e) {
			e.preventDefault();
			$cost = Number(500) * 100;

			console.log('open stripe_chkout');
			stripe_chkout.open({
				description: "Soulcrafting Gift Certificate",
				image: '/static/img/favicon.png',
				amount:	$cost,
				currency: 'usd',
			});
		});


	});
	</script>
{% endblock %}
