{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/recovery.css">
{% endblock %}


{% block content %}


<div class="recoveryContentWrapper">
	<h2>Password Recovery</h2>
	<form method="post">		
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		<div class="recoveryInstructions">Enter the email registered with your HeroTime account and we will send you the reset link.</div>
		{{form.rec_input_email(type="email", placeholder="Email", autocomplete="off")}}

		{% if errmsg != none %}
		<script>
			openAlertWindow('{{errmsg}}')
		</script>
		{% endif %}
		
		<div class="recoverySubmitWrapper">
			<input type="submit" id="rec_submit" class="blueButton" value="Send Reset Link" onclick="this.style.visibility='hidden'">
		</div>

		<a href="/login" class="recoveryLink">Back to Login</a>

	</form>
</div>

<!-- Bottom bar -->

{% endblock %}
