{% extends "ht_header.html" %}
{% block content %}

<div id="recovery-wrap">
	
	<div id="recovery-box">
		<h2>Password Recovery</h2>
		<form method=POST>		
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
			<label id="label-login-email" for="rec_input_email">Enter your email to get the instructions</label>
			{{form.rec_input_email(type="email")}}

			{% if errmsg != none %}
				<script>
					openAlertWindow('{{errmsg}}')
				</script>
			{% endif %}
			
			<!--input type="email" id="rec_input_email" width="310px" height="30px" pad-left="5"/-->
			<div id="recSubmitWrap">
				<input type="submit" id = "rec_submit" class="blueButton recSubmit" value="Send password recovery email" onclick="this.style.visibility='hidden'">
			</div>
			<div id="rec-back-wrap">
				<a href="/login" class="whiteButton recBack">Back to login</a>
			</div>

			<!-- After the user submits his email, the button should turn into:
			<div class="login-light">Back to login</div>
			-->
		</form>
	</div>
</div>

<!-- OAuth withheld until next release
	<div id="signup-social">
		<h2>Log in with...</h2>
		
		<div id="linkedin-wrap">
			<a href="#"><div id="signup-linkedin">Log in with LinkedIn</div></a>
		</div>

		<div id="facebook-wrap">
			<a href="#"><div id="signup-facebook">Log in with Facebook</div></a>
		</div>

		<div id="twitter-wrap">
			<a href="#"><div id="signup-twitter">Log in with Twitter</div></a>
		</div>
	</div>
-->


<!-- Bottom bar -->

{% endblock %}
