{% extends 'sc-header.html' %}
{% set meta_title	= 'Refer a professional.' %}
{% set meta_desc	= 'Refer a professional on Soulcrafting.' %}


{% block header_css %}
	{{ super() }}
	{% assets "scss_referral" %}<link rel='stylesheet' href='{{ASSET_URL}}'>{% endassets %}
	<link rel='stylesheet' href='/static/css/tagsinput.css'>
{% endblock %}


{% block content %}
<section>
	<div>
		<div><h3 id='refer-title'>Share your trusted network {% if profile %}with {{profile.prof_name}}{% endif %}</h3></div>
		<div id='refer-professional'>
			<form id='refer-form'>
			{{form.hidden_tag()}}
			{{form.trusted(class='form-control typeahead', autocomplete='off', autofocus=true, placeholder="Professional's name or phone number.")}}
			<div id='trust-card' class='{%-if not form.bid.data %}no-display{%-endif%}' data-id='{{form.bid.data}}'>
			{#
				<div id='pro-category'	class='ff header'></div>
				<div id='pro-name'	class='ff value'></div> <div id='pro-email' class='ff contact'></div>
				<div id='pro-addr' class='ff value'></div--> <!--div id='pro-phone' class='ff contact'></div>
			#}
				<div id='referral-questions'>
					<div class='ff header'>Why do you recommend <span id='pro-name'>them</span>? (<span id="content-nr">200</span> chars left.)</div>
					{{form.content(class='ff', spellcheck=true, maxlength=200, placeholder="Tim was super helpful. He answered all my questions, kept my house clean, and finished on time.")}}

					<div class='ff header'> What project was this for?</div>
					{{form.context(class='ff', autocomplete="off", maxlength=120, placeholder="Remodel deck, cheap, currysauce")}}
				</div>

				<div>
					<input id='btn-cancel-referral' type="button" class='btn-referral whiteButton' value="Clear"></input>
					<input id='btn-submit-referral'	type="button" class='btn-referral blueButton'  value="Save Referral"></input>
				</div>
			</div>
			</form>
		</div>

		<div id='instructions' class='{%-if not form.bid.data %}no-display{%-endif%}'>
			<h3>Sharing your network</h3>
			<p>Your recommendation will be public.</p>
			<p>Help others understand the context of your project&ndash;and why you recommend them.</p>
			<ul id='feedback'></ul>
		</div>
	</div>
</section>
{% endblock %}


{% block scripts %}
	{{ super() }}
	<script src="/static/js/typeahead.bundle.js"></script>
	<script src="/static/js/referral.js"></script>
	<script src="/static/js/handlebars.js"></script>
	<script src="/static/js/tagsinput.js"></script>
{% endblock %}
