{% extends 'sc-header.html' %}
{% set meta_title	= 'Refer a professional.' %}
{% set meta_desc	= 'Refer a professional on Soulcrafting.' %}


{% block header_css %}
	{{ super() }}
	{% assets "scss_referral" %}<link rel='stylesheet' href='{{ASSET_URL}}'>{% endassets %}
{% endblock %}


{% block content %}
<section>
	<div>
		<div id='refer_professional' class=''>
			<h3 style="text-align: left;">Help Corey find a professional</h3>

			{{form.invite_emails(type='text', class='form-control typeahead', autocomplete='off', placeholder="Professional's name or phone number.")}}
			<!--input id='send_invite' type="submit" class="blueButton" value="Send"-->
			<div id='profile-card' class='no-profile' data-id=''>
				<div id='pro-name' class='profile-field'></div>
				<div id='pro-category' class='profile-field'></div>
				<div id='pro-addr' class='profile-field'></div>
				<div id='pro-email' class='profile-field'></div>
				<div id='pro-phone' class='profile-field'></div>
				<div id='pro-media' class='profile-field'></div>
			</div>
		</div>
		<div id='refer_explanation' class=''>
			<h3>Help Corey learn about the pros you know</h3>
			<p>Most people need to know a bit about the project you did -- and why you would recommend them.</p>
			<p>Your recommendation will be public.</p>
		</div>

	</div>
</section>
{% endblock %}


{% block scripts %}
	{{ super() }}
	<script src="/static/js/typeahead.bundle.js"></script>
	<script src="/static/js/referral.js"></script>
	<script src="/static/js/handlebars.js"></script>
	<script>
		$(document).ready(function () {
			$('#invite_emails').keydown(function(event) {
				if (event.keyCode == 13) {
					get_profile();
					return false;
					this.form.submit();
				} else {
					clr_profile();
				}
			});

			function get_profile() {
				alert( "Handler for submit() called." );
				console.log('here');
			}

			function clr_profile() {
				console.log('clear everything!');
				$('#profile-card').addClass('no-profile');
			}

			$('.typeahead').bind('typeahead:select', function(ev, suggestion) {
				var fd = {};
				fd.csrf_token = "{{ csrf_token() }}";
				console.log('selected: ' + suggestion.id + 'id?');

				$.ajax({url		: "/professional/" + suggestion.id + '/',
						type	: "POST",
						data	: fd,
						success : function(data) {
							console.log(data);
							$('#profile-card').removeClass('no-profile');
							$('#profile-card').attr('data-id', data.id_factual);

							busname = data.name
							if (data.website) {
								busname = '<a href="' + data.website + '" target="_blank">' + busname + '</a>'
							}
							$('#pro-name').html(busname);
	

							$('#pro-email').html(data.email);
							$('#pro-phone').html(data.phone);
							$('#pro-addr').html(data.addr.street + ' ' + data.addr.city + ', ' + data.addr.state + ' ' + data.addr.post);

							sz = data.factual_categories.length;
							$('#pro-category').html(data.factual_categories[sz-1]);
						},
						error	: function(data) {
							console.log("Oops, AJAX Error.");
						}
				})
			});
			{# $('.typeahead').bind('typeahead:render', function(ev, suggestion, flag, dataset, other) {   //code  }); #}
		});
	</script>
{% endblock %}
