{% extends 'sc-header.html' %}
{% set meta_title	= 'Refer a professional.' %}
{% set meta_desc	= 'Refer a professional on Soulcrafting.' %}


{% block header_css %}
	{{ super() }}
	{% assets "scss_referral" %}<link rel='stylesheet' href='{{ASSET_URL}}'>{% endassets %}
	<link rel='stylesheet' href='/static/css/tagsinput.css'>
{% endblock %}


{% block content %}
<section>
	<div>
		<div><h3 id='refer-title'>Share your trusted network {% if profile %}with {{profile.prof_name}}{% endif %}</h3></div>
		<div id='refer-professional'>
			{{form.hidden_tag()}}
			{{form.refer_name(class='form-control typeahead', autocomplete='off', autofocus=true, placeholder="Professional's name or phone number.")}}
			<div id='profile-card' class='no-display' data-id=''>
			{#
				<div id='pro-category'	class='ff header'></div>
				<div id='pro-name'	class='ff value'></div> <div id='pro-email' class='ff contact'></div>
				<div id='pro-addr' class='ff value'></div--> <!--div id='pro-phone' class='ff contact'></div>
			#}
				<div id='referral-profile' data-id=''>
					<div class='ff header'>Why do you recommend <span id='pro-name'>them</span>? (<span id="refer-why-nr">200</span> chars left.)</div>
					<textarea id='refer-why' type="textarea" class="ff"
							placeholder="Tim was super helpful. He answered all my questions, kept my house clean, and finished on time."
							maxlength=200
							minlength=20
							required
							spellcheck=true></textarea>
					<div>
						<div class='ff header'> What project was this for?</div>
						<input id='refer-proj' type="text" class="ff" autocomplete='off'> </input>
					</div>
				</div>

				<div>
					<input id='btn-cancel' 			type="button" class='btn-referral whiteButton' value="Cancel"></input>
					<input id='btn-save-referral'	type="button" class='btn-referral blueButton'  value="Save Referral"></input>
				</div>
			</div>
		</div>

		<div id='refer-explanation' class='no-display'>
			<h3>Sharing your network</h3>
			<p>Your recommendation will be public.</p>
			<p>Help others understand the context of your project&ndash;and why you recommend them.</p>
			<ul id='feedback'></ul>
		</div>
	</div>
</section>
{% endblock %}


{% block scripts %}
	{{ super() }}
	<script src="/static/js/typeahead.bundle.js"></script>
	<script src="/static/js/referral.js"></script>
	<script src="/static/js/handlebars.js"></script>
	<script src="/static/js/tagsinput.js"></script>
{% endblock %}
