{% extends 'sc-header.html' %}
{% set meta_title	= 'Refer a professional.' %}
{% set meta_desc	= 'Refer a professional on Soulcrafting.' %}


{% block header_css %}
	{{ super() }}
	{% assets "scss_referral" %}<link rel='stylesheet' href='{{ASSET_URL}}'>{% endassets %}
{% endblock %}

{% block content %}
<section id='invite'>
	<div class='h3 text-center'>Make a Referral.</div>

	<div id='refer_a_pro' class="form-group email">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		{{form.invite_emails(type='text', class='form-control typeahead', autocomplete='off', placeholder="Professional's name or phone number.")}}
		<input id='send_invite' type="submit" class="blueButton" value="Send">
	</div>
</section>
{% endblock %}


{% block scripts %}
	{{ super() }}
	<script src="/static/js/typeahead.bundle.js"></script>
	<script src="/static/js/referral.js"></script>
	<script src="/static/js/handlebars.js"></script>
	<script>
		$(document).ready(function () {
			$('#send_invite').click(function() {
				alert( "Handler for .click() called." );
				return false;
			});

			$('.typeahead').bind('typeahead:select', function(ev, suggestion) {
			  console.log('Selection: ' + suggestion);
			});
		
			$('.typeahead').bind('typeahead:render', function(ev, suggestion, flag, dataset, other) {
				console.log('Render=' + suggestion); // + "; flag (async?)=" + flag + "; dataset=" + dataset);
			});
		});
	</script>
{% endblock %}
