{% extends 'sc-header.html' %}
{% set meta_title	= 'Refer a professional.' %}
{% set meta_desc	= 'Refer a professional on Soulcrafting.' %}


{% block header_css %}
	{{ super() }}
	{% assets "scss_referral" %}<link rel='stylesheet' href='{{ASSET_URL}}'>{% endassets %}
	<link rel='stylesheet' href='/static/css/bootstrap-tagsinput.css'>
{% endblock %}


{% block content %}
<section>
	<div>
		<div><h3 style="text-align: left;">Help Corey find a professional</h3></div>
		<div id='refer-professional' class=''>

			{{form.invite_emails(type='text', class='form-control typeahead', autocomplete='off', placeholder="Professional's name or phone number.")}}
			<div id='profile-card' class='no-profile' data-id=''>
				<div id='pro-category'	class='ff header'></div>
				<div id='pro-name'	class='ff value'></div> <div id='pro-email' class='ff contact'></div>
				<div id='pro-addr'	class='ff value'></div> <div id='pro-phone' class='ff contact'></div>

				<div id='profile-reference'>
					<div class='ff header'>Why do you recommend <span>them<span>? (<span id="refer-why-nr">200</span> chars left.)</div>
					<textarea id='refer-why' type="textarea" class="ff"
							placeholder="Tim was super helpful. He answered all my questions, kept my house clean, and finished on time."
							maxlength=200
							minlength=20
							required
							spellcheck=true></textarea>
					<div class=''>
						<div id='' class='ff header'> What project was this for?</div>
						<input id='refer-proj' type="text" class="ff" autocomplete='off'> </input>
					</div>

				</div>
				<div class=''>
					<input id='btn-cancel' 			type="button" class='btn-referral whiteButton' value="Cancel"></input>
					<input id='btn-save-referral'	type="button" class='btn-referral blueButton'  value="Save Reference"></input>
				</div>
			</div>
		</div>

		<div id='refer-explanation' class=''>
			<h3>Help Corey learn about the pros you know</h3>
			<p>Most people need to know a bit about the project you did -- and why you would recommend them.</p>
			<p>Your recommendation will be public.</p>

			<div id='refer-usrfeedback'>
				<ul id='feedback'></ul>
			</div>
		</div>

	</div>
</section>
{% endblock %}


{% block scripts %}
	{{ super() }}
	<script src="/static/js/typeahead.bundle.js"></script>
	<script src="/static/js/referral.js"></script>
	<script src="/static/js/handlebars.js"></script>
	<script src="/static/js/bootstrap-tagsinput.js"></script>
	<script>
	
	$(document).ready(function () {
		var blood = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			limit: 3,
			prefetch: {
				url: "/projects.json",
				filter: function(list) {
					console.log(this);
					return $.map(list, function(tag) {
						return { 'name' : tag };
					});
				}
			}
		});

		$('#refer-proj').tagsinput({
			typeaheadjs: {
				name: 'fucket',
				displayKey: 'name',
				valueKey: 'name',
				source: blood.ttAdapter()
			}
		});
	});




		$(document).ready(function () {
			$('#refer-why').keyup(function(evt) {
				txt = $(this).val();
				max	= $(this).attr('maxlength');
				nr	= max - txt.length;
				$('#refer-why-nr').text(nr);
			});

			$('#invite_emails').keydown(function(event) {
				if (event.keyCode == 13) {
					return false;
				} else {
					clr_profile();
				}
			});

			function get_profile()			{	return;										}
			function clr_profile()			{	$('#profile-card').addClass('no-profile');	}
			function feedback_fade(id)		{	$('#'+id).fadeOut("slow");	}
			function feedback_remove(id)	{	$('#'+id).remove();			}

			function save_reference(evt) {
				html = $('<li class="feedback-bubble">Saved</li>').uniqueId().appendTo('#feedback');
				uid	 = $(html).attr('id');
				setTimeout(feedback_fade,	2500, uid);
				setTimeout(feedback_remove, 5000, uid);
			}


			$('#btn-save-referral').click(save_reference);

			$('.typeahead').bind('typeahead:select', function(ev, suggestion) {
				var fd = {};
				fd.csrf_token = "{{ csrf_token() }}";
				$.ajax({url		: "/professional/" + suggestion.id + '/',
						type	: "POST",
						data	: fd,
						success : function(data) {
							//console.log(data);
							$('#profile-card').removeClass('no-profile');
							$('#profile-card').attr('data-id', data.id_factual);

							busname = data.name
							if (data.website) {
								busname = '<a href="' + data.website + '" target="_blank">' + busname + '</a>'
							}
							$('#pro-name').html(busname);


							if (data.email) {
								contact_email = '<a href="mailto:' + data.email + '">' + data.email + '</a>'
								$('#pro-email').html(contact_email);
							}

							if (data.phone) {
								//contact_phone = '<a href="tel:' + data.phone+ '">' + data.phone + '</a>'
								contact_phone = data.phone
								$('#pro-phone').html(contact_phone);
							}
							$('#pro-addr').html(data.addr.street + '<br>' + data.addr.city + ', ' + data.addr.state + ' ' + data.addr.post);

							sz = data.factual_categories.length;
							category = ''
							data.factual_categories.forEach(function (elem, idx) {
								if (idx == 0) { return; }
								category = category + elem;
								if (idx < data.factual_categories.length - 1) {
									category = category + " » ";
								}
							});
							//$('#pro-category').html(data.factual_categories[sz-1]);
							$('#pro-category').html(category);
						},
						error	: function(data) {
							console.log("Oops, AJAX Error.");
						}
				})
			});
			{# $('.typeahead').bind('typeahead:render', function(ev, suggestion, flag, dataset, other) {   //code  }); #}

		});
	</script>
{% endblock %}
