{% extends 'sc-header.html' %}
{% set meta_title	= 'Refer a professional.' %}
{% set meta_desc	= 'Refer a professional on Soulcrafting.' %}


{% block header_css %}
	{{ super() }}
	{% assets "scss_referral" %}<link rel='stylesheet' href='{{ASSET_URL}}'>{% endassets %}
	<link rel='stylesheet' href='/static/css/tagsinput.css'>
{% endblock %}


{% block content %}
<section>
	<div>
		<div><h3 style="text-align: left;">Help Corey find a professional</h3></div>
		<div id='refer-professional'>

			{{form.invite_emails(type='text', class='form-control typeahead', autocomplete='off', autofocus=true, placeholder="Professional's name or phone number.")}}
			<div id='profile-card' class='no-display' data-id=''>
				<!--div id='pro-category'	class='ff header'></div-->
				<!--div id='pro-name'	class='ff value'></div> <div id='pro-email' class='ff contact'></div-->
				<!--div id='pro-addr' class='ff value'></div--> <!--div id='pro-phone' class='ff contact'></div-->

				<div id='profile-referral' data-id=''>
					<div class='ff header'>Why do you recommend <span id='pro-name'>them</span>? (<span id="refer-why-nr">200</span> chars left.)</div>
					<textarea id='refer-why' type="textarea" class="ff"
							placeholder="Tim was super helpful. He answered all my questions, kept my house clean, and finished on time."
							maxlength=200
							minlength=20
							required
							spellcheck=true></textarea>
					<div class=''>
						<div id='' class='ff header'> What project was this for?</div>
						<input id='refer-proj' type="text" class="ff" autocomplete='off'> </input>
					</div>
				</div>

				<div>
					<input id='btn-cancel' 			type="button" class='btn-referral whiteButton' value="Cancel"></input>
					<input id='btn-save-referral'	type="button" class='btn-referral blueButton'  value="Save Referral"></input>
				</div>
			</div>
		</div>

		<div id='refer-explanation' class='no-display'>
			<h3>Sharing your trusted network</h3>
			<p>Most people need to know a bit about the project you did&ndash;and why you would recommend them.</p>
			<p>Your recommendation will be public.</p>
			<ul id='feedback'></ul>
		</div>
	</div>
</section>
{% endblock %}


{% block scripts %}
	{{ super() }}
	<script src="/static/js/typeahead.bundle.js"></script>
	<script src="/static/js/referral.js"></script>
	<script src="/static/js/handlebars.js"></script>
	<script src="/static/js/tagsinput.js"></script>
	<script>
$(document).ready(function () {
	projects = new Bloodhound({
		datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
		queryTokenizer: Bloodhound.tokenizers.whitespace,
		prefetch: {
		url: "/projects.json",
			filter: function(list) {
				return $.map(list, function(project_name) { return { 'name' : project_name }; });
			}
		}
	});

	projects.initialize();

	function get_profile(fd) {
		$.ajax({	url		: "/business/id/" + fd.profile_id,
					type	: "POST",
					data	: fd,
					success : function(data) {
						$('#refer-explanation').removeClass('no-display');
						$('#profile-card').removeClass('no-display');
						$('#profile-card').attr('data-id', fd.profile_id);

						busname = data.business_name
						if (data.business_website) {
							busname = '<a href="' + data.business_website + '" target="_blank">' + busname + '</a>'
						}
						$('#pro-name').html(busname);

						contact_email = ''
						console.log(data);
						data.business_emails.forEach(function (elem, idx) {
							contact_email = contact_email + '<a href="mailto:' + elem + '">' + elem + '</a>'
						});
						$('#pro-email').html(contact_email);

//						contact_phone = ''
//						data.business_phones.forEach(function (elem, idx) { contact_phone = contact_phone + '<a href="mailto:' + elem + '">' + elem + '</a>' });
//						$('#pro-phone').html(contact_phone);
						$('#pro-addr').html(data.address.street + ' ' + data.address.city + ', ' + data.address.state + ' ' + data.address.post);


						sz = data.categories[0].factual.length;
						category = ''
						data.categories[0].factual.forEach(function (elem, idx) {
							if (idx == 0) { return; }
							category = category + elem;
							if (idx < data.categories[0].factual.length - 1) {
								category = category + " » ";
							}
						});
						$('#pro-category').html(category);
						$('#refer-why').focus();
					},
					error	: function(data) {
						console.log("Oops, AJAX Error.");
					}
		});
	}

	function clear_profile() {
		$('#profile-card').addClass('no-display');	
		$('#refer-explanation').addClass('no-display');
	}


	function feedback_fade(id)		{	$('#'+id).fadeOut("slow");	}
	function feedback_remove(id)	{	$('#'+id).remove();			}

	function save_referral(evt) {
		fd = {};
		fd.csrf_token	= "{{ csrf_token() }}";
		fd.business	= $('#profile-card').data('id');
		fd.referral	= $('#profile-referral').attr('data-id');
		fd.content	= $('#refer-why').val();
		fd.projects	= $('#refer-proj').val();
		//fd.projects	= fd.projects.concat($('.bootstrap-tagsinput .twitter-typeahead .tt-input').first().val());

		console.log('save_referral');
		console.log(fd.business);
		console.log(fd.referral);
		console.log(fd.content);
		console.log(fd.projects);

		referral_uri = "/referral/create";
		if (fd.referral != "") {
			console.log('whoa ' +  fd.referral);
			referral_uri = "/referral/" + fd.referral + "/update";
		}

		$.ajax({	url		: referral_uri, 
					type	: "POST",
					data	: fd,
					success : function(data) {
						console.log(data);
						html = $('<li class="feedback-bubble">Saved</li>').uniqueId().appendTo('#feedback');
						$('#profile-referral').attr('data-id', data.ref_uuid);
						uid	 = $(html).attr('id');
						setTimeout(feedback_fade,	2500, uid);
						setTimeout(feedback_remove, 5000, uid);
					},
					error	: function(data) {
						console.log("Oops, AJAX Error.");
					}
		});

	}

	function clear_business_addr( event ) {
		name = $('#invite_emails').val();
		idx = name.lastIndexOf(" | ") 
		if (idx == -1) { return; }
		strng = name.substring(0, name.lastIndexOf(" | "));
		$('#invite_emails').val(strng);
	}

	$('#invite_emails').keydown(function(event) {
		clear_profile();
	});

	$('#btn-save-referral').click(save_referral);
	$('#invite_emails').focus(clear_business_addr);

	$('#invite_emails.typeahead').bind('typeahead:select', function(ev, suggestion) {
		var fd = {};
		fd.csrf_token = "{{ csrf_token() }}";
		fd.profile_id = suggestion.id;
		get_profile(fd);
	});

	// https://github.com/twitter/typeahead.js/blob/master/doc/jquery_typeahead.md#custom-events
	$('#invite_emails.typeahead').bind('typeahead:autocompleted', function(ev, suggestion) {
		var fd = {};
		fd.csrf_token = "{{ csrf_token() }}";
		fd.profile_id = suggestion.id;
		console.log('autocompleted');
		get_profile(fd);
	}).bind('typeahead:render', function(evt, suggestions, name) {
		if ($('#profile-card').hasClass('no-display')) {
			$('#not-found').removeClass('no-display');
		} else {
			$('#not-found').addClass('no-display');
		}
	});

	$('#refer-why').keyup(function(evt) {
		txt = $(this).val();
		max	= $(this).attr('maxlength');
		nr	= max - txt.length;
		$('#refer-why-nr').text(nr);
	});

	$('#refer-proj').tagsinput({
		typeaheadjs: {
			name: 'projects',
			displayKey: 'name',
			valueKey: 'name',
			source: projects.ttAdapter()
		}
	});
});
	</script>
{% endblock %}
