{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/review.css">
	<script src="static/js/slot_expand.js"></script>
{% endblock %}

{% block content %}

<div class="reviewContentWrapper">

	<div class="reviewLeftColumn">
		<p>You are reviewing</p>
		<h2>{{hero.prof_name}}</h2>
		<img src="https://s3-us-west-1.amazonaws.com/htfileupload/htfileupload/{{hero.prof_img}}">
	</div>

	<div class="reviewRightColumn">

		<h3>Your Impressions</h3>
	
		<select>
			<option selected="true" disabled>Overall Value</option>
			<option value="1">Poor Value</option>
			<option value="2">Fair Value</option>
			<option value="3">Good Value</option>
			<option value="4">Very Good Value</option>
			<option value="5">Excellent Value</option>
		</select>

		<select>
			<option selected="true" disabled>Promptness</option>
			<option value="1">Poor Promptness</option>
			<option value="2">Fair Promptness</option>
			<option value="3">Good Promptness</option>
			<option value="4">Very Good Promptness</option>
			<option value="5">Excellent Promptness</option>
		</select>

		<select>
			<option selected="true" disabled>Communication</option>
			<option value="1">Poor Communication</option>
			<option value="2">Fair Communication</option>
			<option value="3">Good Communication</option>
			<option value="4">Very Good Communication</option>
			<option value="5">Excellent Communication</option>
		</select>

		<form name='post_review' action=/postreview method=POST>
			{{form.hidden_tag()}}

			<h3>Your Experience</h3>
			{{form.input_review(autofocus="autofocus")}}

			<!-- Buttons -->
			<input type="submit" class="blueButton reviewPostButton" value="Post Review"/>
		</form>

		<form method="link" action="/profile">
			<input type="submit" class="whiteButton reviewCancelButton" value="Cancel">
		</form>
	</div>

	<div class="clear"></div>
</div>

{% endblock %}
