{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/calendar.css">
	{% assets "sass_schedule" %}
		<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
	
	<script src="/static/js/moment.min.js"></script>
	<script src="/static/js/date.js"></script>
	<script src="/static/js/format.js"></script>
	<script src="/static/js/schedule.times.js"></script>
	
{% endblock %}



{% block content %}

<div class="scheduleContentWrapper">
	<form id="proposalForm" method="post" action="/meeting/create">
	{{form.hidden_tag()}}

	<div class="scheduleLeftColumn">
		<p>Schedule Request to</p>
		<h2>{{mentor.prof_name}}</h2>
		<img src='https://s3-us-west-1.amazonaws.com/htfileupload/htfileupload/{{mentor.prof_img}}'>

		<div class="scheduleLeftColumnInfo">Duration <span id="newslot-duration">?</span></div>
		<div class="scheduleLeftColumnInfo">Price <span id="newslot_price">${{mentor.prof_rate}}/hour</span></div>
		You will not be charged until after the lesson, and you may see the amount as pending on your credit card statement. If the request is accepted by {{mentor.prof_name}}, your card will be securely processed. {{mentor.prof_name}} will never get to see your credit card number.
	</div>

	<div class="scheduleRightColumn">

		<div class="scheduleLesson">

		<h3>Lesson</h3>

		{{form.prop_lesson}}

		</div>

		<div class="scheduleLessonInfo">
		</div>

		<div class="scheduleTime">
			<h3>Date &amp; Time</h3>
			
			{{ form.prop_date(id="datepicker",readonly="readonly",placeholder="Choose Date") }}

			<div class="scheduleTimeLabels">
				{{form.prop_starttime.label}} {{form.prop_finishtime.label}}
			</div>

			{{form.prop_starttime}}
			
			{{form.prop_finishtime}}
		</div>


		<div class="scheduleLocation">
			<h3>Location</h3>
			<input type="text" id="newslot_location" placeholder="102 S Hall Road, Berkeley, CA, United States">
            <div class="scheduleMap" id="map-canvas"></div>
			<p></p>
		</div>

		<div class="scheduleIntro">
			<h3>Introduction</h3>
			<textarea id="newslot_description" placeholder="Tell {{mentor.prof_name}} a little about yourself and what you want to learn during your lesson (optional)."></textarea>
		</div>
		

		<!-- Buttons -->
 		<input id="send_proposal" type="submit" class="blueButton schedulePostButton" value="Checkout..."/>
		<a href="/dashboard"><button class="whiteButton scheduleCancelButton">Cancel</button></a>
		
	</div>

	<div class="clear"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="/static/js/maps.js"></script>
<script>


$(document).ready(function() {
	console.log('schedule.html -- document.ready()');
	google.maps.event.addDomListener(window, 'load', initialize);
		
	var mentor_id = "{{mentor.prof_id}}";
	var daysToEnable = [];
	var lesson_id = "{{lesson.lesson_id}}"

	if (lesson_id != "") {
		getLessonDetails(lesson_id);
	}

	console.log("Getting Available Days for this mentor...");
	
	$.ajax({ url : '/schedule/getdays',
			 type : 'GET', 	
			 data : {"mentor_id":mentor_id},
			 dataType: 'json',
			 success : function(data) { 
				 console.log ('getAvailDays:  AJAX SUCCESS');
				 console.log(data);

				 daysToEnable = data.availdays;

				 console.log("getAvailDays: daysToEnable: "+daysToEnable);
				 return daysToEnable;
			 },
			 error: function(data) {
				 console.log ('getAvailDays: AJAX FAIL');
				 return false;
			 }
	});


	function enableSpecificWeekDays(date, daysToEnable) {

		// console.log("enableSpecificWeekDays: daysToEnable:" + daysToEnable);
		
	    var day = date.getDay();
	    for (i = 0; i < daysToEnable.length; i++) {
	        if ($.inArray(day, daysToEnable) == -1) {
	        	// console.log("enableSpecificWeekDays: day "+day+" not found in daysToEnable ("+daysToEnable+")");
	            return [false];
	        }

	    }
	    return [true];
	}

	$("#prop_lesson").change(function() {
		getLessonDetails($(this).val());


	});

	$( "#datepicker" ).datepicker({
		inline: true,
	    minDate: 0,
	    maxDate: '+1Y-1D',
	    dateFormat: "DD, M dd, yy",
	    defaultDate: null,
	    beforeShowDay: function(date) {
	    	// console.log("Datepicker: date: "+date+", daysToEnable: "+daysToEnable);
	    	return enableSpecificWeekDays(date, daysToEnable);
	    }
	});

	$('#datepicker').change(function() {
		var d1 = new Date(document.getElementById("datepicker").value);
		var thisday = d1.getDay();
		console.log("d1 is "+d1);
		console.log("day is "+thisday);

		// Restore the time dropdowns to show all times, before paring based on avails

		// Retrieve mentor's available times based on day

		var d = {}
		var day = thisday;

		d.day = thisday;
		d.mentor_id = mentor_id

		$.ajax({ url : '/schedule/gettimes',
				 type : 'GET', 	
				 data : d,
				 dataType: 'json',
				 success : function(data) { 
					 console.log ('AJAX SUCCESS');
					 console.log(data);

					 var start = data.start.substring(0,5);
					 var finish = data.finish.substring(0,5);
					 console.log("start: "+start+", finish: "+finish);

					 // When we allow multiple times, iterate through data.
					 processTimeSelect(start, finish);

				 },
				 error: function(data) {
					 console.log ('AJAX FAIL');
				 }
		});
		return false;

	});

	function getLessonDetails(lesson_id){

		console.log("getLessonDetails for lesson "+lesson_id);
		$(".scheduleLessonInfo").html('<div class="loading"><i class="fa fa-spinner fa-spin"></i>Loading Details...</div>');

		$.ajax({ url : '/lesson/'+lesson_id+'/retrieve',
				 type : 'GET',
				 dataType: 'json',
				 success : function(data) { 
					console.log ('getLessonDetails: AJAX SUCCESS');
					console.log(data);
					var lesson_duration = data.lesson.lesson_duration;
					var lesson_duration_str = data.lesson.lesson_duration_str;
					var lesson_rate = data.lesson.lesson_rate;
					var lesson_rate_unit = data.lesson.lesson_rate_unit;
					var lesson_group_rate_unit = data.lesson.lesson_group_rate_unit;
					var lesson_group_rate = data.lesson.lesson_group_rate;
					var lesson_group_maxsize = data.lesson.lesson_group_maxsize;
					var lesson_description = data.lesson.lesson_description;
					
					if (lesson_rate_unit == 0){
						lesson_rate_unit = " per hour";
					} else {
						lesson_rate_unit = "";
					}					
					if (lesson_group_rate_unit == 0){
						lesson_group_rate_unit = " per person, per hour";
					} else {
						lesson_group_rate_unit = " per person";
					}
					if (lesson_duration == -1) {
						lesson_duration_str = "Flexible";
					}

					$(".scheduleLessonInfo").attr("data-duration", lesson_duration);
					$(".scheduleLessonInfo").empty();
				
					$(".scheduleLessonInfo").append("<div class='lessonField'><div class='lessonFieldLabel'>Duration:</div><div class='lessonData'>"+lesson_duration_str+"</div></div>");
					$(".scheduleLessonInfo").append("<div class='lessonField'><div class='lessonFieldLabel'>Rate:</div><div class='lessonData'>$" + lesson_rate + lesson_rate_unit + " (individuals)");
					if (lesson_group_rate) {
						$(".scheduleLessonInfo").append("<br>"+ lesson_group_rate + lesson_group_rate_unit+" (groups, up to "+lesson_group_maxsize+")");
					}
					$(".scheduleLessonInfo").append("</div></div>");

					$(".scheduleLessonInfo").append("<div class='lessonField'><div class='lessonFieldLabel'>Description:</div><div class='lessonData'>" + lesson_description + "</div></div>");

					$(".scheduleLessonInfo").append("<div class='lessonField'><div class='lessonFieldLabel'>More Details:</div><div class='lessonData'><a href='lesson/"+lesson_id+"'>Go to lesson page</a></div></div>");	
				 },
				 error: function(data) {
					 console.log ('getLessonDetails: AJAX FAIL');
				 }
		});
		return false;		
	}


	function processTimeSelect(start, finish){

		$("#prop_starttime, #prop_finishtime").children().removeAttr('disabled');

		var startTargetFirst = $("#prop_starttime").children("option[value='"+start+"']");
		var startTargetLast = $("#prop_starttime").children("option[value='"+finish+"']")

		var finishTargetFirst = $("#prop_finishtime").children("option[value='"+start+"']");
		var finishTargetLast = $("#prop_finishtime").children("option[value='"+finish+"']")

		startTargetFirst.prevAll().attr('disabled','disabled');
		startTargetLast.nextAll().attr('disabled','disabled');
		finishTargetFirst.prevAll().attr('disabled','disabled');
		finishTargetLast.nextAll().attr('disabled','disabled');

		$("#prop_starttime").val(start);
		$("#prop_finishtime").val(start);

		// startTargetFirst.prevAll().remove();
		// startTargetLast.nextAll().remove();
		// finishTargetFirst.prevAll().remove();
		// finishTargetLast.nextAll().remove();

	}

	$("#prop_starttime").change(function() {
		// Check duration of lesson and automatically select.
		// If no duration, set to starttime + 1

	});



	$('#newslot_starttime').change(function() { update_time_diff({{mentor.prof_rate}}); });
	$('#newslot_endtime').change(function() { update_time_diff({{mentor.prof_rate}}); });
    if (document.getElementById("datepicker") != null) {
        document.getElementById("datepicker").value = moment().format("dddd, MMM D, YYYY");
    }

	var stripe_chkout = StripeCheckout.configure({
		key: '{{ STRIPE_PK }}',
		allowRememberMe: true,
		token: function(token) {
			//$.each(token, function(k, v) { console.log('token.' + k + ':' + v); });

			var fd = {};
			fd.csrf_token = "{{ csrf_token() }}";
			fd.stripe_tokn = token.id;
			fd.stripe_card = (token.card.id);
			fd.stripe_name = (token.card.name);
			fd.stripe_city = (token.card.address_city);
			fd.stripe_stat = (token.card.address_state);
			fd.stripe_cust = (token.card.customer);
			fd.stripe_fngr = (token.card.fingerprint);
			fd.stripe_mail = (token.email);

			fd.prop_mentor =  ($mentor_acct);
			fd.prop_cost =  ($cost);
			fd.prop_area =  ($area);
			fd.prop_desc =  ($desc);
			fd.prop_s_date = ($ts_d);
			fd.prop_s_hour = ($ts_h);
			fd.prop_f_date = ($tf_d);
			fd.prop_f_hour = ($tf_h);

			console.log('time = ' + $time);
			console.log('cost = ' + $cost);

			$.ajax({ url	: "/meeting/create",
					type	: "POST",
					data	: fd,
					success : function(data) {
						console.log(data);
						console.log(data.nexturl);
						console.log(data.usrmsg);
						window.location.href = data.nexturl;
					},
					error	: function(data) {
						console.log(data.responseText);
						var msg = JSON.parse(data.responseText);
						openAlertWindow(msg['usrmsg']);
					}
			});
		}
	});


	$('#send_proposal').click(function(e) {
		$mentor_acct = '{{mentor.prof_id}}';
		$mentor_name = '{{mentor.prof_name}}';
		$cost = parseInt($('#newslot_price').val().replace(/,/g, ''), 10) * 100;
		$time = $('#newslot-duration').html();
		$desc = $('#newslot_description').val();
		$area = $('#newslot_location').val();
		$ts_d = $('#datepicker').val();
		$ts_h = $('#newslot_starttime').val();

		$tf_d = $('#datepicker').val();
		$tf_h = $('#newslot_endtime').val();

		$bp_name = '{{bp.prof_name}}';
		$bp_id   = '{{bp.prof_id}}';
		console.log('mentor_acct = ' + $mentor_acct + ';' + $mentor_name);
		console.log('ts = ' + $ts_d+ ' ; ' + $ts_h);
		console.log('tf = ' + $tf_d+ ' ; ' + $tf_h);
		console.log('@ cost = ' + $cost);

		stripe_chkout.open({
			name:	$mentor_name,
			description: "Meeting on " + $ts_d, // + " at " + $ts_h, //You'll be charged after the meeting.",
			email: '{{buyer_email}}',
//			image: '/static/img/inspriteLogoA.png',
			amount:	$cost,
			address:	true,
			currency:	'usd',
		});
		e.preventDefault();
	});
});


</script>
<script src="https://checkout.stripe.com/checkout.js"></script>

{% endblock %}
