{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/calendar.css">
	{% assets "sass_schedule" %}
		<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
	
	<script src="/static/js/moment.min.js"></script>
	<script src="/static/js/date.js"></script>
	<script src="/static/js/format.js"></script>
	<script src="/static/js/schedule.times.js"></script>
	
{% endblock %}



{% block content %}

<div class="scheduleContentWrapper">
	<form id="proposalForm" method="post" action="/meeting/create">
	{{form.hidden_tag()}}

	<div class="scheduleLeftColumn">
		<p>Schedule Request to</p>
		<h2>{{mentor.prof_name}}</h2>
		<img src='https://s3-us-west-1.amazonaws.com/htfileupload/htfileupload/{{mentor.prof_img}}'>

		<div class="scheduleLeftColumnInfo">Duration <span id="newslot-duration">?</span></div>
		<div class="scheduleLeftColumnInfo">Price <span id="newslot_price">${{mentor.prof_rate}}/hour</span></div>
		You will not be charged until after the lesson, and you may see the amount as pending on your credit card statement. If the request is accepted by {{mentor.prof_name}}, your card will be securely processed. {{mentor.prof_name}} will never get to see your credit card number.
	</div>

	<div class="scheduleRightColumn">

		<div class="scheduleLesson">

		<h3>Lesson</h3>

		{{form.prop_lesson}}


		</div>

		<div class="scheduleIntro">
			<h3>Introduction</h3>
			<textarea id="newslot_description" placeholder="Tell {{mentor.prof_name}} a little about yourself and what you want to learn during your lesson (optional)."></textarea>
		</div>
		
		<div class="scheduleTime">
			<h3>Date &amp; Time</h3>
			
			{# form.prop_date #}
			<input type="text" id="datepicker" placeholder="Today" readonly="readonly">


			<select id="newslot_starttime">
				<option selected="true" disabled>Start Time</option>

				<option>00:30 AM</option> <option>01:00 AM</option> <option>01:30 AM</option> <option>02:00 AM</option>
				<option>02:30 AM</option> <option>03:00 AM</option> <option>03:30 AM</option> <option>04:00 AM</option>
				<option>04:30 AM</option> <option>05:00 AM</option> <option>05:30 AM</option> <option>06:00 AM</option>
				<option>06:30 AM</option> <option>07:00 AM</option> <option>07:30 AM</option> <option>08:00 AM</option>
				<option>08:30 AM</option> <option>09:00 AM</option> <option>09:30 AM</option> <option>10:00 AM</option>
				<option>10:30 AM</option> <option>11:00 AM</option> <option>11:30 AM</option> <option>12:00 PM</option>
				<option>12:30 PM</option> <option>01:00 PM</option> <option>01:30 PM</option> <option>02:00 PM</option>
				<option>02:30 PM</option> <option>03:00 PM</option> <option>03:30 PM</option> <option>04:00 PM</option>
				<option>04:30 PM</option> <option>05:00 PM</option> <option>05:30 PM</option> <option>06:00 PM</option>
				<option>06:30 PM</option> <option>07:00 PM</option> <option>07:30 PM</option> <option>08:00 PM</option>
				<option>08:30 PM</option> <option>09:00 PM</option> <option>09:30 PM</option> <option>10:00 PM</option>
				<option>10:30 PM</option> <option>11:00 PM</option> <option>11:30 PM</option> <option>12:00 PM</option>
			</select>


			<select id="newslot_endtime">
				<option selected="true" disabled>End Time</option>

				<option>00:30 AM</option> <option>01:00 AM</option> <option>01:30 AM</option> <option>02:00 AM</option>
				<option>02:30 AM</option> <option>03:00 AM</option> <option>03:30 AM</option> <option>04:00 AM</option>
				<option>04:30 AM</option> <option>05:00 AM</option> <option>05:30 AM</option> <option>06:00 AM</option>
				<option>06:30 AM</option> <option>07:00 AM</option> <option>07:30 AM</option> <option>08:00 AM</option>
				<option>08:30 AM</option> <option>09:00 AM</option> <option>09:30 AM</option> <option>10:00 AM</option>
				<option>10:30 AM</option> <option>11:00 AM</option> <option>11:30 AM</option> <option>12:00 PM</option>
				<option>12:30 PM</option> <option>01:00 PM</option> <option>01:30 PM</option> <option>02:00 PM</option>
				<option>02:30 PM</option> <option>03:00 PM</option> <option>03:30 PM</option> <option>04:00 PM</option>
				<option>04:30 PM</option> <option>05:00 PM</option> <option>05:30 PM</option> <option>06:00 PM</option>
				<option>06:30 PM</option> <option>07:00 PM</option> <option>07:30 PM</option> <option>08:00 PM</option>
				<option>08:30 PM</option> <option>09:00 PM</option> <option>09:30 PM</option> <option>10:00 PM</option>
				<option>10:30 PM</option> <option>11:00 PM</option> <option>11:30 PM</option> <option>12:00 PM</option>				
			</select>
		</div>


		<div class="scheduleLocation">
			<h3>Location</h3>


			<input type="text" id="newslot_location" placeholder="102 S Hall Road, Berkeley, CA, United States">
            <div class="scheduleMap" id="map-canvas"></div>


			<p></p>
		</div>

		<!-- Buttons -->
 		<input id="send_proposal" type="submit" class="blueButton schedulePostButton" value="Checkout..."/>
		<a href="/dashboard"><button class="whiteButton scheduleCancelButton">Cancel</button></a>
		
	</div>

	<div class="clear"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="/static/js/maps.js"></script>
<script>


$(document).ready(function() {
	console.log('schedule.html -- document.ready()');
	google.maps.event.addDomListener(window, 'load', initialize);
	
	var daysToDisable = [2, 4, 5]

	$( "#datepicker" ).datepicker({
		inline: true,
	    minDate: 0,
	    maxDate: '+1Y-1D',
	    dateFormat: "DD, M dd, yy",
		
	    beforeShowDay: disableSpecificWeekDays
	});

	function disableSpecificWeekDays(date) {
	    var day = date.getDay();
	    for (i = 0; i < daysToDisable.length; i++) {
	        if ($.inArray(day, daysToDisable) != -1) {
	            return [false];
	        }
	    }
	    return [true];
	}

	$('#datepicker').change(function() {
		var d1 = new Date(document.getElementById("datepicker").value);
		var thisday = d1.getDay();
		console.log("d1 is "+d1);
		console.log("day is "+thisday);

		// Retrieve mentor's available times based on day

		var d = {}
		var day = thisday;
		var mentor_id = "{{mentor.prof_id}}";

		d.day = thisday;
		d.mentor_id = mentor_id

		console.log('day is'+day+', mentor id is'+mentor_id);

		$.ajax({ url : '/schedule/gettimes',
				 type : 'GET', 	
				 // data : {"day":day, "mentor_id":mentor_id},
				 data : d,
				 dataType: 'json',
				 success : function(data) { 
					 console.log ('AJAX SUCCESS');
					 console.log(data);
					  
				 },
				 error: function(data) {
					 console.log ('AJAX FAIL');
				 }
		});
		return false;

	});

	$('#newslot_starttime').change(function() { update_time_diff({{mentor.prof_rate}}); });
	$('#newslot_endtime').change(function() { update_time_diff({{mentor.prof_rate}}); });
    if (document.getElementById("datepicker") != null) {
        document.getElementById("datepicker").value = moment().format("dddd, MMM D, YYYY");
    }

	var stripe_chkout = StripeCheckout.configure({
		key: '{{ STRIPE_PK }}',
		allowRememberMe: true,
		token: function(token) {
			//$.each(token, function(k, v) { console.log('token.' + k + ':' + v); });

			var fd = {};
			fd.csrf_token = "{{ csrf_token() }}";
			fd.stripe_tokn = token.id;
			fd.stripe_card = (token.card.id);
			fd.stripe_name = (token.card.name);
			fd.stripe_city = (token.card.address_city);
			fd.stripe_stat = (token.card.address_state);
			fd.stripe_cust = (token.card.customer);
			fd.stripe_fngr = (token.card.fingerprint);
			fd.stripe_mail = (token.email);

			fd.prop_mentor =  ($mentor_acct);
			fd.prop_cost =  ($cost);
			fd.prop_area =  ($area);
			fd.prop_desc =  ($desc);
			fd.prop_s_date = ($ts_d);
			fd.prop_s_hour = ($ts_h);
			fd.prop_f_date = ($tf_d);
			fd.prop_f_hour = ($tf_h);

			console.log('time = ' + $time);
			console.log('cost = ' + $cost);

			$.ajax({ url	: "/meeting/create",
					type	: "POST",
					data	: fd,
					success : function(data) {
						console.log(data);
						console.log(data.nexturl);
						console.log(data.usrmsg);
						window.location.href = data.nexturl;
					},
					error	: function(data) {
						console.log(data.responseText);
						var msg = JSON.parse(data.responseText);
						openAlertWindow(msg['usrmsg']);
					}
			});
		}
	});


	$('#send_proposal').click(function(e) {
		$mentor_acct = '{{mentor.prof_id}}';
		$mentor_name = '{{mentor.prof_name}}';
		$cost = parseInt($('#newslot_price').val().replace(/,/g, ''), 10) * 100;
		$time = $('#newslot-duration').html();
		$desc = $('#newslot_description').val();
		$area = $('#newslot_location').val();
		$ts_d = $('#datepicker').val();
		$ts_h = $('#newslot_starttime').val();

		$tf_d = $('#datepicker').val();
		$tf_h = $('#newslot_endtime').val();

		$bp_name = '{{bp.prof_name}}';
		$bp_id   = '{{bp.prof_id}}';
		console.log('mentor_acct = ' + $mentor_acct + ';' + $mentor_name);
		console.log('ts = ' + $ts_d+ ' ; ' + $ts_h);
		console.log('tf = ' + $tf_d+ ' ; ' + $tf_h);
		console.log('@ cost = ' + $cost);

		stripe_chkout.open({
			name:	$mentor_name,
			description: "Meeting on " + $ts_d, // + " at " + $ts_h, //You'll be charged after the meeting.",
			email: '{{buyer_email}}',
//			image: '/static/img/inspriteLogoA.png',
			amount:	$cost,
			address:	true,
			currency:	'usd',
		});
		e.preventDefault();
	});
});
</script>
<script src="https://checkout.stripe.com/checkout.js"></script>

{% endblock %}
