{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/dropzone.css">
	<link type="text/css" rel="stylesheet" href="/static/css/seller_signup.css"><!-- contains dropzone overrides -->

{% endblock %}

{% block content %}

<div class="ssContentWrapper">

	<div class="ssHeader">
		<div class="ssHeaderLeft">
			<div class="ssTopLeftNavigation">
				<a title="Back" id="topLeftNavBack" class="navItem"><i class="fa fa-arrow-circle-left"></i> Back</a>
			</div>
		</div>
			
		<div class="ssHeaderRight">
			<div class="ssHeaderPageName">Sign up to List Your Services</div>
		</div>			
	</div>
  
  	<div class="ssContentContainer">
		<div class="ssLeftColumn">
			<div class="ssNavContainer">
			<ul class="ssNavList">
				<div class="ssNavItem"><a class="ssNavLink" data-target-page="profile_photo">Profile Photo<i class="fa fa-fw fa-picture-o"></i></a></div>			
				<div class="ssNavItem"><a class="ssNavLink" data-target-page="schedule">Schedule<i class="fa fa-fw fa-calendar"></i></a></div>
				<div class="ssNavItem"><a class="ssNavLink" data-target-page="payment">Payment Info<i class="fa fa-fw fa-dollar"></i></a></div>
			</ul>
			</div>
		</div>

		<div class="ssRightColumn">
			
			<div class="ssFormPageContainer">
  				<form id="ssForm" method="post" action="/add_seller_info" enctype="multipart/form-data">

				<div id="profile_photo" class="ssFormPage">
					<div class="formInstruction">Upload High-Resolution Photo</div>
					<div class="formDescription">We ask that all our Sprites provide large, high-quality photos. A good-looking profile can make a big difference in attracting customers. Please make sure yours is at least 980 pixels wide, in landscape orientation (wider than it is tall), and has good lighting. If you're using a phone camera, make sure it's set to a high resolution. Ideally, the photo should be of you performing one of your skills, or of some your handiwork.</div>

					<div class="ssUploadPreview"><img id="ssUploadPreviewImage" class="ssUploadPreviewImage"></div>

					<input type="button" class="whiteButton ssProfileImageButton" id="ssProfileImageButton" value="Choose Image...">
					<div class="ssProfileImageInfo"></div>

					<input name="ssProfileImage" id="ssProfileImage" type="file" accept="image/*">

					<div class="ssFormButtonContainer">
						<button id="ssFormButton" class="blueButton ssFormButton" data-current-page="profile_photo">Continue</button>
					</div>					
				
				</div>

				<div id="schedule" class="ssFormPage">
					<div class="formInstruction">Your Availability</div>
					<div class="formDescription">Soon, we will show you a calendar where you can select your availability.</div>
					<input type="radio" id="ssAvailOption" name="ssAvailOption" class="formField" value="open"><label for="ssAvailOptionOpen">Flexible - customer should contact me.</label><br> 
					<input type="radio" id="ssAvailOption" name="ssAvailOption" class="formField" value="specific"><label for="ssAvailOptionSpecific">Specific (select times below)</label><br><br> 						
					<select name="ssAvailTimes" id="ssAvailTimes" class="formField span3">
						<option value="now">Now
						<option value="never">Never
					</select>  	

					<div class="ssFormButtonContainer">
						<button id="ssFormButton" class="blueButton ssFormButton" data-current-page="schedule">Continue</button>
						<a id="ssFormPrevious" class="ssFormPrevious">Previous</a>
					</div>				
				</div>

				<div id="payment" class="ssFormPage">
					<div class="formInstruction">Payment Information</div>
					<div class="formDescription">In order to get paid as a member of Insprite, you must sign up for a free <a href="https://stripe.com" target="_blank">Stripe</a> account. Stripe is a company that provides a secure way for individuals and businesses to accept payments over the Internet. 
					<br><br>
					Click "Connect with Stripe" to sign up and to authorize Insprite to deposit money into your account. You will be temporarily taken to Stripe's website, but will be taken back here once you're done.
					</div>
					
					<a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_2lJcTENLl5q6xB5eLld0aiWCIyTI2tei&scope=read_write&stripe_landing=login" class="stripe-connect light-blue" id="set-stripe"><span>Connect with Stripe</span></a>
					<input id="oauth_stripe" name="oauth_stripe" readonly type="text" value="">


					<div class="ssFormButtonContainer">
						<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
						<button id="ssFormButtonSubmit" class="blueButton ssFormButtonSubmit" data-current-page="payment">Submit and Continue</button>
						<a id="ssFormPrevious" class="ssFormPrevious">Previous</a>
					</div>	

				</div>
			</div>	

	</div><!--empty, container-->

</div>

<!-- Scripts -->
<script src="/static/js/dropzone.js"></script>
<script src="/static/js/seller_signup.js"></script>
<script>

$(document).ready(function(){


});

</script>
<!-- Bottom bar -->

{% endblock %}
