{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/settings.css">
	<script src="/static/js/settings.js"></script>
{% endblock %}

{% block content %}

<div class="settingsContentWrapper">

	<div class="settingsSwitch">
		<div class="settingsSwitchEmail settingsSwitchActive">Email</div>
		<div class="settingsSwitchPassword">Password</div>
		<div class="settingsSwitchPayout">Payout</div>
	</div>

	<form action=settings method=POST>

		<div class="settingsEmail">
			<h2>Change Email</h2>

			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

			{{form.set_input_email()}}			
			{{form.set_input_email_pass(placeholder="Current password")}}

			{% if errmsg != none %}
				<script>
					openAlertWindow('{{errmsg}}')
				</script>
			{% endif %}

		</div>

		<div class="settingsPassword">

			<h2>Change Password</h2>
			{{form.set_input_curpass(placeholder="Current password", autocomplete="off")}}
			{{form.set_input_newpass(placeholder="New password")}}
			{{form.set_input_verpass(placeholder="Verify password")}}

		</div>

		<div class="settingsPayout">
			<h2>Payout Information</h2>

			<p>We use Stripe's services to pay you for the services you sell. <a href="https://stripe.com" target="_blank">Stripe</a> is a company that provides a secure way for individuals and businesses to accept payments over the Internet. (<a href="https://support.stripe.com/questions/what-countries-does-stripe-support" target="_blank">Click here</a> for the list of supported countries.)</p>

			<label id="set-label-stripeid" for="oauth_stripe">Your Stripe ID</label>
			{{form.oauth_stripe(readonly=readonly)}}

			<div id="set-stripe-wrap">
				<a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_2lJcTENLl5q6xB5eLld0aiWCIyTI2tei&scope=read_write&stripe_landing=login" class="stripe-connect light-blue" id="set-stripe"><span>Connect with Stripe</span></a>
			</div>

			<!-- LS: I commented out this just in case we need it later.
			<div id="set-stripe-register-wrap">
				<a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_2lJcTENLl5q6xB5eLld0aiWCIyTI2tei&scope=read_write&stripe_landing=register&stripe_user[email]={{form.set_input_email.data}}&stripe_user[business_name]={{bp.name|urlencode}}" class="whiteButton" id="set-stripe-register">Register</a>
			</div>
			-->
		</div>

		<input class="blueButton" id="set-save" type=submit value="Save changes" />

	</form>

</div>






<!-- Bottom bar -->

{% endblock %}
