{% extends "sc_header.html" %}

{% block header_css %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/share.css">
	<link type="text/css" rel="stylesheet" href="/static/css/master.css">
	<link type="text/css" rel="stylesheet" href="/static/css/modern-business.css">
{% endblock %}


{% block content %}
<div class="composeWrapper">

	<div class="composeHeader"> <h1>Share Soulcrafting </h1> </div>

	<div class="shareFieldContainer">
		<div class="shareFieldContainer">
			<div class="shareField">To</div>
			<input type="text" id="recipient" name="shareRecipient" class="composeField" placeholder=" corey@gmail.com">
		</div>

		<div class="shareFieldContainer">
			<div class="shareField">Subject</div>
			<input type="text" id="composeSubject" name="composeSubject" class="composeField" placeholder="Save $200 on bespoke furniture">
		</div>

		<div class="shareFieldContainer">
			<div class="shareField">Message</div>
			<textarea id="composeBody" name="composeBody" class="composeField" placeholder="Hi, you mentioned looking for an awesome table.  Check out Soulcrafting and use the code, BLAH, to get a $200 discount."></textarea>
		</div>
	</div>

	<div id="shareStatus"></div>
	<div class="composeMessageSend">
		<button id="sendMessage" class="blueButton composeMessageSendButton">Send</button>
	</div>
</div>
{% endblock %}	
