{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/signup.css">
	<link type="text/css" rel="stylesheet" href="/static/css/master.css">
	<script type="text/javascript" src="/static/js/signup.js"></script>
{% endblock %}


{% block content %}

<div class="signupContentWrapper">
	<h2>Register for Insprite</h2>
<!-- 
	<div class="signupSwitch">
		<div class="signupSwitchEmail signupSwitchActive">Email Signup</div>
		<div class="signupSwitchSocial">Social Signup</div>
	</div>
 -->
	<div class="signupEmail">
		<form id="SignupNow" action="/signup" onsubmit="return validateForm();" method="POST">

			{% if form.errors %}
			<div class="formError">Please fill out all fields</div>
			{% endif %}

			{{form.hidden_tag()}}
			{{form.input_signup_name(id="signupName", placeholder="Name", class="formField")}}
			{{form.input_signup_email(id="signupEmail", placeholder="Email", class="formField")}}
			{{form.input_signup_password(id="signupPassword", placeholder="Enter Password", class="formField")}}
			{{form.input_signup_confirm(id="signupConfirm", placeholder="Confirm Password", class="formField")}}
			<div id="passMeter"></div>

			<div class="signupAcceptTOS">
				{{form.accept_tos(class="checkbox formField")}} <label for="accept_tos" class="checkbox-label">I agree to the <a href="/terms" target="_blank">Terms of Service</a></label>
			</div>
			<div class="signupEmailSubmitWrapper"><input type="submit" value="Join Now" class="button teal"></div>
		</form>	
	</div>

	{% if errmsg != none %}
		<script>openAlertWindow('{{errmsg}}')</script>
	{% endif %}

	<!--
	<h2>Or use these</h2>
	<div class="signupSocial">
		<form method="link" action="/signup/linkedin">
			<input type="submit" class="signupLinkedIn" name="signupLinkedIn" value="LinkedIn" target="_blank"> 
		</form>

		<form method="link" action="/signup/facebook">
			<input type="submit" class="signupFacebook" value="Facebook">
		</form>

		<div class="signupLinkedInNotice">			
			By clicking any of the buttons above, you confirm that you have read the <a href="terms" target="_blank">Terms of Service</a>, that you understand them, and that you agree to be bound by them.
		</div>
	</div>
	-->

	<a class="signupLink" href="/login">Already a member?</a>
</div>

<!-- Scripts -->
<script type="text/javascript" src="/static/js/zxcvbn.js"></script>
<script type="text/javascript" src="/static/js/jquery.password.strength.js"></script>
<script type="text/javascript">



$(function() {
	// password strength - www.sitepoint.com/developing-password-strength-plugin-jquery/
	$("#signupConfirm").keyup(  function() { init_pw_bar(); } );
	$("#signupPassword").keyup( function() { if ($("#signupConfirm").val() != "") { init_pw_bar(); } });
});



function init_pw_bar() {
	$("#passMeter").PasswordStrengthManager({
		password: $("#signupPassword").val(),
		confirm_pass : $("#signupConfirm").val(),
		minChars : '6',
		maxChars : '50',
		advancedStrength : false
	});
}



function validateForm() {
	console.log("Validating");

	// clear all 'red error boxes' around fields.
	$(".formField").removeClass("formFieldError")

	// Fetch form elements
	var name = document.forms["SignupNow"]["signupName"];
	var email_address = document.forms["SignupNow"]["signupEmail"];
	var password = document.forms["SignupNow"]["signupPassword"];
	var confirm  = document.forms["SignupNow"]["signupConfirm"];

	// Check for empty fields; if found, highlight them
	var rc = 0;
	var form_fields = [name, email_address, password, confirm];
	for (var i = 0; i < form_fields.length; i++) {
		var element = form_fields[i];
		var e_value = form_fields[i].value;
		if (e_value.match(/^\s*$/)) {
			// if word does not exist flag field.
			$(element).addClass("formFieldError");
			rc++;
		}
	}

	if (rc > 0) {
		openAlertWindow("Missing required information.");
		return false;
	}

	// validate email address.
	if (v_email(email_address.value)) {
		openAlertWindow("Invalid email address.");
		return false;
	}

	// validate both passwords match.
	if (password.value !== confirm.value) {
		openAlertWindow("Passwords don't match.");
		return false;
	}

	// validate user agreed to the terms of service.
	if (!document.getElementById('accept_tos').checked) {
		openAlertWindow("You must agree to the Terms of Service before creating an account.");
		return false;
	}
	return true;
}


function v_email(email) {
	var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	valid = regex.test(email);
	if (!valid) {
		console.log([email, valid])
		$(".signupEmail").addClass("formFieldError");
	}
	return valid
}
</script>

<!-- Bottom bar -->
{% endblock %}
