{% extends 'sc-header.html' %}
{% set title='Sign Up for Soulcrafting' %}

{% block header_css %}
	{{ super() }}
	{% assets 'scss_loginsys' %} <link rel='stylesheet' href='{{ASSET_URL}}'> {% endassets %}
{% endblock %}


{% block content %}
<section id='authorize'>
	<h2 class='text-center'>Sign Up for Soulcrafting</h2>

	<div class='social-btns'>
		<ul class='social-login list-unstyled'>
			{% if ref_name %} <li class='text-center'>Referred by {{ref_name}}</li> {% endif %}
			<li><a href="/signup/facebook"><button class='facebook-btn btn' type='button'><i class='fa fa-facebook'></i>Sign Up with Facebook</button></a></li>
		</ul>
	</div>
	<hr>

	<div id='authorize-form'>
		<form action="/signup" method="POST" id='signup-form' class="signup-form">
			{{form.hidden_tag()}}
			{{form.refid}}

			<div class="form-group username">
				<label class="sr-only" for="uname">Your name</label>
				{{form.uname(type="name", class="form-control login-uname", Placeholder="Your name")}}
			</div>
			<div class="form-group email">
				<label class="sr-only" for="email">Your email</label>
				{{form.email(type="email", class="form-control login-email", Placeholder="Your email")}}
			</div>
			<div class="form-group password">
				<label class="sr-only" for="passw">Your password</label>
				{{form.passw(type="password", class="form-control login-password", Placeholder="Your password")}}
			</div>
			<div class='form-group'>
				By signing up, I agree to Soulcrating's <a href='/terms/service'>Terms of service</a> and <a href='/terms/privacy'>Privacy Policy</a>.
			</div>
			<button id='btn-signup' type='submit' class='btn btn-block blueButton'>Sign Up as Professional</button>
			<br>
		</form>
		<p>
			<a href='/login'><button class='btn btn-block whiteButton'>I have an account</button></a>
			<a href='/signup/professional'><button class='btn btn-block whiteButton'>I'm a professional</button></a>
		</p>
	</div>
</section>
{% endblock %}

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% block scripts %}
	{{ super() }}
	{% if sc_alert %}<script>openAlertWindow('{{sc_alert}}')</script>{% endif %}

<script>
	$(document).ready(function() {
		/* remove attention class once user has made a change */
		$('.form-control').blur(function (e) { $(this).removeClass('attention');	});
		$('#terms').click(function (e){ $('#terms-text').removeClass('attention');	});

		$('#btn-signup').click(function(e) {
			var errors = 0;
			var uname = document.forms["signup-form"]["uname"];
			var email = document.forms["signup-form"]["email"];
			var passw = document.forms["signup-form"]["passw"];
			var terms = document.forms["signup-form"]["terms"];

			if (uname.value == '')	{	$(uname).addClass('attention');	errors++;	}
			if (email.value == '')	{	$(email).addClass('attention');	errors++;	}
			if (passw.value == '')	{	$(passw).addClass('attention');	errors++;	}
			if (!terms.checked)		{	$('#terms-text').addClass('attention'); errors++; 	}
			if (errors) {
				console.log('Submit had ' + errors + ' errors');
				return false;
			}
			return true;
		});
	});
</script>
{% endblock %}
