{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<!--script src="/static/js/profile.js"></script-->
	<script src="/static/js/lightbox.min.js"></script>

	<link type="text/css" rel="stylesheet" href="/static/css/lightbox.css">
	<link type="text/css" rel="stylesheet" href="/static/css/dropzone.css">
	<link type="text/css" rel="stylesheet" href="/static/css/upload_portfolio.css"> <!-- contains dropzone overrides -->

{% endblock %}

{% block content %}


<div class="dzContentWrapper">
	<div class="windowClose"><a href="/profile">&#x2715;</a></div>
	<h2>Upload Portfolio Images</h2>
	<h4>(Drag and drop to re-order)</h4>
	<a href="/profile">Back to Profile</a> | <a href="/edit_portfolio">Edit Existing Portfolio</a>

	<div class="dropzone-status"></div>

	<div class="dropzone-wrapper">
		<form action="upload" method="post" class="dropzone dz-clickable square" id="upload-form">
			<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
			<div class="fallback">
		    	<input name="file" type="file" multiple />
		  	</div>
		</form>
	</div> 

	<div class="dropzone-content-submit">
		<button type="button" class="blueButton multipleUploadButton">
			Continue
		</button>
	</div>

	<form action="edit_portfolio" method="post" id="dropzone-continue">
		<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
	</form>

</div>

<script src="/static/js/dropzone.js"></script>
<script src="/static/js/upload_portfolio.js"></script>


{% endblock %}