{% extends "ht_header.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/css/recovery.css">
{% endblock %}


{% block content %}
<div class="recoveryContentWrapper">
	<h2>Email Verification</h2>
	<input type="hidden" id="csrf_token" value="{{ csrf_token() }}">
	<div class="recoveryInstructions">Enter challenge number sent via email.</div>
	<input type="text" id="email" value="">
	<input type="text" id="challenge" value="">
	<button id="rec_submit" class="blueButton">Verify Email Address</button>
</div>
{% endblock %}
