@import 'forms';
@import 'elem-defaults';
@import 'elem-checkbox';



#page-content	{	padding-top:	$section-padding;	}
#page-wrapper	{	margin-bottom:	$section-padding;	}
#authorize {
	background-color: $white;
	border-radius: $container-border-radius;
	padding: 20px 10px 10px;
	margin: 0px auto;
}


#terms-text		{ font-size: 1.4em; }
#authorize-form { padding: $form-padding; }

.social-btns {
	text-align: center;
	margin: 25px auto;
}

.social-login {
	display: inline-block;
	margin: 0 auto;
}

.social-btns li { margin-bottom: 10px; }
.social-btns li .btn {
  color: $white;
  min-width: 220px;
  text-align: left;
}

.social-btns li .btn:hover { color: $white; }
.social-btns li .btn .fa {
  font-size: 18px;
  position: relative;
  top: 2px;
  margin-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding-right: 10px;
  width: 30px;
}


.blueButton {
	text-transform: uppercase;
	color: $white;
}
.blueButton:hover { color: $white-80; }


.form-group { position: relative; }
label[for='terms'] { height: $field-height; }

input[type='name'], input[type='password'],
input[type='email'], input[type='phone'], input[type='address'] {
	padding-left: 30px;
}


.form-group.username:before {
  content: "\f007";
  font-family: FontAwesome;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: $icon-gray;
}

.form-group.address:before {
  content: "\f041";
  font-family: FontAwesome;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: $icon-gray;
}


.form-group.phone:before {
  content: "\f095";
  font-family: FontAwesome;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: $icon-gray;
}


.form-group.email:before {
  content: "\f003";
  font-family: FontAwesome;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: $icon-gray;
}

.form-group.password:before {
  content: "\f023";
  font-family: FontAwesome;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: $icon-gray;
}

.btn-signup {
	background: white;
	border: 2px solid black;
}

.twitter-btn		{ background: $twittr-btn-color;		}
.twitter-btn:hover	{ background: $twittr-btn-color-hover;	}
.facebook-btn		{ background: $facebk-btn-color;		}
.facebook-btn:hover	{ background: $facebk-btn-color-hover;	}
.google-btn			{ background: $google-btn-color;		}
.google-btn:hover	{ background: $google-btn-color-hover;	}




/* PHONE DESIGN */
@media (max-width: 488px) {
	#authorize { width: 90%; }
}

/* DESIGN FOR EVERYTHING ELSE */
@media (min-width: 489px) {
	#page-content {
		background: $bg-img-grass no-repeat center;
		background-size: cover;
	}

	#authorize {
		margin-left: 20%;
		width: 385px;
	}

}

@media (min-width: 768px) { }


/* http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css */
.attention::-webkit-input-placeholder { /* WebKit browsers */	color: red; }
.attention:-ms-input-placeholder { /* Internet Explorer 10+ */	color: red ; }
.attention:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: red;
	opacity:  1;
}
.attention::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: red;
	opacity:  1;
}
.attention { color: red; }
