$black: #000;
$white: rgba(255,255,255, 1);
$white-80: rgba(255,255,255,.8);

$font-color-lead: #999999;
$icon-gray: #999999;

$ht-blue: #29abe2;
$lp-fbook: #3b5998;
$lp-email: #5b8a08;

$darkgreen: rgba(0, 100, 0, .8);

$bg-img-blurred:	url('/static/img/background-blurred.jpg');
$bg-img-kitchen:	url('/static/img/cover-kitchen.jpg');
$bg-img-dancing:	url('/static/img/dg-table.jpg');
$bg-img-office:		url('/static/img/cover-office.jpg');
$bg-img-grass:		url('/static/img/cover-grass.jpg');
$bg-img-patio:		url('/static/img/cover-patio.jpg');
$bg-img-wwms:		url('/static/img/wwms-table2.jpg');

$twittr-btn-color: #55acee;
$google-btn-color: #dd4b39;
$facebk-btn-color: #3b5998;
$twittr-btn-color-hover: #2795e9;
$google-btn-color-hover: #c23321;
$facebk-btn-color-hover: #2d4373;

/*
$dark-gray: #282828;
$medium-gray: #424242;
$charcoal-gray: #6f6f6f;
$light-gray: #e8e8e8;
$cloudy-gray: #f0f0f0;
$almost-white: #fcfcfc;
$dusky-blue: #C5CED1;
$dark-blue: #212933;
$aqua: #2ba6cb;
$alert-ok: #43ac6a;
$alert-ok-border: #3a945b;

$red: hsla(358, 74%, 64%, 1); // #e75f63;
$red-darker: hsla(358, 74%, 44%, 1);
$orange: hsla(26, 85%, 65%, 1);
$orange-darker: hsla(26, 85%, 55%, 1);
$orange-brighter: hsla(26, 85%, 75%, 1);
$teal: hsla(180, 30%, 40%, 1);
$teal-darker: hsla(180, 30%, 27%, 1);
$teal-darkest: hsla(180, 30%, 12%, 1);
$maroon: #773339;
*/
