@import 'colors';

/* ELEMENTS */
.page-content {
	padding: 5px 0px 53px;
}

#prodashboard { }
#request-references  { }
#requests  {
	display: inline-block;
	width: 100%;
}

#outstanding-title {
	border-bottom: 1px solid black;
	width: 90%;
	margin: 20px auto;
}


.request {
	display: block;
//	background-color: rgba(128,50,25,.3);
	width: 90%;
	height: 40px;
	margin: 0px auto 10px;

}

.request-sent {
	color: $black;
	font-size: 10px;
}
.request-sent:before { content: 'Last sent: '; }

.darken {
	position: absolute;
	width: 100%;
	height: 200px;
	background-color: rgba(0,0,0,.3);
}

.details {
	width: 75%;
	float:left;
}

.resend {
	width: 20%;
	min-width: 75px;
	max-width: 99px;
	float: right;
}
.right	{ float:right; }


#invite_emails {
	display: inline-block;
	width: 200px;
}


//btn
#send-requests {
	display: inline-block;
	width: 75px;
	height: 39px;
}


.form-group {
	position: relative;
	margin: 0 auto;
	text-align: center;
}


/* Responsive Styles */
@media only screen and (min-device-width: 240px) and (max-width: 500px) {
}


@media (min-width: 489px) {
	#invite_emails {
		width: 200px;
	}
}

@media (min-width: 768px) {
	#invite_emails { width: 350px; }
}

@media (min-width: 980px) {
	#invite_emails { width: 400px; }
}

@media (min-width: 1200px) { }

@media (min-width: 1450px) { }

