@import 'colors';

/* ELEMENTS */
.page-content {
	padding: 5px 0px 53px;
}

#prodashboard { }
#request-references {
	width: 90%;
}
#requests  {
	display: inline-block;
	width: 100%;
}

#outstanding-title {
	border-bottom: 1px solid black;
	margin: 20px 0px;
	//margin: 20px auto; after we get bigger.
}


.request {
	display: block;
	height: 40px;
	margin: 0px auto 10px;
	max-width: 740px;

}

.request-sent { font-size: 10px; }
.request-sent:before { content: 'Last sent: '; }

.darken {
	position: absolute;
	width: 100%;
	height: 200px;
	background-color: rgba(0,0,0,.3);
}

.details {
	width: 75%;
	float:left;
}

.resend {
	width: 20%;
	min-width: 75px;
	max-width: 99px;
	float: right;
}
.right	{ float:right; }


#invite_emails {
	display: inline-block;
	width: 75%;
	max-width: 500px;	//set margins to auto when we hit 768.
}


//btn
#send-requests {
	display: inline-block;
	width: 75px;
	height: 39px;
}


.form-group {
	position: relative;
	margin: 0 auto;
}


/* Responsive Styles */

@media (min-width: 489px) {
/*	#invite_emails { width: 200px; } */
}

@media (min-width: 768px) {
/*	#invite_emails { width: 350px; } */
}

@media (min-width: 980px) {
/*	#invite_emails { width: 400px; } */
}
@media (min-width: 1200px) { }
@media (min-width: 1450px) { }

