$masthead-height		= 450px;
$masthead-height-mobile	= 330px;

#masthead {
	position: fixed;

	height:	$masthead-height;
	width:	100%;

	/* TEXT READABILITY */
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2em;
	text-shadow: 0 0 30px rgba(0,0,0,.8);
	text-align:	center;
	color: white;

	/* background (img upstream) */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


#masthead-text	{	width: 100%;	position: absolute;	display: block; top: 50%;		margin: 0 auto;		transition: opacity 1s ease 1s;	}
#masthead-title {	width: 100%;	position: static;	display: block; 				margin: 0 auto;		text-transform: uppercase; 		}
#masthead-btns	{	width: 100%;	position: static;	display: block; 				margin: 0 auto;		text-transform: uppercase; 		}


#masthead-gap 	{ height: $masthead-height; }
//#masthead h1 { text-transform: uppercase; }

@media (max-height: 489px) { #masthead, #masthead-gap { height: $masthead-height-mobile; } }

@media (min-width: 489px) {
	#masthead-title {	font-size: 1.30em;	}
	#masthead-text  {	font-size: 1.25em;	}
}

@media (min-width: 768px) {
	#masthead-title {	font-size: 1.5em;	}
	#masthead-text  {	font-size: 1.5em;	}
}

@media (min-width: 980px)	{ }
@media (min-width: 1200px)	{ }
@media (min-width: 1450px)	{ }

