@import 'elem-navigation';

$column-max-width	= 999px;
$section-padding	= 50px;
$form-padding		= 20px;
$text-padding		= 20px;
$text-padding-wide	= 50px;


h3			{	text-align: center;	}
h4			{	text-align: center;	}

section		{	background:	white;	padding:	$section-padding 0;						}
section div	{	width:	100%;		max-width:	$column-max-width;		margin: 0 auto;	}

.text-content	{	padding: 0px $text-padding;			}

.page-cntrcol {
	width: 100%;		max-width:	$column-max-width;
	margin: 0 auto;
}

@media (max-width: 767px) {
	.text-content { padding-left: $text-padding-wide; padding-right: $text-padding-wide; }
}
