@import 'colors';
@import 'elem-defaults';
@import 'elem-masthead';

#masthead	{
	position: static;
	background-image: $bg-img-404;	
	font-size: 20px;
}

#masthead-text	{	padding: 50px;	text-align: left;	top: 30%;	line-height: 1.5em;	}

#error-list {
	list-style-type: none;
	text-align: center;
	padding:0;
	margin:0;
}
