@import url(https://fonts.googleapis.com/css?family=Open+Sans|Noto+Serif:400italic|Lobster+Two:400,700|Lato:100,300,400,700,900);

$font-family-primary: "Helvetica Neue", "Open Sans", Arial, sans-serif;
$font-family-primary-alt: "Lato", Helvetica, sans-serif;
$font-family-serif: "Garamond", "EB Garamond", "Georgia", serif;
$font-family-serif-alt: 'Noto Serif', serif;
$font-family-fancy: 'Lobster Two', cursive;

$font-weight-xlight: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-ltbold: 500;
$font-weight-bold: 700;
$font-weight-xbold: 900;