@import 'colors';
@import 'fonts';
@import 'checkbox';


$field-info-color: $black;
$field-input-color: $black;
$field-bottom-margin: 10px;
$field-height: 40px;

$container-border-radius: 6px;


.field-container {
	position: relative;
	display: block;
	width: 100%;
	margin: 0px 0 8px;
	max-width: 600px;
}


.field {
	color: $field-info-color;
	width: 100%;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: .9em;
}

.field.info			{ padding: 15px 0 5px; 	margin-left: 0px;	}
.field.info.first	{ padding-top: 0px;		}
.field.info.notice	{ font-weight: 600;		}


.field.input { }
.field.input.iconified { padding-left: 13px; }

.field.error {
	display: none;
	font-size: .7em;
	color: #e75f63;
}
.field.error.inline {
	display: inline-block;
	padding-left: 0px;
}

.field.error.alt {
	float: left;
	height: $field-height;
	line-height: 50px;
	margin-left: 16px;
	margin-top: 10px;
}


.field.action {
	float: left;
	padding-left: 10px;
	height: $field-height;
}

/* UNUSED */
.field.description {
	color: rgba(0,0,0, 0.7);
	margin-bottom: $field-bottom-margin;
}

.btn-settings {
	min-width: 110px;
	height: $field-height;
	//padding: 10px 20px;
	margin: 20px 0px 0px;
	//margin-right: 20px;
	//mv to settings.scss (only used there)
}
