@import 'colors';
@import 'elem-defaults';
@import 'elem-masthead';


/* ELEMENTS */
#referred			{ background-color: yellow; position: relative; text-align: center; padding: 10px; font-size: 1.2em; }
#referred-close		{ position: absolute; top: 0px; right: 5px; cursor: pointer; font-size: 1.2em; }	/* top-right corner */
#referred-close:before	{ content:"\00D7"; }															/* X to close. */


#masthead {
	position: relative;
	background-image: url('/static/img/cover.jpg');
	font-size: 20px;	/* make this a default */
}
#masthead-title 	{	top: 12%;	text-transform: uppercase;	}
#masthead-text  	{	top: 20%;	font-size: 0.9em;			}
#masthead-btns		{	top: 33%;	text-transform: uppercase;	letter-spacing: 2px;	}	/* impact just the buttons */

#btn-fbook			{ background: $facebk-btn-color;		}
#btn-fbook:hover	{ background: $facebk-btn-color-hover;	}
#btn-email			{ background: $signup-btn-color;		}
#btn-email:hover	{ background: $signup-btn-color;		}

#values			{ background: whitesmoke; }
#get-started	{ text-align: center; 	margin: 25px auto;		}
#press			{ display: none;		margin: 20px auto 40px;	}
#press-row		{ text-align: center;	margin: 30px 10px;		}
#press-row div:last-child {	display: none; 	}


.spinX {
	position: relative;
	text-align: center;
	top: 0;
	left: 150px;
}

.spin-left {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg); /* Firefox */
	-ms-transform: rotate(45deg); /* IE */
	-o-transform: rotate(45deg); /* Opera */
	transform: rotate(45deg);
}

.spin-right {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg); /* Firefox */
	-ms-transform: rotate(-90deg); /* IE */
	-o-transform: rotate(-90deg); /* Opera */
	transform: rotate(-90deg);
}


.value-panel			{	display: inline-block;	padding: 10px 20px;	}
.panel-title		{	position: static;		text-align: center; }


.press-img {
	display: inline-block;
	height: 50px;
	padding-right: 2px;
}


.btn-masthead {
	color: white !important;
	border: 2px solid white;
	transition: background 80ms ease-out;
	width: 240px;
}


.lp-btn {
	width: 240px;
	color: white !important;
	margin: 0 auto;
	text-transform: uppercase;
	transition: background 80ms ease-out;
}

.lp-btn:hover {
	background-color: white;
	color: black !important;
}



.greyscale {
	height: 35px;
	filter: gray;			/* IE6-9 */
	filter: grayscale(1);	/* FF35+ */
	-webkit-filter: grayscale(1); /* Chrome, Safari 6+ & Opera 15+ */
}

.greyscale:hover {
	filter: grayscale(0);	/* FF35+ */
	-webkit-filter: grayscale(0); /* Chrome, Safari 6+ & Opera 15+ */
}





@media (min-width: 489px) {
	#press { display: block; }
}


@media (min-width: 768px) {
	.value-panel { width: 33%;	}
	.value-panel-values { height: 80px;	}
	.greyscale { height: 40px; }
	.press-img { padding-right: 15px; }
}

@media (min-width: 980px) {
	#press-row div:last-child {	display: inline-block; 	}
	#masthead-title {	font-size: 2.0em;	}
	#masthead-text  {	font-size: 2.0em;	}
}


@media (min-width: 1200px) {
	.press-img { padding-right: 25px; }
}

@media (min-width: 1450px) { }

