@import 'sizes';
@import 'colors';
@import 'defaults';
@import 'elem-defaults';


section div	{	padding: 0 $section-padding;	}

#legal-nav	{
	background-color: black;
	height: 150px;
	color: white;
}

.nav-menu {
	width: 33%;
	margin: 75px 0;
	display: inline-block;
	text-align: center;
	font-size: 20px;
}

a.active		{ border-bottom: 3px solid $ht-blue;								}
a.active:hover	{ border-bottom-color: #23527c;			text-decoration: none;		}


#tos { }

@media only screen and (min-device-width: 240px) and (max-width: 549px) { }
@media only screen and (min-width: 550px) 		 and (max-width: 767px) { } 
