@import 'defines/images';
@import 'defines/elem_navigate';
@import 'defines/elem_masthead';

//overrides
#masthead		{ background-image: $img-kitchen;	z-index: -5; }
#masthead-text	{ top: 33%; opacity: 0; }


#about-furniture { background: whitesmoke; font-size:	$closing-text-sz; }
#ideas			 { text-align: center;}


#craftsman {
	background: whitesmoke;
	padding: $section-padding 0px;
}

#craftsman-id		{ width: 100%; display: inline-block; height: 250px; text-align: center;	padding: 20px;	}
#craftsman-about	{ width: 100%; display: inline-block; height: 250px; text-align: center;					}
#craftsman-quote	{	text-align: left; 	}
#craftsman-name		{	text-indent: 20px;	}
#craftsman-work		{
	background: $img-patio center no-repeat;
	background-size: cover;
	height: 500px;
}

#get-started { font-size:	$closing-text-sz; }


.btn-get-started {
	width: 100%;
	max-width: 150px;
	text-transform: uppercase;
	margin: 0 auto;
	color: white !important;
}


@media (min-width: 768px)	{
	#craftsman-id		{	width: 25%; 	}
	#craftsman-about	{	width: 74%; 	}
}
