@import 'colors';
@import 'elem-defaults';
@import 'elem-masthead';

$closing-text-sz	= 16px;


//overrides
#masthead {
	position: relative;
	background: $bg-img-kitchen center no-repeat;
}

#masthead-text {
	top: 33%;
	opacity: 1;
}


#about-furniture {
	background: whitesmoke;
	font-size:	$closing-text-sz;
	padding:	$section-padding;
}

#ideas { padding: $section-padding 0px; text-align: center;}


#craftsman {
	background: whitesmoke;
	padding: $section-padding 0px;
}

#craftsman-id		{ width: 100%; display: inline-block; height: 250px; text-align: center;	padding: 20px;	}
#craftsman-about	{ width: 100%; display: inline-block; height: 250px; text-align: center;					}
#craftsman-quote	{	text-align: left; 	}
#craftsman-work		{
	background: $bg-img-patio center no-repeat;
	background-size: cover;
	height: 500px;
}

#get-started {
	padding:	$section-padding;
	font-size:	$closing-text-sz;
	text-align:	center;
}


.btn-get-started {
	width: 100%;
	max-width: 150px;
	text-transform: uppercase;
	margin: 0 auto;
	color: white !important;
}


/* Images.  img-container (no margins).  */
.img-responsive	{	background:	$gray;	margin: 0 auto; }
.img-width-100	{	max-width: 999px;					}
.img-width-50	{	max-width: 485px;	width:	49%;	display: inline-block;	}
.img-width-33	{	max-width: 350px;	width:	33%;	display: inline-block;	}
.img-spacer		{	max-width:  22px;	width:	2px;	display: inline-block;	}
.img-craftsman	{	height: 150px;		width:  150px;	border-radius: 50%;		}


.name { color: darkgrey; }

/* Responsive Styles */
@media (max-width: 488px) {
	.img-width-50	{	width: 100%;	max-width: 100%;	}
}

@media (min-width: 489px)	{ }
@media (min-width: 768px)	{
	#craftsman-id		{	width: 25%; 	}
	#craftsman-about	{	width: 74%; 	}
	.img-spacer			{	width:	1%;		}
}
@media (min-width: 1020px)	{ .img-spacer	{	width:	21px;	} }
