@import 'colors';
@import 'fonts';
@import 'forms';

/* a) 240px - 449px (phones)
   b) 450px - ... (everything else)
*/


.page-content {
	background-image: url('/static/img/grass.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;	/* not sure why this is necessary here */
}


#project-wrapper {
	background-color: white;
	padding: 25px;
	position: relative;
	overflow: auto;
}


#project-header {
	border-bottom: 1px solid #b0b4b7;
	padding-bottom: 15px;
	margin-bottom: 15px;
	width: 100%;
}

#proj_desc	{ padding-left: 5px;	}	/* override col-XX-sz, which sets 15px padding */
#proj_addr	{ padding-bottom: 5px;	}
#actions		{ margin: 10px auto; }
#actions-next	{ margin-top: 10px;		}
#save-project	{ visibility: hidden;	}
#status {
	display: block;
	height: 75px;
	font-weight: bolder;
	visibility: hidden;
}





#calendar {
		max-width: 900px;
		margin: 0 auto;
}


#basic-details {
	display: block;
	width: 100%;
	margin: 20px auto;
	margin: 25px 0 24;
}



/* THIS WORKS... but needs to be changed; also everything needs the hint 
.input-wrapper:before {
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 10px;
  color: #999999;
  z-index: 1;
}
*/

/*
	padding: 25px 0 24px;
*/
.scheduleMap {
	background-color: rgba(0,0,0, 0.05);
	border: 1px #e1e8ed solid;
	border-radius: 0 0 3px 3px;
	border-top: none;
	margin-top: 3px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 300px;
}

.blueButton:hover {
	color: white;
	font-weight: bolder;
}



.underlined	{ border-bottom: 1px solid darkgrey; }
.save-btn-text { }

input.disabled,
.disabled p, 
.disabled h3 {
	 color: rgba(0,0,0,.4);
} 



/* PHONE DESIGN */
@media only screen and (min-device-width: 240px) and (max-width: 449px) { }
@media only screen and (min-width: 450px) { }

@media (min-width: 489px) {
	#project-wrapper {
		border-radius: 6px;
		box-shadow: 0px 3px 20px rgba(0,0,0, 0.15);
		margin: 20px 20px 20px;
	}
}

@media (min-width: 768px) {
	#project-wrapper { margin: 20px 60px 75px; }
	#save-project { visibility: visible !important; }
	#actions { margin: 20px auto; }
	#actions-next { margin-top: 25px; }
}

@media (min-width: 980px) {
	#project-wrapper { margin: 20px 100px 75px; }

	#wrap-budget:before {
		content: '$';
		font-size: .9em;
		line-height: 40px;
		position: absolute;
		padding-left: 5px;
		z-index: 1;
	}
}
