@import 'colors';
@import 'elem-defaults';


#invite_emails		{	display: inline-block;	}
#refer_professional	{	display: inline-block;	width: 70%;		max-width: 690px;	background-color: white;		vertical-align: top;	}
#refer_explanation	{	display: inline-block;	width: 29%;		max-width: 280px; 	background-color: red;		margin-left: 15px;		} 

#profile-card {
  background-color: lightgray;
  border: 1px solid darkgray;
}


.twitter-typeahead		{	display: inline !important;	} 	//fixes bug. #invite-emails is too small
.tt-menu				{	top: inherit !important;	}	//fixes bug. .tt-menu is setup too high 
.tt-suggestion			{	background-color: lightgray;	border: 1px solid lightgray;	}
.tt-suggestion:hover	{	background-color: darkgray;		border-color: black;			}
.no-profile				{ 	display: none !important;	}

/* Responsive Styles */
@media only screen and (min-device-width: 240px) and (max-width: 500px) { }


@media (min-width: 489px) {
	#invite_emails { }
}

@media (min-width: 768px) {
	#invite_emails { }
}

@media (min-width: 980px) {
	#invite_emails {  }
}

@media (min-width: 1200px) { }
@media (min-width: 1450px) { }


.form-group {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.access-section .form-group.text:before {
  content: "\f003";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: #999999;
}


//unused
#send_invite	{	display: inline-block; width: 75px; height: 40px; }
