@import 'forms';
@import 'navigate';


#trusted			{	display: inline-block;	border-radius: 0px; 	}
#refer-title		{	padding-left: 5px;	text-align: left;	}
#refer-professional	{	display: inline-block;	width: 69%;			padding: 0 5px;		max-width: 660px;	background-color: white;	vertical-align: top;	}
#instructions		{	display: inline-block;	width: 28%;			padding: 20px 5px;	max-width: 280px; 	background-color: white;	}
#feedback			{	list-style:none;		margin: 0 auto;		padding: 0 5px;			}

#btn-submit-referral	{	width:	120px;			}

#referral-questions {
	padding: 25px 0 10px;
}

#trust-card {
	border: 1px #e1e8ed solid;
	border-top-width: 0px;
	padding: 0px 10px 10px;
}


#content	{	width: 100%; margin: 0 0 10px;	resize: none; }

.twitter-typeahead		{	display: inline !important;	width: 100%;	} 	//fixes bug. #invite-emails is too small
.tt-menu				{	background-color: white;		top: inherit !important;	box-shadow: 0px 5px 4px rgba(0,0,0,.4);	}	//(top) fixes bug. .tt-menu is setup too high 
.tt-suggestion			{	background-color: lightgray;	border: 1px solid lightgray;	padding-left: 5px;	}
.tt-suggestion:hover	{	background-color: darkgray;		border-color: black;			}
.no-display				{ 	display: none !important;	}
.feedback-bubble		{
		background-color: green;
		border: 1px solid green;
		border-radius: 7px;
		color: white;
		font-weight: 600;
		text-align: center;
		margin: 5px auto;
		width:	66%;
 }
.bootstrap-tagsinput 			{	box-shadow: none !important;	border: 1px #e1e8ed solid !important;	border-radius: 0px !important;	}
.bootstrap-tagsinput .tt-menu	{	width: 350px;	}

.pro-suggestion	{
	width: 100%; height: 20px;
	font-weight: 600;
}
.pro-suggestion-addr {
	font-size: .8em;
	color: gray;
	max-width: 50%;	overflow: hidden; white-space: nowrap;	text-overflow: ellipsis; 
}

/* Responsive Styles */
@media only screen and (min-device-width: 240px) and (max-width: 500px) { }


@media (min-width: 489px) { }
@media (min-width: 768px) { }
@media (min-width: 980px) { }
@media (min-width: 1200px) { }
@media (min-width: 1450px) { }


.form-group {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.btn-referral {
	display: inline-block;
	max-width: 120px;
}

.access-section .form-group.text:before {
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  left: 10px;
  top: 12px;
  color: #999999;
}

.ff			{	display: inline-block;	margin: 5px 0;			}
.ff.textarea{	width: 100%;	}
.ff.header	{	width: 100%;	font-size: .7em;	font-weight: 600;	vertical-align: top;	padding-left: 3px;	}
.ff.name	{	width: 12%;		font-size: .8em;	font-weight: 600;	vertical-align: top; 		}
.ff.value	{	width: 60%;		max-width: 250px;	text-overflow: ellipsis;						}
.ff.contact {	width: 33%;		max-width: 200px;	vertical-align: top;	overflow: hidden; white-space: nowrap;	text-overflow: ellipsis; font-size: .9em;	}

//unused
#profile-card-contact { padding: 10px 0; }
#context {	}
