@import 'colors';
@import 'fonts';
@import 'mixins';

/*
There are three responsive design ranges for Schedule Lesson page (schedule.html):
a) 240px - 449px (phones)
b) 450px - 749px (phablets)
c) 750px - ... (tablets, desktops)
*/

/* COMMON ELEMENTS */

/* ANIMATIONS */

/* Settings panel slides into view */
@-moz-keyframes scheduleAppear {
	0% {opacity: 0; margin-top: 300px;}
	100% {opacity: 1; margin-top: 40px;}
}

@-webkit-keyframes scheduleAppear {
	0% {opacity: 0; margin-top: 300px;}
	100% {opacity: 1; margin-top: 40px;}
}

@keyframes scheduleAppear {
	from {opacity: 0; margin-top: 300px;}
	to {opacity: 1; margin-top: 40px;}
}	

/* Layout */

.pageWrapper {
	background: url('../img/background-blurred.jpg') no-repeat center right;
	background-position: 100% 30%;
	background-size: cover;
	height: 100%;
	min-height: 850px;
	overflow-x: hidden;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	-webkit-transition: 0.15s ease;
	transition: 0.15s ease;
	width: 100%;
}

.scheduleContentWrapper {
	
	background-color: white;
	border-radius: 6px;
	box-shadow: 0px 3px 20px rgba(0,0,0, 0.15);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 40px auto 30px;
	min-height: 568px;
	padding: 20px 25px;
	width: 980px;

	h2 {
		font-weight: bold;
		padding: 10px 10px 16px 0;
	}


	a:hover {
		text-decoration: underline;
	}

	select {
		color: #6e7980;
		margin-top: -1px;
		width: 100%;
	}

}

.scheduleLeftColumn {
	float: left;
	width: 40%;
	font-size: .9em;
	line-height: 1.3em;
	font-weight: 200;

	.scheduleMentorImage {
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}

	.schedulePaymentBlurb {

		width: 100%;
		float: left;
		margin-bottom: 20px;
		font-size: .9em;
			
		.schedulePaymentHeader {
			width: 100%;
			float: left;
			font-size: 1.1em;
			color: rgba(0,0,0,.8);
			margin-bottom: 12px;
			font-weight: 600;
		}
	}


	.scheduleMentorAvail {
		width: 100%;
		float: left;
		margin-bottom: 20px;

		.scheduleMentorAvailHeader {
			width: 100%;
			float: left;
			font-size: 1.1em;
			color: rgba(0,0,0,.8);
			margin-bottom: 12px;
			font-weight: 600;
		}

		.scheduleMentorAvailDay {
			width: 100%;
			float: left;
			margin-bottom: 6px;
		}
	}

	img {
		border-radius: 3px;
		width: 100%;
	}	

}

.scheduleRightColumn {
	color: black;
	float: right;
	line-height: 0.875em;
	margin-top: 41px;
	width: 50%;

	h3 {
		color: black;
		font-size: 1.188em;
		margin-bottom: 18px;
	}

	.scheduleLesson {
		
		
	}
	.scheduleLessonInfo {
		/*padding: 8px 0px;*/
		width: 90%;
		font-size: .8em;
		line-height: 1.3em;
		float: left;
		margin-top: 8px;

		.loading {
			width: 100%;
			text-align: left;
			font-size: 1em;
			padding-left: 8px;
			color: rgba(0,0,0,.4);
			i {
				margin-right: 8px;
			}
		}

		.lessonField {
			float: left;
			width: 100%;
			padding: 6px 8px;
			border-bottom: 1px dotted rgba(0,0,0,.05);
			font-weight: 200;

			&:last-of-type {
				border-bottom: none;
			}
		
			.lessonFieldLabel {
				font-weight: 600;
				float: left;
				width: 25%;
			}
			.lessonData {
				color: rgba(0,0,0,.7);
				float: left;
				width: 75%;

			}
		}

	}

	.scheduleIntro {
		float: left;
		width: 100%;
		margin-bottom: 30px;
		margin-top: 30px;
	}

	.scheduleIntro textarea {
		border-radius: 3px;
		height: 81px;
		resize: none;
		width: 100%;

		placeholder {
			font-weight: 200;
		}
	}

	.scheduleTime {
		
		position: relative;
		float: left;
		width: 100%;
		.scheduleTimeLabels {
			float: left;
			width: 100%;
			padding: 2px 6px;
		}

		label {
			display: block;
			float: left;
			width: 50%;
		}

		input[type="text"] {
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;		
		}

		select {
			width: 50%;
			
			&:first-of-type {
				float: left;
			}
			&:nth-of-type(2) {
				position: absolute;
				right: 0;
				bottom: 0;
				width: unquote("calc(50% + 1px)");
			}
		}

	}

	.scheduleTimeDetails {
		font-size: .9em;
		float: left;
		width: 100%;
		/*border-bottom: 1px dotted rgba(0,0,0,.05);*/
		font-weight: 200;
		margin-top: 10px;
		margin-bottom: 30px;

		.detailField {
			float: left;
			width: 100%;
			padding: 8px 0px;
			/*border-bottom: 1px dotted rgba(0,0,0,.05);*/
			font-weight: 200;

			&.highlight{
				color: $teal;
				font-weight: 600;
			}

			&.invalidTime {
				display: none;
				color: $orange;
			}

			&:last-of-type {
				border-bottom: none;
			}
		
			.detailFieldLabel {
				
				float: left;

			}
			.detailFieldData {
				float: left;
				margin-left: 6px;
			}
		}

	}

	.scheduleLocation {
		float: left;
		width: 100%;
		margin-bottom: 30px;
	}

	.scheduleLocation input[type="text"] {
		border-bottom: none;
		border-radius: 3px 3px 0 0;
	}

	.scheduleMap {
		display: none;
		float: left;
		background-color: rgba(0,0,0, 0.05);
		border: 1px #e1e8ed solid;
		border-radius: 0 0 3px 3px;
		border-top: none;		
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;			
		height: 205px;
		width: 100%;
	}	

	.scheduleMapStatic {
		display: none;
		overflow: hidden;
		float: left;
		background-color: rgba(0,0,0, 0.05);
		border: 1px #e1e8ed solid;
		border-radius: 3px;
		border-top: none;		
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;			
		height: 205px;
		width: 100%;
	}	

	.propLocationText {
		display: none;
		float: left;
		width: 100%;
		padding: 8px 0px;
		height: 40px;
		font-weight: 200;
		color: rgba(0,0,0,.5);

		.propLocationMain {
			float: left;
			width: 100%;
		}
		.propLocationDetails {
			float: left;
			width: 100%;
			font-size: .8em;
			margin-top: 10px;
		}
	}

	.schedulePostButton {
		float: left;
		margin-bottom: 10px;
		width: 45%;
	}

	.scheduleCancelButton {
		float: right;
		margin-bottom: 10px;
		width: 45%;		
	}

}

/* Form elements */

input[type="text"] {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;	
}

#prop_lesson {
	color: rgba(0,0,0,.8);
}

.formFieldError {
	display: none;
	float: left;
	padding: 6px 0px;
	font-size: .9em;
	font-weight: 400;
	color: #e75f63;
	width: 100%;
}


/* Datepicker/Calendar Overrides */

.hasDatepicker {
	position: relative;
	margin-bottom: 12px;
}

/* PHONE DESIGN */
@media only screen and (min-device-width: 240px) and (max-width: 449px) {

	.pageWrapper {
		background-color: white;
		min-height: 100%;
		padding-bottom: 30px;
	}

	.scheduleContentWrapper {
		margin: 30px auto 10px;
		overflow-y: scroll;
		padding: 0px 0px 0px 10px;
		width: 90%;
		border-radius: none;
		box-shadow: none;
		min-height: auto;
	}

	.scheduleLeftColumn, .scheduleRightColumn {
		width: 100%;
	}

	.schedulePostButton {
		float: none;
	}

	.scheduleCancelButton {
		float: none;		
	}

}

/* PHABLETS/TABLETS */
@media only screen and (min-width: 450px) and (max-width: 899px) {

	.scheduleContentWrapper {
		-moz-animation: scheduleAppear 1s;
		-o-animation: scheduleAppear 1s;
		-webkit-animation: scheduleAppear 1s;
		animation: scheduleAppear 1s;	
		width: 90%;
	}

}

/* DESKTOPS */
@media only screen and (min-width: 900px) {

	.scheduleContentWrapper {
		-moz-animation: scheduleAppear 1s;
		-o-animation: scheduleAppear 1s;
		-webkit-animation: scheduleAppear 1s;
		animation: scheduleAppear 1s;	
	}


	.schedulePostButton {
		width: 205px;
	}

	.scheduleCancelButton {
		width: 123px;		
	}


}