@import 'defines/defaults';
@import 'defines/elem_input';
@import 'defines/elem_navigate';



/* ELEMENTS */
#request-references {
	max-width: $info-max-width;
}

#requests  {
	display: block;
	width: 100%;
}

#outstanding-title {
	border-bottom: 1px solid black;
	margin: 20px 0px;
}


.request {
	display: block;
	height: 40px;
	max-width: $info-max-width;
	margin-bottom: 10px;
	position: relative;

}

.request-sent { font-size: 10px; }
.request-sent:before { content: 'Last sent: '; }

.details {
	width: $info-sm-width;
}

.resend {
	width: $btn-width;
	position: absolute;
	top: 0px;
	left: 76%;
}


#invite_emails {
	display: inline-block;
	width: $info-sm-width;
	max-width: $info-max-width;
}


//btn
#send-requests {
	display: inline-block;
	width: $btn-width;
	height: 39px;
}


.form-group {
	position: relative;
	margin: 0 auto;
}

.request-sent,
.request-mail {
	text-align: left;
}

/* Responsive Styles */

@media (min-width: 489px) {
/*	#invite_emails { width: 200px; } */
	#request-references {
		margin: 0px auto;
		width: 95%;
	}

	.details {
		width: $info-lg-width;
		margin-left: 10px;
	}

	#invite_emails {
		width: $info-lg-width;
	}


	.ltc {
		text-align: center;
	}

	.request {
		margin: 0px auto 10px;
	}
	.resend {
		top: 0px;
		left: 83%;
	}
}

#prodashboard { }
