@import 'defines/elem_navigate';

#profile-header {
	background-color: $easy-gray;
	height: 100px;
}

#profile-name { text-align: left; width: 30%; }
#profile-info {
	position: relative;
	top: -30px;
	padding-left: 20px;
}

#referrals { }
.referral {	padding: 0 10px 0 125px; }

ul 	{ padding-left: 0px; } 


.ref-name		{	font-weight: bold;	display: inline; }
//.ref-name:after	{	color: gray; font-weight: 200; content : ' | '; }	//KEEP

.ref-skills		{	color: gray;	display: inline; }
.ref-skills li	{					display: inline; 	padding-left: 0; } 
.ref-skills li:after				{ content: ' | ';	}
.ref-skills li:last-of-type:after	{ content: '';		}
//.ref-skills li:before { content: ' | ';	}

.ref-location {
	position: relative;
	right: 5px;
	top: -20px;
	display: inline-block;
	text-align: right;
}

.ref-context {
	display: inline-block;
	margin-right:  -60px;
	padding-right: -75px;
}

.ref-operations		{	display: inline;	font-size: 0.8em;	padding: 0 5px;	}
.ref-operations li	{	display: inline; 	padding-left: 0; } 

// if this css file is pulled in BEFORE tagsinput.css; we need to add !important;
.bootstrap-tagsinput {	border: inherit ; box-shadow: inherit ; padding: 0 0 ;}
.bootstrap-tagsinput .tag [data-role="remove"] { margin-left: 0; }
.bootstrap-tagsinput .tag [data-role="remove"]:after { content: "" !important; padding: 0 0 !important; }
.bootstrap-tagsinput input { display: none !important; }

//.sns	{	margin: 3px 2px;	}	//KEEP
#addr	{	background-color: white;	padding: 0 5px;	}
