@import 'defines/images';
@import 'defines/elem_input';
@import 'defines/elem_navigate';
@import 'defines/elem_checkbox';



#page-content	{	padding-top:	$section-padding;	}

#authorize {
	background-color: $white;
	border-radius: $container-border-radius;
	padding: 20px 10px 10px;
	margin:	0 auto 50px;
}


#terms-text		{ font-size: 1.4em; }
#authorize-form { padding: $form-padding; }

.extraspace {
	margin: 20px 0 20px;
	width: 100%;
}

#authorize input[type="password"] {
	width: 100%;
}

#authorize input[type="submit"] {
	margin-bottom: 15px;
	width: 100%;
}


.blueButton {
	text-transform: uppercase;
	color: $white;
}
.blueButton:hover { color: $white-80; }

.form-group { position: relative; }

label[for='terms'] { height: $field-height; }
input[type='name'], input[type='password'],
input[type='email'], input[type='phone'], input[type='address'] {
	padding-left: 30px;
}


.form-group.username:before {
  content: "\f007";
  font-family: FontAwesome;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: $icon-gray;
}

.form-group.address:before {
  content: "\f041";
  font-family: FontAwesome;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: $icon-gray;
}


.form-group.phone:before {
  content: "\f095";
  font-family: FontAwesome;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: $icon-gray;
}


.form-group.email:before {
  content: "\f003";
  font-family: FontAwesome;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: $icon-gray;
}

.form-group.password:before {
  content: "\f023";
  font-family: FontAwesome;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: $icon-gray;
}




/* PHONE DESIGN */
@media (max-width: 488px) {
	#authorize { width: 90%; }
}

/* DESIGN FOR EVERYTHING ELSE */
@media (min-width: 489px) {
	#page-wrapper	{	margin-bottom:	$section-padding;	}
	#page-content	{
		background: $img-grass no-repeat center;
		background-size: cover;
	}

	#authorize {
		margin-left: 20%;
		width: 385px;
	}
}


/* http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css */
.attention::-webkit-input-placeholder { /* WebKit browsers */	color: red; }
.attention:-ms-input-placeholder { /* Internet Explorer 10+ */	color: red ; }
.attention:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: red;
	opacity:  1;
}
.attention::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: red;
	opacity:  1;
}
.attention { color: red; }



h2 {
	margin: 20px auto 10px;
}

.recoveryLink {
	clear: both;
	display: block;
	font-size: 0.9em;
	margin-top: 5px;
	text-align: center;
}
.recoveryLink:hover { text-decoration: underline; }

/* PHONE DESIGN */
@media (max-width: 349px) {
	#recovery { width: 90%; }
}

/* DESIGN FOR EVERYTHING ELSE */
@media (min-width: 350px) {
	#recovery { width: 300px; }
}

@media (min-width: 489px) {
	.page-content {
		background: $img-grass no-repeat center;
		background-size: cover;
	}
	#recovery {
		margin-left: 20%;
		width: 300px;
	}
}
