@import 'defines/images';
@import 'defines/elem_input';
@import 'defines/elem_navigate';
@import 'defines/elem_checkbox';



//overrides
h2 { margin: 10px auto; }
#page-content	{	padding-top:	20px;	}

#authorize {
	background-color: $white;
	border-radius: $container-border-radius;
	padding: 10px 0;
	margin:	0 auto 50px;
	max-width: 320px;
}


//rename text-tos
#terms-text		{ font-size: 1.4em; }
#authorize-form { padding: $form-padding; }

input	{	width: 100%; max-width: 280px;	}

#authorize input[type="submit"]		{ width: 100%; margin-bottom: 15px; }


.blueButton {
	text-transform: uppercase;
	color: $white;
}
.blueButton:hover { color: $white-80; }

.form-group { position: relative; }

label[for='terms'] { height: $field-height; }
input[type='name'], input[type='password'],
input[type='email'], input[type='phone'], input[type='address'] {
	padding-left: 30px;
}


.form-group-before {
	font-family: FontAwesome;
	line-height: 1;
	position: absolute;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	left: 10px;
	top: 12px;
	color: $icon-gray;
}

.form-group.username:before	{ @extend .form-group-before; content: "\f007"; }
.form-group.password:before	{ @extend .form-group-before; content: "\f023"; }
.form-group.address:before	{ @extend .form-group-before; content: "\f041"; }
.form-group.phone:before	{ @extend .form-group-before; content: "\f095"; }
.form-group.email:before	{ @extend .form-group-before; content: "\f003"; }


/* http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css */
.attention::-webkit-input-placeholder { /* WebKit browsers */	color: red; }
.attention:-ms-input-placeholder { /* Internet Explorer 10+ */	color: red; }
.attention:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: red;
	opacity:  1;
}
.attention::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: red;
	opacity:  1;
}
.attention { color: red; }



// only used in reset (TODO -- remove)
.recoveryLink {
	clear: both;
	display: block;
	font-size: 0.9em;
	margin-top: 5px;
	text-align: center;
}
.recoveryLink:hover { text-decoration: underline; }


/* DESIGN FOR EVERYTHING ELSE */
@media (min-width: 489px) {
	#page-content	{
		background: $img-blurred no-repeat center;
		background-size: cover;
	}
	#authorize	{	margin-left: 20%;	}
}
