@import 'defines/elem_input';
@import 'defines/elem_navigate';


#trusted			{	display: inline-block;	border-radius: 0px; 	}
#content			{	width: 100%; margin: 0 0 10px;	resize: none; }
#refer-title		{	padding-left: 5px;	text-align: left;	}
#refer-professional	{	display: inline-block;	width: 69%;			padding: 0 5px;		max-width: 660px;	background-color: white;	vertical-align: top;	}
#instructions		{	display: inline-block;	width: 28%;			padding: 20px 5px;	max-width: 280px; 	background-color: white;	}
#feedback			{	list-style:none;		margin: 0 auto;		padding: 0 5px;			}


#referral-questions {
	padding: 25px 0 10px;
}

#trust-card {
	border: 1px #e1e8ed solid;
	border-top-width: 0px;
	padding: 0px 10px 10px;
}


.pro-suggestion	{
	width: 100%; height: 20px;
	font-weight: 600;
}

.pro-suggestion-addr {
	font-size: .8em;
	color: gray;
	max-width: 50%;	overflow: hidden; white-space: nowrap;	text-overflow: ellipsis; 
}
