{% extends 'sc-header.html' %}
{% set meta_title	= 'Login to Soulcrafting.' %}
{% set meta_desc	= 'Login to Soulcrafting.' %}

{% block header_css %}
	{{ super() }}
	{% assets 'scss_loginsys' %} <link rel='stylesheet' href='{{ASSET_URL}}'> {% endassets %}
{% endblock %}


{% block content %}
<section id='authorize'>
	<h2>Log in to Soulcrafting</h2>

	<div class="social-btns">
		<ul class="list-unstyled social-login">
			<li><a href="/login/facebook"><button class="facebook-btn btn" type="button"><i class="fa fa-facebook"></i>Log in with Facebook</button></a></li>
		</ul>
	</div>
	<hr class='thin'>
	<div id='authorize-form'>
		<form method='POST' action='/login'>
			{{form.hidden_tag()}}

			<div class="form-group email">
				<label class="sr-only" for="login-email">Your email</label>
				{{form.email(type="email", class="form-control login-email", placeholder="Your email")}}
			</div>

			<div class="form-group password">
				<label class="sr-only" for="login-password">Your password</label>
				{{form.passw(type="password", class="form-control login-password", placeholder="Your password")}}
			</div>

			<button type="submit" class="btn btn-block blueButton">Log in</button>
		</form>
		<br>
		<a href='/password/recover'><button class='btn btn-block whiteButton'>Forgot password?</button></a>
		<a href='/signup'><button class='btn btn-block whiteButton'>Don't have an account? Sign Up.</button></a>
	</div>
</section>
{% endblock %}



{% block scripts %}
	{{ super() }}
{% if sc_alert %}
	<script>
	$(document).ready(function () {
		openAlertWindow('{{sc_alert}}')
	});
	</script>
{% endif %}
{% endblock %}
