{% extends 'sc-header.html' %}
{% set meta_title	= 'Recover your password.' %}
{% set meta_desc	= 'Recover your password.' %}

{% block header_css %}
	<link rel='stylesheet' href='/static/css/bootstrap.css'>
	{% assets 'master', 'scss_loginsys' %} <link rel='stylesheet' href='{{ASSET_URL}}'> {% endassets %}
{% endblock %}


{% block content %}
<section id='authorize'>
	<h2>Recover Password</h2>
	<div id='authorize-form'>
		<form method='POST'>
			{{form.hidden_tag()}}
			<div class="form-group email">
				{{form.email(type="email", class='form-control login-email', placeholder="Your email")}}
			</div>

			<input type="submit" id="recover" class="blueButton" value="Send password reset">
		</form>
		<form method='GET' action="/signin"><button class='whiteButton'>Back to Sign in</button></form>
	</div>
</section>
{% endblock %}


{% block scripts %}
	{{ super() }}
	<script>{% if sc_alert %} openAlertWindow('{{sc_alert}}');{% endif %}</script>
{% endblock %}
