{% extends 'sc-header.html' %}
{% set meta_title	= 'Reset your password.' %}
{% set meta_desc	= 'Reset your password.' %}

{% block header_css %}
	{{ super() }}
	{% assets 'scss_loginsys' %}<link rel='stylesheet' href='{{ASSET_URL}}'>{% endassets %}
{% endblock %}


{% block content %}
<section id='authorize'>
	<h2>Set password</h2>
	<div id='authorize-form'>
		<form method='POST'>
			{{form.hidden_tag()}}
			<div class="form-group password">
				{{form.rec_input_newpass(type="password", class="form-control login-password", placeholder="New Password")}}
			</div>
			<input type="submit" id="recover" class="blueButton" value="Save new password">
		</form>
	</div>
	<br>
	<a href="/login" class="recoveryLink">Back to Login</a>
</section>
{% endblock %}
