@import 'defines/colors';
@import 'defines/fonts';
@import 'defines/elem_checkbox';


$field-bottom-margin: 10px;
$field-height: 40px;
$btn-width = 75px;

#btn-submit-referral	{	width:	120px;			}
#btn-get-verified	{ height: 40px; }
#btn-validate-code	{ height: 40px; }

.btn-referral {
	display: inline-block;
	max-width: 120px;
}

.btn-signup {
	background: white;
	border: 2px solid black;
}

.btn-settings {
	min-width: 110px;
	height: $field-height;
	//padding: 10px 20px;
	margin: 20px 0px 0px;
	//margin-right: 20px;
	//mv to settings.scss (only used there)
}

//TODO -- make #id, OR similarize// used on landing page;
.lp-btn {
	width: 240px;
	color: white !important;
	margin: 0 auto;
	border: 2px solid white;
	text-transform: uppercase;
	transition: background 80ms ease-out;
}

.blueButton:hover { color: white; }
.lp-btn:hover {
	background-color: white;
	color: black !important;
}

.resend .blueButton {
	font-size: 0.9em;
	line-height: 24px;
	height: 39px;
}



.field-container {
	width: 100%;
	position: relative;
	display: block;
	margin: 0px 0 8px;
	max-width: 600px;
}

.field {
	width: 100%;
	color: $field-info-color;
	font-size: .9em;
	font-family: "Open Sans", Helvetica, sans-serif;
}

.field.info			{ padding: 15px 0 5px; 	margin-left: 0px;	}
.field.info.first	{ padding-top: 0px;		}
.field.info.notice	{ font-weight: 600;		}

.field.input { }
.field.input.iconified { padding-left: 13px; }

.ff					{	margin: 5px 0;			}
.ff.header			{	display: inline;	width: 100%;	font-size: .7em;	font-weight: 600;	padding-left: 3px;	}
.ff.value			{	width: 60%;		max-width: 250px;	text-overflow: ellipsis;						}
.ff.contact 		{	width: 33%;		max-width: 200px;	vertical-align: top;	overflow: hidden; white-space: nowrap;	text-overflow: ellipsis; font-size: .9em;	}
.ff.error			{	display: none;		font-size: .7em;	color: #e75f63;		padding-left: 0px; 			}
.ff.error.inline	{	display: inline;	font-size: .7em;	color: #e75f63;		padding-left: 0px;			}

.field.error		{ display: none;			font-size: .7em;	color: #e75f63; }
.field.error.inline	{ display: inline-block;	padding-left: 0px; 						}
.field.error.alt	{ float: left; height: $field-height;	line-height: 50px; margin-left: 16px; margin-top: 10px; }
.field.action 		{ float: left; height: $field-height;	padding-left: 10px; }




.social-btns {
	text-align: center;
	margin: 25px auto;
}

.social-login {
	display: inline-block;
	margin: 0 auto;
}

.social-btns li { margin-bottom: 10px; }
.social-btns li .btn {
  color: $white;
  min-width: 220px;
  text-align: left;
}

.social-btns li .btn:hover { color: $white; }
.social-btns li .btn .fa {
  font-size: 18px;
  position: relative;
  top: 2px;
  margin-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding-right: 10px;
  width: 30px;
}

.twitter-typeahead		{	display: inline !important;	width: 100%;	} 	//fixes bug. #invite-emails is too small
.tt-menu				{	background-color: white;		top: inherit !important;	box-shadow: 0px 5px 4px rgba(0,0,0,.4);	}	//(top) fixes bug. .tt-menu is setup too high 
.tt-suggestion			{	background-color: lightgray;	border: 1px solid lightgray;	padding-left: 5px;	}
.tt-suggestion:hover	{	background-color: darkgray;		border-color: black;			}

.feedback-bubble		{
	background-color: green;
	border: 1px solid green;
	border-radius: 7px;
	color: white;
	font-weight: 600;
	text-align: center;
	margin: 5px auto;
	width:	66%;
}

.feedback-negative {
	background-color: $warning;
	border: 1px solid yellow;
	color: black;
}


.bootstrap-tagsinput 			{	box-shadow: none !important;	border: 1px #e1e8ed solid !important;	border-radius: 0px !important;	}
.bootstrap-tagsinput .tt-menu	{	width: 350px;	}


.twitter-btn		{ background: $twittr-btn-color;		}
.twitter-btn:hover	{ background: $twittr-btn-color-hover;	}
.facebook-btn		{ background: $facebk-btn-color;		}
.facebook-btn:hover	{ background: $facebk-btn-color-hover;	}
.google-btn			{ background: $google-btn-color;		}
.google-btn:hover	{ background: $google-btn-color-hover;	}

