

.aboutIntroductionHeader {
  max-height:375px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 150px;
  padding-bottom: 150px;
  background: url('../img/background-blurred.jpg') no-repeat center right;
  background-size: cover;
  overflow-x: hidden;
  -moz-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  -webkit-transition: 0.15s ease;
	}
  
}

h1 {
	color: #e55e62;
	font-size: 3em;
	font-weight: 400;
	line-height: 1em;
	text-align: center;
  margin-bottom: 8px;
}

h2 {
	color: rgba(0,0,0, 0.9);
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.2em;
}

a:link {
  	color: rgba(0,0,0, 0.9);
}

.headlineDeck {
  text wrap: none;
  color: white;
  font-family: Garamond, EB Garamond, Georgia, serif;
  font-size: 26px;
  padding-top: 5px;
}


.howWeWorkContainer {
  height: 400px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  margin: auto;
  padding-bottom: 48px;
  overflow-x: hidden;
  -moz-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  -webkit-transition: 0.15s ease;
}

.howWeWorkHeader {
  border-bottom-width: 10px;
  font-family: Garamond, EB Garamond, Georgia, serif;
  font-size: 24px;
  color: #e55e62;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 50px;
  border-bottom: 2px solid #e6e6e6;
  width: 150px;
  margin: auto;
}



.learnerHeader {
  margin-top: 50px;

}

.learnerHeader img {
  width: 100%;
  
}

.learnerContainer {
  width: 300px;
  float: left;
  display: inline-block;
  margin-top: 10px;
  margin-left: 200px;
}

.learnerContainer p {
  font-family: Garamond, EB Garamond, Georgia, serif;
  font-size: 24px;
  text-align: left;
}

.mentorHeader {
}
  
.mentorHeader img {
  width: 68%;
}

.mentorContainer {
  width: 300px;
  height: 155px;
  margin-top: 10px;
  float: right;
  margin-right: 200px;
}

.mentorContainer p {
  font-family: Garamond, EB Garamond, Georgia, serif;
  font-size: 24px;
  text-align: left;
}

/* 
.missionStatement {
  text wrap: none;
  color: black;
  font-family: Garamond, EB Garamond, Georgia, serif;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 75px;
  padding-right: 75px;
}


.teamIntroduction {
  margin-top: 5px;
}

.teamIntroduction h1 {
  color: rgba(0,0,0, 0.5);
}

.teamContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.teamMember {
  display:inline-block;
  padding: 40px;
}

.teamPortrait {
  border-radius: 6px;
  margin-bottom: 1.5em;
  width: 150px;
  height: 150px;
}

.teamHeader {
  font-size: 20px;
}

.aboutTeamExperience{
  height:375px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  padding-top:45px;
  width: 100%;
  -moz-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  -webkit-transition: 0.15s ease;
  background: #e6e6e6;
}

.headlineExperience {
  margin-top: 5px;
}


.experienceContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.experienceCompany {
  display:inline-block;
  padding: 67px;

}

.experienceImage {
  border-radius: 6px;
  margin-bottom: 1.5em;
  width: 150px;
  height: 150px;
  float:left;
}

.headlineExperience h1 {
  co
 */lor: white;
}

/* Team and Mission */

.aboutTeam {
	margin: 0px auto;
	width: 1000px;	
	height:425px;
	text-align: center;
	border-bottom: 1px solid #e6e6e6;
	padding-top: 44px;
	padding-bottom: 24px;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	-webkit-transition: 0.15s ease;
}

.aboutMissionStatement {
  text wrap: none;
  color: black;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 75px;
  padding-right: 75px;
}

.aboutTeamIntroduction {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 3em;
  margin-bottom: 36px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.aboutTeamContainer {
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
  text-align: center;
  background: rgb(41, 171, 225);
  background-color: rgba(41, 171, 225, 0.1);
}

.teamHeader {
  font-size: 60px;
  color: #808080;
  padding-top: 50px;
  padding-bottom: 25px;
}

.teamMember {
  display:inline-block;
  padding: 40px;
}

.teamPortrait {
  margin-bottom: 6px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 2px;
  border: 1px solid #ebebeb;
  -moz-box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.2);  
  -webkit-box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.2);  
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.2);  
}

.teamCaption {
  font-family: Garamond, EB Garamond, Georgia, serif;
  font-size: 24px;
}
