.debug {
	display: none;
}

/* Animations */

/* Signup panel slides into view */
@-moz-keyframes signupAppear {
	0% {opacity: 0; margin-top: 300px;}
	100% {opacity: 1; margin-top: 40px;}
}

@-webkit-keyframes signupAppear {
	0% {opacity: 0; margin-top: 300px;}
	100% {opacity: 1; margin-top: 40px;}
}

@keyframes signupAppear {
	from {opacity: 0; margin-top: 300px;}
	to {opacity: 1; margin-top: 40px;}
}

/* Basic Layout */

.pageWrapper {
	background: url('../img/background-blurred.jpg') no-repeat center right;
	background-position: 100% 30%;
	background-size: cover;
	height: 100%;
	min-height: 620px;
	overflow-x: hidden;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	-webkit-transition: 0.15s ease;
	transition: 0.15s ease;
	width: 100%;
}

.addLessonContentWrapper {
	background-color: white;
	border-radius: 6px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 12px auto 0px;
	padding: 41px;
	position: relative;
	overflow: auto;
	width: 980px;
	min-height: 600px;
	z-index: 30;
}

/* Header and Top Navigation */

.addLessonTitle {
	width: 100%;
	font-size: 2em;
	margin: 20px 0px;
	text-align: center;
}

.addLessonHeader {
	border-bottom: 1px solid #b0b4b7;
	padding-bottom: 15px;		
	margin-bottom: 10px;
	width: 100%;
	/*color: black;*/
	float: left;
}

.addLessonHeaderLeft {
    float: left;
	width: 25%;
}

.addLessonHeaderRight {
	float: right;
	width: 75%;
}

.addLessonTopLeftNavigation {
	font-size: 1.1em;
}

.addLessonTopLeftNavigation .navItem {
	cursor: pointer;
	padding-right: 36px;

}

.addLessonTopLeftNavigation i {
	font-size: .9em;
}

.addLessonHeaderPageName {
	font-size: 1.6em;
	font-weight: bold;
}
.addLessonHeaderPageSubtitle {
	margin-top: 8px;
	font-size: 1em;
}

/* Main Content Areas */

.addLessonContentContainer {

}

.addLessonLeftColumn {
    float: left;
    text-align: right;
	width: 25%;
}

.addLessonRightColumn {
	float: right;
	width: 75%;
}

/* Left Navigation */

.addLessonNavContainer {
	padding-right: 48px;
}	

.addLessonNavList {

}

.addLessonNavItem {
	height: 50px;
	line-height: 50px;
	font-size: 1.1em;
	border-bottom: 1px dotted #f0f0f0;	
	cursor: pointer;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	-webkit-transition: 0.2 ease;
	transition: 0.2s ease;		
}
.addLessonNavItem:hover {
	background-color: #fcfcfc;
}
.addLessonNavItem.active {
	background-color: #f7faff;
}

.addLessonNavLink {
	padding-right: 6px;
	
}

/* Styles for the form container and pages */

.addLessonFormPageContainer {
}

.addLessonFormButtonContainer {
	text-align: left;
	float: left;
	width: 100%;
}

.addLessonFormPreviousContainer {
	text-align: left;
	float: left;
	width: 100%;	
}

.addLessonFormButton {
	width: 150px;
	margin: 12px 0 12px 0;
}

.addLessonFormButtonSubmitContainer {
	width: 100%;
	float: left;
}

.addLessonFormButtonSubmit {
	float: left;
	width: 300px;
	margin: 12px 0 12px 0;
}

.multipleUploadButton {
	margin: 12px 0 12px 0;
}

.addLessonFormPrevious {
	cursor: pointer;
	float: left;
}

.addLessonFormPage {
	padding-top: 8px;
	display: none;
}

.formElement {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.formTitle {
	display: none;
}

.formInstruction {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 12px;
}

.formDescription {
	margin-bottom: 12px;
}


.formField {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 6px;
}

.formChoice {
	float: left;
}

.formChoice input {
	float: left;
}

.formChoice label {
	float: left;
	font-size: .9em;
	line-height: 36px;
	height: 30px;
	padding-left: 10px;	
}

.span3 {
	width: 25%;
}
.span6 {
	width: 50%;
}
.span9 {
	width: 75%;
}
.span12 {
	width: 100%;
}

input[type="text"].formField, select.formField {
	height: 40px;
}
input[type="checkbox"], input[type="radio"] {
	height: 30px;
}
input[type="checkbox"] {
	display: inline-block;
}
input.formField:focus, select.formField:focus, textarea.formField:focus {
	border: 1px #cccccc solid;
}

textarea.formField {
	resize: none;
}

/* Form Element Styles */

.rateUnitCaption {
	font-size: .9em;
	margin-left: 8px;
}

.multipleUploadButton {
	opacity: .4;
}
.addLessonEditPhotosContainer {
	max-height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-bottom: 20px;
}

.addLessonFormButtonOptions {
	float: left;
	padding-left: 14px;
	width: 40%;
	margin: 12px 0;	
}

.addLessonFormButtonOptions input[type="checkbox"] {
	float: left;
}

.addLessonFormButtonOptions label {
	float: left;
	font-size: 1em;
	padding-left: 6px;
	font-weight: 600;
	height: 30px;
	line-height: 40px;
}

li.editPortfolioListItem {
	display: inline;
	float: left;
	margin-bottom: 10px;
	width: 50%
}

#editPortfolioDoneContinueButton, #multipleUploadContinueButton {
	display: none;
}

.editPortfolioDoneButton {
	margin: 12px 0 12px 0;
}

.addLessonReviewContainer {
	margin-top: 12px;
	float: left;
}

.addLessonReviewField {
	float: left;
	width: 100%;
	min-height: 30px;
	padding-top: 8px;
	border-bottom: 1px dotted #f0f0f0;
}

.addLessonReviewFieldName {
	float: left;
	width: 20%;
	font-weight: bold;
}

.addLessonReviewData {
	float: right;
	width: 80%;
	padding-bottom: 8px;
}


.addLessonReviewDataDetails {
	float: right;
	width: 80%;
	margin-top: 8px;	
}

.addLessonReviewPortfolio {
	float: left;
	margin-top: 8px;
	width: 100%;
}

.addLessonReviewPortfolio .portfolioImageWrapper {
	float: left;
	padding: 4px;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(181, 182, 184);
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
	margin: 6px;
	width: 45%;
}

.addLessonReviewPortfolio .portfolioImage {
	border: 1px solid rgb(226, 228, 230);
	border-radius: 3px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	/* height: 200px; */
	/* margin-right: 11px; */
	margin-bottom: 11px;
	width: 100%;
}

.addLessonReviewPortfolio .portfolioImageCaption {
	float: left;
	width: 100%;
	text-align: center;
	font-size: .8em;
}



/* Dropzone Styles (Overrides) */

.dropzone-content-submit {
	float: left;

}

.dz-preview:hover, .dz-details:hover, .data-dz-thumbnail:hover, .dz-details img {
	cursor: pointer;
}

.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
	cursor: pointer;
}

