

/* DATEPICKER */

/* Disabled elements */
.ui-state-disabled {
	cursor: default !important;
}
.ui-state-unselectable {
	color: gray;
}

/* State and image */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

/* Overlays */
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
	width: 336px;
}

#datepicker2 > .ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
	width: 229px;
	left: -3px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	margin-left: -8px;
	top: 17px;
	margin-top: -8px;
	cursor: pointer;
	background-color: white;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: 1em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
}
.ui-datepicker-day {
	color: black;
}

/* Component containers */

.ui-datepicker, .ui-widget {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 1em;
	background-color: white;
	border: 1px solid #1488CC;
}

/* Interaction states */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	font-weight: normal;
	color: white;
	background-color: #1488CC;
}

.calendar {
	background-color: white;
	border: 1px solid #1488CC;
}

.calendar-dash {
	width: 200px;
	position: absolute;
	left: 689px;
	top: 20px;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}

/* States and images */
.ui-icon {
	width: 16px;
	height: 16px;
}

/* Arrows */
.ui-icon-circle-triangle-w {
	background-image: url(../img/arrow-left-cal.svg);
	left: 15px;
}
.ui-icon-circle-triangle-e {
	background-image: url(../img/arrow-right-cal.svg);
	left: 19px;
}


