/*
There are three responsive design ranges for the dashboard page (dashboard.html):
a) 240px - 489px (phones)
b) 490px - 999px (tablets)
c) 1000px - ... (desktops)
*/


/**** COMMON ELEMENTS ****/


/* Layout */

.pageWrapper {
	background-color: white;
	min-height: 100%;
	padding-bottom: 50px;		
	width: 100%;
}

.dashboardContentWrapper {
	background-color: white;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 41px auto;
	position: relative;
	width: 980px;
	z-index: 30;
}

.dashboardLeftColumn {
	float: left;
	width: 656px;
}

.dashboardRightColumn {
	float: right;
	width: 246px;
}

.dashboardLeftColumn h1 {
	border-bottom: 1px solid #b0b4b7;
	color: black;
	font-size: 2em;
	padding-bottom: 15px;
	width: 100%;
}

/* If Empty */

.dashboardEmpty {
	margin-bottom: 40px;
}

.dashboardEmpty h2 {
	color: black;
	font-size: 1.188em;
	font-weight: bold;
	margin: 20px 0;
}

.dashboardEmpty p:first-of-type {
	font-weight: bold;	
}

.dashboardEmpty p {
	color: #6e7980;
	font-size: 0.875em;
	line-height: 1.4em;
	margin-bottom: 1em;
}

/* Offers */

.dashboardOffers {
	margin-bottom: 40px;
}

.dashboardOffer {
	border-bottom: 1px solid #cfd7db;
	display: block;
	margin-top: 20px;
	padding-bottom: 20px;
}

.dashboardOfferIntro {
	color: #6e7980;
	font-size: 0.875em;
	line-height: 1.5em;
	white-space: pre-wrap;
}

.dashboardOffer img {
	border-radius: 3px;
	width: 100%;
}

.dashboardOfferCenterColumn h3 {
	color: #29abe1;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 5px;
}

.dashboardOfferCenterColumn h4 {
	color: #6e7980;
	font-size: 0.9em;
	font-weight: bold;
	line-height: 1.4em;
	margin-bottom: 20px;
}

.dashboardOfferRightColumnInfo {
	border-bottom: 1px solid #e1e8ed;
	color: #6e7980;
	line-height: 1.5em;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.dashboardOfferRightColumnInfo:first-of-type {
	color: black;
	font-weight: bold;
	padding-top: 0;
}

.dashboardOffer input[type="button"] {
	-moz-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	background-color: white;
	border: none;
	cursor: pointer;
	padding: 0;
}

input[value="Reject"] {
	color: red;
	float: left;
}

input[value="Reject"]:hover {text-decoration: underline;}

input[value="Accept"] {
	color: #29abe2;
	float: right;
}

input[value="Accept"]:hover {text-decoration: underline;}
input[value="Cancel Lesson"] {float: left;}
input[value="Cancel Lesson"]:hover {text-decoration: underline;}


/* Appointments */

.dashboardAppointments {
	margin-bottom: 40px;
}

.dashboardAppointments h2 {
	border-bottom: 1px solid #b0b4b7;
	color: black;
	font-size: 1.188em;
	font-weight: bold;
	padding-bottom: 15px;
	width: 100%;
}

.dashboardAppointment {
	border-bottom: 1px solid #cfd7db;
	display: block;
	margin-top: 20px;
	padding-bottom: 20px;
}

.dashboardAppointment:last-of-type{
	border-bottom: none;
}

.dashboardAppointment .appointmentSenderImage {
	float: left;
	padding-right: 8px;
}
.dashboardAppointment .appointmentSenderImage img {
	border-radius: 3px;
	width: 100%;
}
.dashboardAppointment .dashboardAppointmentIntro {
	float: left;
	font-size: .9em;
	padding: 8px 0px;
	width: 100%;
}



/* Messages */

.dashboardMessages {
	margin-bottom: 40px;
}

.dashboardMessage {
	border-bottom: 1px solid #cfd7db;
	display: block;
	margin-top: 20px;
	padding-bottom: 20px;
}
.dashboardMessage:last-of-type{
	border-bottom: none;
}

/*
.dashboardMessageIntro {
	color: #6e7980;
	font-size: 0.875em;
	line-height: 1.5em;
	white-space: pre-wrap;
}
*/
.dashboardMessage .messageSenderImage {
	float: left;
	padding-right: 8px;
}

.dashboardMessage .messageSenderImage img {
	border-radius: 3px;
	width: 100%;
}

.dashboardMessage .messageSenderName {
	float: left;
	font-size: .9em;
	color: #6e7980;
	font-weight: bold;
}

.dashboardMessage .messageDatetime {
	float: right;
	text-align: right;
	color: #c4c4c4;
	font-size: .8em;
	width: 100%;
}

.dashboardMessage .messageView {
	float: right;
	width: 100%;
}

.messageViewButton {
	width: 120px;
	float: right;
}

.dashboardMessage .messageSubjectLine {
	float: left;
	color: #c4c4c4;
	font-size: .9em;
	width: 100%;
}


.dashboardMessage .messageIntro {
	float: left;
	font-size: 1em;
	padding: 8px 0px;
	width: 100%;
}

/* Right Column - Profile Info Etc */

.dashboardRightColumn img {
	border-radius: 3px;	
	width: 100%;
}

.dashboardRightColumn h3 {
	color: #29abe1;
	display: inline-block; 
	font-weight: bold;
	margin: 20px 0 5px;
}

.dashboardRightColumn h4 {
	color: #6e7980;
	font-size: 0.875em;
	font-weight: bold;
	line-height: 1.4em;
}

.dashboardBasicInfo {
	border-bottom: 1px solid #b5b6b8;
	margin: 20px 0 30px;
	width: 100%;
}

input[value="Edit Profile"] {
	width: 100%;
}

.dashboardInfoBox {
	background-size: 18px 18px;		
	border-bottom: 1px solid #e2e4e6;
	color: #6e7980;
	font-size: 0.875em;
	padding: 11px 0 11px 30px;
}

.dashboardInfoBox:first-of-type {
	background: url('../img/location.svg') no-repeat left center;
	border-top: 1px solid #b5b6b8;
}

.dashboardInfoBox:nth-of-type(2) {
	background: url('../img/passion.svg') no-repeat left center;
}

.dashboardInfoBox:last-of-type {
	background: url('../img/star-full.svg') no-repeat left center;
	border-bottom: none;
}

input.dashboardActionButton {
	font-size: 1em;
}

/* Responsive Stuff */

@media only screen and (min-device-width: 240px) and (max-width: 489px) {

	.dashboardContentWrapper {
		width: 90%;
	}

	.dashboardLeftColumn {
		width: 100%;
	}

	.dashboardRightColumn {display: none;}

	.dashboardLeftColumn h1 {
		font-size: 1.5em;
	}

	.dashboardOffer, .dashboardAppointment, .dashboardMessage {
		padding-bottom: 10px;
	}

	.dashboardOfferIntro, .dashboardAppointmentIntro, .dashboardMessageIntro {
		border-top: 1px solid #e1e8ed;
		padding: 10px 0;
	}

	.dashboardOfferLeftColumn, .dashboardOfferCenterColumn, .dashboardOfferRightColumn  {
		width: 100%;
	}
	.dashboardAppointmentLeftColumn, .dashboardAppointmentCenterColumn, .dashboardAppointmentRightColumn  {
		width: 100%;
	}
	.dashboardMessageLeftColumn, .dashboardMessageCenterColumn, .dashboardMessageRightColumn  {
		width: 100%;
	}

	.dashboardOffer h3 {padding-top: 10px;}

	.dashboardOfferRightColumnInfo:first-of-type {
		border-top: 1px solid #e1e8ed;
		color: black;
		font-weight: bold;
		padding-top: 10px;
	}
}

@media only screen and (min-width: 490px) and (max-width: 999px) {

	.dashboardContentWrapper {
		width: 94%;
	}

	.dashboardLeftColumn {
		width: 50%;
	}

	.dashboardRightColumn {
		width: 40%;
	}

	.dashboardLeftColumn h1 {
		font-size: 1.5em;
	}

	.dashboardOffer, .dashboardAppointment, .dashboardMessage {
		padding-bottom: 10px;
	}

	.dashboardOfferIntro, .dashboardAppointmentIntro, .dashboardMessageIntro {
		border-top: 1px solid #e1e8ed;
		padding: 10px 0;
	}

	.dashboardOfferLeftColumn, .dashboardOfferCenterColumn, .dashboardOfferRightColumn  {
		width: 100%;
	}
	.dashboardAppointmentLeftColumn, .dashboardAppointmentCenterColumn, .dashboardAppointmentRightColumn  {
		width: 100%;
	}
	.dashboardMessageLeftColumn, .dashboardMessageCenterColumn, .dashboardMessageRightColumn  {
		width: 100%;
	}

	.dashboardOffer h3 {padding-top: 10px;}

	.dashboardOfferRightColumnInfo:first-of-type {
		border-top: 1px solid #e1e8ed;
		color: black;
		font-weight: bold;
		padding-top: 10px;
	}

}

@media only screen and (min-width: 1000px) {

	.dashboardOfferLeftColumn, .dashboardAppointmentLeftColumn, .dashboardMessageLeftColumn {
		float: left;
		height: 100%;
		margin-right: 20px;
		width: 123px;
	}

	.dashboardOfferCenterColumn, .dashboardAppointmentCenterColumn, .dashboardMessageCenterColumn {
		float: left;
		width: 287px;
	}

	.dashboardOfferRightColumn, .dashboardAppointmentRightColumn, .dashboardMessageRightColumn {
		float: right;
		font-size: 0.8em;
		width: 206px;
	}

}
