.page-content {
	background-image: url('/static/img/grass.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#dashboard-wrapper {
	padding-top: 50px;

} 

#dashboard {
	background-color : white;
	/* 
rgba(0,0,0,.2);
	*/
	border-radius: 10px;
	padding: 50px 0;
}


#projects {
	color: black;
	padding: 0 10px;
/*	
*/
}

#projects #header {
	width: 95%;
	margin: 10px;
	border-bottom: 1px solid black;
}

#btn-95 {
	width: 95%;
	margin: 10px;
}



#profile {
	/* width: 25%; 
	*/
	padding: 8px 15px;
	background: lightgrey;

	/* margin-top helps line up with dashboardLeftColumn projects h1 */
	margin: 0px 8px;
	border-radius: 10px;
}

#profile a h1 {
	color: black;
	font-size: 1.5em;
}

#profile .stats {
	color: rgba(0,0,0,.7);
	font-size: 1em;
	padding-bottom: 12px;
}

#profile .stats i {
	margin-right: 6px;
}


.centered {
	margin: 0px auto;
	text-align: center;
}

.dashboardLeftColumn a button{
	margin: 0 0 20px;
}


.project {
	/*border-bottom: 1px solid #cfd7db;*/
	display: block;
	margin: 20px auto;
}

.project .address {
	font-size: .9em;
	font-weight: 300;
}

.project .details {
	font-size: 1em;
	margin-bottom: 4px;
	line-height: 1.2em;
}

.project .details.minor {
	font-size: .9em;
}




.stats .location {
	width: 100%;
	height: 20px;
	line-height: 20px;
	padding: 6px 0px;
}


.blueButton a {
	color: white;
}


@media (min-width: 489px) {
	#dashboard-wrapper { margin: 0px 50px; }
}

@media (min-width: 768px) {
	#dashboard-wrapper { margin: 0px 60px; }
}

@media (min-width: 980px) {
	#dashboard-wrapper { margin: 0px 100px; }
}

@media (min-width: 1200px) {
	#dashboard-wrapper { margin: 0px 125px; }
}


@media only screen and (min-device-width: 240px) and (max-width: 489px) {
	.profile {
	/*	width: 95%; */
		float: right;
		margin: 0 0 75px;	/* full width in small device */
	}
}

@media only screen and (min-device-width: 240px) and (max-width: 489px) {
	.project.LeftCol, .dashboardOfferCenterColumn, .dashboardOfferRightColumn  {
		width: 100%;
	}
}
