/*
There are three responsive design ranges for the header (ht_header.html):
a) 240px - 549px (phones);
b) 550px - 999px (phablets, tablets);
c) 1000px - ... (desktop)

New muted blues for links:

#1488CC - reg
#04304A - dark
#7dc7f2 - light

*/

/***** Common Elements *****/

/* SAFE TO DELETE?
.pageWrapper {
	background-color: white;
	-ms-transform: translate(0px, 0px);		
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);		
	transform: translate(0px, 0px);
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	-webkit-transition: 0.15s ease;		
	transition: 0.15s ease;
}

.pageWrapperSlide {
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);		
	-webkit-transform: translate(0, 0);		
	transform: translate(0, 0);
}
*/

.pageWrapper {
	background-color: white;
}

/* Off-Canvas Menu (only displayed on small screens) */

.menu, .menuSlide, .pageWrapperSlide {display: none;}

/* Header */

.headerBackground {
	background-color: #fff;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #313131;
	position: relative;
}

.headerBackground:after {
	content: "";
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 40px;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.headerContentWrapper {
	height: 40px;
	margin: auto;
	position: relative;
	width: 980px;
	z-index: 9998;
}

/* Header Search */

#headerSearch {
	float: left;
	background: #fff;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: black;
	font-size: 0.8em;
	height: 27px;
	padding: 0 20px 0 5px;
	width: 290px;
	margin-top: 7px;
	margin-left: 12px;
}

.headerSearchBar {
	float: left;
	width: 420px;
	height: 40px;
	line-height: 40px;
}

.headerSearchBarIcon {
	float: left;
	border-radius: 2px;
	border-style: none;
	width: 20px;
	height: 40px;
	line-height: 40px;
	margin-left: -23px;
}

.headerSearchBarIcon i.searchIcon {
	color: #000;
	opacity: 0.7;
	cursor: pointer;
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}	
.headerSearchBarIcon i.searchIcon:hover {
	opacity: 1;
}


/* Header Menu */

.headerTextMenu {
	color: rgba(0, 0, 0, 0.5);
	list-style-type: none;
	position: absolute;
	right: 0px;
	top: 8px;
}

.headerTextMenu li {
	display: inline;
	margin-left: 33px;
	text-transform: uppercase;
}

.headerTextMenu a {
	color: #1488CC;
	font-size: 0.875em;
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}

.headerTextMenu a:hover {
	color: #1488CC;
}

.teacherSignupLink {
	font-weight: 600;
	text-transform: uppercase;
	font-size: .8em;
	margin-right: 12px;
}

/* Header Dropdown Menu */

.headerDropdownMenu {
	color: rgba(0, 0, 0, 0.5);
	display: inline;
	float: right;
	height: 29px;
	list-style: none;
	margin: 0;
	min-width: 100px;
	position: relative;
	text-align: right;
	top: 12px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.headerDropdownMenuName {
	display: inline-block;
	position: relative;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	font-size: 0.875em;
	line-height: 41px;
	max-width: 350px;
	min-width: 110px;	
	overflow: hidden;	
	padding: 0 10px;
	text-align: left;
	text-overflow: ellipsis;
	top: -12px;
	white-space: nowrap;
}

.headerDropdownMenuName:hover {
	overflow: visible;
}

.headerDropdownMenuActive {
	font-size: 1em;
	height: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-align: left;
	top: 41px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.4s;
	width: 100%;
	z-index: 9999;
/*	-webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);	*/
}

.headerDropdownMenu li:hover {
	color: #1488CC;
}

.headerDropdownMenu li:hover ul {
	display: block;
	min-height: 400px;
}

.headerDropdownMenu li ul a li:hover {
	color: rgba(0, 0, 0, 0.8);
	background: hsla(202, 82%, 72%, 1);
}

.headerDropdownMenu li ul a li {
	background: rgba(255,255,255, 0.95);
	border: 1px solid rgba(0,0,0, 0.05);
	border-top: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.7);
	display: block;
	padding-left: 10px;
	width: 100%;
}

.headerDropdownMenu li ul a:last-of-type li {
	border-radius: 0 0 3px 3px;
}	

/* Header Logo and Icons */

.headerLogo {
	height: 40px;
	line-height: 46px;
	float: left;
	width: 128px;
}

.headerLogoImg {
	width: 120px;
}

a.headerLogoLink {
}

.headerIcons {
	height: 25px;
	line-height: 38px;
	float: right;
}

.headerIcons a{
	color: rgba(0, 0, 0, 0.5);
	transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.headerIcons a:hover{
	color: #1488CC;
}

.headerIcons .icon {
	margin-right: 6px;
}

/***** Responsive Styles *****/

/* Phones (240px - 549px) */
@media only screen and (min-width: 240px) and (max-width: 549px) {


	/* Page Wrapper */

	.pageWrapper {
		background-color: white;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-ms-transform: translate(0px, 0px);
		-moz-transform: translate(0px, 0px);
		-o-transform: translate(0px, 0px);
		-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
		-moz-transition: 0.15s ease;
		-o-transition: 0.15s ease;
		-webkit-transition: 0.15s ease;
		transition: 0.15s ease;
		width: 100%;
		z-index: 10;
	}

	.pageWrapperSlide {
		box-shadow: 4px 0 1px #303337;
		position: fixed;
		overflow: hidden;
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-moz-transform: translate(-200px, 0px);
		-ms-transform: translate(-200px, 0px);
		-o-transform: translate(-200px, 0px);
		-webkit-transform: translate(-200px, 0px);
		transform: translate(-200px, 0px);
	}

	.headerContentWrapper {
		margin: 0 auto;
		width: 95%;
	}

	.headerSearchBar, .headerTextMenu, .headerDropdownMenu, #headerSearch, .teacherSignupLink {display: none;}
	#headerSearch:focus {outline: none;}

	.headerIcons {
		font-size: 1.2em;
		margin-right: 36px;
	}

	/* Header Menu (graphical menu turned on, text menu turned off) */

	.headerGraphicalMenu {
		background: url("../img/menu.svg") no-repeat 14px 14px;
		background-size: 25px 15px;
		display: block;
		height: 15px;
		padding: 13px 0 13px 13px;
		position: absolute;
		right: 0;
		top: 0px;
		width: 26px;
	}

	/* Off-Canvas Menu */
	
	.menu {
		background-color: #3b3f45;
		bottom: 0;
		display: block;
		height: 100%;
		overflow-y: scroll;
		position: absolute;
		right: 0;
		top: 0;
		width: 200px;
	}

	#menuSearch {
		background: url("../img/search.svg") #282c34 no-repeat 152px;
		border-style: none;
		border-radius: 2px;
		color: white;
		font-size: 0.9em;
		height: 30px;
		margin: 14px 12px 0;
		outline: none;
		padding: 0 25px 0 5px;
		position: relative;
		width: 146px;
	}

	.menu a {color: white;}

	.menu ul {
		position: relative;
		margin: 14px 13px;
		text-align: center;
	}

	.menu ul li:first-child {
		border-bottom: 1px solid #333333;
		border-top: 1px solid #333333;
		padding: 4px 10px;
	}

	.menu ul li {
		border-bottom: 1px solid #333333;
		font-size: 0.9em;
		padding: 4px 10px;
		text-transform: none;
	}

	.menu ul li a {
		padding: 10px 20px;
	}

	#menuUserName {
		color: #808080;
	}

}

/* Phablets (550px - 999px) */
@media only screen and (min-width: 550px) and (max-width: 999px) {

	.teacherSignupLink {
		display: none;
	}

	.headerContentWrapper {
		width: 94%;
	}

	.headerSearchBar {
		width: 50%;
	}	

	#headerSearch {
		width: 50%;
	}

	.headerTextMenu li {
		margin-left: 15px;
	}

	.headerDropdownMenu .headerDropdownMenuName {
		max-width: 140px;
	}

	.headerDropdownMenu li:hover {
		color: #1488CC;
	}

}

/* Tablets, desktops (1000px and greater) */
@media only screen and (min-width: 1000px) {


}