/* PAGE WRAPPERS */

/* Mobiles, phablets, and tablets */
	.pageWrapper {
		background-color: white;
		min-height: 100%;
		padding-bottom: 50px;		
		width: 100%;
	}

/* Desktop */
@media only screen and (min-width: 890px) {

	.pageWrapper {
		background: #dfdfdf;
		background: -moz-linear-gradient(top, #dfdfdf 0%, #ffffff 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, #dfdfdf), color-stop(100%, #ffffff));
		background: -webkit-linear-gradient(top, #dfdfdf 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #dfdfdf 0%, #ffffff 100%);
		background: -ms-linear-gradient(top, #dfdfdf 0%, #ffffff 100%);
		background: linear-gradient(to bottom, #dfdfdf 0%, #ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#ffffff', GradientType=0 );
	}
}

/* CONTENT */

.inboxContentWrapper {
	background-color: white;
	border-radius: 6px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 12px auto 0px;
	padding: 41px;
	position: relative;
	overflow: auto;
	width: 980px;
	z-index: 30;
}

.inboxHeader {
	border-bottom: 1px solid #b0b4b7;
	padding-bottom: 15px;		
	margin-bottom: 10px;
	width: 100%;
	/*color: black;*/
	float: left;
}

.inboxHeaderLeft {
    float: left;
	width: 25%;
}
.inboxHeaderCenter {
	float: left;

}
.inboxHeaderRight {
	float: right;
	width: 25%;
}
.inboxHeaderIcons {
	float: right;
}
.inboxHeaderIcons i {
	cursor: pointer;
}
.inboxHeaderIcons .messageViewThreadArchive, .messageViewThreadRestore, .threadRefresh {
	display: none;
}

.inboxHeaderConvoTitle {
	color: #b4b4b4;
}

.inboxHeaderStatus {
	display: none;
	font-weight: bold;
	font-size: 1.2em;
}

.inboxMessagesTitle {
	font-size: 2em;
}

.inboxHeaderSubject {
	width: 75%;
	float: left;
	font-size: 1.4em;
}

.inboxLeftColumn {
    float: left;
    text-align: right;
	width: 25%;
}

.inboxRightColumn {
	float: right;
	width: 75%;
}

.inboxNavContainer {
	padding-right: 36px;
}	

.inboxView{
	min-height: 500px;
	margin-top: 6px;
}

.inboxMain {
	display: none;
}
.inboxArchive {
	display: none;
}
.inboxMessage {
	display: none;
}

.inboxLeftNavigation {
	display: none;
	font-size: 1.1em;

}

.inboxLeftNavigation .navItem {
	padding-right: 36px;
	cursor: pointer;
}

.inboxLeftNavigation i {
	font-size: .9em;
}

/* MESSAGE THREADS*/

.thread {
	border-bottom: 1px solid #e1e0de;
	float:left;
	width: 665px;
	height: 30px;
	line-height: 30px;
	font-size: .9em;
	padding: 0px 4px;
	cursor: pointer;
}
.thread:nth-of-type(2n+0) {
	background: #fcfcfc;
}
.thread:hover {
	background: #fafafa;
}
.thread.unread {
	font-weight: bold;
}

.threadPartner {
	float: left;
	width: 25%;
}

.threadSubjectLine {
	color: gray;
	float: left;
	/*width: 40%;*/
	white-space: nowrap;
 	overflow: hidden;	
 	o-text-overflow: ellipsis;
 	text-overflow: ellipsis;
}

.threadDate {
	color: gray;
	float: right;
	width: 20%;
}

.threadAction {
	
	font-size: .8em;
	text-align: right;
	cursor: pointer;
	line-height: 28px;
	height: 25px;
	float: right;
}
.threadAction i {
	cursor: pointer;
}
.threadAction a {
	opacity: .5;
}
.threadAction a:hover {
	opacity: 1;
}

.composeButton {
	-moz-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	background-color: #29abe2;
	border: 1px #29abe2 solid;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
	color: white;
	cursor: pointer;
	display: table-cell;
	font-size: 0.9em;
	height: 24px;
	margin-top: 9px;
	margin-bottom: 6px;
	text-align: center;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5 ease;
	transition: 0.5s ease;		
	vertical-align: middle;
	width: 100%;
}

.composeButton:hover {
	border: 1px solid #007cb3;
	background-color: #007cb3;
	text-decoration: none;
}
  

.inboxNavItem {
    background-size: 18px 18px;
    border-bottom: 1px solid #e2e4e6;
    color: #6e7980;
    font-size: 0.875em;
    padding: 11px 0 11px 30px;
    cursor: pointer;
}

.inboxNavItem:hover {
    color: #007cb3;
}

.inboxNavItem i {
		padding-left: 6px; 
}


#inboxSearch {
	background: url("../img/search.svg") #f6f6f6 no-repeat 420px;
	border-radius: 2px;
	border-style: none;
	color: white;
	font-size: 0.8em;
	height: 27px;
	left: 135px;
	line-height: 1.2em;
	margin: 10px;
	margin-right: 150px;
	padding: 0 20px 0 5px;
	width: 420px;
}