

/* ANIMATIONS */

@keyframes coverSlideshow {
	0% {background: url('../img/slideshow-soap.jpg') no-repeat center center;}
	30% {background: url('../img/slideshow-soap.jpg') no-repeat center center;}
	40% {background: url('../img/artsupplies_bg.jpg') no-repeat center center;}
	60% {background: url('../img/artsupplies_bg.jpg') no-repeat center center;}
	80% {background: url('../img/slideshow-brushes.jpg') no-repeat center center;}
	100% {background: url('../img/slideshow-brushes.jpg') no-repeat center center;}
}

@-moz-keyframes coverSlideshow {
	0% {background: url('../img/slideshow-soap.jpg') no-repeat center center;}
	30% {background: url('../img/slideshow-soap.jpg') no-repeat center center;}
	40% {background: url('../img/artsupplies_bg.jpg') no-repeat center center;}
	60% {background: url('../img/artsupplies_bg.jpg') no-repeat center center;}
	80% {background: url('../img/slideshow-brushes.jpg') no-repeat center center;}
	100% {background: url('../img/slideshow-brushes.jpg') no-repeat center center;}
}

@-webkit-keyframes coverSlideshow {
	0% {background: url('../img/slideshow-soap.jpg') no-repeat center center;}
	30% {background: url('../img/slideshow-soap.jpg') no-repeat center center;}
	40% {background: url('../img/artsupplies_bg.jpg') no-repeat center center;}
	60% {background: url('../img/artsupplies_bg.jpg') no-repeat center center;}
	80% {background: url('../img/slideshow-brushes.jpg') no-repeat center center;}
	100% {background: url('../img/slideshow-brushes.jpg') no-repeat center center;}
}


/* COMMON ELEMENTS */


/* Cover Section */

.cover {
	min-width: 100%;
	width: 100% !important;	
	background: black url('../img/backgrounds/artsupplies_bg.jpg') center bottom fixed no-repeat;
	background-size: cover;
	display: block;
	overflow-x: hidden;
	padding-top: 60px;
	padding-bottom: 20px;
	position: relative;
	float: none;
	height: 450px;
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) { 
	.cover {
		background: black url('../img/backgrounds/artsupplies_bg@2x.jpg') center bottom fixed no-repeat;
		background-size: cover;
	}
}

.coverContentWrapper {
	width: 100%;
	position: absolute;
	top: 25%;
}

.coverHeader {
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 2em;
	line-height: 1.2em;
	width: 75%;
	text-align: center;
	margin: 0px auto;
	text-shadow: 0px 1px 4px rgba(0,0,0, 0.8);
}


.coverSearch {
	background-color: rgba(0,0,0, 0.4);
	border-radius: 4px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;		
	margin: 0.7em auto;
	height: 60px;
	padding: 10px;
	width: 535px;
}

.coverSearch input[type="text"] {
	border: 1px solid white;
	border-radius: 3px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;		
	float: left;
	font-size: 1.1em;
	height: 40px;
	line-height: 40px;	
	padding-left: 8px;
	width: 100%;
}

.coverSearch input[type="submit"] {
	display: none;
}


.coverSearchBarIcon {
	float: left;
	border-radius: 2px;
	border-style: none;
	width: 20px;
	height: 40px;
	line-height: 40px;
	margin-left: -23px;
}

.coverSearchBarIcon i.searchIcon {
	color: #000;
	opacity: 0.7;
	cursor: pointer;
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}	
.coverSearchBarIcon i.searchIcon:hover {
	opacity: 1;
}

.coverButtons {
	height: 60px;
	width: 535px;
	margin: 0px auto;
	text-align: center;
}

.coverSignup {
	float: left;
	width: 250px;
	margin: 6px;
	box-shadow: 0px 1px 4px rgba(0,0,0, 0.8);
}

.coverLogin {
	float: right;
	width: 250px;
	margin: 6px;
	box-shadow: 0px 1px 4px rgba(0,0,0, 0.8);
}

/* Feature Section - Categories Etc */


.features {
	background-color: #fff; 
	border-radius: 6px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px auto;
	padding: 36px;
	position: relative;
}

.featuresHeader {
	color: hsla(180, 30%, 60%, 1);
	font-family: 'Lobster Two' cursive;
	font-size: 2.4em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	height: 50px;
	margin-top: 36px;
	text-align: center;
	width: 100%;
}

.featuresHeader a {
	color: #e75f63;
}

.featuresHeader a:hover {
	color: #e75f63;
	text-decoration: underline;
}

.featuresContainer {

}	

.featuresContainer h2 {
	color: #1488CC;
}

.feature {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	padding: 20px;
	text-align: center;
	width: 25%;
}

.feature h2 {
	margin-top: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: hsla(180, 30%, 40%, 1);
}

.feature p {
	line-height: 1.2em;
	margin: 10px auto;
	width: 75%;
}

.featurePic {
	border-radius: 6px;
	width: 100%;
}
.featuresFooter {
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 1.6em;
	color: hsla(180, 30%, 40%, 1);
	font-weight: 600;
	margin-top: 24px;
}

.about {
	margin: 0px auto;
	width: 100%;	
	overflow: visible;
	text-align: center;
	background-color: #ece7e7;
	background-image: url("../img/backgrounds/bg_texture.png");
	background-repeat: repeat;  
	padding-top: 28px;
	padding-bottom: 56px;
	float: none;
	min-height: 550px;
}

.aboutItemContainer {
	margin: 0px auto;
	width: 80%;
	float: none;
	/*overflow: auto;*/
}

.aboutHeader {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	text-align: center;
	color: #e75f63;
	font-family: 'Lobster Two' cursive;
	font-size: 2.4em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	height: 50px;
	line-height: 40px;
	padding: 20px 0px;
}

.aboutItem {
	float: left;
	width: 33%;
}

.aboutItemIcon {
	margin-bottom: 6px;
	padding: 12px;
}

.aboutItemIcon img {
	width: 70%;
	margin: 20px auto 8px auto;
}

.aboutItemTitle {
	font-size: 2em;
	color: #e75f63;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

.aboutItemCaption {
	margin-bottom: 24px;
	padding: 12px 24px;
	color: rgba(0,0,0,.8);
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;
}

.mentor {
	margin: 0px auto;
	width: 100%; 
	text-align: center;
	padding-top: 56px;
	padding-bottom: 56px;
	color: #fff;
	background: hsla(180, 20%, 32%, 1) url('../img/backgrounds/craft-desk.jpg') center bottom fixed no-repeat;
	background-size: cover;
	display: block;
	overflow-x: hidden;
}

.mentorIntroduction {
	width: 70%;
	margin: 16px auto 52px auto;
	font-size: 2.8em;
	line-height: 1.4em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	font-family: 'Lobster Two', cursive;
	color: hsla(180, 30%, 60%, 1);

}

.mentorDescription {
	width: 60%;
	margin: 0px auto;
	font-size: 1.5em;
	line-height: 1.5em;
	font-family: 'Lato', sans-serif;
}

.mentorCloser {
	width: 70%;
	margin: 48px auto 18px auto;
	font-size: 1.8em;
	line-height: 1.4em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	font-weight: 600;
	font-family: 'Lobster Two', cursive;
	color: hsla(180, 30%, 60%, 1);
}

.mentorCloser a {
	color: #fff;
}


/* RESPONSIVE STYLES */

/* Phones, phablets */
@media only screen and (min-device-width: 240px) and (max-width: 599px) {

  .cover {
    padding-top: 0px;
  }

  .coverSearch {
    width: 90%;
  }

  .formField {
    float: none;
    width: 90%;
  }

  .regButton {
    float: none;
    width: 90%;
  }

  .mentorIntroduction, .mentorDescription, .mentorCloser {
    width: 90%;
  }

  .missionIntroduction {
    margin-top: 0px;
  }

  .aboutItem {
    float: none;
    width: 100%;
  }

  .aboutIntroduction {
    height: auto;
  }


}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 999px) {


  .coverSearch {
    width: 70%;
  }

  .about {
    padding-top: 32px;
    padding-bottom: 32px;
    min-height: 580px;
  }

  .aboutIntroduction {
    height: 100px;
  }

  .aboutItemContainer {
    width: 100%;
  }

}

/* Desktop */
@media only screen and (min-width: 1000px) {


}