@import url(https://fonts.googleapis.com/css?family=Open+Sans|Noto+Serif:400italic|Lobster+Two:400,700|Lato:100,300,400,700,900); 
  .pageWrapper {
    font-family: "Lato", Helvetica, sans-serif;
    background: #fff;
    min-height: 100%;
    padding-bottom: 50px;
    width: 100%; }

    .galleria-theme-classic .galleria-stage {
      position: absolute;
      top: 0px !important;
      bottom: 60px;
      left: 0px !important;
      right: 0px !important;
      overflow: hidden; }
      .galleria-theme-classic .galleria-image {
        cursor: pointer; }
        .galleria-theme-classic .galleria-info {
          width: 33%; }
          .galleria-theme-classic .galleria-info-text {
            background-color: rgba(0, 0, 0, 0.3) !important; }

  .lessonCoverContainer {
    position: relative;
    min-width: 100%;
    width: 100% !important;
    height: 550px;
    background: #000; }
    .lessonCoverContainer .lessonCoverDefault {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      width: 100% !important;
      height: 550px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: block;
      overflow-x: hidden; }
      .lessonCoverContainer .lessonCoverTemp {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        width: 100% !important;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        overflow-x: hidden; }
        .lessonCoverContainer .lessonCoverTemp .overlay {
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 100%;
          z-index: 10; }
          .lessonCoverContainer .lessonCoverTemp .lessonCoverLoading {
            width: 100%;
            position: absolute;
            top: 50%;
            margin: 0px auto;
            text-align: center;
            font-size: 1.6em;
            color: #fff;
            z-index: 11; }
            .lessonCoverContainer .lessonCoverTemp .lessonCoverLoading i {
              margin-right: 12px; }
    .lessonCoverContainer .lessonCover {
      opacity: 0;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      width: 100% !important;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow-x: hidden;
      float: none;
      height: 550px;
      z-index: 12; }

  .lessonNavBarContainer {
    width: 100%;
    background-color: #e75f63;
    height: 40px; }
    .lessonNavBarContainer .lessonNavBar {
      margin: 0px auto;
      width: 980px;
      height: 40px; }
      .lessonNavBarContainer .lessonNavBar ul {
        list-style-type: none; }
        .lessonNavBarContainer .lessonNavBar ul li.navElement {
          cursor: pointer;
          float: left;
          display: inline;
          color: white;
          font-size: 1.2em;
          font-weight: 100;
          width: 25%;
          text-align: center;
          height: 40px;
          line-height: 40px; }
          .lessonNavBarContainer .lessonNavBar ul li.navElement:hover {
            font-weight: 300; }

  .lessonContentWrapper {
    background-color: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 24px 32px;
    position: relative;
    overflow: auto;
    width: 980px;
    z-index: 30;
    min-height: 800px; }

    .lessonLeftColumnContainer {
      float: left;
      width: 66%; }

      .lessonLeftColumn {
        padding-right: 36px; }

        .lessonRightColumnContainer {
          float: right;
          width: 33%; }

          .lessonRightColumn {
            float: right; }
            .lessonRightColumn .lessonMentorBox {
              float: left;
              width: 100%;
              margin-bottom: 24px; }
              .lessonRightColumn .lessonMentorBox .mentorPhotoContainer {
                float: left;
                padding: 0px 24px 0px 12px;
                position: relative; }
                .lessonRightColumn .lessonMentorBox .mentorPhotoContainer .mentorPhotoWrapper {
                  width: 100px;
                  height: 100px;
                  overflow: hidden; }
                  .lessonRightColumn .lessonMentorBox .mentorPhotoContainer .mentorPhoto {
                    width: 100px;
                    height: 100px;
                    background-repeat: no-repeat center;
                    background-size: cover;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
                    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); }
              .lessonRightColumn .lessonMentorBox .mentorInfo {
                float: left; }
                .lessonRightColumn .lessonMentorBox .mentorInfo .mentorName {
                  color: rgba(0, 0, 0, 0.6);
                  font-weight: 700;
                  font-size: 1.1em;
                  margin-bottom: 4px; }
                  .lessonRightColumn .lessonMentorBox .mentorInfo .mentorHeadline {
                    font-size: 0.9em;
                    font-weight: 300; }
                    .lessonRightColumn .lessonMentorBox .mentorInfo .mentorLocation {
                      font-size: 0.9em;
                      font-weight: 300; }
            .lessonRightColumn .lessonState {
              float: left;
              font-size: 0.9em; }
              .lessonRightColumn .lessonButtons {
                float: left;
                width: 100%; }
                .lessonRightColumn .lessonButtons button {
                  margin: 12px 0px; }
            .lessonRightColumn .lessonMapContainer {
              float: left;
              width: 100%;
              overflow: hidden; }

  .lessonTitleBox {
    padding-bottom: 12px;
    border-bottom: 1px solid #f0f0f0; }
    .lessonTitleBox .lessonTitle {
      float: left;
      width: 80%; }
      .lessonTitleBox .lessonRate {
        width: 20%;
        float: right;
        text-align: right; }
        .lessonTitleBox .lessonRate .rateAmount {
          color: rgba(0, 0, 0, 0.8);
          font-size: 1.6em;
          font-weight: 700; }
          .lessonTitleBox .lessonRate .rateInfo {
            font-size: 0.8em; }
    .lessonTitleBox .lessonCategory {
      font-size: 0.9em; }
      .lessonTitleBox .lessonRating {
        font-size: 0.9em; }
        .lessonTitleBox .lessonRating .ratingStars {
          padding-left: 6px;
          color: #f5b889; }

  .lessonDescBox {
    padding: 12px 0px;
    border-bottom: 1px solid #f0f0f0; }
    .lessonDescBox .lessonDescBody {
      margin-bottom: 18px; }
      .lessonDescBox .lessonDescBody ul {
        list-style-type: disc;
        margin-left: 20px; }

  .lessonReviewsBox {
    padding: 12px 0px; }
    .lessonReviewsBox .lessonReview {
      float: left;
      width: 100%;
      padding: 18px 0px;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.05); }
      .lessonReviewsBox .lessonReview:last-of-type {
        border-bottom: none; }
        .lessonReviewsBox .lessonReview .reviewerPhotoContainer {
          float: left;
          padding: 0px 24px 0px 12px;
          position: relative; }
          .lessonReviewsBox .lessonReview .reviewerPhotoContainer .reviewerPhoto {
            width: 80px;
            height: 80px;
            background-repeat: no-repeat center;
            background-size: cover;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); }
      .lessonReviewsBox .lessonReview .reviewerInfo {
        float: left;
        width: 75%; }
        .lessonReviewsBox .lessonReview .reviewerInfo .reviewerName {
          float: left;
          width: 50%;
          font-weight: 400;
          font-size: 1em;
          margin-bottom: 4px; }
          .lessonReviewsBox .lessonReview .reviewerInfo .reviewerDate {
            float: right;
            width: 50%;
            text-align: right;
            font-weight: 300;
            font-style: italic;
            font-size: 0.7em;
            color: rgba(0, 0, 0, 0.4); }
            .lessonReviewsBox .lessonReview .reviewerInfo .reviewerComment {
              float: left;
              width: 100%;
              font-size: 0.8em;
              font-weight: 300; }

  h1 {
    font-size: 2em;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 6px; }

    h2 {
      font-size: 1.2em;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.8);
      margin-bottom: 12px; }

      h3 {
        font-size: 1em;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 12px; }

        .portfolioImageContainer {
          float: left;
          margin-top: 8px;
          width: 100%; }

          .portfolioImageWrapper {
            float: left;
            padding: 4px;
            width: 33%; }

            .portfolioImage {
              border: 1px solid #e2e4e6;
              border-radius: 3px;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              display: block;
              float: left;
              width: 100%; }

              .portfolioImageCaption {
                float: left;
                width: 100%;
                text-align: center;
                font-size: 0.8em; }
