@charset "UTF-8";
@scblue "#29abe1";

/*@-ms-viewport {width: device-width;}*/
/*@viewport {width: device-width;}*/

* {font-family: "Helvetica Neue", "Open Sans", Arial, sans-serif;}


/* GLOBAL TAGS */
html, body {
	-webkit-font-smoothing: subpixel-antialiased;
	color: @scblue; /*rgba(0, 0, 0, 0.5);*/
	font-family: "Helvetica Neue", "Open Sans", Arial, sans-serif;
	font-size: 1em;
	font-weight: normal;
	height: 100%;
	line-height: 1.5em;
}

body	{	padding-top: 50px;	}		/* padding for .navbar-fixed-top. Change with nav-bar height. */


/* FONTS */
strong { font-weight: bold; }
h1 {
	color: white;
	font-size: 3em;
	font-weight: 400;
	line-height: 1em;
}

h2 {
	color: rgba(0, 0, 0, 0.9);
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.2em;
}

h3 {
	font-size: 1.2em;
	font-weight: 500;
	line-height: 1.2em;
}

.clear { clear: both; }



/* ANIMATIONS */

@-moz-keyframes bluePulse {
  0% {background-color: #29abe2; border: 1px #29abe2 solid;}
  100% {background-color: #007cb3; border: 1px #007cb3 solid;}
}

@-webkit-keyframes bluePulse {
  0% {background-color: #29abe2; border: 1px #29abe2 solid;}
  100% {background-color: #007cb3; border: 1px #007cb3 solid;}
}



/* LINKS */
a:link		{ color: #29abe1; text-decoration: none}
a:active	{ color: #29abe1; }
a:visited	{ color: #29abe1; }


/* FORMS */
label {
	color: gray;
	font-size: 0.7em;
	line-height: 1.7em;
}

/* Placeholder */
:-moz-placeholder	{color: #939292;} /* Firefox 18- */ 
::-moz-placeholder	{color: #939292;} /* Firefox 19+ */ 
:-ms-input-placeholder		{color: #939292;}
::-webkit-input-placeholder	{color: #939292;}


/* Close Window Button */
.windowClose {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
	font-size: 1.3em;
}

.windowClose a {
	color: #d1d1d1;
}
.windowClose a:hover {
	color: #adadad;
	text-decoration: none !important;
}

/* Buttons */

	.blueButton {
		-moz-appearance: none;
		-o-appearance: none;
		-webkit-appearance: none;
		background-color: #29abe2;
		border: 1px #29abe2 solid;
	  	-webkit-border-radius: 3px;
	  	border-radius: 3px;
		color: white;
		cursor: pointer;
		display: table-cell;
		font-size: 0.9em;
		height: 35px;
		text-align: center;
		-moz-transition: 0.5s ease;
		-o-transition: 0.5s ease;
		-webkit-transition: 0.5 ease;
		transition: 0.5s ease;		
		vertical-align: middle;
		width: 100%;

	}

	.blueButton:hover {
		border: 1px solid #007cb3;
		background-color: #007cb3;
		text-decoration: none;
	}

	.messageButton {
		-moz-appearance: none;
		-o-appearance: none;
		-webkit-appearance: none;
		background-color: #29abe2;
		border: 1px #29abe2 solid;
	  	-webkit-border-radius: 3px;
	  	border-radius: 3px;
		color: white;
		cursor: pointer;
		display: table-cell;
		font-size: 0.9em;
		height: 35px;
		margin-top: -12px;
		text-align: center;
		-moz-transition: 0.5s ease;
		-o-transition: 0.5s ease;
		-webkit-transition: 0.5 ease;
		transition: 0.5s ease;		
		vertical-align: middle;
		width: 100%;

	}
	.messageButton:hover {
		border: 1px solid #007cb3;
		background-color: #007cb3;
		text-decoration: none;
	}

	.redButton {
		background-color: white;
		border: 1px solid #e2e4e6;
	  	border-radius: 3px;
		color: red;
		cursor: pointer;
		font-size: 0.9em;
		font-weight: 400;
		height: 35px;
		text-align: center;
		-moz-transition: 0.5s ease;
		-o-transition: 0.5s ease;
		-webkit-transition: 0.5 ease;
		transition: 0.5s ease;
		vertical-align: middle;
		width: 100%;

	}
	.redButton:hover {
		border: 1px solid red;
		text-decoration: none;
	}

	.whiteButton {
		background-color: white;
		border: 1px #e2e4e6 solid;
	  	border-radius: 3px;
		color: #29abe1;
		cursor: pointer;
		font-size: 0.9em;
		font-weight: 400;
		height: 35px;
		text-align: center;
		-moz-transition: 0.5s ease;
		-o-transition: 0.5s ease;
		-webkit-transition: 0.5 ease;
		transition: 0.5s ease;
		vertical-align: middle;
		width: 100%;
	}
	.whiteButton:hover {
		border: 1px solid #29abe2;
		text-decoration: none;
	}


	/* Checkboxs */
	input[type="checkbox"] {
		display: none;
	}

	input[type="checkbox"].checkbox {
		border: 0;
		clip: rect(0 0 0 0); 
		height: 1px; 
		margin: -1px; 
		overflow: hidden; 
		padding: 0;
		position: absolute;
		width: 1px; 
	}

	input[type="checkbox"].checkbox + label.checkbox-label {
		background-position: 0 0;
		background-repeat:no-repeat;
		cursor: pointer;
		display: inline-block;
		height: 17px;
		font-size: 0.9em;
		line-height: 17px;
		padding-left: 25px;
		vertical-align: middle;
		/* Makes the label unselectable */
		-moz-user-select: -moz-none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	input[type="checkbox"].checkbox:checked + label.checkbox-label {
		background-position: 0 -17px;
	}

	.checkbox-label {
		background-image:url('../img/checkbox.svg');
	}

	/* Input fields */

	textarea {
		-moz-appearance: none;
		-o-appearance: none;
		-webkit-appearance: none;
		border: 1px #e1e8ed solid;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		height: 120px;
		font-size: 0.9em;
		line-height: 1.5em;
		outline: none;
		padding: 0.4em 5px;
	}

	input[type="text"], input[type="email"], input[type="password"] {
		-moz-appearance: none;
		-o-appearance: none;
		-webkit-appearance: none;
		border: 1px #e1e8ed solid;
		height: 40px;
		font-size: 0.9em;
		line-height: 1em;
		outline: none;
		padding-left: 5px;
	}

	input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
		-moz-appearance: none;
		-o-appearance: none;
		-webkit-appearance: none;
		border: 1px #e1e8ed solid;
		height: 40px;
		outline: none;
	}

	input[type="submit"] {
		-moz-appearance: none;
		-o-appearance: none;
		-webkit-appearance: none;
		font-size: 0.9em;
		text-transform: uppercase;
	}

	input[type="button"], button {
		-moz-appearance: none;
		-o-appearance: none;
		-webkit-appearance: none;
		font-size: 0.9em;
		text-transform: uppercase;		
	}

	select {
	    -moz-appearance: none;
		-webkit-appearance: none;
		background: url('../img/dropdown.svg') no-repeat right white;
		border: 1px #e1e8ed solid;
		border-radius: 0;
		font-size: 0.9em;
		height: 40px;
		line-height: 1.5em;
		outline: none;
		padding: 2px 0 0 5px;
		text-indent: 1px;
	    text-overflow: '';
	}

@-moz-document url-prefix() {
	select {
		-moz-appearance: none;
		-webkit-appearance: none;
		background: url('../img/dropdown.svg') no-repeat right white;
		border: 1px #e1e8ed solid;
		border-radius: 0;
		font-size: 0.9em;
		height: 40px;
		line-height: 1.5em;
		outline: none;
		padding: 9px 0 0 0;
		text-indent: 1px;
	    text-overflow: '';
	}
}
