/* MODAL WINDOWS */
#overlay {}							/* Overlay Screen (overlay-dark) */
#modal-wrap {}						/* modal-wrap. unsure if needed	*/
	#modal-window {}				/* window, display:none;		*/
		#modal-content {}			/* container for window-content	*/
			#modal-header {}		/* container for window-header	*/
				#modal-title {}		/* 		[ Title ]				*/
				#modal-close {}		/*		[ close (X) ]			*/
			#modal-message {}		/* container for content		*/
			#modal-buttons {}		/* container for buttons		*/
				#modal-dismiss {}	/* 		[ OK :: dismisses ]		*/


#modal-window {
	display: none;		/* INTENTIONAL CLASSES: 'window-alert' */

	/* describe window */
	background-color: white;
	border-radius: 6px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;

	padding: 20px 10px 10px;
	text-align: center;
}

#modal-content {
	/* required to position modal-header */
	position: relative;
	height: 100%;
	width: 100%;
}


#modal-header {
	/* container for title, close */
	height: 100%;
	padding-bottom:	5px;
	margin-bottom:	5px;
}

#modal-close {
	/* top-right corner */
	position: absolute;
	top: -10px;
	right: -6px;

	cursor: pointer;
	font-size: 1.2em;
}
#modal-close:before	{ content:"\00D7"; }	/* X to close. */
#modal-close:hover	{ color: darkred; font-weight: bolder;  }



#modal-window-orig {
	/* window, sits on top of overlay. */
	z-index: 99998;
	position: fixed;

	/* appearence */
	padding: 1%;
}




#modal-message {
	text-align:	center;
	font-size:	1.0em;
	line-height: 1.35em;

	margin-bottom: 15px;
}


#modal-dismiss {
	border-top: 1px solid rgba(0,0,0, 0.4);
	padding-top: 10px;

	cursor: pointer;
	margin: auto;
	width: 100%;
	color: #29abe2;
}




.overlay-dark {
	/* whole screen */
	display:	block;
	position:	fixed;
	top:	0;
	left:	0;
	height:	100%;
	width:	100%;
	z-index: 99997;

	/* darken the screen */
    background-color: darkgray;	/* fallback */
    background-color: rgba(0,0,0,.6);
}


/* doesn't appear to be working */
.modal-dismiss { z-index: 99998; }


.window-visible {
	display: inline;
	z-index: 99999;

	position: fixed;	/* necessary? */
	width: 100%;

	text-align: center;	/*  here? */
	bottom: 65%;
}


/* CLASSES of WINDOWS */
.window-alert {
	display: inline-block !important;
}


@media only screen and (min-device-width: 240px) and (max-width: 349px)	{ #modal-window {	width: 80%;		}	}
@media only screen and (min-width: 350px)								{ #modal-window {	width: 240px;	}	}
