#calendar {
		max-width: 900px;
		margin: 0 auto;
}

.page-content {
	background: url('/static/img/background-blurred.jpg') no-repeat center right;
	background-position: 100% 30%;
	background-size: cover;
	height: 100%;
	min-height: 620px;
	overflow-x: hidden;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	-webkit-transition: 0.15s ease;
	transition: 0.15s ease;
	width: 100%;
}

.editProfContentWrapper {
	background-color: white;
	border-radius: 6px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0px 3px 20px rgba(0,0,0, 0.15);	
	margin: 12px auto 75px;
	padding: 41px;
	position: relative;
	overflow: auto;
	width: 980px;
	min-height: 600px;
	z-index: 30;
}

/* Header and Top Navigation */

.editProfHeader {
	border-bottom: 1px solid #b0b4b7;
	padding-bottom: 15px;		
	margin-bottom: 10px;
	width: 100%;
	/*color: black;*/
	float: left;
}

.editProfHeaderLeft {
    float: left;
	width: 25%;
}

.editProfHeaderRight {
	float: left;
	width: 75%;
}

.editProfTopLeftNavigation {
	font-size: 1.1em;
}

.editProfTopLeftNavigation .navItem {
	cursor: pointer;
	padding-right: 36px;
}

.editProfTopLeftNavigation i {
	font-size: .9em;
}

.editProfHeaderPageName {
	color: rgba(0,0,0, 0.9);
	font-size: 1.8em;
	font-weight: 400;
/*	line-height: 1.2em;*/
	margin-bottom: 12px;
}

.editProfFlags {
	display: none;
	width: 100%;
	float: left;
}

/* Main Content Areas */

.editProfContentContainer {

}

.editProfLeftColumn {
    float: left;
    text-align: left;
	width: 25%;
}

.editProfRightColumn {
	float: right;
	width: 75%;
}

/* Left Navigation */

.editProfNavContainer {
	padding-right: 38px;
	margin-bottom: 36px;
}	

.editProfNavList {

}
.editProfNavListHeader {
	color: rgba(0, 0, 0, 0.4);
	font-size: .8em;
	padding: 0px 0px 4px 4px;
}

.editProfNavItem {
	color: rgba(0, 0, 0, 0.7);
	position: relative;
	height: 30px;
	line-height: 30px;
	font-size: 1em;
	cursor: pointer;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	-webkit-transition: 0.2 ease;
	transition: 0.2s ease;	
	padding: 4px;
}

.editProfNavItem:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.editProfNavItem.active {
	background-color: rgba(0, 0, 0, 0.05);
	font-weight: bold;
}

.editProfNavItem.disabled {
	color: rgba(0, 0, 0, 0.4);
	cursor: default;
}

.editProfNavItem.disabled:hover {
	background-color: inherit;
}
.editProfNavItem.disabled.active {
	background-color: inherit;
	font-weight: normal;
}

.editProfNavItem i {
	font-size: .9em;
	margin-left: 6px;
	position: absolute;
	right: 4px;
	top: 33%;
}

.editProfNavItem i.progress {
	display: none;
	font-size: .8em;
	margin-left: 6px;
	position: absolute;
	right: 24px;
	top: 33%;
	color: rgba(0,0,0,.5);
}

/* specific nav item for mentor activation */
#editProfNavItemMentor {
	/*display: none;*/
	/*visibility: hidden;*/
}

/* nav items for mentor fields */
.mentorNav {
	opacity: 0.4;
}


/* Styles for the form container and pages */


.editProfFormPageContainer {
	/*min-height: 300px;*/
}

.editProfFormPageFooter {
	float: left;
	width: 100%;
	margin-top: 24px;	
}

.editProfFormButtonContainer {
	float: left;
	text-align: left;

}

.editProfFormStatus {
	color: rgba(0,0,0,.4);
	display: none;
	float: left;
	text-align: left;
	font-size: .8em;
	height: 30px;
	line-height: 36px;	
	margin-left: 20px;
}

.editProfFormButton {
	width: 150px;
	margin: 12px 0px;
}
.editProfSave {
	width: 150px;
}
.editProfSave.final {
	width: 250px;
}

.editProfFormButtonSubmit {
	width: 300px;
	margin: 12px 0 12px 0;
}

.editProfActivate {
	width: 300px;
	margin: 12px 0 12px 0;	
}

.editProfFormPrevious {
	cursor: pointer;
	float: left;
}

.editProfFormCancel {
	display: none;
	cursor: pointer;
}

.editProfFormPage {
	display: none;
	float: left;
/*	padding: 8px 0px 24px 0px;*/
	width: 100%;
	margin: 10px auto;
	/*border-bottom: 1px dotted #f0f0f0;*/
}



.formTitle {
	display: none;
}

.formInstruction {
	color: rgba(0,0,0, 0.9);
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.2em;
	margin-bottom: 12px;
}

.formDescription {
	color: rgba(0,0,0, 0.7);
	margin-bottom: 12px;
}

.formDescription ul {
	list-style: disc;
	margin: 12px 0px 12px 24px;
}
.formDescription li {
	margin-bottom: 8px;
}

.formFieldCaption {
	display: none;
	font-size: .8em;
	margin-left: 16px;
}

.formFieldInfo {
	color: rgba(0,0,0,0.4);
	font-size: .9em;
	padding-bottom: 6px;
	padding-top: 20px;
}

.formFieldInfo.first {
	padding-top: 0px;
		
}

.formFieldError {
	display: none;
	font-size: .7em;
	color: #e75f63;
}

.formFieldError.inline {
	display: inline-block;
	margin-left: 8px;
}

.formFieldError.alt {
	float: left;
	height: 40px;
	line-height: 50px;
	margin-left: 16px;
	margin-top: 10px;
}


.formContainer {
	margin-bottom: 20px;
}

.formField {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*margin-bottom: 6px;*/
	margin-bottom: -1px;
}


.formField.stack:first-of-type {
	border-radius: 5px 5px 0 0;
}

.formField.stack:last-of-type {
	border-radius: 0 0 5px 5px;
}

input[type="text"].formField, select.formField {
	height: 40px;
}


input.formField:focus, select.formField:focus, textarea.formField:focus {
	border: 1px #cccccc solid;
}

textarea.formField {
	border-radius: 3px !important;
	height: 235px;
	resize: none;
}

/* Specific Form Fields */

#mentor {
	display: none;
}

#mentor .editProfFormPageFooter {
	margin-top: 0px;
}

.editProfAvailDay {
	position: relative;
	margin-bottom: 4px;
	width: 100%;
}

.editProfAvailDay label {
	color: rgba(0,0,0,.7);
	font-size: 1em;
	font-weight: 600;
	display: inline-block;
	padding: 0px 10px 0px 6px;	
	width: 100px;
}

.editProfAvailDay input[type="checkbox"]{
	height: 20px;
	width: 20px;
	position: relative;
	top: 4px;
}

.statusElement {
	position: relative;
	margin-bottom: 4px;
}

.statusElement input[type="checkbox"]{
	height: 20px;
	width: 20px;
	position: relative;
	top: 4px;
}

.statusElement label {
	color: rgba(0,0,0,.7);
	font-size: .9em;
	display: inline-block;
	padding: 0px 10px 0px 6px;	
}

.editProfAvailDay .daySelector {
	width: 20%;
}

#edit_photo {
	display: none;
}

.editProfImageInfo {
	width: 100%;
	float: left;
	margin: 12px 0px;
	font-size: .9em;
}

.editProfImageButton {
	width: 150px;
	margin-top: 18px;
	float: left;
}

.editProfImagePreview {
	/*display: none;*/
	border: 1px #cccccc solid;
	padding: 3px;
	width: 98%;
	cursor: pointer;
}


/* Privacy & Notifications */

input[type="checkbox"] {
	display: inline;
}
