.projects { min-height: 100px; }


.project {
	/*border-bottom: 1px solid #cfd7db;*/
	display: block;
	margin-top: 20px;
	padding-bottom: 20px;
}


.create_project {
	float: left;
	width: 40%;
	padding: 30px;
	/* border: 2px solid black; */
	text-align: center;
	box-sizing: border-box;
}


.user_profile {
	margin-top: 20px; /* helps line up with dashboardLeftColumn projects h1 */
	float: right;
	width: 30%;
	background: lightgrey;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 10px;

}

.user_profile a h1 {
	color: darkslategrey;
	font-size: 1.5em;
}

.project.address {
	font-size: .9em;
	font-weight: 300;
}

.project .details {
	font-size: .9em;
	margin-bottom: 8px;
	line-height: 1.2em;
}



@media only screen and (min-device-width: 240px) and (max-width: 489px) {
	.project.LeftCol, .dashboardOfferCenterColumn, .dashboardOfferRightColumn  {
		width: 100%;
	}
}
