.lp-img {
	background-image: url('/static/img/sc/glass_table.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 80vh;
	color: white;
    text-shadow: 0 2px 30px rgba(0,0,0,.8);
	font-size: 2.4em;
	line-height: 1.1em;
}

.lp-img h1 {
	/* apparently em is a multiplier... h1 is impacted by .lp-img font-size */
	font-size: 2em;
	line-height: 1.1em;
}


.overlay {
}

.modalOverlayOn {
	/* toggled on/off an empty div [overlay] */
	/* sets background (whole screen) to black */
	display: block;
	position: fixed;

	top: 0;
	height: 100%;
	left: 0;
	width: 100%;

    background: #000; /* fallback */
    background: rgba(0,0,0,.6);
	z-index: 99997;
}



.overlay-content {
	/* defines a box that will be filled */
	display: none;
	background: #fff;
	padding: 1%;

	position: fixed;
	top: 25%;

	width: 50%;
	left: 25%;

	cursor: default;
	z-index: 99998;
	border-radius: 15px;
	box-shadow: 0 0 5px rgba(0,0,0,0.9);
}



.overlay-close {
	/* The X to close the overlay */
	position: absolute;
	top: 5px;
	right: 8px;
	cursor: pointer;
	font-size: 1.3em;
	z-index: 99999;
	color: #d1d1d1;
}
.overlay-close :hover { color: #adadad; }


.center {
	/* taken from trunk-club, not sure that this is doing anything 
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	*/
	top: 25%;
	text-align:center;		 /* center align text too */

	/* setting the width to a size and setting margins to auto ... we center-aligned the div */
	position: absolute;
	display: block;
	width: 95%;
	margin-left: auto;
	margin-right: auto;

}

.jumbotron-btn {
	color: white;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	letter-spacing: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	border-width: 2px;
	border-style: solid;
	border-color: #fff;
	border-radius: 4px;
	transition: background 80ms ease-out;
}

.jumbotron-btn:hover {
	text-decoration: none;
	background-color: white;
	color: black;
}


.lp-img1 {
	/* will not stretch, may not see full img */
	background-image:url('/static/img/img1.jpg');
	background-size: cover;
	height: 750px;
	color: #fff;
}

.lp-img2 {
	/* only use where we can stretch the image */
	background-image:url('/static/img/img2.jpg');
	background-size: 100% 100%;
	height: 750px;
	color: #fff;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.9;
/*	background-image:url('/static/img/topo_table.jpg');
	background-size:cover;
*/
}

.press {
	padding-top: 75px;
	padding-bottom: 75px;
}

.press-list {
	margin-bottom: 15px;
	list-style: none;
}

.press-img:hover {
/* 	border: 1px solid aliceblue; */
/* 	makes img smaller... bah */
}

.list-inline {
	padding-left: 0px;
	height: 100px;
}

.press-list li {
	display: block;
	vertical-align: middle;	/* img? */
}

.press-list li img {
	/* set height of image to normalize; let automatically determine width.  */
	height: 60px;
	filter: alpha(50%);
	/* center */
	margin-left: auto;
	margin-right: auto;
}

/*press-list and .last */
.row.last {
	margin-bottom:  100px;
}

.greyscale {
	filter: gray;			/* IE6-9 */
	filter: grayscale(1);	/* FF35+ */
	-webkit-filter: grayscale(1); /* Chrome, Safari 6+ & Opera 15+ */
}

.greyscale:hover {
	filter: grayscale(0);	/* FF35+ */
	-webkit-filter: grayscale(0); /* Chrome, Safari 6+ & Opera 15+ */
}

/* Home Page Carousel */
.carousel {
    height: 75%;
	/* amount of screen space to fill */
}

.product-container {
	padding: 100px 75px;
/*
	background: -webkit-linear-gradient(white, white); /* For Safari 5.1 to 6.0 *
	background: -o-linear-gradient(white, white); /* For Opera 11.1 to 12.0 *
	background: -moz-linear-gradient(white, white); /* For Firefox 3.6 to 15 *
	background: linear-gradient(white, white); /* Standard syntax 
*/
	color: white;
	background: rgba(76,76,76,1); 
}


.carousel .item,
.carousel .item.active,
.carousel .carousel-inner {
	color: white;
	width: 100%;
	/* height: 100vh; */
}

.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


/* 404 Page Styles */
.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}


/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

@media only screen and (min-device-width: 240px) and (max-width: 500px) {
	.lp-img {
		font-size: 1em;
	}
}
