.page-content {
	background-image: url('/static/img/grass.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;	/* not sure why this is necessary here */
}

.blueButton:hover {
	color: white;
	font-weight: bolder;
}

#calendar {
		max-width: 900px;
		margin: 0 auto;
}

#actions {
	margin: 10px auto;
}

#actions-next {
	margin-top: 10px;
}

.underlined {
	border-bottom: 1px solid darkgrey;
}


.project-wrapper {
	background-color: white;
	border-radius: 6px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0px 3px 20px rgba(0,0,0, 0.15);	
	margin: 20px 20px 75px;
	padding: 25px;
	position: relative;
	overflow: auto;
	z-index: 30;
}

@media (min-width: 489px) {
	.project-wrapper { margin: 20px 50px 75px; }
}

@media (min-width: 768px) {
	.project-wrapper { margin: 20px 60px 75px; }
	#save-project { visibility: visible !important; }
	#actions { margin: 20px auto; }
	#actions-next { margin-top: 25px; }
}

@media (min-width: 980px) {
	.project-wrapper { margin: 20px 100px 75px; }
}

@media (min-width: 1200px) {
	.project-wrapper { margin: 20px 200px 75px; }
}

#project-header {
	border-bottom: 1px solid #b0b4b7;
	padding-bottom: 15px;		
	margin-bottom: 15px;
	width: 100%;
	float: left;
}

#status {
	display: block;
	height: 75px;
	font-weight: bolder;
	visibility: hidden;
}


/* not sure if the next 5 fields have impact, test this */
.save-btn-text {
} 

#save-project {
	visibility: hidden;
}

#basic-details {
	display: block;
	width: 100%;
	margin: 20px auto;
	margin: 25px 0 24;
	/*border-bottom: 1px dotted #f0f0f0;*/
}

#learn-more{
	box-sizing: border-box;
	display: none;
}

#learn-email {
	float: right;
	width: 40%;
}

#learn-phone {
	float: left;
	width: 40%;
}

/*
	padding: 25px 0 24px;
*/
.scheduleMap {
	background-color: rgba(0,0,0, 0.05);
	border: 1px #e1e8ed solid;
	border-radius: 0 0 3px 3px;
	border-top: none;
	margin-top: 3px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 300px;
}
	/* float: left;	*/



/* nav items for mentor fields */

.editProfFormStatus {
	color: rgba(0,0,0,.4);
	display: none;
	float: left;
	text-align: left;
	font-size: .8em;
	height: 30px;
	line-height: 36px;	
	margin-left: 20px;
}

.editProfFormButton {
	width: 150px;
	margin: 12px 0px;
}

.editProfSave {
	width: 150px;
}

.editProfFormButtonSubmit {
	width: 300px;
	margin: 12px 0 12px 0;
}

.editProfActivate {
	width: 300px;
	margin: 12px 0 12px 0;	
}

.editProfFormPrevious {
	cursor: pointer;
	float: left;
}

.editProfFormCancel {
	display: none;
	cursor: pointer;
}



.formTitle {
	display: none;
}

.formInstruction {
	color: rgba(0,0,0, 0.9);
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.2em;
	margin-bottom: 12px;
}

.formDescription {
	color: rgba(0,0,0, 0.7);
	margin-bottom: 12px;
}

.formDescription ul {
	list-style: disc;
	margin: 12px 0px 12px 24px;
}
.formDescription li {
	margin-bottom: 8px;
}

.formFieldCaption {
	display: none;
	font-size: .8em;
	margin-left: 16px;
}

.p10 {
	margin: 10px auto;
}

.formFieldInfo {
	color: rgba(0,0,0,0.4);	//set a color
	height: 45px;
	margin: 5px 0;
	font-size: .9em;

	/* override bootstrap */
	padding-left: 5px;
	padding-right: 5px;
}

input[type='text'] {
	font-size: 1em;
	/* for some reason the text is smaller than textarea */
}
/* .formFieldInfo.first { padding-top: 0px; } */


.formFieldError {
	display: none;
	font-size: .7em;
	color: #e75f63;
	height: 45px;
	overflow-y: auto;
}

.formFieldError.inline {
	display: inline-block;
	margin-left: 8px;
}

.formFieldError.alt {
	float: left;
	height: 45px;
	line-height: 50px;
	margin-left: 16px;
	margin-top: 10px;
}


.formField {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*margin-bottom: 6px;*/
	margin-bottom: -1px;
}


.formField:focus { border-color: black; }


.formField.stack:first-of-type {
	border-radius: 5px 5px 0 0;
}

.formField.stack:last-of-type {
	border-radius: 0 0 5px 5px;
}


input.disabled,
.disabled p, 
.disabled h3 {
	 color: rgba(0,0,0,.4);
} 

input[type="text"].formField, select.formField {
	height: 45px;
}


input.formField:focus, select.formField:focus, textarea.formField:focus {
	border: 1px #cccccc solid;
}

#proj_addr {
	padding-bottom: 5px;
}

textarea.formField {
	border-radius: 3px !important;
	padding-left: 5px;
	resize: none;
}
