/*
There are three responsive design ranges for the search page (search.html):
a) 240px - 619px (phones, phablets)
b) 620px - 979px (tablets)
c) 980px - ... (desktops)
*/

/* Common Elements */

	.searchOptions input[type="text"] {
		border-color: #e1e8ed;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;		
		margin-bottom: 0;
	}

	.searchOptions select {
		border-color: #e1e8ed;
	}

	.searchOptions input[type="submit"] {
		width: 100%;
	}

@media only screen and (min-device-width: 240px) and (max-width: 549px) {

	.pageWrapper {
		min-height: 100%;
		width: 100%;
	}

	.searchWrapper {
		margin: auto;
		width: 90%;
	}

	/* Search Options */

	.searchOptions h2 {
		font-size: 1.2em;
		text-align: right;
	}

	.searchOptions {
		border-bottom: 1px solid rgba(0,0,0, 0.1);
		display: none;
		margin: 20px 0;
		padding-bottom: 20px;
		width: 100%;
	}

	.searchOptionsOn {
		display: block;
	}

	#searchOptionsKeywords {
		border-radius: 5px 5px 0 0;
		margin-top: 17px;
		width: 100%;
	}

	#searchOptionsLocation {
		margin-top: -1px;
		width: 100%;
	}

	#searchOptionsIndustry {
		margin-top: -1px;
		width: 100%;
	}

	#searchOptionsMinRate {
		margin-top: -1px;
		width: 100%;
	}

	#searchOptionsMaxRate {
		border-radius: 0 0 5px 5px;
		margin-top: -1px;
		width: 100%;
	}

	.searchOptions input[type="submit"] {
		margin-top: 16px;
	}

	/* Search Results */

	.searchResults {
		width: 100%;
	}

	.searchResultsHeading {
		height: 30px;
		margin-top: 20px;
	}

	.searchResultsHeading h2 {
		color: rgba(0,0,0, 0.5);
		float: right;
		font-size: 1em;
	}

	.searchOptionsMenu {
		color: #1488CC;
		cursor: pointer;
		display: block;
		font-weight: bold;
		position: absolute;
		text-align: right;
		top: 57px;
		left: 5%;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		-webkit-user-select: none; 
		user-select: none;    		
	}

	/* Search Listing */

	.searchListing {
		margin: 10px 0 20px;
	}

	.searchListingImage {
		border: 1px solid #e1e8ed;
		border-radius: 6px 6px 0 0;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;	
		display: block;
		height: 0;
		margin: 0;
		padding: 56.25% 0 0 0;
		width: 100%;
	}

	.searchListingInfo {
		color: #9babb5;
		background-color: white;
		border: 1px solid #e1e8ed;
		border-radius: 0 0 6px 6px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;		
		margin-top: -7px;
	}

	.searchListingTable {
		border-collapse: collapse;
		display: table;
		font-size: 0.8em;
		margin: -1px auto;
		table-layout: fixed;
		width: 95%;
	}

	.searchListingTable td, .searchListingDetails th {
		border-bottom: 1px solid #e1e8ed;
		padding: 5px 0;
		word-wrap: break-word;
		vertical-align: middle;
	}

	.searchListingTable h3 {
		margin: 5px 0 3px;
	}


	.searchListingTableHeading {
		color: rgba(0,0,0, 0.7);
		font-family: Garamond, Georgia, serif;
		font-style: italic;
	}

	.searchListingTableLocation {
		background-opacity: 50%;
	}

	.searchListingTableLastRow td {
		border-bottom: none;
	}

	.searchListingTablePrice {
		text-align: right;
	}

	.searchListingTablePrice strong {
		color: rgba(0,0,0, 0.7);
		font-size: 1.5em;

	}

}

@media only screen and (min-width: 550px) and (max-width: 999px) {

	.pageWrapper {
		min-height: 100%;
		width: 100%;
	}

	.searchWrapper {
		margin: auto;
		padding-bottom: 20px;
		width: 94%;
	}

	/* Search Options */

	.searchOptions {
		float: right;		
		margin-top: 20px;
		padding: 20px;
		width: 30%;
	}

	#searchOptionsKeywords {
		border-radius: 5px 5px 0 0;
		margin-top: 17px;
		width: 100%;
	}

	#searchOptionsLocation {
		margin-top: -1px;
		width: 100%;
	}

	#searchOptionsIndustry {
		margin-top: -1px;
		width: 100%;
	}

	#searchOptionsMinRate {
		margin-top: -1px;
		width: 100%;
	}

	#searchOptionsMaxRate {
		border-radius: 0 0 5px 5px;
		margin-top: -1px;
		width: 100%;
	}

	.searchOptions input[type="submit"] {
		margin-top: 16px;
	}

	/* Search Results */

	.searchOptionsMenu {
		display: none;
	}

	.searchResults {
		float: left;	
		margin: 20px 0;
		padding: 20px;
		width: calc(70% - 100px);
	}

	.searchResultsHeading {
		height: 1.5em;
		margin-bottom: 20px;
	}

	.searchResultHeading h3 {
		color: #1488CC;
	}

	/* Search Listing */

	.searchListing {
		margin: 10px 0 20px;
	}

	.searchListingImage {
		border: 1px solid #e1e8ed;
		border-radius: 6px 6px 0 0;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;	
		display: block;
		height: 0;
		margin: 0;
		padding: 56.25% 0 0 0;
		width: 100%;
	}

	.searchListingInfo {
		color: #9babb5;
		background-color: white;
		border: 1px solid #e1e8ed;
		border-radius: 0 0 6px 6px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;		
		margin-top: -7px;
	}

	.searchListingTable {
		border-collapse: collapse;
		display: table;
		font-size: 0.8em;
		margin: -1px auto;
		table-layout: fixed;
		width: 95%;
	}

	.searchListingTable td, .searchListingDetails th {
		border-bottom: 1px solid #e1e8ed;
		padding: 5px 0;
		word-wrap: break-word;
		vertical-align: middle;
	}

	.searchListingTable h3 {
		margin: 5px 0 3px;
	}

	.searchListingTableHeading {
		color: rgba(0,0,0, 0.7);
		font-family: Garamond, Georgia, serif;
		font-style: italic;
	}

	.searchListingTableLocation {
		background-opacity: 50%;
	}

	.searchListingTableLastRow td {
		border-bottom: none;
	}

	.searchListingTablePrice {
		text-align: right;
	}

	.searchListingTablePrice strong {
		color: rgba(0,0,0, 0.7);
		font-size: 1.5em;

	}

}

@media only screen and (min-width: 1000px) {

	.pageWrapper {
		min-height: 100%;
		width: 100%;
	}

	.searchWrapper {
		margin: auto;
		position: relative;
		width: 980px;
	}

	/* Search Options */

	.searchOptionsMenu {
		display: none;
	}

	.searchOptions {
		float: right;		
		margin-top: 20px;
		padding: 20px;
		width: 300px;
	}

	#searchOptionsKeywords {
		border-radius: 5px 5px 0 0;
		margin-top: 15px;
		width: 100%;
	}

	#searchOptionsLocation {
		margin-top: -1px;
		width: 100%;
	}

	#searchOptionsIndustry {
		margin-top: -1px;
		width: 100%;
	}

	#searchOptionsMinRate {
		border-radius: 0 0 0 5px;
		float: left;
		margin-top: -1px;
		width: 150px;
	}

	#searchOptionsMaxRate {
		border-radius: 0 0 5px 0;
		margin-top: -1px;
		margin-left: -1px;
		position: relative;
		width: 151px;
	}

	.searchOptions input[type="submit"] {
		margin-top: 16px;
	}


	/* Search Results */

	.searchResults {
		float: left;	
		margin: 20px 0;
		padding: 20px;
		width: 580px;
	}

	.searchResultsHeading {
		height: 1.5em;
		margin-bottom: 20px;
	}

	.searchResultHeading h3 {
		color: #1488CC;
	}

	/* Search Listing */

	.searchListing {
		margin: 10px 0 20px;
		height: 133px;
		position: relative;
	}

	.searchListingImage {
		border: 1px solid #e1e8ed;
		border-radius: 6px 0 0 6px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;	
		display: block;
		height: 133px;
		width: 216px;
	}

	.searchListing:last-child {
		margin: 10px 0 0;
	}

	.searchListingInfo {
		color: #9babb5;
		background-color: white;
		border: 1px solid #e1e8ed;
		border-radius: 0 6px 6px 0;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		height: 133px;
		right: 1px;
		position: absolute;
		top: 0;
		width: 365px;
	}

	.searchListingTable {
		border-collapse: collapse;
		display: table;
		font-size: 0.8em;
		margin: -1px auto;
		table-layout: fixed;
		width: 95%;
	}

	.searchListingTable td, .searchListingDetails th {
		border-bottom: 1px solid #e1e8ed;
		padding: 5px 0;
		word-wrap: break-word;
		vertical-align: middle;
	}

	.searchListingTable h3 {
		margin: 5px 0 3px;
	}

	.searchListingTableHeading {
		color: rgba(0,0,0, 0.7);
		font-family: Garamond, Georgia, serif;
		font-style: italic;
	}

	.searchListingTableLocation {
		background-opacity: 50%;
	}

	.searchListingTableLastRow td {
		border-bottom: none;
	}

	.searchListingTablePrice {
		text-align: right;
	}

	.searchListingTablePrice strong {
		color: rgba(0,0,0, 0.7);
		font-size: 1.5em;

	}
}

/* Result image: height:83px; width:150px; display:block; margin:0 auto; */