@import url(https://fonts.googleapis.com/css?family=Open+Sans|Noto+Serif:400italic|Lobster+Two:400,700|Lato:100,300,400,700,900); 
  @-moz-keyframes settingsAppear {
    0% {
      opacity: 0;
      margin-top: 300px;   }
      100% {
        opacity: 1;
        margin-top: 40px;   }
}

  @-webkit-keyframes settingsAppear {
    0% {
      opacity: 0;
      margin-top: 300px;   }
      100% {
        opacity: 1;
        margin-top: 40px;   }
}

  @keyframes settingsAppear {
    from {
      opacity: 0;
      margin-top: 300px;   }
      to {
        opacity: 1;
        margin-top: 40px;   }
}

  .pageWrapper {
    background: url('../img/background-blurred.jpg') no-repeat center right;
    background-position: 100% 30%;
    background-size: cover;
    height: 100%;
    min-height: 620px;
    overflow-x: hidden;
    width: 100%; }

    .settingsContentWrapper {
      -moz-animation: settingsAppear 1s;
      -o-animation: settingsAppear 1s;
      -webkit-animation: settingsAppear 1s;
      animation: settingsAppear 1s;
      background-color: white;
      border-radius: 6px;
      box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 40px auto 30px;
      padding: 10px 20px;
      width: 690px; }

      .span1 {
        width: 8.33%; }

        .span2 {
          width: 16.66%; }

          .span3 {
            width: 25%; }

            .span4 {
              width: 33%; }

              .span6 {
                width: 50%; }

                .span8 {
                  width: 66%; }

                  .span9 {
                    width: 75%; }

                    .span12 {
                      width: 100%; }

                      .left {
                        float: left; }

                        .right {
                          float: right; }

                          .formContainer {
                            padding: 36px 48px; }

                            .formInstruction {
                              color: rgba(0, 0, 0, 0.9);
                              font-size: 1.5em;
                              font-weight: 400;
                              line-height: 1.2em; }

                              .formDescription {
                                color: rgba(0, 0, 0, 0.7);
                                margin-bottom: 12px; }

                                .formFieldContainer {
                                  width: 100%;
                                  float: left;
                                  margin-bottom: 8px; }

                                  .formField {
                                    -moz-box-sizing: border-box;
                                    -webkit-box-sizing: border-box;
                                    box-sizing: border-box; }

                                    .formFieldCaption {
                                      display: none;
                                      font-size: 0.8em;
                                      margin-left: 16px; }

                                      .formFieldAction {
                                        float: left;
                                        font-size: 0.8em;
                                        margin-left: 16px;
                                        height: 40px;
                                        line-height: 40px; }

                                        .formFieldInfo {
                                          color: rgba(0, 0, 0, 0.5);
                                          font-size: 0.9em;
                                          margin: 30px 0px 6px; }

                                          .formFieldInfo.first {
                                            padding-top: 0px; }

                                            .formFieldInfo.notice {
                                              color: rgba(0, 0, 0, 0.9);
                                              font-weight: 700; }

                                              .formFieldError {
                                                display: none;
                                                font-size: 0.7em;
                                                color: #e75f63; }

                                                .formFieldError.inline {
                                                  display: inline-block;
                                                  margin-left: 8px; }

                                                  .formFieldError.alt {
                                                    float: left;
                                                    height: 40px;
                                                    line-height: 50px;
                                                    margin-left: 16px;
                                                    margin-top: 10px; }

                                                    .emailVerifyInput {
                                                      display: none;
                                                      height: 60px; }

                                                      .emailVerifyText {
                                                        font-size: 0.8em;
                                                        width: 100%; }

                                                        .verifySuccess {
                                                          height: 40px;
                                                          line-height: 40px;
                                                          color: rgba(0, 0, 0, 0.3); }

                                                          .verifySuccess i {
                                                            padding-right: 4px; }

                                                            input[type="checkbox"] {
                                                              display: inline; }

                                                              #set_input_verpass {
                                                                margin-top: -1px; }

                                                                .settingsFormPageFooter {
                                                                  float: left;
                                                                  width: 100%;
                                                                  margin: 24px 0px; }

                                                                  .settingsFormButtonContainer {
                                                                    float: left;
                                                                    text-align: left;
                                                                    width: 100%; }

                                                                    .settingsFormStatus {
                                                                      color: rgba(0, 0, 0, 0.4);
                                                                      float: left;
                                                                      text-align: left;
                                                                      font-size: 0.8em;
                                                                      height: 30px;
                                                                      line-height: 36px; }

                                                                      .settingsFormButton {
                                                                        float: left;
                                                                        width: 250px;
                                                                        margin: 12px 0px; }

                                                                        .settingsCancelButton {
                                                                          float: right;
                                                                          width: 250px;
                                                                          margin: 12px 0px 12px 12px; }

                                                                          #passMeter {
                                                                            display: none;
                                                                            font-size: 0.9em;
                                                                            padding: 8px; }

                                                                            @media only screen and (min-device-width: 240px) and (max-width: 449px) {
                                                                              .pageWrapper {
                                                                                background-color: white;
                                                                                min-height: 100%;
                                                                                padding-bottom: 30px;
                                                                                width: 100%;   }
                                                                                .settingsContentWrapper {
                                                                                  margin: 30px auto 10px;
                                                                                  overflow-y: scroll;
                                                                                  padding-bottom: 10px;
                                                                                  width: 90%;   }
                                                                                  .settingsEmail {
                                                                                    padding-bottom: 15px;
                                                                                    width: 100%;   }
                                                                                    .settingsPassword {
                                                                                      margin: 30px auto 10px;
                                                                                      padding-bottom: 15px;
                                                                                      width: 100%;   }
}
