@import url('//fonts.googleapis.com/css?family=Open+Sans|Kameron|Poiret+One|Cinzel');
@import url('//fonts.googleapis.com/css?family=Lustria|Nixie+One|Crete+Round|Ovo|Playfair+Display+SC|Alegreya'); 
  .page-content {
    background-color: #fff;
    overflow-x: hidden; }

    #settings-content {
      background-color: white;
      padding: 40px;
      size: 100%; }

      #settings-title {
        color: #000;
        font-size: 1.5em;
        font-weight: 400;
        line-height: 1.2em;
        padding-bottom: 20px; }

        #settings-actions {
          width: 100%; }

          #settings-btn-container {
            float: left;
            text-align: left;
            width: 100%; }

            #settings-status {
              color: rgba(0, 0, 0, 0.4);
              text-align: left;
              font-size: 0.9em;
              height: 30px;
              line-height: 36px;
              font-weight: 500; }

              #verify-email {
                display: none !important;
                height: 60px; }

                #verify-notice {
                  font-size: 0.8em;
                  width: 100%; }

                  #email-verified {
                    height: 40px;
                    line-height: 40px;
                    color: rgba(0, 0, 0, 0.3); }

                    #btn-get-verified.whiteButton {
                      height: 40px; }

                      #verify_password {
                        margin-top: -1px; }

                        @media only screen and (min-device-width: 240px) and (max-width: 449px) {
                          #settings-content {
                            padding: 10px;
                            overflow-y: scroll;
                            width: 100%;   }
}

  @media only screen and (min-width: 450px) {
    #settings-content {
      padding: 40px 35px;   }
}
.span1 {
  width: 8.33%; }

  .span2 {
    width: 16.66%; }

    .span3 {
      width: 25%; }

      .span4 {
        width: 33%; }

        .span6 {
          width: 50%; }

          .span8 {
            width: 66%; }

            .span9 {
              width: 75%; }

              .span12 {
                width: 100%; }

                .left {
                  float: left; }

                  .right {
                    float: right; }
.field-container {
  display: block;
  width: 100%;
  margin: 25px 0 10px;
  max-width: 600px; }

  .field {
    color: #000;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 0.9em; }

    .field.info {
      padding-bottom: 5px; }

      .field.info.first {
        padding-top: 0px; }

        .field.info.notice {
          font-weight: 600; }

          .field.error {
            display: none;
            font-size: 0.7em;
            color: #e75f63; }

            .field.error.inline {
              display: inline-block;
              margin-left: 8px; }

              .field.error.alt {
                float: left;
                height: 40px;
                line-height: 50px;
                margin-left: 16px;
                margin-top: 10px; }

                .field.action {
                  float: left;
                  padding-left: 10px;
                  height: 40px; }

                  .field.description {
                    color: rgba(0, 0, 0, 0.7);
                    margin-bottom: 10px; }

                    .btn-settings {
                      float: left;
                      min-width: 110px;
                      height: 40px;
                      padding: 10px 20px;
                      margin-right: 20px; }
