/* PAGE WRAPPERS 
a) 240px - 349px (phones)
b) 350 - 889px (phablets, tablets)
c) 890px - ... (desktops)
*/

/* Mobiles, phablets, and tablets */

.composeWrapper {
	background-color: white;
	border-radius: 6px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 12px auto 0px;
	padding: 41px;
	overflow: auto;
	width: 100%;
}

.share {
	float: left;
	width: 100%;
}

.title {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}

.title h1 {
	color: black;
	font-size: 2em;
	padding-bottom: 5px;
}

/* Desktop */
@media only screen and (min-width: 890px) {
}

@media only screen and (min-width: 350px) and (max-width: 889px) {
}

@media only screen and (min-device-width: 240px) and (max-width: 349px) {
}




.share.field {
	/* To.  From.  Message */
	float: left;
	width: 100px;
	height: 40px;

	font-size: 1em;
	font-weight: bold;
	text-align: right;
	line-height: 40px;
}


.composeRecipient{
	float: left;
	color: #b4b4b4;
	height: 40px;
	line-height: 44px;
	padding-left: 15px;
	margin-bottom: 4px;
	font-size: .9em;
}



input.field, 
textarea.field{
	float: right;
	width: 400px;
	margin-top: -1px;
}




input.field:nth-of-type(1) {
	border-radius: 3px 3px 0 0;
}

textarea.field {
	border-radius: 0 0 3px 3px;
}

.shareButton {
	margin: 20px auto;
}

.shareStatus {
	display: none;
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 10px;
}
.shareStatus.success	{ color: green;	}
.shareStatus.error		{ color: red;	}

.composeMessageCancel{
	width: 100%;
	text-align: center;
	font-size: .9em;
}

/* Modal Window Adjustments */
.modalContent .composeWrapper {
	margin: 0px;
}

.modalContent .composeWrapper .composeMessageCancel {
	display: none;
}


.modalContent .composeWrapper .container .row .input.field, 
.modalContent .composeWrapper .container .row .textarea.field {
	/* in modal */
	width: 230px;
}
