/*
Author: Lazar Stojković (lazar@herotime.co)
Written for HeroTime Inc. (http://www.herotime.co)
Copyright © 2013 HeroTime Inc. All rights reserved.

Swatch colors:
333333 - dark grey
e7f1f5 - light blue
29abe2 - dark blue
*/


/* Resets & Overrides */

@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 100%;
	font-weight: normal;
	line-height: 200%;
	color: #4d4d4d;
}

td {
	text-align: center;
	vertical-align: text-top;
}

img {border: none;}

html, body {
	height: 100%;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
 	background-attachment: fixed;
}

.right {float:right;}
.left {float: left;}
.center {margin: auto;}
.underline {text-decoration: underline;}
.disabled {color: #b3b3b3;}
.full-width {width: 100%;}

/* LINKS & TYPE */

a:link {color: #0087cf; text-decoration: none}
a:visited {color: #0087cf;}
a:hover {color: #0087cf;}
a:active {color: #0087cf;}

/* Form placeholder text */
::-webkit-input-placeholder {
	font-size: 0.77em;
}

:-moz-placeholder { /* Firefox 18- */
	font-size: 0.77em;
}

::-moz-placeholder { /* Firefox 19+ */
	font-size: 0.77em;
}

:-ms-input-placeholder {
	font-size: 0.77em;
}


/* Typography */

.content-headline {
	font-size: 1.55em;
	font-weight: 600;
	margin-bottom: 10px;
}

.content-big-text {
	font-size: 1.55em;
	font-weight: 400;
}

.content-normal-text {
	font-size: 0.95em;
	font-weight: 400;
}

.content-small-text {
	font-size: 0.77em;
}

.content-small-text-info {
	font-size: 0.77em;
	overflow: hidden;
	position: relative;
	top: 3px;
}

.content-note {
	font-size: 0.77em;
	color: #808080;
}

.content-note-italic {
	font-size: 0.77em;
	font-style: italic;
}

/* MAIN LAYOUT */

#container {
	min-height: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-bottom: -140px;
}


/* Buttons */

.button-light {
	border: 1px #0087cf solid;
	width: 200px;
	height: 35px;
	text-align: center;
	color: #0087cf;
	font-size: 0.95em;
	font-weight: 300;
	position: relative;
	top: 7px;
}

.button-light-full {
	border: 1px #0087cf solid;
	width: 99%;
	height: 35px;
	text-align: center;
	color: #0087cf;
	font-size: 0.95em;
	font-weight: 300;
	margin: auto;
}


.button-blue {
	border: 1px #0087cf solid;
	background-color: #1aaae4;
	width: 200px;
	height: 35px;
	text-align: center;
	color: white;
	font-size: 0.95em;
	font-weight: 300;
	position: relative;
	top: 7px;
}

/* General bar stuff */

.bar-wrapper {
	margin: auto;
	width: 950px;
	height: 60px;
}

.bar-logo {
	width: 111px;
	height: 17px;
	background: url("../img/logo.svg") no-repeat;
	margin-top: 24px;
}

.bar-right {
	float:right;
}

/* Header */

#top {
	background-color: #333333;
	height: 65px;
	width: 100%;
	border-bottom-color: #1488CC;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	position: absolute;
	top: 0;
}

#top-wrapper {
	margin: auto;
	width: 950px;
	height: 60px;
}

.top-menu {
	position: relative;
	margin-top: -32px;
}

.top-menu ul {
	list-style-type: none;
}

.top-menu ul li {
	display: inline;
	margin-left: 60px;
	font-size: 0.95em;
}

.top-menu ul li a {
	color: white;
	font-weight: 300;
}

.top-menu ul li a:hover {
	color: #3399cc;
	font-weight: 300;
}

#top-search {
	background: url("../img/search.svg") #1488CC no-repeat 10px 50%;
	width: 350px;
	height: 30px;
	margin: auto;
	margin-top: -23px;
}

#top-search-input {
	background-color: white;
	position: absolute;
	margin: 2px 0 0 30px;
}

#top-search-input form input {
	height: 26px;
	width: 318px;
	line-height: 1.7em;
	padding-left: 5px;
}

/* Footer */

.clearfooter {
	height: 130px;
	clear: both;
}

#footer-container {
	background-color: #333333;
	display: block;
	height: 140px;
	width: 100%;
	border-top-color: #1488CC;
	border-top-width: 3px;
	border-top-style: solid;
	bottom: -20px;
	position: relative;
	padding-top: 28px;
}

#footer-menu {
	margin-left: 160px;
	margin-top: -28px;
	clear: none;
	width: 450px;
}

#footer-menu ul {
	list-style-type: none;
}

#footer-menu ul li {
	color: 808080;
	display: inline;
	font-size: 0.77em;
}

#footer-menu ul li a {
	color: white;
	font-weight: 300;
}

#footer-menu ul li a:hover, a:active {
	color: #1488CC;
}

#footer-copyright {
	color: #cccccc;
	font-size: 0.65em;
	font-weight: 300;
	margin-top: 10px;
}

#footer-mobile {
	float: right;
	position: relative;
	top: -85px;
}

/* Profile information */

#profile-headline {
	font-size: 1.55em;
	font-weight: 400;
	color: white;
}

#profile-subtitle {
	font-size: 0.95em;
	font-weight: 300;
	color: #f2f2f2;
}

#profile-pic {
	margin: 30px auto;
	width: 950px;
	height: 534px;
	background-image: url('../img/profile-big.jpg');
	position: relative;
	z-index: 1;
}

#profile-pic-box {
	height: 100px;
	width: 230px;
	position: absolute;
	top: 33%;
	padding: 30px;
	background-color: #4d4d4d;
	opacity: 0.8;
	filter: alpha(opacity=80); /* IE8- */
	z-index: 2;
}

#profile-pic-text {
	height: 100px;
	position: absolute;
	top: 31%;
	padding: 30px;
	font-size: 0.95em;
	font-weight: 400;
	color: #cccccc;
	z-index: 3;
	display: inline-block;
}

#profile-price {
	color: white;
	font-size: 1.55em;
}

#info-box {
	margin: auto;
	width: 950px;
	height: 320px;
	background-color: white;
	position: relative;
	top: -30px;
	border: 1px #cccccc solid;
	z-index: 0;
}

#about-me-box {
	width: 560px;
	height: 260px;
	float: left;
	margin-left: 30px;
	margin-top: 15px;
	float: left;
}

#at-glance-box {
	width: 300px;
	height: 260px;
	float: right;
	margin-top: 15px;
}

#at-glance-industry {
	height: 30px;
	margin-right: 40px;
	border-bottom: 1px #e6e6e6 solid;
	background: url('../img/industry.svg') no-repeat left;
	padding-left: 25px;
}

#at-glance-location {
	height: 30px;
	margin-right: 40px;
	border-bottom: 1px #e6e6e6 solid;
	background: url('../img/location.svg') no-repeat left;
	padding-left: 25px;
}

#at-glance-rating {
	height: 30px;
	margin-right: 40px;
	border-bottom: 1px #e6e6e6 solid;
	background: url('../img/rating.svg') no-repeat left;
	padding-left: 25px;
}

#at-glance-link {
	height: 30px;
	margin-right: 40px;
	border-bottom: 1px #e6e6e6 solid;
	background: url('../img/link.svg') no-repeat left;
	padding-left: 25px;
}

#at-glance-rate {
	height: 30px;
	margin-right: 40px;
	background: url('../img/rate.svg') no-repeat left;
	padding-left: 25px;
}

#info-social {
	margin: 60px 30px;
}

/* Tabbed content area */

#tabs {
	margin: auto;
	width: 950px;
	padding-left: 50px;
/*	height: 40px;
	padding-left: 50px;
	overflow: visible;*/
}

#tabs ul {
	list-style-type: none;
}

#tabs ul li {
	color: #0087cf;
	display: inline;
	height: 25px;
	width: 150px;
	padding: 10px 30px 15px 30px;
	background-color: white;
	margin-left: 10px;
	vertical-align: -5px;
	border: 1px #1488CC solid;
	font-weight: 300;
}

#tabs ul li.active-tab {
	background-color: #1488CC;
	color: white;	
}

.active-icon {
	position: relative;
	top: 2px;
	padding-right: 10px;
}

.inactive-tab {
	/*b
	ackground-color: white;
	color: #0087cf;
	margin: 0 3px;
	border: 1px #0087cf solid;
	text-align: center;
	font-weight: 300;
	*/
}

.inactive-icon {
	position: relative;
	top: 2px;
	padding-right: 10px;
}

.main-tab {
	margin: auto;
	width: 950px;
	overflow: hidden;
	background-color: white;
	position: relative;
	border: 1px #cccccc solid;
	border-top: 15px #1488CC solid;
	padding-bottom: 35px;
	margin-bottom: 30px;
}

#listed-slots-box {
	width: 628px;
	margin-left: 30px;
	margin-top: 20px;
	float: left;
}

.slot {
	width: 626px;
	height: 80px;
	border: 1px #cccccc solid;
	margin: 20px 0 0 0;
	overflow: hidden;
}

.slot-pic {
	float: left;
	margin-right: 10px;
}

.continue {
	position: relative;
	top:-60px;
	left:575px;
}

.slot-expand {
	border: 1px #cccccc solid;
	width: 626px;
	overflow: hidden;
	padding-bottom: 35px;
}

.slot-expand-details {
	padding: 0 30px 0 30px;
}

.slot-expand-sidebar {
	width: 210px;
	margin-top: 20px;
}

.slot-expand-section {
	width: 210px;
	margin-bottom: 15px;
}

.slot-expand-description {
	width: 320px;
	margin-top: 20px;
}

.buttons-area {
	margin: 0 30px 0 30px;
	clear: both;
}

#calendar {
	width: 210px;
	float: right;
	margin-top: 20px;
	margin-right: 30px;
}

#active-cell {
	background-color:#1488CC;
	color: white;
}

.sidebox {
	color: #333333;
	background-color: #f5f5f5;
	border: 1px #cccccc solid;
	width: 210px;
	padding: 15px;
}

#reviews-container {
	width: 890px;
	margin: auto;
	overflow: hidden;
	margin-top: 20px;
}

.review-box {
	width: 100%;
	border-top: 1px #cccccc solid;
	overflow: hidden;
	padding: 25px 0 25px 0;
}

.review {
	width: 580px;
}

#related-people-box {
	width: 890px;
	margin: auto;
	overflow: hidden;
	margin-top: 20px;
}

.profile-preview {
	width: 270px;
	height: 270px;
	border: 1px #cccccc solid;
}

.profile-preview-pic {
	width: 270px;
	z-index: 0;
}

.profile-preview-info {
	padding: 10px;
	margin-top: -35px;
}

.profile-preview-price {
	height: 33px;
	position: relative;
	color: white;
	top: -90px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #4d4d4d;
	display: inline-block;
}

/* Search results */

#search-wrapper {
	margin: auto;
	padding: 30px;
	width: 950px;
}

#search-results-panel {
	background-color: white;
	border: 1px #cccccc solid;
	display: block;
	float: right;
	padding: 30px;
	width: 630px;
}

.search-result {
	border-top: 1px #cccccc solid;
	clear: both;
	height: 83px;
	padding: 20px 0 20px 0;

}

.search-result img {
	float: left;
	margin-right: 10px;
}


/* Secondary layout structures */
/* Form elements */
/* Miscellaneous */
