/*
Author: Lazar Stojković (lazar@herotime.co)
Written for HeroTime Inc. (http://www.herotime.co)
Copyright © 2013 HeroTime Inc. All rights reserved.

Swatch colors:
333333 - dark grey
e7f1f5 - light blue
29abe2 - dark blue
*/


/* RESETS & OVERRIDES */



@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 100%;
	font-weight: normal;
	line-height: 200%;
	color: #4d4d4d;
}

td {
	text-align: center;
	vertical-align: text-top;
}

img {border: none;}

html, body {
	height: 100%;
	background-color: #e7f1f5;
}

.right {float:right;}
.left {float: left;}
.center {margin: auto;}
.underline {text-decoration: underline;}
.disabled {color: #b3b3b3;}
.full-width {width: 100%;}

/* LINKS & TYPE */

a:link {color: #0087cf; text-decoration: none}
a:visited {color: #0087cf;}
a:hover {color: #0087cf;}
a:active {color: #0087cf;}

/* Form placeholder text */
::-webkit-input-placeholder {
	font-size: 0.77em;
}

:-moz-placeholder { /* Firefox 18- */
	font-size: 0.77em;
}

::-moz-placeholder { /* Firefox 19+ */
	font-size: 0.77em;
}

:-ms-input-placeholder {
	font-size: 0.77em;
}


/* Typography */

.content-headline {
	font-size: 1.55em;
	font-weight: 600;
	margin-bottom: 10px;
}

.content-small-text {
	font-size: 0.77em;
}

/* MAIN LAYOUT */

#container {
	min-height: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-bottom: -140px;
}

/* General bar stuff */

.bar-wrapper {
	margin: auto;
	width: 950px;
	height: 60px;
}

.bar-logo {
	width: 111px;
	height: 17px;
	background: url("../img/logo.svg") no-repeat;
	margin-top: 24px;
}

.bar-right {
	float:right;
}

/* Header */

#top {
	background-color: #333333;
	height: 65px;
	width: 100%;
	border-bottom-color: #29abe2;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	position: absolute;
	top: 0;
}

#top-wrapper {
	margin: auto;
	width: 950px;
	height: 60px;
}

.top-menu {
	position: relative;
	margin-top: -32px;
}

.top-menu ul {
	list-style-type: none;
}

.top-menu ul li {
	display: inline;
	margin-left: 60px;
	font-size: 0.95em;
}

.top-menu ul li a {
	color: white;
	font-weight: 300;
}

.top-menu ul li a:hover {
	color: #3399cc;
	font-weight: 300;
}

#top-search {
	background: url("../img/search.svg") #29abe2 no-repeat 10px 50%;
	width: 350px;
	height: 30px;
	margin: auto;
	margin-top: -23px;
}

#top-search-input {
	background-color: white;
	position: absolute;
	margin: 2px 0 0 30px;
}

#top-search-input form input {
	height: 26px;
	width: 318px;
	line-height: 1.7em;
	padding-left: 5px;
}

#sign-up-container {
    margin: 30px auto;
    width: 850px;
    height: 500px;
    position:relative;
    z-index: 1;
}

#sign-up-email-box {
	width: 390px;
	height: 390px;
	background-color: white;
	position: absolute;
	border: 1px #cccccc solid;
	padding: 30px;
	top: 0;
	left: 0;
}

#sign-up-social-box {
	width: 310px;
	height: 257px;
	top: 0;
	right: 0;
	background-color: white;
	position: absolute;
	border: 1px #cccccc solid;
	padding: 30px;
}

#member-sign-in-box {
	width: 310px;
	height: 44px;
	background-color: white;
	position: absolute;
	top: 347px;
	right: 0;
	text-align: left; 
	border: 1px #cccccc solid;
	padding: 30px;
}

.button-blue {
	border: 1px #0087cf solid;
	background-color: #1aaae4;
	width: 390px;
	height: 29px;
	text-align: center;
	color: white;
	font-size: 0.95em;
	font-weight: 300;
	position: relative;
	padding-top: 2px;
	top: 43px;
}

.button-Linkedin {
	border: 1px #0087cf solid;
	background-color: #1aaae4;
	width: 257px;
	height: 29px;
	text-align: center;
	color: white;
	font-size: 0.95em;
	font-weight: 300;
	position: relative;
	margin-top: 22px;
	padding-top: 5px;
	margin-bottom: 21px;
	top: 3px;
}

.button-Facebook {
	border: 1px #3b5998 solid;
	background-color: #3b5998;
	width: 257px;
	height: 29px;
	text-align: center;
	color: white;
	font-size: 0.95em;
	font-weight: 300;
	position: relative;
	padding-top: 5px;
	margin-bottom: 21px;
	top: 3px;
}

.button-Twitter {
	border: 1px #0087cf solid;
	background-color: #1aaae4;
	width: 257px;
	height: 29px;
	text-align: center;
	color: white;
	font-size: 0.95em;
	font-weight: 300;
	position: relative;
	padding-top: 5px;
	margin-bottom: 21px;
	top: 3px;
}

input[type="text"] {
   border:1px solid #cccccc;
}

#twitter {
    background: url("../img/twitter.svg") no-repeat 10px; 50px;
    width: 257px;
	height: 35px;
	margin: auto;
	margin-top: -23px;
}
    