
.pageWrapper {
	background: url('../img/background-blurred.jpg') no-repeat center right;
	background-position: 100% 30%;
	background-size: cover;
	height: 100%;
	min-height: 620px;
	overflow-x: hidden;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	-webkit-transition: 0.15s ease;
	transition: 0.15s ease;
	width: 100%;
}

/* Dropzone Overrides */

.dropzone {
	border:1px dotted gray;
	background-color: white;

}

/* necessary? defined in js */
.dropzone-box img.preview {
	height:100px;
	width:100px;
}

.dropzone .multiple-upload {
	padding:10px;
	background-color: lightgray;
	border:2px solid white;
}

.dropzone .multiple-upload img {
	margin-bottom:10px;
}

.dropzone-content-submit button {
	width: 250px;
	margin: 10px auto;
}

.dz-preview:hover, .dz-details:hover, .data-dz-thumbnail:hover, .dz-details img {
	cursor: move;
}

.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
	cursor: move;
}

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
	margin: 6px;
	vertical-align: top;
	border: 1px solid #b5b6b8;
	border-radius: 3px;
	padding: 4px;
}

.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
	width: 200px;
	height: 200px;
	position: relative;
	background: #fff;
	padding: 5px;
	margin-bottom: 22px;
	margin-top: 20px;
}

.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
}

.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: 230px;
  left: 6px;
  right: 6px;
  height: 8px;
  background: #d7d7d7;
  display: none;
}

.dropzone .dz-filename {
	display: none;
}
.dropzone .dz-size {
	display: none;
}
.dropzone a.dz-remove,
.dropzone-previews a.dz-remove {
	display: none;
}

.dropzone-status {
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.dropzone-status .success{
	color: green;
}

.dropzone-status .error{
	color: red;
}

.dropzone .header{
	float: right;
	width: 100%;

}

.dropzone .header .img-delete{
	float: right;
	font-size: 1.5em;
	text-align: right;
	cursor: pointer;
	line-height: 10px;
	height: 20px;
}

.dropzoneMessage{
	width: 100%;
	text-align: center;
	font-size: 2.0em;
	color: lightgray;
	line-height: 1.2em;
	padding: 0px 20px;
	left: 0px;
	top: 150px;
	position: absolute;
}


/* CONTENT */


.multipleUploadButton:disabled{
	opacity: 0.3;
}

.dzContentWrapper {
/*	-moz-animation: editAppear 1s;
	-o-animation: editAppear 1s;
	-webkit-animation: editAppear 1s;
	animation: editAppear 1s;	*/
	position: relative;
	background-color: white;
	border-radius: 6px;
	box-shadow: 0px 3px 20px rgba(0,0,0, 0.15);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 40px auto 30px;
	padding: 10px 20px;
	width: 980px;
}

/* Phones */
@media only screen and (min-width: 240px) and (max-width: 549px) {

	.dzContentWrapper {
		width: 90%;
	}
}


/* Tablets */
@media only screen and (min-width: 550px) and (max-width: 999px) {

	.dzContentWrapper {
		width: 90%;
	}

}

@media only screen and (min-width: 1000px) {

	.dzContentWrapper {
		width: 980px;
	}

}
