
.pageWrapper {
	background: url('../img/background-blurred.jpg') no-repeat center right;
	background-position: 100% 30%;
	background-size: cover;
	height: 100%;
	min-height: 620px;
	overflow-x: hidden;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	-webkit-transition: 0.15s ease;
	transition: 0.15s ease;
	width: 100%;
}

/* CONTENT */


.multipleUploadButton:disabled{
	opacity: 0.3;
}

.dzContentWrapper {
/*	-moz-animation: editAppear 1s;
	-o-animation: editAppear 1s;
	-webkit-animation: editAppear 1s;
	animation: editAppear 1s;	*/
	position: relative;
	background-color: white;
	border-radius: 6px;
	box-shadow: 0px 3px 20px rgba(0,0,0, 0.15);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 40px auto 30px;
	padding: 10px 20px;
	width: 980px;
}

/* Phones */
@media only screen and (min-width: 240px) and (max-width: 549px) {

	.dzContentWrapper {
		width: 90%;
	}
}


/* Tablets */
@media only screen and (min-width: 550px) and (max-width: 999px) {

	.dzContentWrapper {
		width: 90%;
	}

}

@media only screen and (min-width: 1000px) {

	.dzContentWrapper {
		width: 980px;
	}

}
