
<div class='create-business'>
	<form id='create-business-form' enctype="multipart/form-data">
		{{form.hidden_tag()}}

		<h3>Who do you Trust?</h3>
		<div id='modal-business-info' class='block'>
			<div class="form-group username">{{form.name(type='name',	class='ff', placeholder="A & K Contracting",	required=true)}}</div>
			<div class="form-group phone">	 {{form.phone(type='tel',	class='ff',	placeholder="(720) 376-3919",		required=true)}}</div>
			<div class="form-group email">	 {{form.email(type='email', class='ff',	placeholder="akcontracting@yahoo.com (optional)")}}</div>
			<div class="form-group url">	 {{form.site(type='url',	class='ff', placeholder="www.akcontractingdenver.com (optional)", pattern='^(([^:/?#]+):)?(//([^/?#]*))?([^?#]*)(\?([^#]*))?(#(.*))?')}}</div>
		</div>

		<div id='modal-business-addr'>
			<div class="form-group address">
				{{form.addr(type='search',	class='ff', placeholder="Add their address (optional)")}}
				<div id="map-canvas"></div>
			</div>
		</div>

		<div id='modal-actions-wrap'>
			<div id='modal-actions'>
				<button class='btn-modal dismiss-modal whiteButton' >Cancel</button>
				<button class='btn-modal business-update blueButton'>Create...</button>
			</div>
		</div>
	</form>
</div>
